/* common styling */
.menu
{
	width: 165px;					
	text-align: left;
	font-size: 11px;
	text-indent: 5px;
	font-family: helvetica, arial, geneva, sans-serif;
}

.menu ul li a, .menu ul li a:visited
{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	width: 165px;
	height: 22px;
	text-align: left;
	background-image: url(http://www.codeguru.com/img/nav_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 19px;
	font-size: 11px;				
	border-bottom:1px solid #333333;		
	white-space:nowrap;
}

.menu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.menu ul li
{
	float: left;
	margin-right: 1px;
	position: relative;
}

.menu ul li ul { display: none; }

/* specific to non IE browsers */
.menu ul li:hover a
{
	display: block;
	text-decoration: none;
	color: #003366;
	width: 165px;
	height: 22px;
	text-align: left;
	background-image: url(http://www.codeguru.com/img/nav_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 19px;
	font-size: 11px;				
	border-bottom:1px solid #333333;		
	white-space:nowrap;
}

.menu ul li:hover ul
{
	display: block;
	position: absolute;
	top: 0;
	left: 165px;
	width: 165px;
}

.menu ul li:hover ul li a.hide
{
	background: #727453;
	color: #FFFFFF;
	
}

.menu ul li:hover ul li:hover a.hide { width: 165px; }





.menu ul li:hover ul li a.hide2
{
	background: #727453;
	color: #FFFFFF;
}

.menu ul li:hover ul li:hover a.hide2 { 
	width: 165px;
	background: #003366;
	color: #FFFFFF; }



.menu ul li:hover ul li ul { display: none; }

.menu ul li:hover ul li a
{
	display: block;
	background: #003366;
	color: #ffffff;
	width: 165px;
	
}

.menu ul li:hover ul li a:hover
{
	background: #003366;
	color: #ffffff;
	
}

.menu ul li:hover ul li:hover ul
{
	display: block;
	background: #003366;
	color: #FFFFFF;
	
}

.menu ul li:hover ul li:hover ul li a
{
	display: block;
	width: 165px;
	background: #727453;
	color: #ffffff;
}

.menu ul li:hover ul li:hover ul li a:hover
{
	background: #003366;
	color: #fff;
}

/* common styling */
.menu2
{
	width: 165px;					
	text-align: left;
	font-size: 11px;
	text-indent: 5px;
	font-family: helvetica, arial, geneva, sans-serif;
}

.menu2 ul li a, .menu2 ul li a:visited
{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	width: 165px;
	height: 22px;
	text-align: left;
	line-height: 19px;
	font-size: 11px;				
	border-bottom:1px solid #333333;		
	white-space:nowrap;
}

.menu2 ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.menu2 ul li
{
	float: left;
	margin-right: 1px;
	position: relative;
}

.menu2 ul li ul { display: none; }

/* specific to non IE browsers */
.menu2 ul li:hover a
{
	display: block;
	text-decoration: none;
	color: #003366;
	width: 165px;
	height: 22px;
	text-align: left;
	line-height: 19px;
	font-size: 11px;				
	border-bottom:1px solid #333333;		
	white-space:nowrap;
}

.menu2 ul li:hover ul
{
	display: block;
	position: absolute;
	top: 0;
	left: 165px;
	width: 165px;
}

.menu2 ul li:hover ul li a.hide
{
	background: #727453;
	color: #FFFFFF;
	
}

.menu2 ul li:hover ul li:hover a.hide { width: 165px; }





.menu2 ul li:hover ul li a.hide2
{
	background: #727453;
	color: #FFFFFF;
}

.menu2 ul li:hover ul li:hover a.hide2 { 
	width: 165px;
	background: #003366;
	color: #FFFFFF; }



.menu2 ul li:hover ul li ul { display: none; }

.menu2 ul li:hover ul li a
{
	display: block;
	background: #003366;
	color: #ffffff;
	width: 165px;
	
}

.menu2 ul li:hover ul li a:hover
{
	background: #003366;
	color: #ffffff;
	
}

.menu2 ul li:hover ul li:hover ul
{
	display: block;
	background: #003366;
	color: #FFFFFF;
	
}

.menu2 ul li:hover ul li:hover ul li a
{
	display: block;
	width: 165px;
	background: #727453;
	color: #ffffff;
}

.menu2 ul li:hover ul li:hover ul li a:hover
{
	background: #003366;
	color: #fff;
}

