 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	MARGIN: 0.7em 0px; LINE-HEIGHT: 1.6em
}
DL {
	MARGIN: 1em 0px
}
DT {
	FONT-WEIGHT: bold
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em; PADDING-TOP: 0px
}
.entry IMG {
	PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(img/shadow.gif) no-repeat right bottom; PADDING-BOTTOM: 10px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.entry A IMG {
	PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(img/shadow.gif) no-repeat right bottom; PADDING-BOTTOM: 10px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.entry .wp-smiley {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#wpstats {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clear {
	CLEAR: both; HEIGHT: 20px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 50px; BACKGROUND: url(img/blockquote.gif) no-repeat left top; PADDING-BOTTOM: 10px; MARGIN: 1em; COLOR: #666; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	BACKGROUND: #f9f9f0; MARGIN: 0px; FONT: 76%/1.6em verdana, tahoma, arial,  sans-serif; COLOR: #333; TEXT-ALIGN: center
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #265e15
}
A:visited {
	COLOR: #265e15
}
A:hover {
	BORDER-BOTTOM: #963 1px solid
}
A:active {
	BORDER-BOTTOM: #963 1px solid
}
H1 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
H2 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
H3 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
H4 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
H5 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
H6 {
	FONT-FAMILY: Georgia, Verdana, Arial, Serif
}
#container {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #ccc 1px solid; WIDTH: 780px; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; TEXT-ALIGN: left
}
#navigation {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 20px auto 0px; OVERFLOW: hidden; WIDTH: 760px; FONT-FAMILY: Trebuchet MS,Tahoma, Verdana, Arial, Serif; LETTER-SPACING: 1px; POSITION: relative; TEXT-ALIGN: left
}
HTML #navigation {
	HEIGHT: 1%
}
#navigation UL LI {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; LIST-STYLE-TYPE: none
}
#navigation UL LI A {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dedede 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #ededed; PADDING-BOTTOM: 2px; BORDER-LEFT: #dedede 1px solid; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #dedede 1px; TEXT-DECORATION: none
}
#navigation UL LI A:hover {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; COLOR: #333; BORDER-BOTTOM: #ccc 1px
}
#navigation UL LI A:active {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; COLOR: #333; BORDER-BOTTOM: #ccc 1px
}
#navigation UL LI.current_page_item A {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; COLOR: #333; BORDER-BOTTOM: #ccc 1px
}
#navigation UL LI.search {
	FONT-SIZE: 0.9em; RIGHT: 0px; POSITION: absolute; TOP: 0px
}
#navigation UL LI.search INPUT#searchsubmit {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 0.9em; BACKGROUND: #ddd; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 2px; BORDER-LEFT: #999 1px solid; COLOR: #265e15; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
#header {
	CLEAR: both; FLOAT: left; MARGIN: 10px 5px; WIDTH: 450px
}
#header H1 {
	FONT-SIZE: 1.8em; MARGIN: 10px 0px 0px 10px; LETTER-SPACING: 1px; FONT-VARIANT: small-caps
}
#header H1 A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#header H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN: 5px 0px 0px 10px; FONT-FAMILY: Tahoma, Verdana, Arial, Serif; LETTER-SPACING: 1px
}
#feedarea {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
HTML #feedarea {
	PADDING-TOP: 10px
}
#feedarea DL DT {
	DISPLAY: inline; MARGIN-RIGHT: 5px; HEIGHT: 45px
}
#feedarea DL DD {
	DISPLAY: inline; PADDING-LEFT: 16px; BACKGROUND: url(img/icon_feed.gif) no-repeat left center; MARGIN-RIGHT: 5px; HEIGHT: 45px
}
#headerimage {
	CLEAR: both; BACKGROUND: url(img/misty.jpg) #fff no-repeat 0px 0px; MARGIN: 10px; COLOR: #fff; HEIGHT: 200px
}
HTML #headerimage {
	MARGIN-TOP: 0px
}
#content {
	MARGIN: 10px 10px 10px 30px
}
HTML #content {
	HEIGHT: 1%
}
#content H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.4em; MARGIN: 1em 0px 0px; COLOR: #265e15
}
#content H4 {
	FONT-SIZE: 1.1em; MARGIN: 1em 0px 0px
}
#content H5 {
	FONT-SIZE: 1em; MARGIN: 1em 0px
}
#content-main UL {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; LIST-STYLE-IMAGE: url(img/bullet.png); PADDING-BOTTOM: 0px; MARGIN: 1em; PADDING-TOP: 0px
}
#content-main UL.asides {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 2em; MARGIN: 0px; PADDING-TOP: 2em; BORDER-BOTTOM: #ddd 1px dashed
}
#content OL {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal
}
#content-main {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 520px; MARGIN-RIGHT: 20px
}
HTML #section-index #content-main {
	MARGIN-RIGHT: 20px
}
#content .post {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2em; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px dashed
}
#content P IMG.right {
	FLOAT: right; MARGIN: 10px 0px 0px 10px
}
#content P IMG.left {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
#content .post H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.4em; MARGIN: 1em 0px 0px; LETTER-SPACING: 1px
}
#content .entry {
	PADDING-RIGHT: 1em; MARGIN: 1em 0px
}
#content .entry A:link {
	BORDER-BOTTOM: #963 1px dashed
}
#content .entry A:visited {
	BORDER-BOTTOM: #963 1px dashed
}
#content .entry A:hover {
	BORDER-BOTTOM: #963 1px solid
}
#content .entry A:active {
	BORDER-BOTTOM: #963 1px solid
}
#content .post-info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px
}
#content .postmetadata {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px
}
#content .post-info {
	BACKGROUND: url(img/underline1.jpg) no-repeat left bottom; PADDING-BOTTOM: 12px
}
#sidebar {
	FONT-SIZE: 0.9em; FLOAT: left; OVERFLOW: hidden; WIDTH: 200px
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar UL UL {
	MARGIN: 0.5em 0px 0px 1em; LIST-STYLE-TYPE: none
}
#sidebar UL UL UL {
	MARGIN: 0px 0px 0px 1em
}
LI.sidebox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(img/sideheadtop.gif) #ededed no-repeat left top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
HTML LI.sidebox {
	PADDING-BOTTOM: 10px
}
LI.sidebox H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.6em; COLOR: #242; TEXT-ALIGN: left; FONT-VARIANT: small-caps
}
#sidebar LI.sidebox P IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
#footer {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
HTML #footer {
	HEIGHT: 1%
}
#footer P {
	FLOAT: left; WIDTH: 50%; LINE-HEIGHT: 1.2em
}
#footer P.right {
	FONT-SIZE: 0.9em; FLOAT: right; MARGIN: 1em 0px; WIDTH: 50%; COLOR: #999; TEXT-ALIGN: right
}
#comments {
	MARGIN: 2em 0px 10px 5px
}
#respond {
	MARGIN: 2em 0px 10px 5px
}
#commentform {
	PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f9fcfc; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #ddd 1px solid
}
.commentnum {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 5px 0px 0px
}
#container .commentlist {
	PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.commentlist LI {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: url(img/shadow_top.gif) #fff repeat-x 50% top; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; LIST-STYLE-TYPE: none
}
.commentlist LI.alt {
	BACKGROUND: #f9f9f9
}
.commentlist LI .cmtinfo {
	FONT-SIZE: 1em
}
.commentlist LI CITE {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
.commentlist LI .cmtinfo EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px; FONT-STYLE: normal
}
#content .commentsfeed {
	PADDING-LEFT: 16px; BACKGROUND: url(img/icon_feed.gif) no-repeat left center
}
#content .trackback {
	PADDING-LEFT: 20px; BACKGROUND: url(img/link.gif) no-repeat left center
}
INPUT.textbox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(img/shadow_top.gif) #fff repeat-x 50% top; PADDING-BOTTOM: 2px; FONT: 1em Verdana, Arial, Serif; BORDER-LEFT: #ccc 1px solid; WIDTH: 150px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(img/shadow_top.gif) #fff repeat-x 50% top; PADDING-BOTTOM: 10px; FONT: 1em Verdana, Arial, Serif; BORDER-LEFT: #ccc 1px solid; WIDTH: 80%; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20em
}
.textbox:unknown {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: url(img/shadow_top.gif) #fff repeat-x 50% top; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
TEXTAREA:unknown {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: url(img/shadow_top.gif) #fff repeat-x 50% top; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
.post H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-FAMILY: Verdana, Tahoma, Arial, Serif
}
.post H4 EM {
	FONT-WEIGHT: normal; FLOAT: right; FONT-STYLE: normal
}
#header {
	OVERFLOW: hidden
}
#content {
	OVERFLOW: hidden
}
#sidebar {
	OVERFLOW: hidden
}
#footer {
	OVERFLOW: hidden
}
.widget {
	OVERFLOW: hidden
}
.entry {
	OVERFLOW: hidden
}
.avatar {
	FLOAT: right
}
