H4 {
	MARGIN: 0px
}
H3 {
	MARGIN: 0px
}
.serendipitySideBarContent INPUT {
	WIDTH: 150px
}
#mainpane {
	BORDER-TOP: #000000 1px solid; MARGIN: auto; WIDTH: 100%; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
#content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: auto; PADDING-TOP: 10px
}
#serendipityRightSideBar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px dashed; WIDTH: 170px; PADDING-TOP: 10px
}
#serendipityLeftSideBar {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 170px; PADDING-TOP: 10px
}
BODY {
	FONT-SIZE: 10px; MARGIN: 0px 0px 30px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #d2dff2
}
INPUT {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TH {
	FONT-SIZE: 10pt
}
TD {
	FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TH {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
DIV {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
SPAN {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#serendipity_banner {
	BACKGROUND-IMAGE: url(templates/default/img/background.png); MARGIN: auto; WIDTH: 100%; HEIGHT: 72px
}
A.homelink1 {
	PADDING-LEFT: 15px; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.homelink1:hover {
	PADDING-LEFT: 15px; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.homelink1:link {
	PADDING-LEFT: 15px; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.homelink1:visited {
	PADDING-LEFT: 15px; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#serendipity_banner H1 {
	PADDING-LEFT: 15px; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.homelink2 {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.homelink2:hover {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.homelink2:link {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.homelink2:visited {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
#serendipity_banner H2 {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
.serendipity_title {
	MARGIN-TOP: 10px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #333333; BORDER-BOTTOM: #36558c 2px solid; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}
.serendipity_title A:link {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.serendipity_title A:visited {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.serendipity_title A:hover {
	COLOR: #ff0000
}
.serendipity_entry {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 9.5pt; MARGIN: 10px auto auto; WIDTH: 95%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}
.serendipity_entry_body_folded {
	
}
.serendipity_entry_body_unfolded {
	
}
.serendipity_entry_extended {
	
}
.serendipity_entry_date {
	MARGIN: auto
}
.serendipity_date {
	FONT-SIZE: large; MARGIN: 20px 0px 0px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; TEXT-ALIGN: right
}
.serendipity_commentsTitle {
	MARGIN-TOP: 10px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #333333; BORDER-BOTTOM: #36558c 2px solid; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}
DIV.serendipity_entryFooter {
	CLEAR: both; FONT-SIZE: x-small; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}
IMG.serendipity_entryIcon {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG.serendipity_entryIcon {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.serendipity_commentsLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
TD.serendipity_commentsValue INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 400px; PADDING-TOP: 2px
}
TD.serendipity_commentsValue SELECT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 400px; PADDING-TOP: 2px
}
TD.serendipity_commentsValue TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 400px; PADDING-TOP: 2px
}
.serendipity_commentForm {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 13px; MARGIN-LEFT: 10px; COLOR: #404040; MARGIN-RIGHT: 10px; BACKGROUND-COLOR: #ffffff
}
.serendipity_comment {
	PADDING-RIGHT: 3px; MARGIN-TOP: 10px; PADDING-LEFT: 3px; FONT-SIZE: 13px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 10px; OVERFLOW: auto; COLOR: #404040; MARGIN-RIGHT: 10px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffffff
}
.serendipity_comment_source {
	MARGIN-TOP: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 3px; BORDER-BOTTOM: #36558c 2px solid
}
A:link {
	COLOR: #003366; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}
A:active {
	COLOR: #003366; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
TABLE.serendipity_calendar TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.serendipity_calendar A {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
TABLE.serendipity_calendar A:hover {
	TEXT-DECORATION: none
}
TD.serendipity_weekDayName {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
TD.serendipity_calendarHeader A:link {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
TD.serendipity_calendarHeader A:visited {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
TD.serendipity_calendarHeader A:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
DIV.serendipityPlug {
	PADDING-LEFT: 10px
}
DIV.serendipityPlug A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
DIV.serendipitySideBarItem {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 12px; BORDER-BOTTOM: #36558c 2px solid
}
.serendipitySideBarTitle {
	PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}
.serendipityImageButton {
	CURSOR: pointer
}
.serendipity_entry P {
	PADDING-BOTTOM: 0px; MARGIN: 0px
}
.serendipity_imageComment_center {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
.serendipity_imageComment_left {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
.serendipity_imageComment_right {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
.serendipity_imageComment_center {
	MARGIN: auto
}
.serendipity_imageComment_left {
	FLOAT: left
}
.serendipity_imageComment_right {
	FLOAT: right
}
.serendipity_imageComment_img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.serendipity_imageComment_img IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.serendipity_imageComment_txt {
	CLEAR: both; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.serendipity_comments {
	
}
.serendipity_center {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.serendipity_msg_important {
	COLOR: red
}
.serendipity_msg_notice {
	COLOR: green
}
.serendipity_entry_author_self {
	
}
.serendipity_comment_author_self .serendipity_comment_source {
	BACKGROUND-COLOR: #eeeeff
}
