body 
{
	padding: 0px;
	margin: 20px;
	background: White;
}

div, td, body, pre
{
	font-size: 10pt;
	font-family: Calibri, Verdana;
	color: Black;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Calibri, Verdana;
	font-weight: normal;
}

.frame
{
	width: 638px;
	vertical-align: top;
	float:right;
	background: url(background_frame.png) repeat-y;
	padding:6px;
}

.blog
{
	width: 632px;
	padding-left: 3px;
	padding-right: 3px;
	overflow: hidden;
}

.header
{
	height: 105px;
	background: url(header.jpg) no-repeat;
	cursor: hand;
}

.headerframe
{
	height: 111px;
	background: url(header_frame.png) no-repeat;
	margin-left: -6px;
	margin-top: -6px;
	margin-right: -6px;
}

.footerframe
{
	height: 19px;
	background: url(footer_frame.png) no-repeat;
	margin-left: -6px;
	margin-bottom: -6px;
	margin-right: -6px;
}

.blog .day
{
	border-bottom: solid #B5C7DE 1px;
	margin-bottom: 3px;
}

.blog .time 
{
	writing-mode: tb-rl;
	width: 15px;
	overflow: hidden;
	float: left;
}

.blog .entry
{
	width: 612px;
	float: left;
	height: 60px;
	min-height: 60px;
	padding-right:5px;
}

.cleanentry
{
	margin-left:15px;
}

div[class] .entry
{
	height: auto;
}

.blog .entry .comments iframe
{
	width: 100%;
	height: 0px;
	display: none;
}

.blog .entry .comments
{
	padding-right: 5px;
}

.blog .entry .comments a
{
	float: right;
}

.blog .entry .text
{
	vertical-align: top;
	border-left: solid #B5C7DE 4px;
	padding-left: 5px;
}

.blog .entry .title
{
	padding-bottom: 2px;
	font-style: italic
}

.blog .entry .category
{
	float: right;
}

a
{
	color: #4A7DA5;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#commentform
{
	border-top: solid #B5C7DE 1px;
	margin-top: 3px;
	padding-top: 4px;
}

.comments-comment
{
	border-top: solid #B5C7DE 1px;
	margin-top: 3px;
	padding-top: 4px;
}

.comments-head
{
	border-top: solid #B5C7DE 1px;
	font-weight: bold;
	margin-top: 3px;
	padding-top: 3px;
}

.comments-body
{
	color: #5E5E5F;
	border-left: solid #FFC376 4px;
	padding-left: 5px;
}

.comments-error
{
	color: black;
	border-left: solid red 4px;
	padding-left: 5px;
}


.sidemenu div
{
	padding: 5px;
}

.sidemenu .heading
{
	font-weight: bold;
}

hr
{
   height: 1px;
   color: #B5C7DE;
}

p 
{ 
	margin-top: 1em; 
	margin-bottom: 1em; 
}

.nomargin
{
	margin-top: -1em;
	margin-bottom: -1em;
}

form
{
	margin: 0px;
	padding: 0px;
}

.hilight
{
	padding: 5px;
	background: Khaki;
}

.buttons
{
	position:absolute; 
	right: 28px; 
	top: 28px;
	font-weight: bold;
}

.navigation
{
	width: 640px;
	float:right;
	padding: 3px;
}

pre
{
	font-family: Verdana;
	border: solid LightSteelBlue 1px;
	padding: 3px;
	margin:10px;
	overflow: hidden;
}

blockquote
{
	margin:10px;
}

pre.code
{
	background-color: white; /* Lavender */
	font-family: Consolas, Verdana;
}

image.thumbnail
{
	padding: 5px;
	border: solid silver 1px;
}

// Start of Flickr Badge
#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
#flickr_icon_td {padding:0 5px 0 0 !important;}
.flickr_badge_image {text-align:center !important;}
.flickr_badge_image img {border: solid #4A7DA5 1px !important;}
#flickr_badge_wrapper { filter:alpha(opacity=50); }
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}