/* <gslb_version version="V1.1.0/BL0004A" /> */
/* Last Base Level: BL0004A */

/*
//*****************************************************************************
//* gslb.brown.css
//*****************************************************************************
//* Copyright 2005 - 2006 GalaSoft Laurent Bugnion
//*****************************************************************************
//* Website                 : GalaSoft Websites
//* Target                  : Firefox 1+, Internet explorer 5+
//* Language/Compiler       : CSS V2.1
//* Author                  : Laurent Bugnion (LBu)
//* Created                 : 19.09.2006
//*****************************************************************************
//* Description:
//* CSS for GalaSoft websites. "Brown" theme.
//*****************************************************************************
*/

/* General ------------------------------------------------------------------*/

body
{
  background-color: #A8A18F;
  font-family: Sans-Serif;
  font-size: 80%;
  margin: 0 0 2em 0;
  text-align: center;
}

a, a:visited
{
  color: #6900B2;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color: #6900B2;
  font-weight: bold;
  border-bottom: dotted 1px #6900B2;
}

img
{
  border: none;
}

#divWarning
{
  display:block;
  background-color: White;
  width: 400px;
  margin: auto;
  text-align: left;
  border: solid 2px blue;
  margin-top: 16px;
  padding: 4px 4px 4px 4px;
}

/* Postings -----------------------------------------------------------------*/

.gslb_mainDivPosting
{
  padding: 1.5em 1.5em 1.5em 1.5em;
  background-color: #E8D1B5;
  text-align: justify;
  margin: auto;
  border: solid 1px #A3681C;
  font-size: 1em;
  width: 70%;
}

.gslb_mainDivAnnouncement
{
  border: solid 2px #6900B2;
  margin-bottom: 1.5em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  font-size: 1em;
  font-weight: bold;
}

.gslb_mainDivDate
{
  font-weight: bold;
  font-size: 1em;
}

.gslb_mainDivPostingTitle
{
  color:  #A3681C;
  font-weight: bold;
  font-size: 1.5em;
}

.gslb_mainDivFeature
{
  padding: 0.8em 0.8em 0.8em 0.8em;
  border: solid 2px #999999;
  margin-top: 0.8em;
  font-size: 1em;
}

.gslb_mainDivTitle
{
  font-size: 1.2em;
  color: Black;
  font-weight: bold;
}

.gslb_mainDivParagraph
{
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.gslb_mainDivFrame
{
  border: solid 2px #A3681C;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding: 0 0.8em 0 0.8em;
  font-size: 1em;
}

.gslb_mainList li
{
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.gslb_mainDivCode
{
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin: 0.8em 0 0.8em 0;
  font-family: Monospace;
  font-size: 1.2em;
  background-color: #F3DDFF;
  text-align: left;
}

.gslb_mainSpanCode
{
  font-family: Monospace;
}

.gslb_mainDivParameters
{
  margin: 0 0 0 0;
}

.gslb_mainImgFloatLeft
{
  float: left;
  margin: 0.8em 0.8em 0.8em 0;
}

/* Specific to GalaSoft pages -----------------------------------------------*/
/* TODO Extract to own file? */

.gslb_mainButtons
{
  width: 8em;
  background-color: #A3681C;
  color: #E8D1B5;
  font-weight: bold;
  font-size: 1em;
}

.gslb_mainTextFields
{
  background-color: #E8D1B5;
  color: #A3681C;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  font-family: Sans-Serif;
  width: 40em;
}

.gslb_mainDivImageTitle
{
}

.gslb_mainImgTitle
{
  margin-top: 0.8em;
  padding-bottom: 1.5em;
  border-bottom: solid 2px #A3681C;
}

.gslb_mainDivSmallBrown
{
  font-size: 0.9em;
  font-weight: bold;
  color: #A3681C;
}

.gslb_mainDivSummary
{
  color: Black;
  font-size: 0.9em;
  margin: 0.4em 0 0.4em 0;
}

.gslb_mainDivSummary a
{
  font-weight: bold;
  color: #6900B2;
}

.gslb_mainDivBig
{
  font-size: 2em;
  font-style: italic;
  color: #A3681C;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.gslb_mainDivExplainKagi
{
  font-size: 0.9em;
  color: #A3681C;
  font-weight: bold;
  margin-top: 0.8em;
}

.gslb_mainLnkHome
{
  position: absolute;
  border: solid 2px #A3681C;
  background-color: #E8D1B5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}

.gslb_mainLnkHome:hover
{
  border: solid 2px #6900B2;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}

.gslb_mainDivImage
{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.gslb_mainDivLegend
{
  font-size: 0.9em;
  font-weight: bold;
  color: #A3681C;
}

.gslb_tableHistory
{
  width: 100%;
  border: solid 1px black;
}

.gslb_tdHistory
{
  vertical-align: top;
  border: solid 1px black;
  padding: 2px 2px 2px 2px;
  text-align: left;
}