/* Customizations to luxinterior 'light' alternate skin for CS 1.1 */
a:link, a:visited, a:active {
	color: #125CA7;
}
body {
	font: 1em Calibri, Trebuchet MS, Arial, Helvetica, sans-serif;
}
#container {
	margin: 0 auto;
	text-align: left;
	padding: 0;
	width: 950px;
}
#NewsSideBar {
	display: none;
}
.BlogCalendar {
	display: none;
}
#header {
	text-align: left;
	text-transform: none;
}
#header h1 {
	padding: 0.8em 0em 0em 0.5em;
	font-family: Calibri, Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}
#header p {
	padding: 0.2em 0.5em 0.5em 0.5em;
	font-family: Calibri, Trebuchet MS, Arial, Helvetica, sans-serif;
	font-style: italic;
}
.posthead {
	padding: 1em 0 0;
}
.posthead h2 {
	padding: 0;
}
#masthead a:hover {
	color: #125CA7;
}
#masthead a:active {
	color: #125CA7;
}
#masthead a:visited {
	color: #125CA7;
}
#masthead a:link {
	color: #125CA7;
}
#title {
	padding: 0 0 0 100px;
	height: 100px;
	background-image: url(http://www.sneath.org/tim/sl_button.png);
	background-repeat: no-repeat;
}
.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active {
	color: #125CA7;
	font-size: 120%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active {
	color: #2967A5;
	font-size: 115%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active {
	color: #4172A3;
	font-size: 110%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active {
	color: #587CA0;
	font-size: 105%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active {
	color: #6E869E;
	font-size: 100%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active {
	color: #848F9B;
	font-size: 100%;
	padding-right: 2px!important;
	margin-right: 2px!important;
	border-right: 1px #CCC dotted;
}
.SidebarTagCloud {
	margin-left: 0em!important;
	display: block!important;
}
#commentform .smallbox, #commentform input, #commentform textarea {
	font: 1em Calibri, Trebuchet MS, Arial, Helvetica, sans-serif;	
}