BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://www.kirupa.com/blendBlog/blendBackground.png); PADDING-BOTTOM: 0px; FONT: 76%/1.2em Arial, Verdana, Helvetica, sans-serif; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
A:visited {
	COLOR: #0066cc
}
A:active {
	COLOR: #0066cc
}
A:link {
	COLOR: #0066cc
}
H3 {
	FONT-SIZE: 1.2em; COLOR: #023859
}
H2 A:link {
	COLOR: #035281
}
A:visited {
	COLOR: #035281
}
A:active {
	COLOR: #035281
}
bp___v___r___postlist___EntryItems_ctl00_PostTitle A:link {
	COLOR: #035281
}
bp___v___r___postlist___EntryItems_ctl00_PostTitle A:visited {
	COLOR: #035281
}
#welcome {
	MARGIN-TOP: 7px; COLOR: #035281; MARGIN-RIGHT: 10px
}
#welcome A:link {
	COLOR: #000
}
A:visited {
	COLOR: #000
}
A:active {
	COLOR: #000
}
#masthead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffe500
}
#wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#header {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#header H1 A:visited {
	COLOR: #fff
}
H1 A:active {
	COLOR: #fff
}
H1 A:link {
	COLOR: #fff
}
#header H1 {
	COLOR: #fff
}
#title {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; HEIGHT: 160px
}
.headermaintitle {
	PADDING-LEFT: 12px; FONT-SIZE: 1.5em; COLOR: #fff; POSITION: relative; TOP: 62px
}
#title P {
	FONT-SIZE: 0.8em; MARGIN-LEFT: 15px; TEXT-TRANSFORM: uppercase; POSITION: relative; TOP: 60px
}
#nav {
	DISPLAY: none; PADDING-LEFT: 15px; BACKGROUND: #fff
}
#nav UL LI A {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; TEXT-TRANSFORM: uppercase; COLOR: #777; POSITION: relative
}
#contentfooter {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#contentwrapper {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.posthead H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.7em; LINE-HEIGHT: 1.2em
}
.postfoot {
	LINE-HEIGHT: 1.2em; BORDER-BOTTOM: #ddd 1px solid
}
#TagSideBar {
	DISPLAY: none
}
#sidebar-a {
	BORDER-LEFT: #999 0px solid
}
#sidebar-a H3 {
	FONT-WEIGHT: 900; FONT-SIZE: x-small; MARGIN-LEFT: 13px; TEXT-TRANSFORM: uppercase; COLOR: #000
}
#sidebar-a A {
	COLOR: #666
}
#NewsSideBar H3 {
	DISPLAY: none
}
#news {
	BORDER-RIGHT: #999999 0px dashed; PADDING-RIGHT: 0px; BORDER-TOP: #999999 0px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 50px 1em 1.4em; BORDER-LEFT: #999999 0px dashed; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 0px dashed
}
#SearchSideBar {
	LEFT: -20px; POSITION: relative; TOP: 202px
}
#TasksSideBar {
	LEFT: 0px; POSITION: relative; TOP: 50px
}
#ArchiveSideBar {
	LEFT: 0px; POSITION: relative; TOP: 60px
}
#LinkSideBar {
	LEFT: 0px; POSITION: relative; TOP: 100px
}
#search {
	
}
#search A {
	FONT-WEIGHT: 900; FONT-SIZE: x-small; LEFT: -119px; TEXT-TRANSFORM: uppercase; COLOR: #000; POSITION: relative; TOP: -22px
}
.searchBox {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid
}
.posthead A:hover {
	TEXT-DECORATION: underline
}
#welcome A {
	COLOR: #fff
}
.postcontent {
	LINE-HEIGHT: 1.4em
}
