.anylinkcss{
	position:absolute;
	visibility: hidden;
	border:1px solid black;
	border-bottom-width: 0;
	font: normal 12px arial;
	line-height:18px;
	text-align: left;
	white-space: nowrap;
	width: 185px;
	background-color: #6e6e6e;
	z-index: 100;
}

.anylinkcss a{
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid black;
	padding: 1px 0;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

.anylinkcss a:hover{ /*hover background color*/
	background-color: #909090;
	color: #e0e0e0;
}