td {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444444;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444444;
}

.bold {
	font-weight: bolder;
}

.emphasis {
	font-style: italic;
}

#middlecell_interior a:link {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#middlecell_interior a:hover {
	color: gray;
	text-decoration: underline;	
}

#middlecell_interior a:visited {
	color: #a5a5a5;
}

#middlecell_interior h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}
