







/* Brand-independent styles */

.UserRecognitionFlyoutPopup
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	border: 1px solid #666666;
	text-align: left;
	padding: 3px 3px 3px 3px;
	background-color: #FFFFFF;
	z-index: 10;
	opacity: .95;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='silver',Positive='true') alpha(opacity=95);
}

.UserRecognitionFlyoutPopup A, .UserRecognitionFlyoutPopup A:visited
{
	font-size: 10px;
	color: #000000;
	cursor: hand;
	border: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
	margin-left: 0px;
	height: 15px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	display: block;
}

.UserRecognitionFlyoutPopup A:hover, .UserRecognitionFlyoutPopup A:active
{
	background-color: #f0f7fd;
	color: #000000;
	cursor: hand;
	border: 1px solid #addbef;
	padding: 1px 3px 1px 3px;
	margin-left: 0px;
	height: 15px; 
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	display: block;
}

A.UserRecognitionFlyoutIndented, A:visited.UserRecognitionFlyoutIndented, A:hover.UserRecognitionFlyoutIndented, A:active.UserRecognitionFlyoutIndented
{
	margin-left: 6px;
}

A.UserRecognitionFlyoutIndentedExpired, A:visited.UserRecognitionFlyoutIndentedExpired, A:hover.UserRecognitionFlyoutIndentedExpired, A:active.UserRecognitionFlyoutIndentedExpired
{
	color: gray;
	cursor: default;
	margin-left: 6px;
}

.UserRecognitionFlyoutPopupHeading
{
	font-size: 10px;
	font-weight: bold; 
	padding-left: 5px;
	color: #003399;
	text-align: left;
}

.UserRecognitionFlyoutPopupHr
{
  height:1px;
  background:#d0e0f0;
  margin: 0px 11px 21px 11px; 
}

.UserRecognitionFlyoutPopArrow
{
	margin: 4px 0px 0px 0px;
}

/* end brand-independent */


/* MSDN branding */

.UserRecognitionFlyoutStaticText_msdn
{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#5b5b5b;
	padding: 1px 1px 1px 1px;
	margin: 1px 0px 1px 1px;
}

.UserRecognitionFlyoutStatic_msdn, .UserRecognitionFlyoutStaticHover_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #FFFFFF;
	color:#5b5b5b;
	padding: 1px 3px 1px 3px;
	margin: 1px 0px 1px 1px;
	text-decoration: none;
  cursor: default;
	display: inline;
}

.UserRecognitionFlyoutStaticHover_msdn
{
	border: solid 1px #a1c6eb;
	padding: 1px 3px 1px 3px;
	margin: 1px 0px 1px 1px;
}

A.UserRecognitionFlyoutStaticLink_msdn, A:visited.UserRecognitionFlyoutStaticLink_msdn, A:hover.UserRecognitionFlyoutStaticLink_msdn, A:active.UserRecognitionFlyoutStaticLink_msdn
{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#5b5b5b;
	text-decoration: none;
	display: inline;
  cursor: default;
}

A.UserRecognitionFlyoutOtherLink_msdn, A:visited.UserRecognitionFlyoutOtherLink_msdn, A:hover.UserRecognitionFlyoutOtherLink_msdn, A:active.UserRecognitionFlyoutOtherLink_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#5b5b5b;
}

/* end MSDN branding */



/* brand-independent styles */

.LocaleManagementFlyoutPopup
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	border:1px solid #b8b8b8;
	padding: 3px 3px 3px 3px;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 10;
	opacity: .95;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95);
}

.LocaleManagementFlyoutPopup A, .LocaleManagementFlyoutPopup A:visited
{
	font-size: 10px;
	color: #000000;
	cursor: hand;
	border: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
	height: 15px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	display: block;
}

.LocaleManagementFlyoutPopup A:hover, .LocaleManagementFlyoutPopup A:active
{
	background-color: #f0f7fd;
	color: #000000;
	cursor: hand;
	border: 1px solid #addbef;
	padding: 1px 3px 1px 3px;
	height: 15px; 
	text-decoration: none;
	white-space: nowrap;
	display: block;
}

.LocaleManagementFlyoutPopupHr
{
  height: 1px;
  background: #d0e0f0;
  margin: 0px 11px 21px 11px; 
}

.LocaleManagementFlyoutPopArrow
{
	margin: 4px 0px 0px 0px;
}

/* end brand-independent */


/* MSDN branding */

.LocaleManagementFlyoutStatic_msdn, .LocaleManagementFlyoutStaticHover_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #3366cc;
	color:#FFFFFF;
	padding: 1px 3px 1px 3px;
	margin: 1px 1px 1px 1px;
	white-space: nowrap;
	text-decoration: none;
  cursor: default;
	display: inline;
}

.LocaleManagementFlyoutStaticHover_msdn
{
	border:solid 1px #a1c6eb;
}

A.LocaleManagementFlyoutStaticLink_msdn, A:visited.LocaleManagementFlyoutStaticLink_msdn, A:hover.LocaleManagementFlyoutStaticLink_msdn, A:active.LocaleManagementFlyoutStaticLink_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	white-space: nowrap;
	text-decoration: none;
  cursor: default;
	display: inline;
}

A.LocaleManagementFlyoutStaticLiveLink_msdn, A:visited.LocaleManagementFlyoutStaticLiveLink_msdn, A:hover.LocaleManagementFlyoutStaticLiveLink_msdn, A:active.LocaleManagementFlyoutStaticLiveLink_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	white-space: nowrap;
	text-decoration: none;
  cursor: pointer;
}

/* end MSDN branding */


  .TFlyPopupAnimate{
    position: absolute;
    display:block;
    border:1px solid gray;
    overflow:hidden;
    visibility:hidden;
    margin:0;
    padding:0;
    z-index:1;
  }


.QuickLinksFlyoutPopup
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	border:1px solid #b8b8b8;
	padding: 3px 3px 3px 3px;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 10;
	opacity: .95;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95);
}

.QuickLinksFlyoutPopup A, .QuickLinksFlyoutPopup A:visited
{
	font-size: 10px;
	background-color: transparent;
	color: #000000;
	cursor: hand;
	border: 1px solid #ffffff;
	padding: 1px 3px;
	margin: 0;
	display: block;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
}

.QuickLinksFlyoutPopup A:hover, .QuickLinksFlyoutPopup A:active
{
	background-color: #f0f7fd;
	border: 1px solid #addbef;
}

.QuickLinksFlyoutPopup H4
{
	font-size: 10px;
	line-height: 110%;
	color: #003399;
	font-weight: bold; 
	margin: 4px 0 5px 0;
}

.QuickLinksFlyoutPopup TABLE
{
	vertical-align:top;
	z-index: 10;
}

.QuickLinksFlyoutPopup TR
{
	vertical-align:top;
}

.QuickLinksFlyoutPopup .list
{
	padding: 0;
	margin: 0px 0px 10px 0px;
}

.QuickLinksFlyoutPopup .listitem
{
	padding: 0;
	margin: 3px 0;
}

.QuickLinksFlyoutPopupHr
{
  height: 1px;
  background: #d0e0f0;
}

.QuickLinksPopArrow
{
	margin: 4px 0px 0px 0px;
}


/* MSDN branding */

.QuickLinksFlyoutStatic_msdn, .QuickLinksFlyoutStaticHover_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #3366cc;
	color: #FFFFFF;
	padding: 1px 3px 1px 2px;
	margin: 1px 1px 1px 1px;
	white-space: nowrap;
	text-decoration: none;
	cursor: default;
	display: inline;
}

.QuickLinksFlyoutStaticHover_msdn
{
	border: solid 1px #a1c6eb;
}

A.QuickLinksFlyoutStaticLink_msdn, A:visited.QuickLinksFlyoutStaticLink_msdn, A:hover.QuickLinksFlyoutStaticLink_msdn, A:active.QuickLinksFlyoutStaticLink_msdn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	white-space: nowrap;
	text-decoration: none;
	cursor: default;
	display: inline;
}

/* end MSDN branding */


img.ProductLogoImage
{
	margin:0px 8px 0px 0px;
	float:right;
	border:none 0px;
}

#TabStrip 
{
	position: relative;
	display: block;
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	font-size: small;
	padding: 0 0 0 0;
	top: 25px;
	z-index: 2;
	white-space: nowrap;
	font-size: 70%;
}
#TabStrip TD
{
   padding: 0;
}

#PortalDivider
{
   display: block;
	border-top: solid 4px;
	margin: 0 15px -1px 15px; /* bottom margin changed for cyprus toolbar addition - pajohn */
	*margin-bottom:-5px; /* bottom margin changed for cyprus toolbar addition - pajohn */
	line-height: 0px;
	min-height: 1px;
	height: 1px;
}

#LibraryDivider
{
   display: block;
	border-top: solid 4px;
	padding: 0;
	line-height: 0px;
	min-height: 4px;
	height: 1px;
}
#InThisSectionContainer, #InThisSubSectionContainer
{
   background-color: #8e909c;
   margin: 0 15px 0 15px;
   padding: 4px;
   color: White;
	display: block;
	text-align: left;
	line-height: 140%;
	vertical-align: middle;
	white-space: normal;
}
#InThisSectionContainer A,  #InThisSectionContainer A:active, #InThisSectionContainer A:visited, #InThisSectionContainer A:link, #InThisSectionContainer A:hover, #InThisSubSectionContainer A,  #InThisSubSectionContainer A:active, #InThisSubSectionContainer A:visited, #InThisSubSectionContainer A:link, #InThisSubSectionContainer A:hover
{
   display: inline-block;
   white-space: nowrap;
   padding: 0 4px;
	color: white;
	text-decoration: none;
}
#InThisSectionContainer A:hover, #InThisSubSectionContainer A:hover
{
	text-decoration: underline;
}
.SectionOn
{
   font-weight: bold;
}

/* Begin Tabs */
td.tabOn, td.tabOff
{
   color: white;
   font-family: Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	border-left: solid 1px #F4F4F4;
}
td.tabOff 
{
	background-color: #8e909c;
	border-bottom: solid 1px #F4F4F4;
}
td.tabOff A, td.tabOff A:active, td.tabOff A:visited, td.tabOff A:link, td.tabOn A, td.tabOn A:active, td.tabOn A:visited, td.tabOn A:link
{
   display: block;
   padding: 5px 17px;
	color: white;
	text-decoration: none;
}
td.tabOff A:hover 
{
   text-decoration: none;
}
td.tabOn A:hover
{
   text-decoration: underline;
}
/* Begin TabStrip Item */
#SearchContainer
{
   padding-top: 40px;
   display:block;
}
.TabStrip_SearchBox, .TabStrip_SearchBoxActive
{
	float: left;
	padding: 2px 2px 0 2px;
	height: 17px;
	line-height: 19px;
	font-family: Tahoma;
	font-size: 100%;
	border: solid 1px #8e909c;
	width: 166px;
	color: #9a999a; 
   font-style: italic;
}
* html .TabStrip_SearchBox, * html .TabStrip_SearchBoxActive
{
   padding: 0px 2px 0 2px;
	height: 19px;
}
.TabStrip_SearchBoxActive
{
	color: black; 
   font-style: normal;
}
.TabStrip_SearchButton 
{
	float: left;
	padding: 0;
	margin: 0;
	width: 19px;
	height: 21px;
}
/* End Glass TabStrip Item */ 
.scopeArrow_msdn, .scopeArrow_technet
{
   min-width: 16px;
	float: left;
	height: 22px;
	background-image: url(/msdn/Controls/TabStrip/en-US/search_down_arrow.gif);
	background-position: top left;
	background-repeat: no-repeat;
	border-left: solid 1px white;
}
.scopeArrow_technet
{
	background-image: url(/technet/Controls/TabStrip/en-US/search_down_arrow.gif);
}
* html .scopeArrow_msdn, * html .scopeArrow_technet
{
	margin-top: -1px;
	padding-top: 2px;
	padding-right: 18px;
}
.scopeFlyout 
{
   width: auto;
	font-size: 11px;
	color: Navy;
	z-index: 6;
	line-height: 12px;
	border: solid 1px black;
	padding: 3px 4px 2px 4px;
	overflow: hidden;
}
.scopeFlyout A
{
	display: block;
	min-width: 90px;
	width: 100%;
	color: Black;
}
.scopeItem, .scopeItem:visited, .scopeItem:active, .scopeItem:link
{
	display: block;
	width: 100%;
	border: solid 1px white;
	color: #333333;
	padding: 2px;
	margin: 0;
	overflow: hidden;
}
.scopeHover
{
   overflow: hidden;
	display: block;
	width: 100%;
	color: #333333;
	background-color: #E9ECF2;
	border: solid 1px navy;
}
.scopeSelected, .scopeSelected:hover, .scopeSelected:visited, .scopeSelected:active, .scopeSelected:link
{
	display: block;
	width: 100%;
	background-color: white;
	border: solid 1px white;
	border-bottom: solid 1px silver;
	color: navy;
	padding: 2px;
	cursor: default;
}
#CenterBrand
{
   display: block;
   height:auto;
   background-color: #f2f2f2; 
   border: solid 1px #8e909c;
   border-bottom: none 0px #f2f2f2;
}
#CenterBrand table
{
   padding: 0;
   margin: 0;
}
#CenterBrand div
{
   height: 100%;
}
/*Branding*/
#CenterBrand_SiteBrand_ A, #CenterBrand_SiteBrand_msdn A, #CenterBrand_SiteBrand_technet A
{
   Display: block;
   Height: 100%;
   Width: 100%;
}
#CenterBrand_SiteBrand_, #CenterBrand_SiteBrand_msdn
{
   position: absolute;
	top: 25px;
	left: 15px;
	z-index: 2;
	width: 83px;
	height: 42px;
	background-image: url(/msdn/images/msdn_logo.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#CenterBrand_SiteBrand_technet
{
   position: absolute;
	top: 25px;
	left: 15px;
	z-index: 2;
	width: 189px;
	height: 42px;
	background-image: url(/technet/images/TechNet_Logo.gif);
	background-position: center;
	background-repeat: no-repeat;

}
#CenterBrand_CenterTitle_, #CenterBrand_CenterTitle_msdn, #CenterBrand_CenterTitle_technet
{
   line-height: 43px;
   white-space: nowrap;
   vertical-align: middle;
   font-family: Tahoma;
   font-size: 155%;
   float: left;
   padding: 0 10px 0 10px;
}
#CenterBrand_CenterLogo_, #CenterBrand_CenterLogo_msdn, #CenterBrand_CenterLogo_technet
{
   float: right;
   padding: 5px 10px 5px 10px;
}

#ClearBoth
{
   width: 100%;
   display: block;
	padding: 0;
	line-height: 0px;
	min-height: 4px;
	height: 4px;
	clear:both;
}


Div.miniRatings
{
	background-color: #f0f0f0;
	font-size: 70%;
	border-bottom: 1px solid #c0c0c0;
	text-align:left;
	vertical-align:bottom;
	margin:0;
	height:28px;
	width:100%;
}

div.miniRatings_left
{
	padding: 4px 0px 3px 0px;
	margin: 0px 0px 0px 5px;
	float:left;
}

div.miniRatings_left a
{
	font-family:Verdana;
	text-decoration: none;
	color: #0033CC;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	border: 1px solid #f0f0f0;
}

div.miniRatings_left a:hover
{
	background-color: #e3ebf2;
	border: 1px solid #a1c6eb;
}

div.miniRatings_left a:visited
{
	color: #0033CC;
}
div.miniRatings_left a img
{
   vertical-align:text-bottom;
}

div.miniRatings_right td
{
	font-family:Verdana;
	text-decoration: none;
	color: #0033CC;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	border: 1px solid #f0f0f0;
}

div.miniRatings_right a:hover
{
	background-color: #e3ebf2;
	border: 1px solid #a1c6eb;
}

div.miniRatings_right a:visited
{
	color: #0033CC;
}
div.miniRatings_right a img
{
   vertical-align:text-bottom;
}

div.miniRatings_right
{
	padding: 0px;
	margin: 0px;
	width: 340px;
}
div.miniRatings_right
{
	float: right;
	height: 28px;
}
div.miniRatings_right #ratingTable
{
	float:right;
}

/* Atlas RatingControl */
.ratingStar {
    font-size: 0pt;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(/msdn/controls/toolbar/en-us/starGold.gif);
}

.filledddRatingStar {
    background-image: url(/msdn/controls/toolbar/en-us/starGray.gif);
}

.emptyRatingStar {
    background-image: url(/msdn/controls/toolbar/en-us/StarWhite.gif);
}

.savedRatingStar {
    background-image: url(/msdn/controls/toolbar/en-us/StarBlue.gif);
}
/* End-Atlas RatingControl */

.ratingFlyoutStatic
{
  white-space:nowrap;
  width:340px;
}
.ratingFlyoutPopup
{
  margin:0;
  vertical-align:middle;
  border:1px solid #7A7A7A;
  background:white url(/msdn/controls/toolbar/en-us/popupBG.png);
  background-color:white;
  height:220px;
  width:450px;
}

.ratingFlyoutPopup .OptionalText, .ratingFlyoutPopup .WarningMessage
{
  float:left;
	font-family:Verdana;
  margin-left:25px;
  font-size:10pt;
  margin-top:10px;
  margin-bottom:10px;
}
.ratingFlyoutPopup .WarningMessage
{
  color:Red;
}
.ratingFlyoutPopup .Comment
{
  margin-left:25px;
  width:396px;
  height:132px;
  display:block;
  clear:both;
  margin-bottom:10px;
}
.ratingFlyoutPopup .Button
{
  float:right;
  margin-right:25px;
  padding-top: 0.2em;
}

.tocPanel
{
background-image: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg);
background-repeat: repeat-y
}
.OverlayHidden
{
	position: absolute;
	top: 91px;
	bottom: 0px;
	left: 0;
	z-index: 3;
	display:none;
	visibility:hidden;
		z-index:0;
}

.OverlayShow
{
	position: absolute;
	top: -1px;
	bottom: 0px;
	left: 0;
	z-index: 3;
	display: block;
	visibility: visible;
	width: 100%;
	height: 100%;
	z-index: 1024;
	background-image: url('/msdn/controls/resizablearea/en-us/1px.png' );
	background-repeat:repeat-x;
	background-color: transparent;
}


.loadingMessage
{
	font-family: Arial;
	font-size: 10pt;
	margin: 5px;
}


  div.EyebrowMenuBar
  {
    border-bottom: 1px solid #ffffff;
    font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
    font-size: 11px;
    margin: 0 !important;
    margin: 3px 0 0 0;
    padding: 3px;
  }

  div.stat, div.statHover
  {
    border: 1px solid transparent !important;
    _border-color: #ffffff;
    display: inline;
    float: left;
    margin: 0;
    padding: 3px 21px 3px 5px; 
    vertical-align: bottom;
    white-space: nowrap;
    height: auto !important;
    height: 16px;
    line-height: 16px;
  }

  div.stat
  {
    background: url('/msdn/Controls/EyebrowMenuBar/en-us/arrowrgt.gif') right center no-repeat;
  }

  div.statHover
  {
    background: url('/msdn/Controls/EyebrowMenuBar/en-us/arrowdwn.gif') right center no-repeat;
    background-color: #e3ebf2;
    border: 1px solid #a1c6eb !important;
  }

  div.stat a, div.statHover a
  {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  div.statHover a
  {
    background-color: #e3ebf2;
    color: #000000;
  }

  div.stat a:visited, div.stat a:link, div.stat a:active
  {
    color: #0000EE;
  }
  
  div.popup
  {
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95);
  }

  div.popup a:visited, div.popup a:link, div.popup a:active, div.popup a:hover
  {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    display: block;
    margin: 0 2px;
    padding: 3px;
    text-decoration: none;
  }

  div.popup a:hover
  {
    background-color: #f0f7fd;
    border: 1px solid #addbef;
    color: #000000;
  }

.ExpandCollapseAllPanel
{
	float:left;
	padding-right:10px;
}

.ExpCoLinkBtn
{
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	vertical-align:middle;
	padding-left:3px;
	padding-right:10px;
}

IMG.ExpCoImgBtn
{
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	vertical-align:middle;
}



.DropDownFilterStyle
{
	position:relative;
	width:auto;
	float:left;
}

.MTPS_DropDownImage
{
	cursor:pointer;
	text-align:center;
	float:left;
}

.DropDownFilterOff
{
	cursor: pointer;
	color: Black;
	text-decoration:none;
	float:left;
	padding-left:5px;
	padding-top:2px;
}

.MTPS_PopupDivPanel
{
	background-color: #dddddd;
	position:absolute;
	left:0px;
	width:200px;
	padding-top:1px;
	padding-left:1px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	border: solid 1px #cccccc;
	vertical-align:middle;
	text-align:left;
}

.codeHide
{
	display:none;
}

.DivCbxLabelLanguage
{
	background-color:transparent;
	width:auto;
	padding:0px;
	margin:0px;
}

.DivCbxLabelLanguage input
{
	vertical-align:middle;	
}

DIV.VsBar
{
	width: auto;
	height:20px;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 7px 7px 7px 7px;
	z-index:1;
}


/*--*/

/* Begin ContributionSummary Control */

.ContributionSummary_Container
{
	float: right;
	width: 265px;
  margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 45px;
	padding-bottom: 45px;
	position:relative;
}
.ContributionSummary_Border
{
	margin:0;
	padding:0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=white,endColorStr=Gainsboro); 
	color: #000000;
	background-color: #f1f1f1;
	padding: 8px;
}

.ContributionSummary_ControlTitle
{
  width:250px;
  clear:both;
  font-weight: bold;
  line-height:normal;
  position:relative;
  top:-30px;
  white-space:nowrap;
}
.ContributionSummary_ControlTitle img
{
  margin:0;
  padding:0; 
  border:0px;
  vertical-align:text-bottom;
}

.ContributionSummary_MostPopular
{
  margin-top:-15px;
  white-space:nowrap;
}

.ContributionSummary_RssLink
{
  margin:0;
  padding:0; 
  margin-right:45px;
}
.ContributionSummary_Body
{
}

.ContributionSummary_ItemsHeader
{
  padding-bottom: 9px;
}

.ContributionSummary_ItemsHeader .RssTitle
{
  font-weight: bold;
}

.ContributionSummary_Item
{
}

.ContributionSummary_TextItem
{
	color: #000000;
}

.ContributionSummary_TextValue
{
	color: #0033cc;
}

.ContributionSummary_LinkItem a
{
	color: #0033cc; 
  text-decoration: none;
}

.ContributionSummary_Separator
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.ContributionSummary_ShortRule
{
  height: 1px;
	color: #D8E5ED;
}

.ContributionSummary_Footer
{
  text-align: right;
  padding-top: 5px;
}

.ContributionSummary_TagsTitle
{
  font-weight:bold;
}

a.ContributionSummary_TagsLink,
a:active.ContributionSummary_TagsLink,
a:hover.ContributionSummary_TagsLink,
a:visited.ContributionSummary_TagsLink
{
	color: #0033cc; 
  text-decoration:underline;
}

.ContributionSummary_TagCloud
{
  font-size:16px;
  font-family: arial;
  padding:0;
  margin:0;
  line-height:normal;
  background-color:Transparent;
  width:100%;
  display:block;
  
  text-align:justify;
  float:none;
  clear:both;
  width:250px;
  position:relative;
  margin-top:5px;
}

.ContributionSummary_TagCloud a
{
  margin-right: 0;
  text-decoration: none;
  float: none;
}

.ContributionSummary_TagCloud a:hover
{
  text-decoration:none;
  background-color:#444;
  color: white;
}

.ContributionSummary_Tag1Vis, .ContributionSummary_Tag1Vis:visited
{
  color: #bbb;
  margin:6px 2px 0px 2px ;
  font-size:16px;
  font-weight:bold;
}
.ContributionSummary_Tag2Vis, .ContributionSummary_Tag2Vis:visited
{
  color: #888;
  margin:5px 2px 0px 2px ;
  font-size:16px;
  font-weight:bold;}
.ContributionSummary_Tag3Vis, .ContributionSummary_Tag3Vis:visited
{
  color: #666;
  margin:5px 2px 0px 2px ;
  font-size:16px;
  font-weight:bold;}
.ContributionSummary_Tag4Vis, .ContributionSummary_Tag4Vis:visited
{
  color: #444;
  margin:5px 2px 0px 2px ;
  font-size:16px;
  font-weight:bold;
}


.ContributionSummary_Tag1Size, .ContributionSummary_Tag1Size:visited 
{
  font-size:15px;
  color:#444;
  font-weight:bolder;
}

.ContributionSummary_Tag2Size, .ContributionSummary_Tag2Size:visited 
{
  font-size:18px;
  color:#444;
}

.ContributionSummary_Tag3Size, .ContributionSummary_Tag3Size:visited 
{
  font-size:21px;
  color:#444;
}

.ContributionSummary_Tag4Size, .ContributionSummary_Tag4Size:visited 
{
  font-size:24px;
  color:#444;
}
/* End ContributionSummary Control */

.AlterPart
{
	background: #ffffff url('/msdn/Controls/AlternateSelector/en-us/gradient.gif') repeat-x 0 bottom;
	float:right;
	display:inline;
	width:200px;
	color:#000000;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	padding:8px;
	margin:8px;
}

.AlterPart SPAN
{
	font-weight:bold;
}

.AlterPart UL
{
	margin: 0px;
	padding: 0px;
}

.AlterPart LI
{
	list-style-image: url('/images/b.gif');
	list-style-position: outside;
	margin: 0px 0px 8px 20px;
	padding: 0px;
}

.AlterPart A
{
	color: #0033cc; 
}

.MTPSPart
{
	background: #ffffff url('/msdn/Controls/RelatedPages/en-us/gradient.gif') repeat-x 0 bottom;
	float:right;
	display:inline;
	width:160px;
	color:#000000;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	padding:8px;
	margin:5px;
}

.MTPSPart P
{
	font-weight:bold;
}

.MTPSPart UL 
{ 
	margin: 0px;
	padding: 0px;
}

.MTPSPart UL LI
{
	color: #cccccc;
	margin: 0px 0px 5px 17px;
	padding: 0px;
	font-size: smaller;
	list-style-image: url('/images/b.gif');
	line-height: 140%;
}

.MTPSPart UL LI A
{
	color:#0033cc; 
}


.TagEditor_Panel
{
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
	border: solid 1px #87A9D1;
	background-color: #fafaff;
	font-size:8pt;
	position: relative;
	line-height:normal;
}

.TagEditor_Panel_Block
{
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
	border-top: solid 1px #d4d0c8;
	background-color: #fafaff;
	font-size:8pt;
	position: relative;
	line-height:normal;
	white-space:normal;
}

.TagEditor_Title
{
	font-weight: bold;
	font-size: 10pt;
	vertical-align: middle;
	height: 1px;
	padding: 3px 0px 3px 0px;
}

.TagEditor_Text
{
	color: #3366cc;
	font-size:8pt;
	padding: 0px 0px 0px 0px;
}

.TagEditor_View
{
	margin: 0px 4px 0px 4px;
	font-size: 8pt;
	position:relative;
	top:0;
	left:0;
	padding: 0px 0px 0px 0px;
}

.TagEditor_Edit
{
	margin: 0px 4px 0px 4px;
	white-space:nowrap;
}

.TagEditor_TextBox
{
  font-size: 10pt;
  vertical-align:text-top;
  line-height: 20px;
  z-index: 100;
}

.TagEditor_TagPair
{
	white-space:nowrap;
}

a.TagEditor_Link,
a:active.TagEditor_Link,
a:hover.TagEditor_Link,
a:visited.TagEditor_Link
{
	color: #3366cc;
	font-size: 8pt;
}

a.TagEditor_LinkButton,
a:active.TagEditor_LinkButton,
a:hover.TagEditor_LinkButton,
a:visited.TagEditor_LinkButton
{
	color: #3366cc;
	font-size: 8pt;
	white-space:nowrap;
}

.TagEditor_Message
{
	color: red;
}

.TagEditor_HelpLink
{
}

.TagEditor_HelpImage
{
  border: solid 0px black;
  margin: 3px 3px 3px 3px;
	vertical-align: middle;
}

.TagEditor_HelpFlyout
{
  border: solid black 3px;
  background-color: White;
}

.CodeSnippetTitleBar
{
	background-color:#DDDDDD;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	white-space:nowrap;
	border-bottom:solid 1px #aaaaaa;
	height:20px;
    word-spacing:normal;
	letter-spacing:normal; 	
}

.CodeDisplayLanguage
{
	float:left;
    text-align:left;
}

.CopyCodeButton
{
	float:right;
    text-align:right; 
}

a.copyCode
{
    cursor: pointer;
    color: blue;
    text-decoration: none;
    text-align:right;
}

div.MTPS_CollapsibleRegion
{
	margin-bottom:5px;
	margin-top:5px;
}
 
A.CollapseRegionLink, A.CollapseRegionLink:link, A.CollapseRegionLink:hover, A.CollapseRegionLink:visited
{
	Cursor:pointer;
	color:#000000;
	font-family:Verdana,tahoma,arial;
	font-weight:700;
	text-decoration: none;
}

.CollapseRegionImg
{
	border:0px;
	margin-right:5px;
	padding:0px;	
}

.InlineEditor_Editor_Off
{
  border: 0px solid #87A9D1;
  padding: 3px;
  background: transparent;
}
.InlineEditor_Editor_On
{
  border: 1px solid #87A9D1;
  background: #ffffff;
  height: 120px;
  font-family: Verdana;
  padding: 3px;
  cursor: text;
}
.InlineEditor_Toolbar
{
  border: 1px solid gray;
  background: lightgrey;
  height: 24px;
}
.InlineEditor_ImageButton
{
  cursor: pointer;
  margin: 0px;
  height: 24px;
  float: left;
}
.InlineEditor_Separator
{
  cursor: default;
  margin: 0px;
  height: 24px;
  float: left;
}
.InlineEditor_Title_Edit
{
  width: 100%;
}
.InlineEditor_TagEditorPanel
{
  text-align: left;
}
.wkeMessage
{
  color: Red;
  font-size: 10pt;
}
.wkeButton
{
  margin-top: 8px;
  margin-bottom: 8px;
}
.wkButtonsPanel
{
  text-align: right;
}


.wkViewerContainer, .wkViewerContainer_Edit
{
	_width:100%;
  background-color: white;
  border: solid 1px #87A9D1;
  display: block;
  margin: 0px 20px 20px 20px;
  padding: 0px 3px 0px 3px;
}
.wkViewerContainer_Edit
{
  background-color: #D6E6F6;
  filter: progid:DXImageTransform.Microsoft.Shadow( 'color:gray, strength:5, direction:135' );
}
.wkViewerHeader, .wkViewerHeaderHover
{
  background-color: #FAFAFF;
  display: block;
  overflow: hidden;
  position:relative;
}
.wkViewerHeaderHover
{
  background-color: #FFFFCC;
}
.wkViewerHeader_Title
{
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  word-wrap: break-word;
  white-space: inherit;
}
.wkViewerHeader_Spacer
{
  background-color: Transparent;
}
.wkViewerHeader_Actions
{
  vertical-align: top;
  padding-top: 2px;
  font-size: 8pt;
  color: #666666;
  white-space: nowrap;
}
.wkViewerHeader_Link, .wkViewerHeader_Link:hover, .wkViewerHeader_Link:visited
{
  color: #336699;
  text-decoration: none;
  white-space: nowrap;
}
.wkViewerHeader_Link:hover
{
  white-space: nowrap;
  text-decoration: underline;
}
.wkViewerText, .wkViewerTextHover
{
  display: block;
  border-top: solid 1px #e3e3e3;
  overflow: auto;
  word-wrap: break-word;
  white-space: inherit;
}
.wkViewerTextHover
{
  background-color: #FFFFCC;
}
.wkHistoryItem
{
  padding: 5px;
  display: block;
  border-top: solid 1px #cccccc;
  border-right: solid 1px #e3e3e3;
}
.HistoryBody
{
  display: block;
  background-color: #D6E6F6;
  text-align: left;
  margin-top: 5px;
  overflow: auto;
  word-wrap: break-word;
  white-space: inherit;
}
.wkiSavedMessage
{
  color: Red;
}


.cc
{
	width:100%;
	margin:0px;
	overflow:hidden;
}

.ccHeader
{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.ccContainer
{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.cch_left
{
	height:66px;
	max-height:66px;
	background-image:url(msdn/Controls/WikiSection/en-us/green-left.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.cch_middle
{
	height:66px;
	width:2px;
	background-image:url(msdn/Controls/WikiSection/en-us/green-middle.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#ffffff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.cch_right
{
	height:66px;
	width: 100%;
	background-image:url(msdn/Controls/WikiSection/en-us/green-right.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#ffffff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.cch_title
{
	color: Black;
	font-family: Verdana;
	font-weight:bold;
	font-size:12pt;
	font-weight:bold;
	padding: 10px 10px 10px 10px;
	vertical-align:middle;
	white-space:nowrap;
}

.cc_toolbar
{
	height:20px;
	padding: 0px 0px 0px 0px;
	background-color: #e3e3e3;
	margin: 0px 0px 7px 0px;
	color: #3366CC;
}

.cch_toolbartext
{
	font-family: Verdana;
	font-size:8pt;
	color: #3366CC;
	background-color: #e3e3e3;
	padding: 0px 0px 0px 15px;
	margin: 0px 0px 0px 0px;
	text-align:left;
	vertical-align: middle;
	white-space: nowrap;
}

.cch_toolbartext
{
	color: #3366CC;
}

.ccAddLink, .ccAddLinkDisabled
{
	text-decoration: underline;
	cursor: pointer;
	padding-left: 4px;
	color: #3366CC;
}

.ccAddLinkDisabled, .ccAddLinkDisabled:hover, .ccAddLinkDisabled:visited
{
	color: Gray;
}

.ccViewProfileLink
{
	font-weight:bold; 
	color: #3366CC;
	background-color: #e3e3e3;
	font-family: Verdana;
	font-size:8pt;
	padding-right: 20px;
}
.cch_footertext
{
	color: #3366CC;
	font-family: Verdana;
	font-size:8pt;
	padding: 7px 0px 7px 10px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.cch_footertext a, .cch_footertext a:visited, .cch_footertext a:hover
{
	color: #3366CC;
	text-decoration: none;
	white-space: nowrap;
}

.wkItemsCoontainer
{
  border: none;
  width: 100%;
  margin:0px;
  margin-top:20px;
  margin-right:2px;
}
.wksMessage
{  
   color:Red;
   font-size:10pt;
}
.wksButton
{
   margin-top:10px;
   margin-bottom:10px;
   padding-top:0.2em;
}
.wksButtonsPanel
{
 text-align:right;
}

.wkMessage
{  
   color:Red;
   font-size:10pt;
   margin-left:20px;
   margin-bottom:20px;
}

/* Default branding */
TD.MTPS_FooterFade
{
	height:57px; 
	font:bold 70% verdana; color:#CCCCCC; 
	padding-left:10px; 
	border-top:1px solid #999999; 
	background-color:#FFFFFF; 
	background-image:url('/msdn/Controls/MTPS_FooterCtrl/en-us/mscomfooterfade.jpg'); 
	background-position:right; 
	background-repeat:repeat-y;
}

TD.MTPS_FooterLogo
{
	width:105px; background-color:#1E77D3; border-top:1px solid #999999;
}

DIV.MTPS_FooterLinks
{
	margin-bottom: 10px;
}

A.MTPS_FooterLinks, DIV.MTPS_FooterLinks A
{
	color: #0033cc;
	font-weight: normal;
}

A.MTPS_FooterLinks:hover, DIV.MTPS_FooterLinks A:hover
{
	color: #ff6600;
}

.MTPS_FooterCopyright
{
	font-weight:normal; color:#000000;
}
/* end Default */

/* MSDN branding */
TD.MTPS_FooterFade_msdn
{
	height:57px; 
	font:bold 70% verdana; color:#CCCCCC; 
	padding-left:10px; 
	border-top:1px solid #3366CC; 
	background-color:#FFFFFF; 
	background-image:url('/msdn/Controls/MTPS_FooterCtrl/en-us/msdnfooterfade.jpg'); 
	background-position:right; 
	background-repeat:repeat-y;
}

TD.MTPS_FooterLogo_msdn
{
	width:105px; background-color:#6699FF; border-top:1px solid #3366CC;
}

DIV.MTPS_FooterLinks_msdn
{
	margin-bottom: 10px;
}

A.MTPS_FooterLinks_msdn, DIV.MTPS_FooterLinks_msdn A
{
	color: #0033cc;
	font-weight: normal;
}

A.MTPS_FooterLinks_msdn:hover, DIV.MTPS_FooterLinks_msdn A:hover
{
	color: #ff6600;
}

.MTPS_FooterCopyright_msdn
{
	font-weight:normal; color:#000000;
}
/* end MSDN */

/* Technet branding */
TD.MTPS_FooterFade_technet
{
	height:57px; 
	font:bold 70% verdana; color:#CCCCCC; 
	padding-left:10px; 
	border-top:1px solid #999999; 
	background-color:#FFFFFF; 
	background-image:url('/msdn/Controls/MTPS_FooterCtrl/en-us/technetfooterfade.jpg'); 
	background-position:right; 
	background-repeat:repeat-y;
}

TD.MTPS_FooterLogo_technet
{
	width:105px; background-color:#CDCDCD; border-top:1px solid #999999;
}

DIV.MTPS_FooterLinks_technet
{
	margin-bottom: 10px;
}

A.MTPS_FooterLinks_technet, DIV.MTPS_FooterLinks_technet A
{
	color: #0033cc;
	font-weight: normal;
}

A.MTPS_FooterLinks_technet:hover, DIV.MTPS_FooterLinks_technet A:hover
{
	color: #ff6600;
}

.MTPS_FooterCopyright_technet
{
	font-weight:normal; color:#000000;
}
/* End Technet */












.FallbackContainer
{
    float: right;
    font-size:100%;
    width:200px;
    margin-top:8px; 
    margin-bottom:8px; 
    margin-left:8px;
    margin-right:8px; 
    padding:8px;
    background-color:#f1f1f1; 
    border-bottom:1px solid #CCCCCC; 
    border-top:1px solid #CCCCCC; 
    border-left:1px solid #CCCCCC; 
    border-right:1px solid #CCCCCC;
}

.FallbackHeaderLabel
{
    font-weight:bolder;
}

.FallbackLocale
{
   font-style:italic;
}







.MtpsMemberLink
{
	position:absolute;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	margin-top:0px;
	margin-left:10px;
	margin-right:0px;
	margin-bottom:0px;
	vertical-align:middle;
	text-align:left;
}





.clsDocBody .MultiViewContainerPanel
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	background-color:#6699cc;
}


.clsDocBody .MultiViewTableHeaderCell
{
	background-color:#6699cc;
	color:#FFFFFF;
	font-family:Arial;
	font-size:100%;
	font-weight:700;
	padding-top:3px;
	padding-left:5px;
	padding-right:3px;
	padding-bottom:3px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}

.clsDocBody .MultiViewContainerPanelDhtmlTable
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;

}
/* Here */
.MultiViewContainerPanelDhtmlTable TBODY TR TD.MultiViewTableCellContentCell
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;	
}

.clsDocBody .MultiViewTableCellListCell
{
	background-color:#DDDDDD;
	color:#000000;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;	
	border-right: solid 2px #6699cc;
	border-left: solid 1px #6699cc;
	border-bottom: solid 1px #6699cc;	
}

.clsDocBody .MultiViewTableCellContentCell
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-right: solid 1px #6699cc;
	border-bottom: solid 1px #6699cc;
	width:100%;
}

/* Left Column CSS classes */
.mvt_ShowTextLabel
{
	font-weight:700;
	font-size:x-small;
}
.mvt_ListBtn
{
	font-size:x-small;
	width:auto;
	margin:0px;
	padding:4px;
	border-top:solid 1px #6699cc;
}

.mvt_ListBtn A
{
	width:100%;
	margin:0px;	
	color:#000000;
	padding:4px;
}

.mvt_ListBtn A:active
{
	width:100%;
	margin:0px;	
	color:#FFFFFF;
	padding:4px;
	background-color:#999999;
}

.mvt_ListBtn A:hover
{
	width:100%;
	padding:4px;
	color:#336699;
	background-color:#CCCCCC;
}

/* Panel switch selectors */
.MultiViewPanelClosed
{
	display:none;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;	
}

.MultiViewPanelOpen
{
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	display:block;
	overflow:auto;
	width:100%;
}

/* from Workshop code */
.clsTab
{

	font: bold 100% verdana,arial,helvetica,sans-serif;
	cursor:hand;
	color:#FFFFFF;
	background-color:#3366CC;
}

.MultiViewTableCellContentCell TABLE.clsStd
{
	top:0px;
	bottom:0px;	
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	background-color:Red;
}

TABLE.clsStd TBODY TR TH
{
	text-align:left;
	vertical-align:top;
	background-color:#DDD;
	padding:2px;
	font-size:x-small;
}

TABLE.clsStd TBODY TR TD
{
	font-size:x-small;
	vertical-align:top;
	background-color:#EEE;
	padding:2px;
}
/* added */
TABLE.clsStd TD SPAN A
{
	color:#003399;
	font-size:x-small;	
}



.AltPageHeaderLabel
{
    font-size:200%;
    width:auto;
}

.AltPageContentLabel
{
	width:auto;
}







#ClearLeftNavigationCtrl {
    width:177px;
    float:left;
    display: block;
}
#LeftNavigation {
    text-align:left;
    border: solid 1px #999999;
    width:177px;
    color:#4d4d4d;
    display: block;
    position: relative;
    z-index: 1;
}
#LeftNavigation a, #LeftNavigation a:active, #LeftNavigation a:visited, #LeftNavigation a:link  {
    color:#4d4d4d;
    display: block;
    width: 153px;
    padding: 4px 4px 4px 20px;
    font-family : Tahoma; 
    text-decoration: none;
    background-image: url('/msdn/controls/leftnavigation/en-us/LeftNavBullet.gif');
    background-position: 5px 8px;
    background-repeat: no-repeat;
}
#LeftNavigation a:hover {
    background-color: #c8cddb;
    text-decoration: none;
    background-image: url('/msdn/controls/leftnavigation/en-us/LeftNavHover.gif');
    background-position: 5px 8px;
    background-repeat: no-repeat;
}
#LeftNavigationTitle {
    color:black;
    font-size: 110%;
    display: block;
    padding: 8px 8px 5px 8px;
    font-family : Tahoma; 
    font-weight: bold
}



/* These styles applied to all layouts */
.MtpsFeedViewerBasicRootPanelClass
{
    width:auto;
    vertical-align:top;
    margin-bottom:10px;
    margin-right:5px;
    padding-right:5px;
    padding-bottom:10px;
}

.TitleRSSLabelCssClass
{
    font-family:Tahoma, Verdana;
    font-size:125%;
    font-weight:700;
}

.TitleRSSButtonCssClass
{
    text-align:left;
    vertical-align:bottom;
    margin-left:5px;
}

/* Begin For the "Basic" layout */
.BasicHeadlinesItemPanelCssClass
{
    width:auto;
    vertical-align:top;
    margin-bottom:15px;    
}
.BasicHeadlinesTitleBold
{
    font-weight:700;
}

/* Begin For the "BulletList" layout */
/* empty for future use */
.BulletListHeadlineLink
{}

.FeedViewerBasicBulletListLI
{
    margin-bottom: 10px;
}


/* Begin For the "Featured" layout */
.FeaturedHeadlinesTable
{
    margin-top:5px;
    margin-bottom:10px;    
}

.FeaturedMatchStickTD
{
     width:7px;
     vertical-align:top;
     border-top: solid 7px #666666;
     background-color: #666666; 
     background-image:url('../msdn/controls/FeedViewerBasic/white_repeater.gif'); 
     background-repeat: repeat-y;
     padding:0px;
}

.FeatureMatchStickDiv
{
    width: 0px;
    height: 0px;
}

.FeaturedRssItemTableCell
{
    vertical-align:top;
    padding-left:10px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:10px;
}

.FeaturedRssItemTableCellNoImage
{
    vertical-align:top;
    margin-top:0px;
    padding-top:0px;
}

.FeatureHeadlinesTitle
{
    vertical-align:top;
    font-weight:700;
    margin-top:0px;
    padding-top:0px;
}

/* Begin For the "ImageHeadlines" layout */
.ImageHeadlineTabelCell
{
    vertical-align:top;
    padding:0px 0px 0px 0px;
}

/* ShowAuthors Styles */
.FVBAuthorLabel
{
    font-weight:900;
    color:#555555;
    font-size:smaller;
    padding-right:5px;
}
.FVBPubDateLabel
{
    font-style:italic;
    color:#555555;
    font-size:smaller;
}

/*******************/

div#videoListHost
{
  font-size:155%;
  *font-size:145%;
  line-height:70%;
}

div.VideoScrollerErrorMessage
{
	margin-right:auto;
	width: 350px; 
	border: 1px solid #e1e1e1; 
	padding: 15px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif; 
	text-align: left;
	color: #dd7c3b; 
}

div.VideoScrollerErrorMessage span 
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #dd7c3b;
	padding-bottom: 20px;
}

div.VideoScrollerErrorMessage img 
{
	float:left;
	margin-right:10px;
}





/* Benefit Portal Styles - Start ------------------------------------------------------------------- */
                                                                                                       
.InactiveBenefitImageFilter img {                                                                      
	 opacity: 0.5;                                                                                      
   filter:gray;                                                                                       
}                                                                                                      
                                                                                                       
.HiddenObject {                                                                                        
	display: none;                                                                                      
}                                                                                                      
                                                                                                       
.VisibleObject {                                                                                       
	display: inline;                                                                                    
}                                                                                                      
                                                                                                       
.BP_Table {                                                                                            
   width: 90%;                                                                                         
   font-family: Verdana, Arial, Helvetica, Sans-Serif;                                                 
   position: relative;
}                                                                                                      
                                                                                                       
.BP_Table td {                                                                                         
   line-height:130%;                                                                                   
	 font-size: 11px;                                                                                  
}                                                                                                      
                                                                                                       
.BP_Table ol, .BP_Table ul, .BP_Table li {                                                                                 
	font-size : 10px;
}                                                                                                        

.BP_Home_Table {
   width:95%;                                                                                         
   font-family: Verdana, Arial, Helvetica, Sans-Serif;                                                 
   margin-top:1px; 
   margin-left:5px;
   margin-right:5px;
}                                                                                                      
                                                                                                       
.BP_Home_Table td {                                                                                         
   line-height:130%;                                                                                   
	 font-size:11px;
}                                                                                                      
                                                                                                       
.BP_Home_Table ol, .BP_Home_Table ul, .BP_Home_Table li {                                                                                 
	font-size:10px;
}
                                                                                                  
.BP_Bold {                                                                                             
   font-weight:bold;                                                                                   
}                                                                                                      
                                                                                                       
.BPHome_Bullet {                                                                                       
	PADDING-RIGHT: 0.7em; FONT-SIZE: 110%; COLOR: #a6a6a6; PADDING-TOP: 3px;                            
}                                                                                                      
                                                                                                       
.BP_InactiveBenefitText {                                                                              
   color: gray;                                                                                        
   text-decoration: underline;                                                                         
}                                                                                                      
.BP_InactiveBenefitText:Hover {                                                                        
	color: gray;                                                                                        
}                                                                                                      
                                                                                                       
.BPHome_Panel {
	border: #cacaca 1px solid; 
	width: 200px; 
	margin-bottom: 10px; 
	margin-top: 10px; 
	margin-right: 3px;
	margin-left:10px;
  background-color: #F1F1F1;
	position: relative;
	padding:10px;
	float:right;   
   
}                                                                                                       
/* ------------------------------------------------------------------- Benefit Portal Styles - End  */ 






