BODY {
	BACKGROUND-COLOR: #ddc
}
A:visited {
	COLOR: #700
}
A:active {
	COLOR: #700
}
A:link {
	COLOR: #700
}
H1 A:visited {
	COLOR: #ffe
}
H1 A:active {
	COLOR: #ffe
}
H1 A:link {
	COLOR: #ffe
}
H1 A:hover {
	COLOR: #443
}
#header {
	BORDER-BOTTOM: #443 4px solid; BACKGROUND-COLOR: #998
}
#header P {
	COLOR: #ffe
}
#content {
	BORDER-BOTTOM: #443 4px solid; BACKGROUND-COLOR: #eed
}
.altcomment {
	BACKGROUND-COLOR: #fff
}
.CalendarOtherMonth {
	BACKGROUND-COLOR: #ddc
}
#masthead {
	BACKGROUND: #998; COLOR: #ddc
}
#masthead A:link {
	COLOR: #ffe
}
#masthead A:visited {
	COLOR: #ffe
}
#masthead A:active {
	COLOR: #ffe
}
#masthead A:hover {
	COLOR: #ffe
}
.Tag1 A:link {
	COLOR: #200
}
.Tag1 A:visited {
	COLOR: #200
}
.Tag1 A:active {
	COLOR: #200
}
.Tag2 A:link {
	COLOR: #300
}
.Tag2 A:visited {
	COLOR: #300
}
.Tag2 A:active {
	COLOR: #300
}
.Tag3 A:link {
	COLOR: #400
}
.Tag3 A:visited {
	COLOR: #400
}
.Tag3 A:active {
	COLOR: #400
}
.Tag4 A:link {
	COLOR: #500
}
.Tag4 A:visited {
	COLOR: #500
}
.Tag4 A:active {
	COLOR: #500
}
.Tag5 A:link {
	COLOR: #600
}
.Tag5 A:visited {
	COLOR: #600
}
.Tag5 A:active {
	COLOR: #600
}
.Tag6 A:link {
	COLOR: #700
}
.Tag6 A:visited {
	COLOR: #700
}
.Tag6 A:active {
	COLOR: #700
}
