/* Layout ---------------------------------------------------------------- */
div#wrapper{
	background: url(http://images.windows-now.com/Theme/v1/custom/2colbackground.gif) repeat-y top left;
}
div#contentwrapper{
}
div#content{float:right;width:674px; padding: 10px 20px;}
div#subcontent-a{float:left;width:220px;}
div#footer{clear:both;}

.blogaggcommentbox{
display: none;
}
.rowcenter{
	text-align: center;
}
.nowrap{
	white-space: nowrap;
}
/* Default Blog Styles*/
/* 5: sections ---------------------------------------------------------------------------

   This CSS covers the various sections in the blog skin
*/
/* --- 5.1: sitewide declarations -----------------------
   
	These are declarations that are reused across various sections
*/
.contentheading{
	font-size: 1.5em;
	font-weight: 800;
	color: #006699;
	border-bottom: 1px solid #BBB;
	padding-bottom: 6px;
}
.contentsubheading{
	border-bottom: 1px dotted #BBB;
	padding-bottom: 6px;
	font-size: 1.1em;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
}
.sideheader{
	font-size: 1.1em;
	padding-bottom: 10px;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
	background: url(http://images.windows-now.com/Theme/v1/custom/sidebarrule.gif) no-repeat 0% 100%;
}
/* --- 5.2: header --------------------------------------*/
/* The name of the weblog */
#blogheader{
	margin-bottom: 20px;
	/*background: url(http://images.windows-now.com/Theme/v1/custom/blogheaderbackground.jpg) no-repeat bottom right;
	height: 120px;*/
	border-bottom: 1px solid #DDD;
}
.headertitle{
	font-size: 1.6em; 
	line-height:1em;
	font-weight: 400;
	color: #006699;
	padding: 0 0 10px 0px;
	margin:0;
}
.headertitle a{
   text-decoration:none;
	color: #006699;

}
/* The description of the weblog */
.headerdescription{
   margin: 0px 0 10px 0px;
	font-size: 1.1em;
	font-weight:400;
}
ul.rsslist {
	margin:0 0 0 5px;
	list-style: none;
	text-align: right;
	float: right;
	font-size: 1.1em;
}
ul.rsslist  li{
	display: inline;
	margin: 0 0 0 10px;
	padding:0;
}
ul.rsslist li a{
	background: url(http://images.windows-now.com/Theme/v1/custom/headerrss.gif) no-repeat right 50%;
	padding:1px 20px 2px 0px;
	text-decoration: none;
	color: #929292;
	font-weight: normal;
}

}
.rsslist a{
	background: url(http://images.windows-now.com/Theme/v1/custom/headerrss.gif) no-repeat right 50%;
	padding:1px 20px 2px 0px;
	text-decoration: none;
	color: #929292;
	font-weight: normal;
	font-size: 1.0em;
}


}
/* --- 5.3: entrylist ------------------------------------

   The entrylist control publishes a list of posts: eg the home page of a blog. I
	use a definition list for these posts. The important thing to remember is that
	you cannot have any block level elements in the <dt> part of a definition list.
	For more info: http://www.maxdesign.com.au/presentation/definition/
	
	If this configuration does not work for you, edit the skin-entrylist.ascx control
	and change it to an unordered list, which also makes sense for this control.
*/
ul.entrylist{
   margin: 0;
	list-style:none;
	
}
/* the post tile */
ul.entrylist li{
   margin:0;
	clear:both;
}
.entrylistcontainer{
	float:right;
	width: 619px;
	line-height:1.5em;
}
.entrylistheader{
	font-weight: 400;
	margin:0;
}
.entrylistheader a{
	margin: 0;
	color: #125a79;
	font-size: 1.3em;
	text-decoration: none;
}
.entrylistheader a:hover{
	text-decoration: underline;
}
.entrylistfooter{
	font-size: 0.8em;
	line-height: 1.2em;
	margin: 3px 0 5px 0;
	color: #969696;
}
.entrylistcontent{
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 1.5em;
	background: url(http://images.windows-now.com/Theme/v1/custom/blogrule.gif) no-repeat 50% 100%;
}
.entrylistcontent ol{
	margin: 1em;
	list-style-position: inside;
}
.entrylistcontent ul{
	margin: 1em;
	list-style-position: inside;
	list-style-type: disc;
}
.entrylistcontent li{
	margin: 0 0 0 1em;
}
.entrylisticon{
	float:left;
	width: 50px;
	height: 75px;
}
/* --- 5.4: entryview ------------------------------------

   The entryview control shows the post detail on the post page
*/
/* The post title  */
.entryviewcontainer{
	float:right;
	width: 619px;
	line-height:1.5em;
}
.entryviewheading{
	margin: 0;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 400;
}
/* The post body*/
.entryviewbody{
	margin: 1em 0em;	
}
/* The post footer*/
.entryviewfooter{
	margin: 0em 0em 20px 0em;
	font-size: 0.8em;
	padding: 5px;
	line-height: 1.4em;
	color: #969696;
	background-color: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}
.entryviewicon{
	float:left;
	width: 50px;
	height: 75px;
}
.entryviewextras{
   clear:both;
	padding-left:55px;
}
/* --- 5.5: detailedpostsubscription -----------------------

   The entryview control shows the post detail on the post page
*/
.subscriptions{}
.subscriptions legend{
	font-size: 1em;
	margin-bottom: 0.5em;
	padding: 0px 10px;
	font-weight: 400;
	color: #006699;
}

/* --- 5.7: commentform and contactform ------------------

   The comment and contact forms use the good old definition list again. I use the 
	same css code to serve both forms.
*/


/* Links Page */

/* 6.1: rating control ------------------------------------------ */
.ratecontrolreadonly
{
	display: inline;
	padding: 0.2em;
	margin: 0 0.5em;
	white-space: nowrap;
}

.ratecontrol
{
	display: inline;
	padding: 0.2em;
	margin: 0 0.5em;
	white-space: nowrap;
	cursor: pointer;
}

.ratecontrolactive
{
	display: inline;
	padding: 0.2em;
	margin: 0 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

