/* 
	developer  skin for Community Server 2.1;
	version: 0.00;
	date: 07/09/2006
	author: Jaxon Rice
	email: jaxon@soup.co.za;
	blog: http://soup.co.za/weblog
	
*/

/*
   Notes:
*/

/*
---- CONTENTS ----

	1: universal reset
	2: html and body
	3: links
	4: layout
	5: header
	6: other 
		
-----------------
*/
/* 1: universal reset -------------------------------------------------------------------

   For more information about this technique, go to: 
	http://leftjustified.net/journal/2004/10/19/global-ws-reset/
	
	What we are doing here is setting padding and margins on all elements to zero, and
	then adding default margins and padding to elements again. This ensures consistency
	across all browsers.
*/

* { padding:0; margin:0;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, 
label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd, blockquote, label, ul, ol { margin-left: 1em; }
fieldset { padding:1em; }
select { min-width:1.5em; } /* Fixes issue in Firefox where drop-down arrow disappears */
h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
h6 {font-size: 0.9em;}

/* 2: html and body ---------------------------------------------------------------------

   I have used Owen Brigg's font sizing technique in this blog skin. 
   You can read about this technique at:
	http://www.thenoodleincident.com/tutorials/typography/index.html
	
	To change the default font size throughout the site, simply change the
	font % tag in the body selector. I have also set the default line-height to 150%
*/
html {
   color: #333;
	background-color: #29636F;
}

body {
	padding: 20px 0 10px 0;
	text-align: center;
	font: 89%/130%  "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
}

/* 3: links -----------------------------------------------------------------------------
*/

a:link, a:visited, a:hover, a:active{color: #006ff7;
}

/* 4: layout ----------------------------------------------------------------------------

   This layout uses the same markup as Layout Gala
	
	I have also given the various layout elements background colors so that you can see 
	exactly what is happening. Simply remove these colors once you are happy with the
	layout.
*/

#container{
   text-align: left; 
	width: 934px;
	margin: 0px auto ;
	background-color: #FFF;
	padding:7px;
}
#header{
}
#wrapper
{
height: 325px;
}

html>body #wrapper
{
width: auto;
height: auto;
min-height: 325px;
}
#contentwrapper{
}
#content{
	overflow:hidden;
	margin-bottom:30px;
}
#subcontent-a{
}
#subcontent-b{
}
#footer{
}
/* 5: Generics -------------------------------------------------------------------------
*/
/* Button Styling */
.sidebar{
	padding: 10px;
}
.sidebar a{
	color: #29636F;
	text-decoration:none;
}
.sidebarrss{
	background: url(../images/custom/sidebarrss.gif) no-repeat 0 50%;
	padding-left:20px;
}
.rightheader{
	float:right;
	color: #929292;
	margin: 5px 0 0 0;
}

.rightheader2{
	float:right;
	color: #929292;
	margin: 0px 0 0 0;
}

.headerrss{
	background: url(../images/custom/headerrss.gif) no-repeat right 50%;
	padding:1px 20px 2px 2px;
	text-decoration: none;
	color: #929292;
	font-weight: normal;
}
.headerrss a{
	text-decoration: none;
	color: #929292;
	font-weight: normal;
}

.shareblock
{
	text-align: center;
}

.shareblock img
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
}

.subscriptions{
	text-align: center;
	float: right;
	overflow: hidden;
}


.CommonImageTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 22px;
	line-height: normal;
	white-space: nowrap;
}

.CommonImageTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	margin: 1px;
}

.CommonImageTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

	

.button{
   font-size: 1.2em;
	font-weight:bold;
}
.adstandardtop{
	margin: 5px auto;
	text-align: center;
}
.adstandardmiddle{
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 1.5em;
	background: url(../images/custom/blogrule.gif) no-repeat 50% 100%;
}
.adstandardbottom{
	margin: 5px auto;
	text-align: center;
}
.adskyscraper{
	margin: 5px auto;
	text-align: center;
}
.adrightfloatedskyscraper{
	float:right;
	width:180px;
	text-align: center;
}
.adfloatedsquare{
	float:right;
	width: 200px;
	height: 200px;
	padding: 0 0 10px 10px;
}
.mainheading{
	font-size: 1.5em;
	font-weight: 800;
	color: #006699;
	border-bottom: 1px solid #BBB;
	padding-bottom: 6px;
}
.subheading{
	font-size: 1.1em;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
	
}
.sideheading{
	font-size: 1.1em;
	padding-bottom: 10px;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
	background: url(../images/custom/sidebarrule.gif) no-repeat 0% 100%;
}
.pager{
	text-align:right;
	margin:10px 0;
	font-weight:bold;
}
.notop{
	margin-top:0;
}
ul.sidelist{
	list-style: none;
	margin:0;
	font-size: 0.9em; 
	line-height:1.2em;
}
ul.sidelist li{
	margin: 0;
	padding-left: 13px;
	padding-bottom: 4px;
	background-image: url(../images/custom/listicon.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}
.sidelistfooter{
	display: block;
	margin: 5px 0 20px 0;
	text-align: right;
	font-size: 0.9em;
}
.smallertext{
	font-size:0.9em;
}
.minitext{
	font-size:0.8em;
}
.darktext{
	color: #333;
}
.lightertext{
	color:#BBB;
}
.clearboth{
	clear:both;
}
blockquote{
	margin: 0 1em;
	padding: 5px;
	font-size:0.9em;
	color: #777777;
	background-color: #EBF2FA;
	border: 1px solid #E4E4E4;
}
/* 6: header ---------------------------------------------------------------------------
*/
#header{
	background: #29636F url(../images/custom/header_background.jpg) no-repeat top left;
}
#header h1
{
margin: 0;
} 
#header h1 a
{
	text-indent: -1000em;
	display: block;
	height: 93px;
	width: 410px;
	background: url(../images/custom/logo.jpg) no-repeat top left;
}
/*This contains the user log in info*/
#welcome{
   float: right;
	padding:4px 8px;
	background-color: #000;
	color: #FFF;
	font-size: 0.8em;
	margin:0;
}
#welcome a{
	color: #FFF;
	font-weight: bold; 
}
/* Header Searchbox */
#searchbox{
   position:relative;
	float: right;
	clear: right;
	padding: 5px;
	font-size: 0.8em;
	color: #FFFFFF;
}
.searchfield{
	padding: 1px;
	width: 9em;
	margin: 2px 5px 2px 0;
	padding: 1px;
	font-size: 0.9em;
	border:1px solid #289a95;
	background-image: url(../images/custom/searchbox.gif);
	background-position: bottom right;
}
.searchbutton{
}
/* This is the top navigation bar */
/*Navigation*/
#navholder{
	border-top: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
	background: url(../images/custom/navbar_background.jpg) repeat-y top left;
	position:relative;
	line-height: 1.2em;
}
#navbar{
  font-size: 1.1em;

}
#navbar ul {
      
      margin:0;
      padding:7px 15px 9px 15px;  
      list-style:none;
      }
		
#navbar li {
   display: inline;
	margin: 0;
	padding: 0 20px 0 0;
}
#navbar a {
	text-decoration: none;
	color: #FFF;
}
#navbar a:hover {
      color:#FFF;
		text-decoration:underline;
}
#navbar .current {
      }
#navbar .current a{
      color:#FFF;
		text-decoration:underline;
      }
/* 7: footer ---------------------------------------------------------------------------
*/
/* This is the bottom navigation bar */
#footer{
   width: 950px;
	font-size: 0.9em;
	color: #fff;
	padding: 5px 0;
	margin: 0 auto;
}
#footer a{
	color: #fff;f
}
.customfooterright{
		float:right;
	}
.customfooterleft{
		float:left;
	}
.tempfooter{
	clear: both;
	display: none;
}


/* 9: tags ------------------------------------------------- */
/* sidebar tagcloud */
ul.tagcloud{
	line-height: 175%;
	list-style: none;
	margin: 0 0 1em 0;
}
/* main page tagcloud */
ul.tagcloudlarge{
	line-height: 200%;
	padding: 0.5em;
	background-color:#f4f4f4;
	text-align: center;
	list-style: none;
	margin: 1em 0;
}
.tagcloud a, .tagcloudlarge a{
	margin: 0 0.2em;
	text-decoration:none;
}
/* hover effect on a tag */
.tagcloud a:hover{
}

.tag1, .tag2, .tag3, .tag4, .tag5, .tag6 {
	margin: 0px;
	padding: 0px;
	display: inline;
}

.tag1 a:link, .tag1 a:visited, .tag1 a:active{
	font-size: 1.15em;
	font-weight: 800;
}

.tag2 a:link, .tag2 a:visited, .tag2 a:active{
	font-size: 1.1em;
	font-weight: 800;
}

.tag3 a:link, .tag3 a:visited, .tag3 a:active{
	font-size: 1.0em;
	font-weight: 600;
}

.tag4 a:link, .tag4 a:visited, .tag4 a:active{
	font-size: 0.95em;
	font-weight: 400;
}

.tag5 a:link, .tag5 a:visited, .tag5 a:active{
	font-size: 0.9em;
	font-weight: 200;
}

.tag6 a:link, .tag6 a:visited, .tag6 a:active{
   font-size: 0.8em;
   font-weight: 100;
}
/* Default table styles */
table.defaulttable {
	border-spacing:1px;
	font-size:1em;
	background-color:#f4f4f4;
	line-height: 1.2em;
	width: 100%
}
table.defaulttable th {
	padding: 3px;
}

table.defaulttable td {
	padding: 2px;
	font-size: 0.9em;
}

table.defaulttable thead th {
	color: #FFF;
	border: 1px solid #FFF;
	font-weight: 800;
	text-align: left;
	background: #29636F url(../images/custom/navbar_background.jpg) repeat-y;
	white-space: nowrap;
}

table.defaulttable tbody tr		{
	background-color:#FFF; 
	text-align:left;
	}
table.defaulttable tbody tr.altrow 	{
	background: #f9f9f9;
	border-top:1px solid #FFF;
}

table.defaulttable tbody tr td { 
	height:50px;
	background: #FFF;
	border: 1px solid #FFF;
	}

table.defaulttable tbody tr.altrow td{ 
	background: #f9f9f9;
	border-top:1px solid #FFF;
	}

table.defaulttable td a:link,table.defaulttable td a:visited {
}
table.defaulttable td a:hover {
}
table.defaulttable a.tableheading{
	display:block;
	font-weight:bold;
	font-size: 1.1em;
}

.defaultformwrapper{
	background-color:#f5f5f5;
	border: 1px solid #bcbcbc;
	padding:10px;
}
.defaultformheading{
	font-size: 1.2em;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	color: #006699;
}
/* Comment and Contact Forms*/
dl.defaultform{
   margin: 0;
	font-size: 0.9em;
}
dl.defaultform dt{
	font-size: 0.9em;
}
dl.defaultform dt label{
	margin: 0px;
}
dl.defaultform dd{
	margin: 0 0 0.5em 0;
}
/* Logn Form Box */
.loginform{
	width:300px;
	margin: 20px auto;
} 
.signupform{
	width:450px;
	margin: 20px auto;
} 
/* default list */
ul.defaultlist{
list-style-type: none;
margin:0;
}
ul.defaultlist li{
margin:0;
clear:both;
}
.defaultlistpost{
	float:right;
	width: 619px;
}
.defaultlistheader{
	font-weight: 400;
	margin:0;
}
.defaultlistcontent{
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 1.2em;
	background: url(../images/custom/blogrule.gif) no-repeat 50% 100%;
}
.defaultlistheader a{
	margin: 0;
	color: #125a79;
	font-size: 1.3em;
	text-decoration: none;
}
.defaultlistheader a:hover{
	text-decoration: underline;
}
.defaultlistfooter{
	font-size: 0.8em;
	line-height: 1.2em;
	margin: 3px 0 5px 0;
	color: #969696;
}
.defaultlistnolink a{
	color: #969696;
	text-decoration:none;
}
.defaultlistcommentbox{
display: none;
}
.defaultlisticon{
	float:left;
	width: 50px;
	height: 75px;
}
.vertspace{
	margin: 10px 0;
}
.floatright{
	float:right;
}
.floatleft{
	float:left;
}
/* This is the message that displays when someone has posted a new comment */
#commentmessage{
	font-size: 0.9em;
	padding: 0.5em;
	color: #006600;
	background: #ECF7D4;
}
.commentformwrapper{
	background-color:#f5f5f5;
	border: 1px solid #bcbcbc;
	padding:10px;
}
.commentformheading{
	font-size: 1.2em;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	color: #006699;
}
/* Comment and Contact Forms*/
dl.commentform{
   margin: 0;
	font-size: 0.9em;
}
dl.commentform dt{
	font-size: 0.9em;
}
dl.commentform dt label{
	margin: 0px;
}
dl.commentform dd{
	margin: 0 0 0.5em 0;
}

/* textbox */
.textline{
	width: 20em;
	padding: 2px;
	font-size: 1em;
}
/* multiline textbox*/
.textmultiline{
	width: 40em;
	height: 10em;
	padding: 2px;
	font: 100%  "Segoe UI", Arial, Helvetica, sans-serif;
}
/* --- 5.6: entrycomments ---------------------------------------

   The entrycomments control publishes a list of comments made to a post.
	I use a definition list for these comments.
*/
ul.comments{
	margin: 0px;
	color: #777777;
	list-style:none;
}
ul.comments li{
 clear:both;
 margin:0;
 width: 619px;
}
.commenthead{
   padding: 0 0 6px 0;
	width: 619px;
	background: url(../images/custom/commenttopborder.gif) repeat-x bottom left;
}
.commentheadsaid{
	padding: 0 20px 6px 0;
	background: transparent url(../images/custom/commenttop.gif) no-repeat bottom right;
}
.commentheadsaidowner{
	padding: 0 20px 6px 0;
	background: transparent url(../images/custom/commenttop_owner.gif) no-repeat bottom right;
}
.commentcontent{
   
	margin: 0px 0 0 0;
	padding:15px;
	font-size:0.9em;
	overflow: hidden;
	border: 1px solid #bcbcbc;
	border-bottom:0px;
	border-top:0px;
}
.commentfooter{
	font-size: 0.8em;
	width: 619px;
	margin: 0px 0 20px 0;
	color: #999;
	border-width: 0;
	padding:5px 0 0 0;
	background: url(../images/custom/commentbottom.gif) repeat-x top left;
}

/* Comment by blog owner - This lets you make a different style to higlight 
   comments made by blog owners
*/
.commentowner{background-color:#EDEDED;color:#000;}
/* Comment by non blog owner*/
/* Old Common Stylesheet*/
/* Pane Tabs --------------------------------------------------------------------------*/
/*
TabPane Styles
*/

/*
Common Styles
*/


/*
TabPane Styles
*/

.CommonPane
{
	padding: 0px;

	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-width: 0px;
	background-color: #ffffff;
	padding: 8px;
}

.CommonPaneTabSet
{

	font-size: 11px;
	padding: 0px;
	padding-bottom: 0px;
	background-image: url(../images/common/tabset.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	white-space: nowrap;
}

.CommonPaneTab
{
	padding-right: 4px;
	background-image: url(../images/common/tab-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTab1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTab2
{
	padding: 4px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
}

.CommonPaneTabSelected
{
	padding-right: 4px;
	background-image: url(../images/common/tab-selected-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabSelected1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-selected-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabSelected2
{
	padding: 4px;
	padding-top: 3px;
	padding-bottom: 5px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab-selected.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
}

.CommonPaneTabHover
{
	padding-right: 4px;
	background-image: url(../images/common/tab-hover-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabHover1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-hover-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabHover2
{
	padding: 4px;
	cursor: pointer;
	white-space: nowrap;
	height: 13px;
	background-image: url(../images/common/tab-hover.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
}

/* Inline tag editor */
.CommonInlineTagEditor
{
   width:302px;
	border: solid 1px #BBBBBB;
	background-color: #EBF2FA;
}
.CommonInlineTagEditor textarea
{
   margin:4px; 
	width: 286px!important; 
	padding: 2px;
	height:50px;
}
/*
Form Styles
*/

.CommonFormArea
{
}

.CommonFormTitle
{
	color: #999999;
	font-size: 140%;
	font-weight: bold;
	padding: 4px;
	padding-left: 0px;
	margin: 0px;
}

.CommonFormDescription
{
	padding: 2px;
	padding-left: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

TD.CommonFormFieldName
{
	color: #666666;
	padding: 2px;
	padding-right: 8px;
	font-weight: bold;
}

DIV.CommonFormFieldName
{
	color: #666666;
	padding: 2px;
	padding-top: 8px;
	font-weight: bold;
}

TD.CommonFormFieldDescription
{
	color: #000000;
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

DIV.CommonFormFieldDescription
{
	color: #000000;
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

TD.CommonFormField
{
	color: #000000;
	padding: 2px;
}

DIV.CommonFormField
{
	color: #000000;
	padding: 2px;
}

.CommonFormActionButtons
{
	color: #000000;
	padding: 2px;
	text-align: right;
}

/*
Join Form Styles
*/

.JoinTitle
{
	font-size: 1.1em;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
	margin-top: 20px;
}

.JoinArea
{
	width:650px;
	font-size: 100%;
	color: #000000;
	padding: 8px;
	padding-bottom: 16px;
	text-align: left;
}
.CommonPopupArea
{
	padding: 8px;
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}
.CommonTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 3px 4px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.CommonTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.CommonTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonTextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.CommonModalMask
{
	opacity: .6;
	filter: alpha(opacity=60);
	background-color: #333333;
}

.CommonModal
{
	width: 100%;
	border-left: 3px solid #D8DDE3;
	border-right: 3px solid #D8DDE3;
	background-color: transparent;
}

.CommonModalTitle
{
   opacity: .8;
	filter: alpha(opacity=80);
	width:100%;
	font-size: 1em;
	font-weight: 800;
	color: #05344b;
	background-color: #EBF2FA;
	text-align:left;
	padding:3px 0 3px 0;
}

.CommonModalClose
{
	width: 41px;
	height: 17px;
	background-image: url(../images/custom/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
	z-index:1;
	background-color:#FFF;
}

.CommonModalContent
{
	background-color: #ffffff;
	width: 100%
}

.CommonModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	opacity: .8;
	filter: alpha(opacity=80);
	width:100%;
	background-color: #EBF2FA;
}

.CommonModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControl
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControlActive
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
}
/*
List 
*/

.CommonListArea
{
	padding-bottom: 8px;
	padding-top: 8px;
}

.CommonListTitle
{
	font-size: 1.1em;
	margin-bottom: 0.5em;
	font-weight: 800;
	color: #05344b;
}

.CommonListTitle A, .CommonListTitle A:VISITED, .CommonListTitle A:ACTIVE, .CommonListTitle A:HOVER
{
}

.CommonListHeaderLeftMost
{
	text-align: left;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	background-color: #eeeeee;
	color: #666666;
	font-size: 80%;
	font-weight: bold;
}

.CommonListHeader
{
	text-align: left;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-left-width: 0px;
	border-color: #eeeeee;
	background-color: #eeeeee;
	color: #666666;
	font-size: 80%;
	font-weight: bold;
}

.CommonListCellLeftMost
{
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-color: #eeeeee;
	color: #333333;
	font-size: 80%;
}

.CommonListCell
{
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-color: #eeeeee;
	color: #333333;
	font-size: 80%;
	text-align: left;
}

















/* -------------------------------------------------------------------------------------
/*Hacks and Other Stuff*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}
.clearfixleft:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: left; 
    visibility: hidden;
}

.clearfixleft {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* Temporary Classes for Debugging */
.testbox{
	background-color: #CCE5FF;
	padding:20px;
	float:right;
	clear:right;
}
.testbox2{
	background-color: #E5FFCC;
	padding: 20px;
	float: right;
	clear: right;
}
.CommonRateControl{
	display:block;
}