BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
DIV {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
SPAN {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
FORM {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
INPUT.font {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
.copy {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; bgcolor: "#ffffff" vlink="#027d8d" link="#027d8d"
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
PRE {
	FONT-SIZE: x-small
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-ALIGN: left; FONT-VARIANT: normal
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.portalNAV {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 16px
}
.noLINE A:link {
	COLOR: #06538a; TEXT-DECORATION: none
}
.noLINE A:visited {
	COLOR: #06538a; TEXT-DECORATION: none
}
.noLINE A:hover {
	COLOR: #06538a; TEXT-DECORATION: underline
}
.noLINE A:active {
	COLOR: #06538a; TEXT-DECORATION: none
}
.searchInput {
	FONT-SIZE: 12px
}
.dobbsWelcome {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-LEFT: 15px; COLOR: #ffd169; LINE-HEIGHT: 20px
}
.redDate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600
}
.userLOG {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc3300; LINE-HEIGHT: 20px
}
.bloglinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #093
}
.BOLD {
	FONT-WEIGHT: bold
}
.eight {
	FONT-SIZE: 8px
}
.eightBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 8px
}
.nine {
	FONT-SIZE: 9px
}
.nineBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 9px
}
.ten {
	FONT-SIZE: 10px
}
.tenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px
}
.eleven {
	FONT-SIZE: 11px
}
.elevenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.twelve {
	FONT-SIZE: 12px
}
.twelveBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.thirteen {
	FONT-SIZE: 13px
}
.thirteenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.fourteen {
	FONT-SIZE: 14px
}
.fourteenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.fifteen {
	FONT-SIZE: 15px
}
.fifteenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
.sixteen {
	FONT-SIZE: 16px
}
.sixteenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.seventeen {
	FONT-SIZE: 17px
}
.seventeenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 17px
}
.eighteen {
	FONT-SIZE: 18px
}
.eighteenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.WHITEten {
	FONT-SIZE: 10px; COLOR: #ffffff
}
.WHITEtenBOLD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff
}
.pointerhand {
	CURSOR: hand
}
.BARTitles {
	DISPLAY: inline; FONT-SIZE: 13px; LEFT: 4px; COLOR: #ffffff; LINE-HEIGHT: 18px; POSITION: relative
}
.miniBARTitles {
	DISPLAY: inline; FONT-SIZE: 13px; LEFT: 4px; COLOR: #ffffff; LINE-HEIGHT: 16px; POSITION: relative
}
A.miniJobBoxtitles:link {
	FONT-SIZE: 10px; RIGHT: 2px; COLOR: #ffffff; POSITION: absolute; TOP: 4px; TEXT-DECORATION: none
}
A.miniJobBoxtitles:visited {
	FONT-SIZE: 10px; RIGHT: 2px; COLOR: #ffffff; POSITION: absolute; TOP: 4px; TEXT-DECORATION: none
}
A.miniJobBoxtitles:hover {
	COLOR: #fbb543; TEXT-DECORATION: underline
}
.BARTitlesWRAP {
	DISPLAY: inline; FONT-SIZE: 13px; LEFT: 4px; COLOR: #ffffff; LINE-HEIGHT: 14px; POSITION: relative
}
.goTo {
	DISPLAY: inline; FONT-SIZE: 11px; LEFT: 370px; WIDTH: 120px; COLOR: #cde5e8; LINE-HEIGHT: 18px; POSITION: absolute
}
.goTo2 {
	DISPLAY: inline; FONT-SIZE: 11px; LEFT: 300px; WIDTH: 120px; COLOR: #cde5e8; LINE-HEIGHT: 18px; POSITION: absolute
}
.goToMINI {
	DISPLAY: inline; FONT-SIZE: 11px; LEFT: 130px; WIDTH: 120px; COLOR: #eeeecc; LINE-HEIGHT: 16px; POSITION: absolute; HEIGHT: 16px
}
.goToMediaCenter {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN-LEFT: 39px; COLOR: #eeeecc; LINE-HEIGHT: 18px
}
.more {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN-LEFT: 39px; COLOR: #eeeecc; LINE-HEIGHT: 18px; POSITION: relative
}
.more2 {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN-LEFT: 30px; COLOR: #eeeecc; LINE-HEIGHT: 18px; POSITION: relative
}
.author {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-STYLE: italic
}
.author2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-STYLE: italic
}
.blogName {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; LINE-HEIGHT: 20px
}
.blogName2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; LINE-HEIGHT: 15px
}
.blogTitle {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; LINE-HEIGHT: 15px
}
.LRGheadline {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 16px; LINE-HEIGHT: 20px
}
.MCheadline {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 16px
}
.MEDheadline {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 16px
}
.BOLDtopics {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 16px; LINE-HEIGHT: 25px
}
.SMALLheadline {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 14px
}
.basicheadline {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 14px
}
.green9 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #090
}
H5 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 20px; LINE-HEIGHT: 23px
}
.articleHeadline {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 20px; LINE-HEIGHT: 23px
}
H6 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 20px
}
.TOPICHeadline {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 20px
}
.utilityLinks {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 18px
}
.searchHeader {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #349f2c; LINE-HEIGHT: 23px
}
.SMredTopic {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc3300
}
.articleNAV {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 14px
}
.greenBlurb {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6609
}
.articleBody {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 15px
}
.red11titles {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600
}
.deptLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.deptLinks A:link {
	COLOR: #006699; TEXT-DECORATION: none
}
.deptLinks A:visited {
	COLOR: #006699; TEXT-DECORATION: none
}
.deptLinks A:hover {
	COLOR: #006699; TEXT-DECORATION: underline
}
.deptLinks A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
.eventBARTitles {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 4px; COLOR: #ffffff; LINE-HEIGHT: 18px
}
.eventBARTitles A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.eventBARTitles A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.eventBARTitles A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.eventBARTitles A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.eventBARTitles A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.fp:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffc20e; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
A.fp:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffc20e; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
A.fp:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.fphead {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 4px; COLOR: white; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
A.fphead:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 4px; COLOR: #ff6600; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
.fpsubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; MARGIN-BOTTOM: 4px; COLOR: white; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
.fpsubhead:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; MARGIN-BOTTOM: 4px; COLOR: #ff6600; FONT-FAMILY: verdana, serif; TEXT-DECORATION: none
}
