#TopAdContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; WIDTH: 900px; PADDING-TOP: 15px; HEIGHT: 90px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; layer-background-color: #FFFFFF
}
#BottomAdContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; WIDTH: 900px; PADDING-TOP: 15px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; layer-background-color: #FFFFFF
}
.welcomePad {
	MARGIN: 3px 12px 4px 10px
}
.portalNAVPad {
	MARGIN: 3px 10px 4px
}
.Bspace4 {
	MARGIN-BOTTOM: 4px
}
.Bspace5 {
	MARGIN-BOTTOM: 5px
}
.Bspace8 {
	MARGIN-BOTTOM: 8px
}
.Bspace10 {
	MARGIN-BOTTOM: 10px
}
.Bspace15 {
	MARGIN-BOTTOM: 15px
}
.Vspace10 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.Vlinespace {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 30px
}
.Vspace20 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 20px
}
.LColMargin {
	MARGIN: 0px 0px 10px 5px
}
#GreenContainerBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 512px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#GreenBAR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 512px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
#GreenContainerBox2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 405px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#GreenBAR2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 405px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
#ResearchContainerBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 512px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d6ecd5; layer-background-color: #D6ECD5
}
#ResearchContainerBox2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 405px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d6ecd5; layer-background-color: #D6ECD5
}
.PaddingStyle1 {
	MARGIN: 5px 10px 10px
}
.PaddingStyle2 {
	MARGIN: 5px 3px 10px 10px
}
.PaddingStyle3 {
	MARGIN: 5px 1px 10px 5px
}
.PaddingStyle4 {
	MARGIN: 5px 3px 10px
}
#GreenContainerBoxSM {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 226px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #cde5e8; layer-background-color: #CDE5E8
}
#GreenBARSM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 226px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#GreenContainerBoxSM2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 197px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#GreenBARSM2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 197px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#MEDIAcenter {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 230px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #e8f2d7; layer-background-color: #E8F2D7
}
#MEDIAcenterBAR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 230px; PADDING-TOP: 0px; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
#MEDIAcenterMINI {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 185px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #e8f2d7; layer-background-color: #E8F2D7
}
#MEDIAcenterBARMINI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 185px; PADDING-TOP: 0px; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
.MEDIAcenterPad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#DepartmentBOX {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 154px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffd169; layer-background-color: #FFD169
}
#DepartmentBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 154px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
.DepartmentPad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.DeptLinkPad {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 4px
}
#dividerLine {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 154px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#greenLine391 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; WIDTH: 391px; PADDING-TOP: 0px; BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
#greenLine352 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; WIDTH: 352px; PADDING-TOP: 0px; BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
#EventBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 156px; PADDING-TOP: 0px; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
#RightColGreenBar {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 191px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
#rightcolBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; WIDTH: 190px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#ArticleRightColGreenBar {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; WIDTH: 181px; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
#ArticlerightcolBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; WIDTH: 170px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#SKYSIZERightColGreenBar {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; WIDTH: 159px; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
#SKYSIZERightColGreenBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; WIDTH: 150px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#MarketPlaceBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 598px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#MarketPlaceBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 598px; PADDING-TOP: 0px; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
.MarketPlacePad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#SponsorLinkBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 288px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#SponsorLinkBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 288px; PADDING-TOP: 0px; BACKGROUND-COLOR: #8abc3a; layer-background-color: #8ABC3A
}
.SponsorLinkPad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#COPYRIGHTContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; Z-INDEX: 1; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 15px; WIDTH: 900px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; layer-background-color: #FFFFFF
}
#SubscriptionBOX {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 398px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#SubscriptionBAR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 398px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
.SubscriptionPad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.subFORMpadding {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px
}
.PageNumbers {
	PADDING-RIGHT: 80px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.articlepadding {
	MARGIN: 0px 20px 10px 13px
}
.TopicColPadding {
	MARGIN: 0px 10px 10px
}
#TOCBOX {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 148px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #cde5e8; layer-background-color: #CDE5E8
}
#TOCBAR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 148px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
.TOCPad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 5px
}
#TopicBoxes330 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 328px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar330 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 328px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#TopicBoxes230 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 228px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar230 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 228px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#TopicBoxes250 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 248px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar250 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 248px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#TopicBoxes198 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 196px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar198 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 196px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#DeptHomeTop5Box {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 173px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#DeptHomeTop5Bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 173px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#TopicBoxes197 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 195px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar197 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 195px; PADDING-TOP: 0px; BACKGROUND-COLOR: #027d8d; layer-background-color: #027D8D
}
#TopicBoxes175 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 173px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar175 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 173px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
#TopicBoxes120 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 118px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#TopicBar120 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 118px; PADDING-TOP: 0px; BACKGROUND-COLOR: #349f2c; layer-background-color: #349F2C
}
#SponsorBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 400px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#SponsorBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 400px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ff6600; layer-background-color: #FF6600
}
.SPONSORPad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.ForumPad {
	MARGIN: 5px
}
#TechCareersBox {
	CLEAR: both; BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 400px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#FocusSEARCHbox {
	BORDER-RIGHT: #c5c9a8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c5c9a8 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c5c9a8 1px solid; WIDTH: 194px; PADDING-TOP: 0px; BORDER-BOTTOM: #c5c9a8 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#FocusSEARCHbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 194px; PADDING-TOP: 0px; BACKGROUND-COLOR: #999966; layer-background-color: #999966
}
.FocusSearchPad {
	MARGIN: 5px 5px 7px 15px
}
.TipsSearchPad {
	MARGIN: 5px 5px 4px 8px
}
#outlineGreenBox160 {
	BORDER-RIGHT: #999966 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999966 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999966 1px solid; WIDTH: 160px; PADDING-TOP: 0px; BORDER-BOTTOM: #999966 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#outlineGreenBar161 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; WIDTH: 161px; PADDING-TOP: 2px; BACKGROUND-COLOR: #999966; layer-background-color: #999966
}
#outlineGreenBox183 {
	BORDER-RIGHT: #999966 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999966 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999966 1px solid; WIDTH: 183px; PADDING-TOP: 0px; BORDER-BOTTOM: #999966 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#outlineGreenBar184 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; WIDTH: 184px; PADDING-TOP: 2px; BACKGROUND-COLOR: #999966; layer-background-color: #999966
}
#pure UL {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
#pure LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px 8px; LINE-HEIGHT: 1.2; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal; POSITION: relative
}
#pure .link {
	DISPLAY: block; WIDTH: 205px; PADDING-TOP: 2px
}
#RcolList UL {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
#RcolList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 8px; COLOR: #cc3300; LINE-HEIGHT: 1.8; PADDING-TOP: 0px; LIST-STYLE-TYPE: square; POSITION: relative
}
#RcolList .link {
	DISPLAY: block; WIDTH: 210px; PADDING-TOP: 2px
}
#MCgreenbar {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; FLOAT: left; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 1px; WIDTH: 400px; PADDING-TOP: 3px; BACKGROUND-COLOR: #349f2c; TEXT-ALIGN: left; layer-background-color: #349F2C
}
#MCgreenbaraudio {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; FLOAT: left; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 1px; WIDTH: 400px; PADDING-TOP: 3px; BACKGROUND-COLOR: #349f2c; TEXT-ALIGN: left; layer-background-color: #349F2C
}
#MCgreenbarvideo {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; FLOAT: left; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 1px; WIDTH: 400px; PADDING-TOP: 3px; BACKGROUND-COLOR: #8abc3a; TEXT-ALIGN: left; layer-background-color: #8ABC3A
}
#MCgreenbarnetsem {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; FLOAT: left; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 1px; WIDTH: 400px; PADDING-TOP: 3px; BACKGROUND-COLOR: #027d8d; TEXT-ALIGN: left; layer-background-color: #027D8D
}
#MCgreenoutline {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 400px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
#MCholder {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; WIDTH: 380px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.BarMCHead {
	FONT-SIZE: 13px; COLOR: #ffffff
}
#MCshowalign {
	MARGIN-TOP: 0px; DISPLAY: inline; FONT-SIZE: 11px; LEFT: 280px; MARGIN-LEFT: 20px; COLOR: #ffffff; POSITION: absolute
}
.MCshowmelink {
	FONT-SIZE: 11px; COLOR: #ffffff
}
.MCpadding {
	MARGIN: 0px 10px 10px
}
.MCpaddingOpen {
	MARGIN: 10px 20px 10px 10px
}
.add2ddj {
	CURSOR: pointer; COLOR: #027d8d
}
.add2header {
	FONT-SIZE: 9px; COLOR: #027d8d
}
.add2boarder {
	PADDING-BOTTOM: 5px; PADDING-TOP: 25px
}
#TestDriveBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 191px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
.clear:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clear {
	MIN-HEIGHT: 1px
}
 HTML .clear {
	HEIGHT: 1px
}
.DeptLinkPadSilverlight {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 4px; BACKGROUND-COLOR: #0099cc; layer-background-color: #FFFFFF
}
.deptLinksSilverlight {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.deptLinksSilverlight:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.deptLinksSilverlight:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.deptLinksSilverlight:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#DepartmentBOXSilverlight {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0099cc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 154px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #0099cc; layer-background-color: #0099CC
}
#GreenContainerBoxFP {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #000000; MARGIN-BOTTOM: 0px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 0px; WIDTH: 165px; BORDER-TOP-COLOR: #000000; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #000000; layer-background-color: #FFFFFF
}
.PaddingStyleFP {
	MARGIN: 5px 5px 10px; TEXT-ALIGN: center
}
