PRE {
	BORDER-RIGHT: #5babf9 1px solid; BORDER-TOP: #5babf9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #5babf9 1px solid; BORDER-BOTTOM: #5babf9 1px solid; FONT-FAMILY: courier, serif; BACKGROUND-COLOR: #f0fbfb
}
.code {
	MARGIN: 0px; OVERFLOW: auto; WIDTH: 500px
}
.listcode {
	BORDER-RIGHT: #5babf9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5babf9 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #5babf9 1px solid; WIDTH: 500px; PADDING-TOP: 5px; BORDER-BOTTOM: #5babf9 1px solid; FONT-FAMILY: courier, serif; BACKGROUND-COLOR: #f0fbfb
}
BLOCKQUOTE {
	FONT-FAMILY: courier
}
.thumbstack {
	FLOAT: right
}
.thumbnail {
	FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; WIDTH: 500px; TEXT-ALIGN: center
}
.thumbnailimage {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 500px; BORDER-BOTTOM: medium none
}
.smallthumbnail {
	FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; WIDTH: 200px; TEXT-ALIGN: center
}
.smallthumbnailimage {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 200px; BORDER-BOTTOM: medium none
}
.caption {
	BORDER-RIGHT: #5babf9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5babf9 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #5babf9 1px solid; WIDTH: 500px; PADDING-TOP: 5px; BORDER-BOTTOM: #5babf9 1px solid; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #d2f4ec; TEXT-ALIGN: left
}
.smallcaption {
	BORDER-RIGHT: #5babf9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5babf9 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #5babf9 1px solid; WIDTH: 200px; PADDING-TOP: 5px; BORDER-BOTTOM: #5babf9 1px solid; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #d2f4ec; TEXT-ALIGN: left
}
.thumbnail A:link {
	TEXT-DECORATION: none
}
.thumbnail A:visited {
	TEXT-DECORATION: none
}
.thumbnail A:active {
	TEXT-DECORATION: none
}
.thumbnail A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.illowide {
	BORDER-RIGHT: #5babf9 1px solid; BORDER-TOP: #5babf9 1px solid; BORDER-LEFT: #5babf9 1px solid; WIDTH: 498px; BORDER-BOTTOM: #5babf9 1px solid
}
.smallcap {
	BORDER-RIGHT: #8182f5 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8182f5 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 7pt; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8182f5 1px solid; WIDTH: 500px; PADDING-TOP: 2px; BORDER-BOTTOM: #8182f5 1px solid; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #a5f3f3; TEXT-ALIGN: center
}
