BODY {
	FONT-SIZE: 62.5%; COLOR: #333; FONT-FAMILY: 'Lucida Grande', Verdana, Arial, Sans-Serif; BACKGROUND-COLOR: #aaaaaa; TEXT-ALIGN: center
}
#topbar {
	BACKGROUND: #ffffe6; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 23px; BORDER-BOTTOM: black 1px solid; HEIGHT: 25px; max-width: 750px
}
#topbar A {
	PADDING-RIGHT: 5px; FONT-FAMILY: 'Lucida Grande', Verdana, Arial, Sans-Serif; TEXT-ALIGN: right
}
#topbar {
	PADDING-RIGHT: 5px; FONT-FAMILY: 'Lucida Grande', Verdana, Arial, Sans-Serif; TEXT-ALIGN: right
}
#pagebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 750px; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; HEIGHT: 35px
}
#pagebar A {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 1.4em; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 8px; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Sans-Serif; HEIGHT: 27px; TEXT-ALIGN: center
}
#pagebar A:hover {
	BACKGROUND-COLOR: #cecece; TEXT-DECORATION: none
}
#pagebar LI {
	LIST-STYLE-TYPE: none
}
.entry {
	FONT-SIZE: 1.2em; OVERFLOW: hidden; FONT-FAMILY: Verdana
}
#page {
	BORDER-RIGHT: #959596 1px solid; BORDER-TOP: #959596 1px solid; BORDER-LEFT: #959596 1px solid; WIDTH: 750px; BORDER-BOTTOM: #959596 1px solid; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#header {
	BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #73a0c5
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 45px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN: -70px 0px 0px; WIDTH: 450px; PADDING-TOP: 0px
}
#content .entry {
	LINE-HEIGHT: 1.4em
}
.alt {
	BORDER-TOP: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#footer {
	BACKGROUND-COLOR: #eee
}
SMALL {
	FONT-SIZE: 0.9em; LINE-HEIGHT: 1.5em; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
SMALL.cats {
	FONT-SIZE: 0.9em; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Helvetica, Verdana
}
H1 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif
}
H2 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif
}
H3 {
	FONT-WEIGHT: bold; FONT-FAMILY: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif
}
H1 {
	FONT-SIZE: 4em; TEXT-ALIGN: center
}
.description {
	FONT-SIZE: 1.2em; TEXT-ALIGN: center
}
H2 {
	FONT-SIZE: 1.8em
}
H2.pagetitle {
	FONT-SIZE: 1.6em
}
#sidebar H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1em; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: white; TEXT-INDENT: 10px; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Sans-Serif; BACKGROUND-COLOR: #5581c0
}
H3 {
	FONT-SIZE: 1.3em
}
H1 {
	COLOR: #b0c7ff; TEXT-DECORATION: none
}
H1 A {
	COLOR: #b0c7ff; TEXT-DECORATION: none
}
H1 A:hover {
	COLOR: #b0c7ff; TEXT-DECORATION: none
}
H1 A:visited {
	COLOR: #b0c7ff; TEXT-DECORATION: none
}
.description {
	COLOR: #b0c7ff; TEXT-DECORATION: none
}
H2 {
	COLOR: #333
}
H2 A {
	COLOR: #333
}
H2 A:visited {
	COLOR: #333
}
H3 {
	COLOR: #333
}
H3 A {
	COLOR: #333
}
H3 A:visited {
	COLOR: #333
}
H2 {
	TEXT-DECORATION: none
}
H2 A {
	TEXT-DECORATION: none
}
H2 A:hover {
	TEXT-DECORATION: none
}
H2 A:visited {
	TEXT-DECORATION: none
}
H3 {
	TEXT-DECORATION: none
}
H3 A {
	TEXT-DECORATION: none
}
H3 A:hover {
	TEXT-DECORATION: none
}
H3 A:visited {
	TEXT-DECORATION: none
}
#sidebar H2 {
	TEXT-DECORATION: none
}
#wp-calendar CAPTION {
	TEXT-DECORATION: none
}
CITE {
	TEXT-DECORATION: none
}
.entry P A:visited {
	COLOR: #b85b5a
}
.commentlist LI {
	FONT: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif
}
#commentform INPUT {
	FONT: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif
}
#commentform TEXTAREA {
	FONT: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif
}
.commentlist LI {
	FONT-WEIGHT: bold
}
.commentlist CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; FONT-STYLE: normal
}
.commentlist CITE A {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; FONT-STYLE: normal
}
.commentlist P {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; LINE-HEIGHT: 1.5em
}
.commentlist .avatar {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid
}
P.about {
	FONT-SIZE: 1.2em; FONT-FAMILY: Arial, Verdana, Sans-Serif; BACKGROUND-COLOR: #f8f8f8; TEXT-ALIGN: center
}
#commentform P {
	FONT-FAMILY: 'Lucida Grande', Verdana, Arial, Sans-Serif
}
.commentmetadata {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
#sidebar {
	FONT: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif
}
SMALL {
	COLOR: #777
}
#sidebar UL UL LI {
	COLOR: #777
}
#sidebar UL OL LI {
	COLOR: #777
}
.nocomments {
	COLOR: #777
}
.postmetadata {
	COLOR: #777
}
BLOCKQUOTE {
	COLOR: #777
}
STRIKE {
	COLOR: #777
}
CODE {
	FONT: 1.1em 'Courier New', Courier, Fixed
}
#pagebar LI.page_item {
	DISPLAY: inline
}
ACRONYM {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
abbr {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
SPAN.caps {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
A {
	COLOR: #06c; TEXT-DECORATION: none
}
H2 A:hover {
	COLOR: #06c; TEXT-DECORATION: none
}
H3 A:hover {
	COLOR: #06c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #147; TEXT-DECORATION: underline
}
#wp-calendar #prev A {
	FONT-SIZE: 9pt
}
#wp-calendar A {
	TEXT-DECORATION: none
}
#wp-calendar CAPTION {
	FONT: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif; TEXT-ALIGN: center
}
#wp-calendar TH {
	TEXT-TRANSFORM: capitalize; FONT-STYLE: normal
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 750px; PADDING-TOP: 0px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 140px; BACKGROUND-COLOR: #73a0c5
}
#headerimg {
	BACKGROUND-IMAGE: url(images/blue_flower/head.jpg); MARGIN: 0px; WIDTH: 100%; HEIGHT: 140px
}
.post {
	MARGIN: 0px 0px 30px
}
.widecolumn .post {
	MARGIN: 0px
}
.postmetadata {
	CLEAR: both
}
.narrowcolumn .postmetadata {
	PADDING-TOP: 5px
}
.widecolumn .postmetadata {
	MARGIN: 30px 0px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 750px; PADDING-TOP: 0px
}
#footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
H1 {
	MARGIN: 0px; PADDING-TOP: 40px
}
.description {
	MARGIN-TOP: -5px; TEXT-ALIGN: center
}
H2 {
	MARGIN: 30px 0px 0px
}
H2.pagetitle {
	MARGIN-TOP: 30px; TEXT-ALIGN: center
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 0px; PADDING-TOP: 0px
}
H3.comments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 40px auto 20px; PADDING-TOP: 0px
}
P IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
IMG.centered {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
IMG.alignright {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 2px 7px; PADDING-TOP: 4px
}
IMG.alignleft {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 7px 2px 0px; PADDING-TOP: 4px
}
.alignright {
	FLOAT: right
}
.alignleft {
	FLOAT: left
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: -10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UNKNOWN {
	MARGIN: 7px 0px 8px 10px
}
.entry UL LI:unknown {
	content: "o "
}
#sidebar UL UL LI:unknown {
	content: "o "
}
.entry OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.entry OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.postmetadata UL {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.postmetadata LI {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL LI {
	LIST-STYLE-IMAGE: none; MARGIN-BOTTOM: 20px; LIST-STYLE-TYPE: none
}
#sidebar UL P {
	MARGIN: 4px 0px 8px
}
#sidebar UL SELECT {
	MARGIN: 4px 0px 8px
}
#sidebar UL UL {
	BORDER-RIGHT: #2e5d99 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #2e5d99 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #2e5d99 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #2e5d99 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#sidebar UL OL {
	BORDER-RIGHT: #2e5d99 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #2e5d99 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #2e5d99 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #2e5d99 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#sidebar UL DIV {
	BORDER-RIGHT: #2e5d99 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #2e5d99 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #2e5d99 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #2e5d99 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#sidebar UL DIV.textwidget UL {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#sidebar UL UL UL {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px 0px 0px 10px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar UL OL {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px 0px 0px 10px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar UL DIV DIV {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
#sidebar UL OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
#searchform {
	MARGIN: 10px auto; TEXT-ALIGN: center
}
#sidebar #searchform #s {
	PADDING-RIGHT: 2px; MARGIN-TOP: 8px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 115px; PADDING-TOP: 2px
}
#sidebar #searchsubmit {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.entry FORM {
	TEXT-ALIGN: center
}
SELECT {
	WIDTH: 130px
}
#commentform INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 1px 0px; WIDTH: 170px; PADDING-TOP: 2px
}
#commentform TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px
}
#commentform #submit {
	FLOAT: right; MARGIN: 0px
}
.alt {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.commentlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: justify
}
.commentlist LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 15px 0px 3px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.commentlist P {
	MARGIN: 10px 5px 10px 0px
}
#commentform P {
	MARGIN: 5px 0px
}
.nocomments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.commentmetadata {
	DISPLAY: block; MARGIN: 0px
}
#sidebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: -60px 0px 0px 530px; WIDTH: 200px; PADDING-TOP: 20px
}
#sidebar FORM {
	MARGIN: 0px
}
#wp-calendar {
	MARGIN: 10px auto 0px; WIDTH: 155px; empty-cells: show
}
#wp-calendar #next A {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
#wp-calendar #prev A {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
#wp-calendar A {
	DISPLAY: block
}
#wp-calendar CAPTION {
	WIDTH: 100%; TEXT-ALIGN: center
}
#wp-calendar TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
#wp-calendar TD.pad:hover {
	BACKGROUND-COLOR: #fff
}
ACRONYM {
	CURSOR: help
}
abbr {
	CURSOR: help
}
SPAN.caps {
	CURSOR: help
}
ACRONYM {
	BORDER-BOTTOM: #999 1px dashed
}
abbr {
	BORDER-BOTTOM: #999 1px dashed
}
BLOCKQUOTE {
	PADDING-LEFT: 20px; MARGIN: 15px 30px 0px 10px; BORDER-LEFT: #ddd 5px solid
}
BLOCKQUOTE CITE {
	DISPLAY: block; MARGIN: 5px 0px 0px
}
.center {
	TEXT-ALIGN: center
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #aaaaaa; HEIGHT: 1px; BACKGROUND-COLOR: #aaaaaa; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.navigation {
	MARGIN-TOP: 10px; DISPLAY: block; MARGIN-BOTTOM: 30px; TEXT-ALIGN: center
}
#akismetwrap #akismetstats {
	MARGIN: 0px auto
}
