#Common {
	
}
#CommonLeftColumn .CommonSidebar {
	MARGIN: 0px
}
#CommonLeftColumn .CommonSidebarArea {
	MARGIN: 0px
}
#CommonLeftColumn .CommonSidebarHeader {
	BACKGROUND: url(../images/sibear_header_genback.gif) #7a7a7a repeat-y right 50%; COLOR: #fff; LINE-HEIGHT: 33px; HEIGHT: 33px; TEXT-ALIGN: center
}
#CommonLeftColumn .CommonSidebarContent {
	
}
.CommonFloatArea {
	WIDTH: 150px
}
.CommonTabBar {
	BORDER-BOTTOM-WIDTH: 0px
}
.CommonContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; OVERFLOW: hidden; WIDTH: 473px; PADDING-TOP: 0px
}
.CommonDescription {
	PADDING-TOP: 8px
}
.FileListCellLeftMostImageOnly {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.FileFileName {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
.FileFileDescription {
	MARGIN-TOP: 2px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 2px
}
.FileFileRating {
	MARGIN-TOP: 2px; PADDING-LEFT: 20px
}
.FileFileDetail {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; COLOR: #666666
}
.FileCommentsArea {
	
}
.FileCommentsTitle {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; PADDING-TOP: 6px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dddddd
}
.FileCommentsContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.FileCommentArea {
	BORDER-RIGHT: #eeeeee 0px solid; BORDER-TOP: #eeeeee 0px solid; PADDING-BOTTOM: 12px; BORDER-LEFT: #eeeeee 0px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #eeeeee 1px solid
}
.FileCommentAvatar {
	WHITE-SPACE: nowrap
}
.FileCommentAvatar IMG {
	MARGIN-RIGHT: 8px
}
.FileCommentContent {
	
}
.FileCommentHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.FileCommentHeader A:link {
	COLOR: #91723f
}
.FileCommentHeader A:active {
	COLOR: #91723f
}
.FileCommentHeader A:visited {
	COLOR: #91723f
}
.FileCommentHeader A:hover {
	COLOR: #91723f
}
.FileCommentText {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.FileCommentFooter {
	FONT-SIZE: 80%; COLOR: #999999
}
.FileFileArea {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 16px
}
.FileFileTitle {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; PADDING-TOP: 6px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dddddd
}
.FileFilePropertiesArea {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #f7f7f7
}
.FilePropertyName {
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 80%; BORDER-LEFT: #dddddd 0px solid; WIDTH: 20%; COLOR: #333333; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 36px
}
.FileProperty {
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; FONT-SIZE: 80%; BORDER-LEFT: #dddddd 0px solid; WIDTH: 30%; COLOR: #333333; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 36px
}
.FileFileDescriptionArea {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 90%; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.FileFolderNameAndImageHeader {
	
}
.FileFolderFileCountHeader {
	TEXT-ALIGN: center
}
.FileFolderCommentCountHeader {
	TEXT-ALIGN: center
}
.FileFolderImageColumn {
	WIDTH: 20px
}
.FileFolderNameColumn {
	WIDTH: 60%
}
.FileFolderFileCountColumn {
	WIDTH: 20%; TEXT-ALIGN: center
}
.FileFolderCommentCountColumn {
	WIDTH: 20%; TEXT-ALIGN: center
}
.FileFileNameHeader {
	
}
.FileFileDateHeader {
	TEXT-ALIGN: center
}
.FileFileDownloadCountHeader {
	TEXT-ALIGN: center
}
.FileFileActionHeader {
	TEXT-ALIGN: center
}
.FileFileNameColumn {
	WIDTH: 55%
}
.FileFileDateColumn {
	WIDTH: 15%; TEXT-ALIGN: center
}
.FileFileDownloadCountColumn {
	WIDTH: 10%; TEXT-ALIGN: center
}
.FileFileActionColumn {
	WIDTH: 20%; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.FilePortalListNameHeader {
	
}
.FilePortalListDownloadCountHeader {
	TEXT-ALIGN: center
}
.FilePortalListActionHeader {
	TEXT-ALIGN: center
}
.FilePortalListNameColumn {
	WIDTH: 50%
}
.FilePortalListDownloadCountColumn {
	WIDTH: 25%; TEXT-ALIGN: center
}
.FilePortalListActionColumn {
	WIDTH: 25%; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.FileFolderTree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.FileFolderTreeNode {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.FileFolderTreeNodeSelected {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dddddd
}
.FileFolderTreeNodeHover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dddddd
}
