HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, 'Lucidia Grande', Tahoma, Arial, Sans-Serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
H1 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H3 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H4 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H5 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H6 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
PRE {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
BLOCKQUOTE {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.clr {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px -1px -1px 0px; OVERFLOW: hidden; WIDTH: 1px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.pkg:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
 HTML .pkg {
	DISPLAY: inline-block
}
 HTML .pkg {
	HEIGHT: 1%
}
.pkg {
	DISPLAY: block
}
BODY {
	TEXT-ALIGN: center
}
#container {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://www.wiredprairie.us/journal/images/bkgndglowblue.png); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 710px; PADDING-TOP: 0px; POSITION: relative; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#container-inner {
	WIDTH: auto; POSITION: relative
}
#banner {
	POSITION: relative
}
#banner-inner {
	POSITION: static
}
#pagebody {
	WIDTH: 100%; POSITION: relative
}
#pagebody-inner {
	WIDTH: 100%; POSITION: static
}
#alpha {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#beta {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#gamma {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#delta {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#delta {
	FLOAT: right
}
#alpha-inner {
	POSITION: static
}
#beta-inner {
	POSITION: static
}
#gamma-inner {
	POSITION: static
}
#delta-inner {
	POSITION: static
}
.banner-user {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; OVERFLOW: hidden; WIDTH: 64px; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.banner-user-photo {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center center; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none! important
}
.banner-user-photo IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 64px; PADDING-TOP: 0px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.content-nav {
	MARGIN: 10px; TEXT-ALIGN: left
}
.date-header {
	CLEAR: both; POSITION: static
}
.entry-content {
	CLEAR: both; POSITION: static
}
.entry {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.trackbacks {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.comments {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.archive {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.entry-content {
	CLEAR: both; MARGIN: 5px 10px
}
.trackbacks-info {
	CLEAR: both; MARGIN: 5px 10px
}
.trackback-content {
	CLEAR: both; MARGIN: 5px 10px
}
.comment-content {
	CLEAR: both; MARGIN: 5px 10px
}
.comments-open-content {
	CLEAR: both; MARGIN: 5px 10px
}
.comments-closed {
	CLEAR: both; MARGIN: 5px 10px
}
.entry-excerpt {
	CLEAR: both
}
.entry-body {
	CLEAR: both
}
.entry-more-link {
	CLEAR: both
}
.entry-more {
	CLEAR: both
}
.entry-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.trackback-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.comment-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.comments-open-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.archive-content {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.comments-open LABEL {
	DISPLAY: block
}
#comment-author {
	WIDTH: 240px
}
#comment-email {
	WIDTH: 240px
}
#comment-url {
	WIDTH: 240px
}
#comment-text {
	WIDTH: 240px
}
#comment-bake-cookie {
	MARGIN-LEFT: 0px; VERTICAL-ALIGN: middle
}
#comment-post {
	FONT-WEIGHT: bold
}
.module {
	OVERFLOW: hidden; WIDTH: 100%; POSITION: relative
}
.module-content {
	MARGIN: 5px 10px 20px; POSITION: relative
}
.module-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.archive-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.module-list-item {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.module-presence IMG {
	VERTICAL-ALIGN: middle
}
.module-powered .module-content {
	MARGIN-BOTTOM: 10px
}
.module-photo .module-content {
	TEXT-ALIGN: center
}
.module-wishlist .module-content {
	TEXT-ALIGN: center
}
.typelist-thumbnailed {
	MARGIN: 0px 0px 20px
}
.typelist-thumbnailed .module-list-item {
	CLEAR: both; DISPLAY: block; MARGIN: 0px
}
.typelist-thumbnailed .module-list-item:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
 HTML .typelist-thumbnailed .module-list-item {
	DISPLAY: inline-block
}
 HTML .typelist-thumbnailed .module-list-item {
	HEIGHT: 1%
}
.typelist-thumbnailed .module-list-item {
	DISPLAY: block
}
.typelist-thumbnail {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: auto; TEXT-ALIGN: center; min-width: 60px
}
.typelist-thumbnail IMG {
	MARGIN: 5px
}
.module-galleries .typelist-thumbnail IMG {
	WIDTH: 50px
}
.typelist-description {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
BODY {
	FONT-SIZE: 12px
}
A {
	COLOR: blue; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #a3b8cc
}
#banner A {
	COLOR: #fff; TEXT-DECORATION: none
}
#banner A:hover {
	COLOR: #fff
}
.module-content A {
	COLOR: blue
}
.module-content A:hover {
	COLOR: #a3b8cc
}
H1 {
	
}
H2 {
	
}
H3 {
	
}
H4 {
	
}
H5 {
	
}
H6 {
	
}
.module-header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #4d6591; LINE-HEIGHT: 1; POSITION: relative
}
.trackbacks-header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #4d6591; LINE-HEIGHT: 1; POSITION: relative
}
.comments-header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #4d6591; LINE-HEIGHT: 1; POSITION: relative
}
.comments-open-header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #4d6591; LINE-HEIGHT: 1; POSITION: relative
}
.archive-header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #4d6591; LINE-HEIGHT: 1; POSITION: relative
}
.module-header A {
	COLOR: #4d6591
}
.module-header A:hover {
	COLOR: #4d6591
}
.trackbacks-header A {
	COLOR: #4d6591
}
.trackbacks-header A:hover {
	COLOR: #4d6591
}
.comments-header A {
	COLOR: #4d6591
}
.comments-header A:hover {
	COLOR: #4d6591
}
.comments-open-header A {
	COLOR: #4d6591
}
.comments-open-header A:hover .archive-header A {
	COLOR: #4d6591
}
.archive-header A:hover {
	COLOR: #4d6591
}
.entry-more-link {
	FONT-SIZE: 11px
}
.entry-footer {
	FONT-SIZE: 11px
}
.comment-footer {
	FONT-SIZE: 11px
}
.trackback-footer {
	FONT-SIZE: 11px
}
.typelist-thumbnailed {
	FONT-SIZE: 11px
}
.commenter-profile IMG {
	VERTICAL-ALIGN: middle
}
BODY {
	COLOR: #333; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #111111; min-width: 770px
}
#banner {
	BACKGROUND-IMAGE: url(http://www.wiredprairie.us/journal/images/Logo1.jpg); VERTICAL-ALIGN: bottom; WIDTH: 710px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 161px; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: right
}
#banner-inner {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 13px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 13px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #fff 0px solid
}
.banner-user {
	MARGIN-TOP: 5px; FONT-SIZE: 10px; WIDTH: 70px
}
#banner-header {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1; text-shadow: #36414d 0 2px 3px
}
#banner-header A {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1; text-shadow: #36414d 0 2px 3px
}
#banner-description {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 0px; COLOR: #ccc; LINE-HEIGHT: 1.125; text-shadow: #36414d 0 1px 2px
}
#alpha {
	MARGIN: 15px 15px 0px; WIDTH: 680px
}
#beta {
	BORDER-TOP: #ccced0 1px solid; BACKGROUND: url(http://www.wiredprairie.us/journal/images/beta-grad.png) #fff repeat-y; WIDTH: 200px; BORDER-BOTTOM: #ccced0 1px solid
}
#gamma {
	BACKGROUND: #e6ecf2; WIDTH: 180px
}
#delta {
	BACKGROUND: #e6ecf2; WIDTH: 180px
}
#beta-inner {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#gamma-inner {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 2px solid
}
#delta-inner {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 2px solid
}
.date-header {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase
}
.entry-header {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; COLOR: #ff8208; PADDING-TOP: 0px
}
.entry-header A {
	COLOR: #ff8208; TEXT-DECORATION: none
}
.entry-content {
	MARGIN: 0px; LINE-HEIGHT: 1.5
}
.comment-content {
	MARGIN: 0px; LINE-HEIGHT: 1.5
}
.trackback-content {
	MARGIN: 0px; LINE-HEIGHT: 1.5
}
.entry-footer {
	BORDER-TOP: #dae0e6 1px solid; FONT-SIZE: 10px; MARGIN: 0px 0px 20px; COLOR: #666; PADDING-TOP: 3px
}
.comment-footer {
	BORDER-TOP: #dae0e6 1px solid; FONT-SIZE: 10px; MARGIN: 0px 0px 20px; COLOR: #666; PADDING-TOP: 3px
}
.trackback-footer {
	BORDER-TOP: #dae0e6 1px solid; FONT-SIZE: 10px; MARGIN: 0px 0px 20px; COLOR: #666; PADDING-TOP: 3px
}
.comment-footer {
	TEXT-ALIGN: right
}
.trackback-footer {
	TEXT-ALIGN: right
}
.comment-content {
	MARGIN-LEFT: 10px
}
.trackback-content {
	MARGIN-LEFT: 10px
}
.comment-footer {
	MARGIN-LEFT: 10px
}
.trackback-footer {
	MARGIN-LEFT: 10px
}
.content-nav {
	MARGIN-TOP: 0px
}
#trackbacks-info {
	BORDER-RIGHT: #a3b8cc 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #a3b8cc 1px dashed; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: #e6ecf2; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; BORDER-LEFT: #a3b8cc 1px dashed; COLOR: #292e33; PADDING-TOP: 0px; BORDER-BOTTOM: #a3b8cc 1px dashed; TEXT-ALIGN: center
}
.comments-open-footer {
	MARGIN: 10px 0px
}
.module {
	MARGIN: 0px 0px 10px
}
.module-content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; LINE-HEIGHT: 1.2; PADDING-TOP: 10px
}
.module-search INPUT {
	FONT-SIZE: 10px
}
.module-search #search {
	WIDTH: 100px
}
.module-mmt-calendar .module-content TABLE {
	FONT-SIZE: 10px
}
.module-calendar .module-content TABLE {
	FONT-SIZE: 10px
}
.module-powered {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.module-powered .module-content {
	BORDER-RIGHT: #a3b8cc 1px dashed; BORDER-TOP: #a3b8cc 1px dashed; BACKGROUND: #fff; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: #a3b8cc 1px dashed; COLOR: #292e33; BORDER-BOTTOM: #a3b8cc 1px dashed
}
.module-photo {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.module-photo IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.module-list {
	MARGIN: 0px 15px 10px; LIST-STYLE-TYPE: disc
}
.module-list .module-list {
	PADDING-LEFT: 15px; MARGIN: 5px 0px 0px; LIST-STYLE-TYPE: circle
}
.module-list-item {
	MARGIN-TOP: 0px; COLOR: #666; LINE-HEIGHT: 1.2
}
.typelist-thumbnailed .module-list {
	MARGIN: 0px 0px 10px; LIST-STYLE-TYPE: none
}
.typelist-thumbnailed .module-list-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f3f6f9; PADDING-BOTTOM: 0px; MARGIN: 1px 0px; PADDING-TOP: 0px
}
.typelist-thumbnail {
	BACKGROUND: #fff
}
.module-photo IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.module-featured-photo {
	WIDTH: 398px
}
.module-featured-photo .module-content {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.module-featured-photo IMG {
	WIDTH: 398px
}
.module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 19px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.module-recent-photos .module-list {
	MARGIN: 0px
}
.module-recent-photos .module-list-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; WIDTH: 64px; PADDING-TOP: 0px
}
.module-recent-photos .module-list-item A {
	BORDER-RIGHT: #cfd4d9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cfd4d9 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #cfd4d9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cfd4d9 1px solid
}
.module-recent-photos .module-list-item A:hover {
	BORDER-LEFT-COLOR: #36414d; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #36414d; BORDER-TOP-COLOR: #36414d; BORDER-RIGHT-COLOR: #36414d
}
.layout-one-column BODY {
	min-width: 710px
}
.layout-one-column #container {
	WIDTH: 710px
}
.layout-one-column #banner {
	WIDTH: 708px
}
.layout-two-column-left #alpha {
	BACKGROUND: #e6ecf2; MARGIN: 0px; WIDTH: 200px
}
.layout-two-column-left #alpha-inner {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 2px solid
}
.layout-two-column-left #beta {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 15px 15px 0px; WIDTH: 480px
}
.layout-two-column-left #beta-inner {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#navlist {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; MARGIN: 0px; POSITION: relative; TEXT-ALIGN: left
}
#categoryList {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; MARGIN: 0px; POSITION: relative; TEXT-ALIGN: left
}
#navlist LI {
	DISPLAY: inline; MARGIN: auto auto auto 6px; COLOR: #ffffe0; LIST-STYLE-TYPE: none
}
#categoryList LI {
	DISPLAY: inline; MARGIN: auto auto auto 6px; COLOR: #ffffe0; LIST-STYLE-TYPE: none
}
#navlist LI A {
	FONT-WEIGHT: bold; COLOR: #d09800; BORDER-BOTTOM: #d09800 2px; TEXT-DECORATION: none
}
#navlist LI A:link {
	COLOR: #d09800
}
#navlist LI A:visited {
	COLOR: #d09800
}
#navlist LI A:hover {
	COLOR: #fff; BORDER-BOTTOM: #fff 2px solid
}
#navlistbar {
	BORDER-TOP: #ffba00 1px solid; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(http://www.wiredprairie.us/journal/images/navbargradblue.png); PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ffba00 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffda77
}
.csharpcode {
	FONT-SIZE: small; COLOR: black; FONT-FAMILY: Consolas, "Courier New", Courier, Monospace; BACKGROUND-COLOR: #ffffff
}
.csharpcode PRE {
	FONT-SIZE: small; COLOR: black; FONT-FAMILY: Consolas, "Courier New", Courier, Monospace; BACKGROUND-COLOR: #ffffff
}
.csharpcode PRE {
	MARGIN: 0em
}
.csharpcode .rem {
	COLOR: #008000
}
.csharpcode .kwrd {
	COLOR: #0000ff
}
.csharpcode .str {
	COLOR: #006080
}
.csharpcode .op {
	COLOR: #0000c0
}
.csharpcode .preproc {
	COLOR: #cc6633
}
.csharpcode .asp {
	BACKGROUND-COLOR: #ffff00
}
.csharpcode .html {
	COLOR: #800000
}
.csharpcode .attr {
	COLOR: #ff0000
}
.csharpcode .alt {
	MARGIN: 0em; WIDTH: 100%; BACKGROUND-COLOR: #f4f4f4
}
.csharpcode .lnum {
	COLOR: #606060
}
