

.MTPS_PrinterFriendlyBanner_default
{
	border-bottom:1px solid #3366CC;
}

.MTPS_PrinterFriendlyBanner_msdn
{
	border-bottom:1px solid #3366CC;
}

.MTPS_PrinterFriendlyCopyrightText
{
	width: 100%;
	text-align: right;
	font-family: Verdana;
}

.PFB_Left
{
	text-align:left;
	width:50%;
}
.PFB_Right
{
	text-align:right;
	width:50%;
	padding-right:10px;
}




.cc
{
	width:100%;
	overflow:hidden;
}

.ccHeader
{
	width: 100%;
	padding: 0px;
	white-space: nowrap;
}

.cch_left
{
	height:66px;
	max-height:66px;
	width: 30%;
	background-image:url(msdn/Controls/CommunityContent/en-us/green-left.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#ffffff;
	padding: 0px;
	margin: 0px;
}

.cch_middle
{
	height:66px;
	width:2px;
	background-image:url(msdn/Controls/CommunityContent/en-us/green-middle.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#ffffff;
	padding: 0px;
	margin: 0px;
}

.cch_right
{
	height:66px;
	width: 100%;
	background-image:url(msdn/Controls/CommunityContent/en-us/green-right.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#ffffff;
	padding: 0px;
	margin: 0px;
}

.cch_title
{
	color:#000000;
	font-family: Verdana;
	font-weight:bold;
	font-size:12pt;
	font-weight:bold;
	padding: 10px;
	margin: 10px;
	float:left;
	vertical-align:middle;
}

.cc_toolbar
{
margin: 0px;
height:29px;
padding: 0px;
background-color: #e3e3e3;
margin: 0px 0px 10px 0px;
color: #3366CC;
}

.cch_toolbartext
{
	color: #3366CC;
	font-family: Verdana;
	font-size:8pt;
	padding: 7px 0px 7px 10px;
	margin: 0px;
	float:left;
}

.wikiItems
{
	border:solid 1px #87A9D1;
	height:90%;
	font-family: Verdana;
	margin: 20px;
	display:block;
}

.ccViewHeader_Title
{
	color:#000000;
	font-size:10pt;
	font-weight:bold;
	background-color:Transparent;
	padding: 0px 0px 0px 10px;
}

.ccViewerHeader_EdInfo
{
	font-size:8pt;
	color:#666666;
	background-color:Transparent;
	
}

.ccViewerText
{
	display:block;
	border-top: solid 1px #e3e3e3;
	padding:10px;
}


.CodeSnippetTitleBar
{
	background-color:#DDDDDD;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	white-space:nowrap;
	border-bottom:solid 1px #aaaaaa;
	height:20px;
    word-spacing:normal;
	letter-spacing:normal; 	
}

.CodeDisplayLanguage
{
	float:left;
    text-align:left;
}

.CopyCodeButton
{
	float:right;
    text-align:right; 
}

a.copyCode
{
    cursor: pointer;
    color: blue;
    text-decoration: none;
    text-align:right;
}

div.MTPS_CollapsibleRegion
{
	margin-bottom:5px;
	margin-top:5px;
}
 
A.CollapseRegionLink, A.CollapseRegionLink:link, A.CollapseRegionLink:hover, A.CollapseRegionLink:visited
{
	Cursor:pointer;
	color:#000000;
	font-family:Verdana,tahoma,arial;
	font-weight:700;
	text-decoration: none;
}

.CollapseRegionImg
{
	border:0px;
	margin-right:5px;
	padding:0px;	
}

