BODY
{
    padding:0px;
    margin:0px;
    overflow:auto;
    font-family: Verdana;
    font-size: 70%;
}

.DeepTreeLibraryPage
{
    width:100%;
    height:100%;
}


DIV.topic
{
	margin: 20px;
}

.ContentArea
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-left:10px;
	margin-top:0px;
	margin-right:10px;
	margin-bottom:0px;
}



/*
Start PagePlanner Style - moved from global.css
*/
DIV.navpage
{
    margin: 5px;
}

div.navpage table
{
    border-collapse:collapse;
    margin: 10px 0 10px 0;
}

div.navpage table p
{
    margin:0px;
    padding: 0px;
}

div.navpage table th, div.navpage table td
{
    padding: 5px;
    text-align: left;
    font-size: 70%;
}

div.navpage table th
{
    background: #cccccc;
    vertical-align: bottom;
}

div.navpage table th p
{
    font-weight: bold;
}

div.navpage table td
{
    vertical-align: top;
    border: solid 0px #cccccc;
}

.innercol
{
    border-right: 1px solid #aaaaaa;
}
/* End PagePlan Style */


/* START: titles */
/*
.title
{	
	font:normal 190% Arial, Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
	color: #000000;
}

.majorLabel
{
	font-family: Verdana;
	font-weight:bold;
	font-size: 120%;
	margin: 5px 0px 3px 0px;
}

.minorLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 100%;
	white-space:normal;
	margin: 0px 0px 0px 0px;
}

.sectionTitle
{
	font-weight:bold;
	font-size: 120%;
	padding: 0px 0px 4px 0px;
	margin: 0px 0px 0px 0px;
}
*/
/* END: titles */



/* START: standard paragraph style */
/*
p, DIV.summary, DIV.requirements, DIV.typeRelationHierarchy, DIV.seeAlso, DIV.content DIV.content
{
	padding: 0px 0px 10px 0px;
	margin: 0 0 0 0;
	line-height: 140%;
}
*/
/* END: standard paragraph style */


/* START: tables */
/*
.tablediv
{
	width: 100%;
       	margin: 0 0 0 0;
}

table.dttable
{
	border-collapse:collapse;
  	margin: 10px 0 10px 0;
}

table.dttable p
{
	margin:0px;
	padding: 0;
}

table.dttable th, table.dttable td
{
	padding: 5px;
	text-align: left;
	font-size: 70%;
}

table.dttable th
{
	background: #cccccc;
	vertical-align: bottom;
}

table.dttable th p
{
	font-weight: bold;
}


table.dttable td
{
	vertical-align: top;
	border: solid 1px #cccccc;
}
*/
/* END: tables */

/* START: code blocks */
/*
.codeInline, .languageKeyword
{
	font-family: Lucida Console, Courier New;
}

.code
{
	padding: 5px 0 5px 0;
	margin: 0 0 0 0;
}

pre
{
	background: #dddddd;
	font-family: Lucida Console, Courier New;
	padding: 10px 15px 10px 15px;
	margin: 0 0 1em 0;
	word-wrap: break-word;
}
*/

/* .lang is the language bar along the top of the code block */
/*
.lang
{	
    background-color:#dddddd;
    border-bottom: 1px solid #aaaaaa;
    margin: 0;
    width: 100%;
}
/* END: code blocks */

/* START: lists */
/*
ul
{
	margin: 0px 0px 0px 20px;
	padding: 0;
}

ul ul
{
	padding:0;
	margin-top:4px
}

ul ul li
{
	background: url( '/msdn/MasterPages/DeepTreePageType/b.gif' ) no-repeat left top;
	line-height:1.2em;
}

ul li
{
	margin: 0 0 5px 0;
	background: url( '/msdn/MasterPages/DeepTreePageType/b.gif' ) no-repeat left top;
	list-style-position: outside;
	list-style-type: none;
	padding: 0 0 0 10px;
	line-height:140%;
}

li p {
	margin:0px; 
	padding:0px;
}

ol
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ol li
{
	margin: 0px 0px 5px 40px;
	line-height: 140%;
}
*/
/* END: lists */

/* START: definitions */
/*
dt
{
	font-style:normal;
	margin: 0px 0px 5px 20px;

}

dd
{
	padding: 0;
	margin-left: 30px;
	margin-bottom: 10px;
}
*/
/* END: definitions */

/* === everything below is whidbey specific === */
/*
.alert
{
	font-weight:bold;
}

.legacyBold, .ui
{
	font-weight: bold;
}

.legacyItalic
{
	font-style: italic;
}
*/

/* START: syntax section for managed ref */
/*
DIV.declarationSyntaxes SPAN.VisualBasicDeclaration, DIV.declarationSyntaxes SPAN.VisualBasicUsage, DIV.declarationSyntaxes SPAN.CSharp, DIV.declarationSyntaxes SPAN.ManagedCPlusPlus, DIV.declarationSyntaxes SPAN.JSharp, DIV.declarationSyntaxes SPAN.JScript
{
	background: #DDDDDD;
}

DIV.declarationSyntaxes PRE
{
	background: #dddddd;
	font-family: Lucida Console, Courier New;
	line-height: 140%;
	border-top: 1px solid #aaaaaa;
	padding: 5px 10px 10px 25px;
	margin: 0 0 20px 0;
}
*/
/* END: syntax section for managed ref */

/* Page Planner CSS */
/*
DIV.navpage
{
    margin: 5px;
}

div.navpage table
{
    border-collapse:collapse;
    margin: 10px 0 10px 0;
}

div.navpage table p
{
    margin:0px;
    padding: 0px;
}

div.navpage table th, div.navpage table td
{
    padding: 5px;
    text-align: left;
    font-size: 70%;
}

div.navpage table th
{
    background: #cccccc;
    vertical-align: bottom;
}

div.navpage table th p
{
    font-weight: bold;
}

div.navpage table td
{
    vertical-align: top;
}

.innercol
{
    border-right: 1px solid #aaaaaa;
}

*/