body {font-size: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
form {padding:0; margin:0;}
body.admin{ background-color: #f1f1f1;}
body.margins{margin-left:0; margin-top:0; margin-bottom:0; margin-right:0;}
image{vertical-align: middle;}
.forumName{font:normal 1.4em arial, verdana, sans-serif;}
a.forumName:hover{color: #FF3300; text-decoration: none;}
.forumThread{font-family: verdana, Arial, sans-serif;font-size: 0.9em;}
.txt1 { font-size : 1.0em; } 
.txt2 { font-size : 0.9em; }
.txt3 { font-size : 0.8em; }
.txt4 { font-size : 0.7em; }
.txt4rt { font-size : 0.7em; align:right; text-align:right; vertical-align:middle; margin-top:.2em;}
.txt4lt { font-size : 0.7em; text-align:left;vertical-align:top;}
.txt4rb { font-size : 0.7em; text-align:right; vertical-align:bottom;}
.txt4rm { font-size : 0.7em; text-align:right; vertical-align:middle;}
.txt4l { font-size : 0.7em; text-align:left;}
.txt4r { font-size : 0.7em; text-align:right;}
.txt4t { font-size : 0.7em; vertical-align:top;}
.txt5 { font-size : 0.6em; }
.txt5rb { font-size : 0.6em; text-align:right;vertical-align:bottom;}
.txt5rt { font-size : 0.6em; text-align:right;vertical-align:top;}
.txt5r { font-size : 0.6em; text-align:right;}
.txt5l { font-size : 0.6em; text-align:left;}
.txt6 { font-size : .8em; color:Green; }
.txt7 { font-size : 1.2em; }
.txt1Bold { font-size : 1.0em; font-weight:bold; }
.txt2Bold { font-size : 0.9em; font-weight:bold; }
.txt3Bold { font-size : 0.8em; font-weight:bold; }
.txt4Bold { font-size : 0.7em; font-weight:bold; }
.txt5Bold { font-size : 0.6em; font-weight:bold; }
.txt3red { font-size : 0.8em; color: Red; }
.printDetails{ font-size : 0.6em; color: darkgray; }
.noTopics { font-size: 0.7em; font-weight:bold; }
.dateText { font-size: 0.6em; color: white; }
.txtIrcMe { color:Fuchsia ; }
.tableBorder{border: 1px outset; background-color: #FFFFFF;}
.moderationTable{border: 1px #FFFFFF solid; background-color: #F1F1F1;}
.adminTable{background-color: #FFFFFF;}
.quoteTable {border:1px inset; background-color: #eeeeee;}
.editTable {border: 1px inset; color: Red; background-color: #EEF7FF; font-size: 0.8em; }
table.gen { width : 100%; padding:0px; border:0px;}
td.column {font-weight: bold; font-size: 0.7em; background-color: #999; color:#ffffff  }
td.ccolumn {font-weight: bold; font-size: 0.7em; background-color: #999;color:#ffffff;text-align: center;}
td.rmcolumn {font-weight: bold; font-size: 0.7em; background-color: #f1f1f1; text-align:right; vertical-align:middle;}
td.lmcolumn {font-weight: bold; font-size: 0.7em; background-color: #f1f1f1; text-align:left; vertical-align:middle;}
td.spacer {background-image: url(../images/spacer.gif); width : 1; }
td.h1a {color: #4455aa; font-size: 0.8em; font-weight:bold; text-decoration: none; background-image: url(../images/forumHeaderBackgroundAlternate.gif);background-color: #E7E3E7;background-repeat: repeat-x; }
td.h1 {color: white; font-size: 0.7em; font-weight:bold; background-image: url(../images/forumHeaderBackground.gif); background-color: #4455aa }
td.f { font-size: 0.71em; background-color:#f1f1f1;}
Td.fa { font-size: 0.71em; background-color: #f1f1f1;  text-align:center;}
Td.ft { font-size: 0.71em; background-color: #f1f1f1;  vertical-align:top;}
Td.fr { font-size: 0.71em; background-color: #f1f1f1;  text-align:right;}
td.f2 { font-size: 0.8em; background-color: #f1f1f1; }
td.fh { font-size: 0.71em; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; }
td.fhlt { font-size: 0.71em; background-color: #FFFFFF; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; text-align:left; vertical-align:top; }
td.fhct { font-size: 0.71em; background-color: #FFFFFF; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; text-align:center; vertical-align:top;}
td.fhc { font-size: 0.71em; background-color: #FFFFFF; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; text-align:center;}
td.fht { font-size: 0.71em; background-color: #FFFFFF; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; vertical-align:top; }
td.fhb { font-size: 0.71em; background-color: #FFFFFF; background-image: url(../images/fhBg.gif); background-repeat: repeat-x; vertical-align:bottom; }
TD.fh2 { font-size: 0.71em; }
TD.fh2l { font-size: 0.71em; text-align:left}
TD.fh2r { font-size: 0.71em; text-align:right}
TD.fh2c { font-size: 0.71em; text-align:center}
TD.fh3 { font-size: 0.71em; background-color: #FFFFFF; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; }
TD.fh3b { font-size: 0.71em; background-color: #FFFFFF; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; text-align:center}
TD.fh3a { font-size: 0.71em; background-color: #ffffff; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; }
TD.fh3rm { font-size: 0.71em; background-color: #FFFFFF; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; text-align:right; vertical-align:middle; width:25;}
TD.fh4 { font-size: 0.71em; background-color: #FFFFFF; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1;}
TD.fh4a { font-size: 0.71em; background-color: #FFFFFF; border-top: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1;  text-align:center;}
td.threadTitle { background-color: #D4D9EC; }
.threadDetailTextSmall { color: #0055E7; font-size: 0.7em; }
.threadDetailTextSmallBold { color: #0055E7; font-size: 0.7em; font-weight: bold; }
a, a:visited, a:link { color: #013DA4; text-decoration: none; }
a:Hover{ color: #FF3300; text-decoration: underline;}
a.linkSmallBold, a.linkMenuSink { font-weight: bold; }
a.linkSmall, a.LinkSmallBold, a.linkMenuSink { color: navy; font-size: 0.7em; }
a.linkSmallBold:visited, a.linkMenuSink:visited { color: #013DA4; }
a.linkSmallBold:Hover, a.linkMenuSink:Hover { color: #FF3300; }
a.lnk3, a.lnk3:visited, a.lnk3:link { font-size: 0.9em; font-weight: bold; color: #013DA4; }
a.lnk3:Hover { color: #FF3300; text-decoration: underline; }
columnText, a.columnText, a.columnText:visited, a.columnText:link, a.columnText:hover { font-size: 0.7em; font-weight:bold; color:#FFFFFF}

.flnk3 { cursor:pointer; color: #013DA4; }
a.flnk3:visited, a.flnk3:link { font-weight: bold; color: #013DA4; }
a.flnk3:hover { color: #FF3300;}
.inlineLink { cursor:pointer; color: #555555; }
.inline { font-size: 0.75em; color: #555555; }
.menuText { font-size: 0.6em; font-weight: bold; color: #FFFFFF; }
a.menuLink:visited, a.menuLink:link { font-size: smaller; font-weight: normal; text-decoration: none;  padding-left: 8px;}
a.menuLink:Hover { color: #FF3300; }
td.flatViewSpacing { height: 2px; background-color: #ffffff; } 
td.threadSeparator { height: 4px; background-color: #cccccc; } 
td.adminSeparator {	height: 4px; background-color: #FFFFFF; } 
td.moderateSeparator { height: 12px; background-color: #FFFFFF; } 
.validationWarning { color: Red; }
.currentPage { font-size : 1.2em; font-weight:bold; }
select { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-size: 0.9em; }
textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; }
input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; }
td.ControlPanelTabActive { font-weight: bold; font-size: 0.7em; background-color: #f1f1f1; background-image: url(../images/tab2.gif); background-repeat: repeat-x; COLOR: white; border-top:3px solid #ff5500;border-left:1px solid #c2c2c2;border-right:1px solid #c2c2c2}
td.ControlPanelTabInactive { color: #4455aa; font-size: 0.7em; font-weight: normal; text-decoration: none; background-image: url(../images/tab1.gif); background-color: #E7E3E7; background-repeat: repeat-x; border-top:3px solid #c2c2c2;border-left:1px solid #c2c2c2;border-right:1px solid #c2c2c2 }
td.ControlPanelTabLine { background-color: #C2C2C2; }
.page{width:100%;} 
#msviRegionIdGraphic{padding-left:0px;}.gt0{border:solid 1px #1e77d3;padding:0 4px 2px 4px;font-size:100%;}.gt1{border: solid 1px #a1c6eb;padding: 0px 4px 2px 4px;background: #3484D7;font-size: 100%;}.gtsep{font:65% Verdana;color:#a1c6eb;padding:0 1px 2px 1px;}#msviGlobalToolbar a{font:65% Verdana;color:#ffffff;text-decoration:none;}#msviGlobalSearch{text-align:left;font:65% Verdana;padding-top:5px;padding-left:6px;padding-right:15px;}#msviSearchForm{margin:-1px 0px 0px 0px;}#msviSearchBox{width:235px;xheight:18px; /*2.1ex;*/font:110% Tahoma;}#msviGoButton{font:110% Tahoma;padding:0em 0.2em;position:relative;top:1px;margin-left:6px;}#msviFooter{font:70% Tahoma, Helvetica;}#msviFooter td{font-size:100%;}#msviLocalFooter{margin:0px;padding-top:8px;padding-left:10px;}#msviGlobalFooter{margin:0px;padding:10px 0 13px 10px;}#msviFooter a{color:#03C;margin-right:2px;}#msviFooter a:visited{color:#03C;}#msviFooter a:hover{color:#F60;}#msviFooter span{color:#666666;margin-right:5px;}#msviFooter2{filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#1e77d3',gradientType='1');background-color:#ffffff;}

/* start right hand container */
.ContainerSectionHeading { font-family:Verdana, Arial; font-size:100%; font-weight:bold; }
.containerTextBox { font-family:Verdana, Arial; height:18px; width:117px; margin-top:3px; }
.ContainerListBox { font-family:Tahoma, Arial; font-size:8pt; margin-top:3px; }
.ContainerUL { font-family:Verdana, Arial; color:#A9A9A9; fontSize:x-small; color:#333333;  marginLeft:-25px; margin-top:-.2em; marginBottom:0px; }
.ContainerUL li { font-family:Verdana, Arial; margin-left:-2.2em; margin-bottom:.4em; marginLeft:0em; marginBottom:0em; }
/* ContainerContent */
.ContainerContent { font-family:Verdana, Arial; font-size:70%; background-color:#f1f1f1; padding:0px 6px 0px 6px;}
.ContainerContentColored { font-family:Verdana, Arial; font-size:70%; background-color:#CCFFCC; padding:0px 6px 0px 6px;}
.ContainerContentInline { font-family:Verdana, Arial; font-size:70%; background-color:#f1f1f1; padding:0px 6px 0px 6px;}
.ContainerContentColoredInline { font-family:Verdana, Arial; font-size:70%; background-color:#CCFFCC; padding:0px 6px 0px 6px;}
.ContainerContentColoredInlineDiv {/*width:250px;*/ }
.ContainerContentWrap { font-family:Verdana, Arial; font-size:70%; padding:0px 6px 0px 6px; width:600px; }
.ContainerContentLarge { font-family:Verdana, Arial; font-size:108%; padding:6px 0px 6px 0px; }
.DetailsContainer { width:100%; }
.DetailsContainerFloatRight{ clear:right; float:right; text-align:right; } 
/* Right hand container Border stuff */
.ContainerTopBorder { border-bottom:solid 2px #999999; overflow:hidden; padding:0 1px 0 1px; }
.ContainerTop { border-bottom:solid 1px #999999; background-color:#003399; overflow:hidden; }
.ContainerBottomBorder { border-top:solid 2px #999999; overflow:hidden; padding:0 1px 0 1px; }
.ContainerBottom { border-top:solid 1px #999999; background-color:#999999; overflow:hidden; }
.BottomWrapper { height:4px; overflow:hidden; }
.ContainerSection { width:165px; margin:0 0px 12px 15px; }
.ContainerBottomPadding { height:12px; width:auto; overflow:hidden; background-color:#f1f1f1; }
.PostButton { background-color: #eeeeff; border: solid 1px black; padding: 2px; margin: 2px; }
/* Classes for specific purpose */
