.syntax_hilite {
	padding:3px 3px 10px 8px; border:1px solid #26536A; background-color:#FEFEFE;
	font-size:13px; font-family:'Courier New',Courier,monospace; width:600px;height:300px;
	overflow:auto; white-space:nowrap;
}
.igBar {
	background-color:#DDDDDD; color:#000000; width:602px;padding:5px;
	font-family:verdana;font-size:12px;display:none;
}
.igBar a {
	margin:0px 5px 0px 10px; font-weight:bold;
}
