/*
File overrides
*/

#CommonLeftColumn
{
	margin: 0px;
	padding: 0px;
	
	
	
	
	
	
}

#CommonLeftColumn .CommonSidebar
{
	margin: 0px;
}

#CommonLeftColumn .CommonSidebarArea
{
	width: 250px;
	margin: 0px;
	padding: 0px;
}

#CommonLeftColumn .CommonSidebarHeader
{
	padding: 2px;
	 
	font-size: 11px;
	color: #000000;
	text-align: center;
	
	
	
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

#CommonLeftColumn .CommonSidebarContent
{
	width: 250px;
	
	
	padding: 0px;
}

.CommonFloatArea
{
	width: 150px;
}

.CommonTabBar
{
	
}

/*
File styles
*/


/*
List Styles
*/

.FileListCellLeftMostImageOnly
{
	padding: 4px;
	
	
	
	
	
	color: #000000;
	width: 20px;
}

/*
File Display
*/

.FileFileName
{
	font-weight: bold;
	font-size: 110%;
}

.FileFileDescription
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 20px;
}

.FileFileRating
{
	margin-top: 2px;
	padding-left: 20px;
}

.FileFileDetail
{
	color: #000000;
	margin-top: 2px;
	margin-bottom: 2px;
}

.FileCommentsArea
{
}

.FileCommentsTitle
{
	margin: 0px;
	padding: 4px;
	padding-left: 8px;
	
	
	
	
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	margin: 0px;
}

.FileCommentsContent
{
	padding: 0px;
	padding-top: 4px;
}

.FileCommentArea
{
	margin-bottom: 8px;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	
	
	
	
}

.FileCommentTitle
{
	font-size: 90%;
	font-weight: bold;
	padding-bottom: 2px;
}

.FileCommentContent
{
	font-size: 90%;
	padding: 4px;
}

.FileCommentFrom
{
	font-size: 90%;
	font-style: italic;
	padding: 2px;
	padding-left: 0px;
}

.FileFileArea
{
	margin-top: 8px;
	margin-bottom: 16px;
}

.FileFileTitle
{
	padding: 4px;
	padding-left: 8px;
	
	
	
	
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	margin: 0px;
}

.FileFilePropertiesArea
{
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	
}

.FilePropertyName
{
	width: 20%;
	font-size: 80%;
	font-weight: bold;
	color: #000000;
	
	
	
	
	height: 36px;
}

.FileProperty
{
	width: 30%;
	font-size: 80%;
	color: #000000;
	
	
	
	
	height: 36px;
}

.FileFileDescriptionArea
{
	font-size: 90%;
	padding: 8px;
	vertical-align: top;
}

/*
Columns
*/

.FileFolderNameAndImageHeader
{
}

.FileFolderFileCountHeader
{
	text-align: center;
}

.FileFolderCommentCountHeader
{
	text-align: center;
}

.FileFolderImageColumn
{
	width: 20px;
}

.FileFolderNameColumn
{
	width: 60%;
}

.FileFolderFileCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFolderCommentCountColumn
{
	text-align: center;
	width: 20%;
}

.FileFileNameHeader
{
}

.FileFileDateHeader
{
	text-align: center;
}

.FileFileDownloadCountHeader
{
	text-align: center;
}

.FileFileActionHeader
{
	text-align: center;
}


.FileFileNameColumn
{
	width: 55%;
}

.FileFileDateColumn
{
	text-align: center;
	width: 15%;
}

.FileFileDownloadCountColumn
{
	text-align: center;
	width:10%;
}

.FileFileActionColumn
{
	text-align: center;
	width: 20%;
	padding-top: 8px;
}

.FilePortalListNameHeader
{
}

.FilePortalListDownloadCountHeader
{
	text-align: center;
}

.FilePortalListActionHeader
{
	text-align: center;
}


.FilePortalListNameColumn
{
	width: 50%;
}

.FilePortalListDownloadCountColumn
{
	text-align: center;
	width:25%;
}

.FilePortalListActionColumn
{
	text-align: center;
	width: 25%;
	padding-top: 8px;
}

/*
Folder Tree
*/

.FileFolderTree
{
	padding: 0px;
}

.FileFolderTreeNode
{
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	cursor: pointer;
}

.FileFolderTreeNodeSelected
{
	font-size: 11px; 
	 
	padding: 1px;
	
	cursor: pointer;
}

.FileFolderTreeNodeHover
{
	font-size: 11px; 
	padding: 2px;
	padding-left: 3px;
	
	cursor: pointer;
}