BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: small; BACKGROUND: url(images/bg.gif) #556777 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #4a4a49; PADDING-TOP: 0px; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: center; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
P {
	FONT-SIZE: 1em; MARGIN: 1.2em 0px; LINE-HEIGHT: 1.5em
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 1.2em 0px 1.2em 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 1.2em 0px 1.2em 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
H1 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H2 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H3 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H4 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H5 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H6 {
	MARGIN: 1.2em 0px; FONT-FAMILY: Verdana, serif
}
H1 {
	FONT-SIZE: 1.5em
}
H2 {
	FONT-SIZE: 1.5em
}
H3 {
	FONT-SIZE: 1.4em
}
H4 {
	FONT-SIZE: 1.3em
}
H5 {
	FONT-SIZE: 1.2em
}
H6 {
	FONT-SIZE: 1.1em
}
A:link {
	COLOR: #497ca7
}
A:visited {
	COLOR: #6e7ca7
}
A:active {
	COLOR: #6e7ca7
}
A:hover {
	COLOR: #7599b7; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 1em; COLOR: #4a4a49; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #fff
}
TEXTAREA {
	FONT-SIZE: 1em; COLOR: #4a4a49; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #fff
}
SELECT {
	FONT-SIZE: 1em; COLOR: #4a4a49; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #fff
}
BLOCKQUOTE {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px 20px; BORDER-LEFT: #888685 4px solid; PADDING-TOP: 0px
}
CODE {
	COLOR: #666; FONT-FAMILY: monospace
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#wrapper {
	FONT-SIZE: 0.9em; BACKGROUND: url(images/wrapper.gif) #eeeae8 repeat-y; MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
#header {
	BACKGROUND: url(images/header.gif) no-repeat; WIDTH: 760px; HEIGHT: 170px
}
#title {
	BORDER-RIGHT: #2e3235 1px dashed; PADDING-RIGHT: 1px; BORDER-TOP: #2e3235 1px dashed; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 38px 0px 0px 9px; BORDER-LEFT: #2e3235 1px dashed; PADDING-TOP: 1px; BORDER-BOTTOM: #2e3235 1px dashed
}
#title H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 2em; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #878584; LINE-HEIGHT: 32px; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #222; BORDER-RIGHT-WIDTH: 0px
}
#title H1 A {
	COLOR: #878584; TEXT-DECORATION: none
}
#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 35px; BACKGROUND: url(images/content.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 495px; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	WIDTH: 495px
}
#sidebar {
	PADDING-RIGHT: 25px; PADDING-LEFT: 15px; FONT-SIZE: 0.92em; BACKGROUND: url(images/sidebar.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #878584; PADDING-TOP: 80px; voice-family: inherit
}
UNKNOWN {
	WIDTH: 170px
}
#comments {
	CLEAR: both
}
#sidebar H2 {
	FONT-SIZE: 1.1em; MARGIN: 0px 0px 0.6em; BORDER-BOTTOM: #5e5d5d 1px dotted
}
#sidebar A:link {
	COLOR: #7599b7
}
#sidebar A:visited {
	COLOR: #8b99b7
}
#sidebar A:active {
	COLOR: #8b99b7
}
#sidebar A:hover {
	COLOR: #497ca7; TEXT-DECORATION: none
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar UL UL {
	MARGIN: 1.2em 0px 1.2em 1.3em
}
#sidebar OL {
	MARGIN: 1.2em 0px 1.2em 1.3em
}
#sidebar UL UL {
	LIST-STYLE-TYPE: disc
}
#sidebar UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
 HTML #content {
	OVERFLOW: hidden
}
 HTML #sidebar {
	OVERFLOW: hidden
}
#footer {
	CLEAR: both; PADDING-RIGHT: 230px; PADDING-LEFT: 35px; PADDING-BOTTOM: 1.2em; PADDING-TOP: 1.2em
}
#footer P {
	PADDING-RIGHT: 0px; BORDER-TOP: #888685 1px dotted; PADDING-LEFT: 0px; FONT-SIZE: 0.92em; PADDING-BOTTOM: 0.6em; MARGIN: 0px; PADDING-TOP: 0.6em
}
.posttitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0.6em 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #888685 1px dotted
}
.posttitle A {
	TEXT-DECORATION: none
}
.postmeta {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.2em
}
.postmeta {
	CLEAR: both; FONT-SIZE: 0.92em; TEXT-ALIGN: right
}
.postfeedback {
	CLEAR: both; FONT-SIZE: 0.92em; TEXT-ALIGN: right
}
.pagetitle {
	MARGIN: 0.6em 0px 1.2em
}
.commentauthor {
	FONT-SIZE: 1.1em; MARGIN: 1.2em 0px 0px; BORDER-BOTTOM: #888685 1px dotted
}
.commentauthor A {
	TEXT-DECORATION: none
}
.commentmeta {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.92em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.2em
}
#comment {
	WIDTH: 98%
}
