BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #515151
}
A {
	CURSOR: hand; COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	CURSOR: hand; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	CURSOR: hand; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
A:active {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
DIV.Xbcgc {
	BACKGROUND-POSITION: 0px -18px; MARGIN: 3px; OVERFLOW: hidden; WIDTH: 197px; COLOR: #ffffff; HEIGHT: 135px
}
H3 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 7px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
H3.XbcGamertagSilver {
	BACKGROUND-POSITION: 0px 0px
}
H3.XbcGamertagGold {
	BACKGROUND-POSITION: 0px -18px
}
.XbcgcInfo {
	BACKGROUND-POSITION: 0px -36px; FONT-SIZE: 10px; MARGIN: 0px; WIDTH: 197px; HEIGHT: 79px
}
.XbcgcStats {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 124px
}
.XbcgcStats P {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #898989 1px solid; HEIGHT: 15px
}
.XbcgcGamertile {
	BORDER-RIGHT: #aeaeae 1px solid; BORDER-TOP: #aeaeae 1px solid; FLOAT: left; MARGIN: 3px 0px 0px 7px; BORDER-LEFT: #aeaeae 1px solid; BORDER-BOTTOM: #aeaeae 1px solid
}
.XbcgcGames {
	FONT-SIZE: 10px; MARGIN: 0px 0px 0px 1px; LINE-HEIGHT: 0px; HEIGHT: 40px
}
.XbcgcGames IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 2px 0px 0px 6px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.XbcFLAL {
	FLOAT: left; TEXT-ALIGN: left
}
.XbcFRAR {
	FLOAT: right; TEXT-ALIGN: right
}
.XbcgcContainer DIV.Xbcgc {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet.gif)
}
.XbcgcContainer H3 {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet.gif)
}
.XbcgcContainer .XbcgcInfo {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet.gif)
}
.XbcgcContainer01 DIV.Xbcgc {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet01.gif)
}
.XbcgcContainer01 H3 {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet01.gif)
}
.XbcgcContainer01 .XbcgcInfo {
	BACKGROUND-IMAGE: url(/xweb/lib/images/gamercardForumsImagesheet01.gif)
}
