/* <gslb_version version="V0.6.0" /> */

.gslb_rsb
{
}

.gslb_rsbDivPosting
{
  padding: 1em 1em 1em 1em;
  background-color: #E8D1B5;
  text-align: justify;
  margin: auto;
  border: solid 1px #A3681C;
  font-size: 1em;
}

.gslb_rsbDivPostingEx
{
  padding: 0em 0.5em 0em 0.5em;
  background-color: White;
  text-align: justify;
  margin: 0em 0.2em 0em 0.2em;
  border: solid 1px #A3681C;
  color: #A3681C;
  font-size: 1em;
}

.gslb_rsb a,
.gslb_rsb a:visited,
.gslb_rsb a:hover
{
  color: #6900B2;
  font-weight: bold;
  text-decoration: none;
}

.gslb_rsb a:hover
{
  border-bottom: dotted 1px #6900B2;
}

.gslb_rsbDivPostingTitle
{
  color: #A3681C;
  font-weight: bold;
  font-size: 1.5em;
}

.gslb_rsbDivAnnouncement
{
  border: solid 2px #A3681C;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1em;
  font-weight: bold;
}

.gslb_rsbDivDate
{
  font-weight: bold;
  font-size: 1em;
}

.gslb_rsbDivFeature
{
  padding: 0em 0.8em 0em 0.8em;
  border: solid 2px #999999;
  margin-top: 0.5em;
}

.gslb_rsbDivFeatureEx
{
  padding: none;
  border: none;
  margin: none;
}

.gslb_rsbDivTitle
{
  color:  #A3681C;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.gslb_rsbPParagraph
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gslb_rsbDivFrame
{
  border: solid 2px #A3681C;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0em 0.5em 0em 0.5em;
  font-size: 1em;
}

.gslb_rsbList li
{
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gslb_rsbDivImage
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gslb_rsbDivImage img
{
  margin-bottom: 0.4em;
}

.gslb_rsbDivImage img,
.gslb_rsbDivThumbnails img
{
  border: solid 0em Black;
}

.gslb_rsbDivThumbnails img
{
  margin-right: 1em;
}

.gslb_rsbDivImage a,
.gslb_rsbDivImage a:visited,
.gslb_rsbDivThumbnails a,
.gslb_rsbDivThumbnails a:visited
{
  border: solid 2px #6900B2;
}

.gslb_rsbDivImage a:hover,
.gslb_rsbDivThumbnails a:hover
{
  border: dotted 2px #6900B2;
}

.gslb_rsbDivThumbnails
{
  text-align: left;
  margin-bottom: 0.5em;
}

.gslb_rsbSpanTextThumbnails,
.gslb_rsbDivLegend
{
  font-size: 1em;
  font-weight: bold;
  color: #A3681C;
}

.gslb_rsbSpanTextThumbnails a,
.gslb_rsbSpanTextThumbnails a:visited,
.gslb_rsbDivLegend a,
.gslb_rsbDivLegend a:visited
{
  border: solid 0em Black;
  color: #6900B2;
  font-weight: bold;
  text-decoration: none;
}

.gslb_rsbSpanTextThumbnails a:hover,
.gslb_rsbDivLegend a:hover
{
  border: solid 0em Black;
  border-bottom: dotted 1px #6900B2;
}

.gslb_rsbDivError
{
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  border: solid 2px red;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.gslb_rsbDivAbout
{
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
}

.gslb_rsbDivCodeSection
{
  padding: 0 0 0 0;
  margin: 0em 0em 0.5em 0em;
}

.gslb_rsbDivCode
{
  white-space: pre;
  font-family: Monospace;
  font-size: 1em;
  background-color: #F3DDFF;
  text-align: left;
  padding: 1em 1em 1em 1em;
  margin-bottom: 0.4em;
}

.gslb_rsbImgRssFeed
{
  border: 0;
}
