BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5a543a
}
A:visited {
	COLOR: #006ff7
}
A:active {
	COLOR: #006ff7
}
A:link {
	COLOR: #006ff7
}
.post {
	MARGIN: 0px 0px 20px
}
.posthead {
	BORDER-RIGHT: #dfdfdf 0px dotted; BORDER-TOP: #dfdfdf 0px dotted; FONT-WEIGHT: normal; FONT-SIZE: 1.5em; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 10px; BORDER-LEFT: #dfdfdf 0px dotted; COLOR: #529e00; BORDER-BOTTOM: #dfdfdf 1px dotted
}
.posthead A:link {
	COLOR: #529e00; TEXT-DECORATION: none
}
.posthead A:visited {
	COLOR: #529e00; TEXT-DECORATION: none
}
.posthead A:active {
	COLOR: #529e00; TEXT-DECORATION: none
}
.posthead A:hover {
	COLOR: #529e00; TEXT-DECORATION: underline
}
.postfoot {
	BORDER-RIGHT: #dfdfdf 0px dotted; BORDER-TOP: #dfdfdf 1px dotted; MARGIN-TOP: 10px; PADDING-BOTTOM: 6px; BORDER-LEFT: #dfdfdf 0px dotted; COLOR: #868686; PADDING-TOP: 6px; BORDER-BOTTOM: #dfdfdf 1px dotted
}
.postfoot .em {
	COLOR: #000000
}
.pageTitle {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.8em; MARGIN-BOTTOM: 20px; COLOR: #529e00
}
#leftmenu {
	PADDING-LEFT: 16px; FLOAT: left; OVERFLOW: hidden; WIDTH: 200px
}
#leftmenu H3 {
	BORDER-RIGHT: 0px dotted; PADDING-RIGHT: 0px; BORDER-TOP: 0px dotted; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 6px; BORDER-LEFT: 0px dotted; PADDING-TOP: 0px; BORDER-BOTTOM: #dfdfdf 1px dotted
}
#leftmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftmenu UL LI {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 6px; COLOR: #a99238
}
#leftmenu UL A:link {
	COLOR: #a99238; TEXT-DECORATION: none
}
#leftmenu UL A:visited {
	COLOR: #a99238; TEXT-DECORATION: none
}
#leftmenu UL A:active {
	COLOR: #a99238; TEXT-DECORATION: none
}
#leftmenu UL A:hover {
	COLOR: #a99238; TEXT-DECORATION: underline
}
#main {
	PADDING-RIGHT: 12px; PADDING-LEFT: 20px; OVERFLOW: hidden; WIDTH: 534px
}
#footer {
	CLEAR: both; PADDING-LEFT: 16px; MARGIN: 0px; TEXT-ALIGN: left
}
#quicklinks {
	PADDING-TOP: 10px
}
INPUT.text {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
#relatedlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
FIELDSET {
	PADDING-RIGHT: 20px; MARGIN-TOP: 16px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
LEGEND {
	FONT-WEIGHT: bold; COLOR: #7cc10b
}
FIELDSET TEXTAREA {
	WIDTH: 450px
}
FIELDSET .smallbox {
	WIDTH: 450px
}
#comments H2 {
	MARGIN-TOP: 16px; FONT-SIZE: 1em; COLOR: #7cc10b
}
.CommentArea {
	MARGIN: 8px 0px
}
.CommentAreaOwner {
	MARGIN: 8px 0px
}
.CommentAreaOwner .CommentText3 {
	BACKGROUND-COLOR: #f3f3f3
}
.CommentTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN-BOTTOM: 6px
}
.CommentAreaOwner .CommentTitle {
	FONT-WEIGHT: bold
}
.CommentArrow {
	BACKGROUND-IMAGE: url(../images/summer-comment-arrow.gif); MARGIN-BOTTOM: -7px; WIDTH: 14px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.CommentText {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../images/comment-shadow.gif); PADDING-BOTTOM: 3px; BACKGROUND-REPEAT: repeat-x
}
.CommentText2 {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #bcbcbc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #bcbcbc 1px solid
}
.CommentText3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.CommentFooter {
	MARGIN-TOP: 4px; PADDING-LEFT: 16px; FONT-SIZE: 0.7em; COLOR: #999999
}
#news {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 20px
}
.copyright {
	FONT-SIZE: 0.65em; FONT-STYLE: italic; TEXT-ALIGN: center
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.CommonRateControlActive {
	BORDER-RIGHT: #cc9933 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cc9933 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc9933 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9933 1px solid; BACKGROUND-COLOR: #ffcc66
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.CommonRateControlActive {
	BORDER-RIGHT: #cc9933 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cc9933 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc9933 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9933 1px solid; BACKGROUND-COLOR: #ffcc66
}
.CommonRateControlReadOnly IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControl IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControlActive IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#content {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 792px; MARGIN-RIGHT: auto; PADDING-TOP: 32px; BACKGROUND-COLOR: #ffffff
}
#masthead {
	MARGIN-TOP: 8px; BACKGROUND: url(../images/summer-title.jpg) #ffffff; MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 804px; MARGIN-RIGHT: auto; HEIGHT: 221px
}
#masthead UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#masthead UL LI {
	DISPLAY: inline
}
#masthead UL LI A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#masthead A:link {
	COLOR: #00f; TEXT-DECORATION: none
}
#masthead A:visited {
	COLOR: #00f; TEXT-DECORATION: none
}
#masthead A:active {
	COLOR: #00f; TEXT-DECORATION: none
}
#masthead A:hover {
	COLOR: #00f; TEXT-DECORATION: none
}
#userArea {
	PADDING-RIGHT: 6px; MARGIN-TOP: 16px; FLOAT: right
}
#welcome {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 4px; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
#welcome A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
#welcome A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
#welcome A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
#welcome A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
#Search {
	PADDING-RIGHT: 4px; MARGIN-TOP: 4px
}
#Search .searchBox {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: 0.9em; BORDER-LEFT: #000 1px solid; WIDTH: 100px; BORDER-BOTTOM: #000 1px solid
}
.SearchButtonOuter {
	BACKGROUND-POSITION: left top; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/summer-search-left.gif); MARGIN-LEFT: 4px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left; FONT-VARIANT: small-caps
}
.SearchButton {
	PADDING-RIGHT: 9px; BACKGROUND-POSITION: right top; DISPLAY: inline-block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/summer-search-right.gif); PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#Search A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#Search A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#Search A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#Search A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#title {
	FONT-SIZE: 11px; LEFT: 63px; OVERFLOW: hidden; WIDTH: 151px; POSITION: relative; TOP: 76px; HEIGHT: 74px; TEXT-ALIGN: center
}
#title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #735c35; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#title A:link {
	COLOR: #735c35
}
#title A:visited {
	COLOR: #735c35
}
#title A:active {
	COLOR: #735c35
}
#title A:hover {
	COLOR: #735c35
}
#nav {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 792px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; HEIGHT: 35px; BACKGROUND-COLOR: #ffffff
}
#navbar {
	BACKGROUND: url(../images/summer-nav-background.jpg) #666666 repeat-x; HEIGHT: 35px
}
#navbar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navbar LI {
	BACKGROUND-POSITION: 4px 13px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../images/summer-nav-bul.gif); MARGIN-LEFT: 8px; TEXT-TRANSFORM: uppercase; MARGIN-RIGHT: 8px; PADDING-TOP: 9px; BACKGROUND-REPEAT: no-repeat
}
#navbar A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#navbar A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#navbar A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#navbar A:hover {
	TEXT-DECORATION: underline
}
.TagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 16px 0px; COLOR: #999999; LINE-HEIGHT: 180%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f7f7f7
}
.SidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Tag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001fa7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001fa7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #001fa7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002fb7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002fb7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #002fb7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003fc7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003fc7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #003fc7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004fd7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004fd7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #004fd7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:link {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005fe7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005fe7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:active {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #005fe7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006ff7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006ff7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #006ff7; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:hover {
	TEXT-DECORATION: underline
}
.Tag2 A:hover {
	TEXT-DECORATION: underline
}
.Tag3 A:hover {
	TEXT-DECORATION: underline
}
.Tag4 A:hover {
	TEXT-DECORATION: underline
}
.Tag5 A:hover {
	TEXT-DECORATION: underline
}
.Tag6 A:hover {
	TEXT-DECORATION: underline
}
.InlineTagEditor {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.TextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.TextButton:link {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:visited {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.TextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.ModalMask {
	FILTER: alpha(opacity=40); BACKGROUND-COLOR: #333333; opacity: .4
}
.Modal {
	BORDER-RIGHT: #888888 3px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 3px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalTitle {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 0px solid; CURSOR: move; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
.ModalClose {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/close.gif); OVERFLOW: hidden; WIDTH: 33px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.ModalContent {
	BACKGROUND-COLOR: #ffffff
}
.ModalFooter {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.AdsenseArea {
	BORDER-RIGHT: #c1c1c1 1px solid; BORDER-TOP: #c1c1c1 1px solid; FLOAT: right; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 8px; OVERFLOW: hidden; BORDER-LEFT: #c1c1c1 1px solid; WIDTH: 540px; BORDER-BOTTOM: #c1c1c1 1px solid; HEIGHT: 60px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
