BODY {
	FONT-SIZE: 9pt; MARGIN: 40px; FONT-FAMILY: Verdana, Sans-Serif
}
H1 {
	MARGIN-TOP: 25px; FONT-SIZE: 150%; PADDING-BOTTOM: 3px; BORDER-BOTTOM: #eeee99 3px solid
}
H1.mainTitle {
	FONT-SIZE: 180%
}
H2 {
	FONT-SIZE: 115%
}
PRE {
	BORDER-RIGHT: black 1px dashed; PADDING-RIGHT: 15px; BORDER-TOP: black 1px dashed; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(goldgrad.jpg); PADDING-BOTTOM: 15px; MARGIN: 15px; OVERFLOW: auto; BORDER-LEFT: black 1px dashed; COLOR: black; PADDING-TOP: 15px; BORDER-BOTTOM: black 1px dashed; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #eeee99
}
CODE {
	COLOR: #990000
}
PRE CODE {
	COLOR: black
}
#main {
	
}
#left {
	FLOAT: left; WIDTH: 80%
}
#right {
	FLOAT: right; WIDTH: 20%; max-width: 130px
}
LI {
	MARGIN-BOTTOM: 10px
}
