.syntax_hilite {
	BORDER-RIGHT: #26536a 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #26536a 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 13px; PADDING-BOTTOM: 10px; OVERFLOW: auto; BORDER-LEFT: #26536a 1px solid; WIDTH: 600px; PADDING-TOP: 3px; BORDER-BOTTOM: #26536a 1px solid; FONT-FAMILY: 'Courier New',Courier,monospace; WHITE-SPACE: nowrap; HEIGHT: 300px; BACKGROUND-COLOR: #fefefe
}
.igBar {
	PADDING-RIGHT: 5px; DISPLAY: none; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; WIDTH: 602px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #dddddd
}
.igBar A {
	FONT-WEIGHT: bold; MARGIN: 0px 5px 0px 10px
}
