/*
	CSS files kept in the 'schemes' directory can be used to
	costumize your K2 installation without having to mess
	with the core K2 files. This in turn makes it easier to
	upgrade to new K2 version as well as debug any problems
	that might occur.

	You select schemes from the K2 Options page in the
	'Presentation' section of your WordPress administration.
	
	Author Name	: 	Michael Heilemann
	Author Site	: 	http://binarybonsai.com
	Scheme Name	: 	Vader2
	Version		: 	0.5
	Comments	: 	I made Vader as a tribute to Star Wars for use on my own blog.
				  	The header image was painted by my friend Rasmus (http://no-go-dk)
					License: http://creativecommons.org/licenses/by-nc-sa/2.5/
*/

body {
	background: #333;
	padding: 0 0 40px;
	color: #bbb;
	margin: 0;
	}


ul.menu li a {
	font: 1em Verdana, Helvetica, Arial, Sans-Serif;
	color: black;
	margin: 0;
	}

ul.menu li a:hover {
	background: #333;
	color: #eee !important;
	text-decoration: none;

	}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
	color: #333 !important;
	background: white;
	text-decoration: none;
	}


h1 { /* H1 is used for the title of your blog */
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -1px;
	padding-top: 40px;
	margin: 0 0 0 40px;
	width: 100%;
	}

h1, h1 a, h1 a:hover, h1 a:visited,  #header .description {
	text-decoration: none;
	color: white;
	}

h1:hover {
	text-decoration: underline;
	}

#page {
	/* The entire design is contained within the 'page' id */
	}
	
#header {
	background: url('karen/log2.jpg') no-repeat;
	width: 100%;
	height: 215px;
	}
	
.primary {
	/* Contains the main column */
	}

.item {
	/* Each entry is contained within the 'item' class */
	}

.itemtext {
	/* The meat and potatoes of every entry */
	}

.secondary {
	/* Contains the sidebar */
	}


/*- Links */

.primary a:hover, .primary a:visited:hover,
.secondary a:hover, .secondary a:visited:hover {
	text-decoration: underline;
	}

h2 a:hover, h2 span a:hover {
	color: #27d !important;
	}

a {
	color: #1676C0;
	text-decoration: none;
	}

.itemtext a:visited {
	color: #b41;
	}

b{ /* H1 is the title in the header */

	font-weight: bold;
}
