.csharpcode
{
	font-size: small;
	color: black;
	font-family: Courier New , Courier, Monospace;
        background: #808088;
        margin-left: 20px;
        margin-right: 80px;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.rem { color: #008000; }

.kwrd { color: #0000CC; }

.str { color: #006080; }

.op { color: #0000c0; }

.preproc { color: #cc6633; }

.asp { background-color: #ffff00; }

.html { color: #800000; }

.attr { color: #CC0000; }

.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.lnum { color: #606060; }
