BODY {
	BACKGROUND-IMAGE: none; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
HTML {
	BACKGROUND-IMAGE: none; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #0000cc
}
A:hover {
	COLOR: #0000cc
}
A:active {
	COLOR: #0000cc
}
A:visited {
	COLOR: #0000cc
}
#header {
	BACKGROUND-COLOR: #ffffff
}
H1.headermaintitle {
	FONT-SIZE: 2em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1.headermaintitle A:link {
	COLOR: #333333
}
H1.headermaintitle A:visited {
	COLOR: #333333
}
H1.headermaintitle A:active {
	COLOR: #333333
}
H2.pageTitle {
	FONT-SIZE: 1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.posthead H2 {
	FONT-SIZE: 1.1em; COLOR: #0000cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.posthead H2 A:link {
	COLOR: #0000cc
}
.posthead H2 A:visited {
	COLOR: #0000cc
}
.posthead H2 A:active {
	COLOR: #0000cc
}
.posthead H2 A:hover {
	COLOR: #0000cc
}
#sidebar-a H3 {
	FONT-SIZE: 0.9em; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#sidebar-a {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#sidebar-a UL {
	FONT-SIZE: 0.9em
}
#sidebar-a P {
	FONT-SIZE: 0.9em
}
#sidebar-a A:link {
	COLOR: #0000cc
}
#sidebar-a A:visited {
	COLOR: #0000cc
}
#sidebar-a A:active {
	COLOR: #0000cc
}
#sidebar-a A:hover {
	COLOR: #0000cc
}
.Tag1 A:link {
	COLOR: #000077
}
.Tag1 A:visited {
	COLOR: #000077
}
.Tag1 A:active {
	COLOR: #000077
}
.Tag2 A:link {
	COLOR: #000088
}
.Tag2 A:visited {
	COLOR: #000088
}
.Tag2 A:active {
	COLOR: #000088
}
.Tag3 A:link {
	COLOR: #000099
}
.Tag3 A:visited {
	COLOR: #000099
}
.Tag3 A:active {
	COLOR: #000099
}
.Tag4 A:link {
	COLOR: #0000aa
}
.Tag4 A:visited {
	COLOR: #0000aa
}
.Tag4 A:active {
	COLOR: #0000aa
}
.Tag5 A:link {
	COLOR: #0000bb
}
.Tag5 A:visited {
	COLOR: #0000bb
}
.Tag5 A:active {
	COLOR: #0000bb
}
.Tag6 A:link {
	COLOR: #0000cc
}
.Tag6 A:visited {
	COLOR: #0000cc
}
.Tag6 A:active {
	COLOR: #0000cc
}
#nav {
	BORDER-LEFT-COLOR: #aaaaaa; BORDER-BOTTOM-COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaaaaa; BORDER-RIGHT-COLOR: #aaaaaa
}
#sidebar-a {
	BORDER-LEFT-COLOR: #aaaaaa; BORDER-BOTTOM-COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaaaaa; BORDER-RIGHT-COLOR: #aaaaaa
}
DIV {
	WORD-WRAP: break-word
}
P {
	WORD-WRAP: break-word
}
#header {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(http://zahav.ru/editor/microsoft/bgblog.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #050d10
}
#tagline {
	COLOR: #d7e2e4
}
#title A {
	COLOR: #ffffff
}
#subscriptions A {
	COLOR: #d7e2e4
}
#nav A {
	COLOR: #d7e2e4
}
