HTML {
	COLOR: #333
}
BODY {
	COLOR: #333
}
BODY {
	BACKGROUND: #fff
}
A:visited {
	COLOR: #00c
}
A:active {
	COLOR: #00c
}
A:link {
	COLOR: #00c
}
H1 A:visited {
	COLOR: #333
}
H1 A:active {
	COLOR: #333
}
H1 A:link {
	COLOR: #333
}
#container {
	WIDTH: 100%
}
#nav {
	BORDER-BOTTOM-COLOR: #aaa
}
#content {
	MARGIN-LEFT: 210px; MARGIN-RIGHT: 0px
}
#sidebar-a {
	BORDER-RIGHT: #aaa 1px solid; FLOAT: left; MARGIN: 0px 0.5em 0px 0em; BORDER-LEFT: 0px
}
#sidebar-a H3 {
	MARGIN-LEFT: 0em; MARGIN-RIGHT: 1em
}
#sidebar-a UL {
	MARGIN-LEFT: 0em; MARGIN-RIGHT: 1em
}
#sidebar-a H3 {
	BORDER-BOTTOM-COLOR: #666; COLOR: #666
}
.calendar .calOtherMonthDay {
	COLOR: #ccc
}
.calNextPrev A:link {
	COLOR: #00c! important
}
.calNextPrev A:active {
	COLOR: #00c! important
}
.calNextPrev A:visited {
	COLOR: #00c! important
}
.calNextPrev A:hover {
	COLOR: #00c! important
}
.postfoot {
	BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa
}
.postcategoryheading {
	BORDER-BOTTOM-COLOR: #aaa
}
.ratemenu {
	BORDER-LEFT-COLOR: #666; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666
}
.comment {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.commentowner {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.commentssubhead {
	COLOR: #666
}
.commentsbody {
	BORDER-BOTTOM-COLOR: #aaa
}
#commentform .smallbox {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#commentform TEXTAREA {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#search .searchBox {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#masthead {
	BACKGROUND: #f0f0f0; COLOR: #333; BORDER-BOTTOM: #aaa 2px solid
}
#masthead A:link {
	COLOR: #00c
}
#masthead A:visited {
	COLOR: #00c
}
#masthead A:active {
	COLOR: #00c
}
#masthead A:hover {
	COLOR: #00c
}
.TagCloud {
	BACKGROUND-COLOR: #f4f4f4
}
.Tag1 A:link {
	COLOR: #007
}
.Tag1 A:visited {
	COLOR: #007
}
.Tag1 A:active {
	COLOR: #007
}
.Tag2 A:link {
	COLOR: #008
}
.Tag2 A:visited {
	COLOR: #008
}
.Tag2 A:active {
	COLOR: #008
}
.Tag3 A:link {
	COLOR: #009
}
.Tag3 A:visited {
	COLOR: #009
}
.Tag3 A:active {
	COLOR: #009
}
.Tag4 A:link {
	COLOR: #00a
}
.Tag4 A:visited {
	COLOR: #00a
}
.Tag4 A:active {
	COLOR: #00a
}
.Tag5 A:link {
	COLOR: #00b
}
.Tag5 A:visited {
	COLOR: #00b
}
.Tag5 A:active {
	COLOR: #00b
}
.Tag6 A:link {
	COLOR: #00c
}
.Tag6 A:visited {
	COLOR: #00c
}
.Tag6 A:active {
	COLOR: #00c
}
