/* CSS Document */
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a {margin: 0; padding: 0; border: 0;}


.downloadlink {
	font: bold large Tahoma;
	border: 0px none #FFFFFF;
	color: #9999CC;
	text-decoration: underline;
}
body { margin: 20px 40px; background-color: #222233; font-size: 100%; color: #111122;
	font-family:Verdana, Arial, Helvetica, sans-serif; text-align:center; /* MSIE Hack 1 */ }

.clearall { clear: both; display: block; overflow: hidden; margin: 0; padding: 0; height: 1px; }

#outerwrap { min-width: 770px; margin: 0 auto; background-color:#444455; position: relative; text-align:left; /* Undo MSIE Hack 1 */ }

/* Begin Header Styles */
#headerwrap { background: url("../images/origlayout/toptier_tilex.jpg") repeat-x; height: 164px; display: block; }
#headergfx { background: url("../images/origlayout/feebdackgfx.jpg") no-repeat top left; height: 164px; width: 100%; }
#headerlogo { background: url("../images/origlayout/logogfx.jpg") no-repeat top right; height: 164px; width: 100%; }
/* End Header Styles */

/* Begin Breadcrumb Styles */
#bcwrap { background-color:#444455; margin: 0; padding: 0; }
#bctop { background-image: url("../images/origlayout/bc_top_tilex.jpg"); background-repeat:repeat-x; height: 18px; font-size:0px; }
#bctopleft { width: 100%; height: 18px; background-position:left; background-image: url("../images/origlayout/bc_nw.jpg"); background-repeat:no-repeat; }
#bctopright { width: 100%; height: 18px; background-position:right; background-image: url("../images/origlayout/bc_ne.jpg"); background-repeat:no-repeat; }
#bcbot { background-image: url("../images/origlayout/bc_bottom_tilex.jpg"); background-repeat:repeat-x; height: 6px; font-size:0px; }
#bcbotleft { width: 100%; height: 6px; background-position:left; background-image: url("../images/origlayout/bc_sw.jpg"); background-repeat:no-repeat; }
#bcbotright { width: 100%; height: 6px; background-position:right; background-image: url("../images/origlayout/bc_se.jpg"); background-repeat:no-repeat; }
#bccontent { margin: 0 40px; font-size: 70%; color:#DDDDEE; line-height: 0.8em; background-color: #444455; }
#bccontentleft { width: 100%; background-image: url("../images/origlayout/bc_left_tiley.jpg"); background-repeat:repeat-y; background-position:left; background-color: #444455; }
#bccontentright { width: 100%; background-image: url("../images/origlayout/bc_right_tiley.jpg"); background-repeat:repeat-y; background-position:right; }
#bcwrap a { font-weight: bold; color: #CCCCDD; text-decoration: none; }
#bcwrap a:hover, #bcwrap a:focus { color:#EEEEFF; text-decoration: underline; }
/* End Breadcrumb Styles */

/* Begin Two Column Styles*/
.twocolwrap { background-color:#EEEEFF; }
.twocollefttile { width: 100%; background-image: url("../images/origlayout/twocolwrap_left_tiley.jpg"); background-repeat:repeat-y; background-position:left; }
.twocolrighttile { width: 100%; background-image: url("../images/origlayout/twocolwrap_right_tiley.jpg");	background-repeat:repeat-y;	background-position:right; }
.leftcontentwrap { width:230px; float: left; background-color:#CCCCDD; }
.lclefttile { width: 100%; background-image: url("../images/origlayout/content_left_tiley.jpg");	background-repeat:repeat-y;	background-position:left; }
.lcrighttile { width:100%; background-image: url("../images/origlayout/leftcont_right_tiley.jpg"); background-repeat:repeat-y; background-position:right; }
.lctopcap { background-image: url("../images/origlayout/leftcont_top.jpg"); background-repeat:no-repeat; height: 40px; width: 230px; }
.lcbotcap { background-image: url("../images/origlayout/leftcont_bottom.jpg"); background-repeat:no-repeat;	height: 30px; width: 230px; }
.leftcontent { margin: 0 30px 0 40px; }
.rightcontentwrap {	margin-left: 230px;	background-color:#CCCCDD; } 
.rclefttile { background-image: url("../images/origlayout/twocol_maincontent_lefttiley.jpg");	background-repeat:repeat-y;	background-position:left; }
.rcrighttile { background-image: url("../images/origlayout/content_right_tiley.jpg");	background-repeat:repeat-y;	background-position:right; }
.rctopwrap { height: 40px; background-image: url("../images/origlayout/content_top_tilex.jpg"); background-repeat:repeat-x; }
.rctopleft { background-image: url("../images/origlayout/island_nw.jpg"); background-repeat:no-repeat; width: 100%; height: 40px; background-position:left; }
.rctopright { background-image: url("../images/origlayout/corner_ne.jpg"); background-repeat:no-repeat; width: 100%; height: 40px; background-position: right; }
.rightcontent { margin: 0 40px 0 30px; }
.rcbotwrap { height: 30px; background-image: url("../images/origlayout/content_bottom_tilex.jpg"); background-repeat:repeat-x; }
.rcbotleft { background-image: url("../images/origlayout/corner_island_sw.jpg"); background-repeat:no-repeat; width: 100%; height: 30px; background-position:left; }
.rcbotright { background-image: url("../images/origlayout/corner_se.jpg"); background-repeat:no-repeat; width: 100%; height: 30px; background-position:right; }
/* End Two Column Styles */

/* Begin Wide Content Styles */
.widecontentwrap { background-color:#00FF00; margin: 0; padding: 0; }
.wctopwrap { background-image: url("../images/origlayout/content_top_tilex.jpg"); background-repeat:repeat-x; height: 40px; }
.wctopleft { width: 100%; height: 40px; background-position:left; background-image: url("../images/origlayout/corner_nw.jpg"); background-repeat:no-repeat; }
.wctopright { width: 100%; height: 40px; background-position:right; background-image: url("../images/origlayout/corner_ne.jpg"); background-repeat:no-repeat; }
.wclefttile { width: 100%; background-image: url("../images/origlayout/content_left_tiley.jpg"); background-repeat:repeat-y; background-position:left; }
.wcrighttile { width: 100%; background-image: url("../images/origlayout/content_right_tiley.jpg"); background-repeat:repeat-y; background-position:right; }
.widecontent { margin: 0 40px; padding: 0 10px 10px 10px; background-color:#CCCCDD; }
.wcbotwrap { background-image: url("../images/origlayout/content_bottom_tilex.jpg"); background-repeat:repeat-x; height: 30px; }
.wcbotleft { width: 100%; height: 30px; background-position:left; background-image: url("../images/origlayout/corner_sw.jpg"); background-repeat:no-repeat; }
.wcbotright { width: 100%; height: 30px; background-position:right; background-image: url("../images/origlayout/corner_se.jpg"); background-repeat:no-repeat; }
/* End Wide Content Styles */

/* Begin Footer Styles */
#footerwrap { background-color:#333344; margin: 0; padding: 0; }
#footertopwrap { background-image: url("../images/origlayout/footer_top_tilex.jpg"); background-repeat:repeat-x; height: 20px; font-size:0px; }
#foottopleft { width: 100%; height: 20px; background-position:left; background-image: url("../images/origlayout/footer_nw.jpg"); background-repeat:no-repeat; }
#foottopright { width: 100%; height: 20px; background-position:right; background-image: url("../images/origlayout/footer_ne.jpg"); background-repeat:no-repeat; }
#footcontent { margin: 0 40px; font-size: 60%; color:#DDDDEE; text-align: center; font-family:Arial, Helvetica, sans-serif; background-color:#333344; line-height:0.7em;}
#footlefttile { width: 100%; background-image: url("../images/origlayout/footer_left_tiley.jpg"); background-repeat:repeat-y; background-position:left; }
#footrighttile { width: 100%; background-image: url("../images/origlayout/footer_right_tiley.jpg"); background-repeat:repeat-y; background-position:right; }
#footerbotwrap { background-image: url("../images/origlayout/footer_bot_tilex.jpg"); background-repeat:repeat-x; height: 29px; font-size:0px; }
#footbotleft { width: 100%; height: 29px; background-position:left; background-image: url("../images/origlayout/footer_sw.jpg"); background-repeat:no-repeat; }
#footbotright { width: 100%; height: 29px; background-position:right; background-image: url("../images/origlayout/footer_se.jpg"); background-repeat:no-repeat; }
#footcontent a { color:#CCCCFF; text-decoration: none; font-weight:bold; }
#footcontent a:hover, #footcontent a:focus { color:#9999FF; }
/* End Footer Styles */

/* Begin Text Styles */
h1, h2, h3, h4, h5, h6 { color:#333344; font-family:Arial, Helvetica, sans-serif; border-bottom:2px solid #EEEEFF; }
h1 { font-size: 200%; text-align: center; border-top: 2px solid #EEEEFF; }
h2 { font-size: 100%; border-top: 2px solid #EEEEFF; }
h3 { font-size: 95%; margin-bottom: 0.2em; border: none; text-align: center; }
h4 { font-size: 80%; margin: 0; border-top:2px solid #EEEEFF; text-align: right; }
.reducedhone {font-size: 170%; text-align: left; }
.enhancedhthree { font-size: 120%; border-top: 2px solid #EEEEFF; border-bottom: 2px solid #EEEEFF; }
.rightcontent p { text-indent: 2em; padding-bottom: 1em; font-size: 80%; }
.widecontent p { text-indent: 2em; padding-bottom: 1em; font-size: 80%; }
/* End Text Styles */


/* Begin Link List Styles */
ul.clinks { list-style-type: none; width: 160px; }
.clinks li { margin: 5px 0;	border-top:2px solid #EEEEFF; border-bottom:2px solid #EEEEFF; }
.clinks li a { padding: 0 0 0 5px; font-size: 110%;	display: block; font-weight: bold; text-decoration:none; color:#777799; }
.clinks li a:hover, .clinks li a:focus { font-size: 110%; font-weight: bold; background-color:#777799; color:#CCCCDD; text-decoration:none; }

.buttonlinks { text-align: center; background: url("../images/origlayout/twocolwrap_left_tiley.jpg") repeat-y; }
.buttonlinks img { border:none; margin: 5px 0; height: 32px; width: 89px; }

.rabidlist { list-style: url(../images/BulletLogo2.gif) inside; }
.rabidlist li { margin: 1em 0; font-size: 80%; }
.rightcontent a { text-decoration: none;  font-weight: bold; color:#666688; }
.rightcontent a:link { color:#111122; }
.rightcontent a:hover, .rightcontent a:focus { color:#6666BB; text-decoration: underline; }
/* End Link List Styles */
.imagenotes {
	font: italic 12px "Times New Roman", Times, serif;
	border: medium solid #EEEEFF;
	padding: 0px 0px 0px 0px;
	margin-bottom: 10px;
}
.imagetitles {
	font: bold normal 18px Tahoma;
	padding: 0px;
	margin: 0px;
}
pre {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000066;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-style: normal;
	font-weight: normal;
}