BODY {
	BACKGROUND-COLOR: #b7c8d8
}
.sf_blog_outer_wrapper {
	BACKGROUND-COLOR: #fff
}
.sf_blog_extra1 {
	
}
.sf_blog_wrapper {
	BACKGROUND-COLOR: #fff
}
.sf_blog_wrapper:unknown {
	
}
.sf_extra10 {
	
}
.sf_blog_navigation_top {
	
}
.sf_blog_header_wrapper {
	BACKGROUND-IMAGE: url(images/blog_banner_image_2.jpg); BACKGROUND-REPEAT: no-repeat
}
.sf_blog_extra2 {
	
}
.sf_blog_main_header {
	COLOR: #fff
}
.sf_blog_extra3 {
	
}
.sf_blog_sub_header {
	COLOR: #fff
}
.sf_blog_extra4 {
	
}
.sf_blog_sidebar {
	BACKGROUND-COLOR: #639ddd
}
.sf_blog_sidebar UL {
	
}
.sf_blog_sidebar UL LI {
	
}
.sf_blog_sidebar UL LI A {
	COLOR: #fff
}
.sf_blog_sidebar UL LI A:visited {
	COLOR: #fff
}
.sf_blog_sidebar UL LI A:hover {
	COLOR: #14406f
}
.sf_blog_sidebar UL:unknown {
	
}
DIV#sidebar_left OL {
	COLOR: #ffffff
}
DIV#sidebar_left UL {
	COLOR: #ffffff
}
.sidebarlist {
	
}
.sidebarlist LI.sidebaritem {
	LIST-STYLE-TYPE: none
}
.sidebarlist H2 {
	COLOR: #ffffff; BACKGROUND-COLOR: #3670af
}
.sidebarlist .calendartitle TD {
	COLOR: #ffffff; BACKGROUND-COLOR: #3670af
}
.sidebaritem {
	BORDER-RIGHT: #3670af 1px solid; BORDER-TOP: #3670af 1px solid; BORDER-LEFT: #3670af 1px solid; BORDER-BOTTOM: #3670af 1px solid
}
.sidebaritem A {
	COLOR: #ffffff
}
.sidebaritem A:visited {
	COLOR: #ffffff
}
.sidebaritem A:hover {
	COLOR: #14406f
}
.sidebaritem TD {
	COLOR: #ffffff
}
H2.homelinkheader A {
	COLOR: #ffffff! important
}
H2.homelinkheader A:visited {
	COLOR: #cccccc! important
}
H2.homelinkheader A:hover {
	COLOR: #14406f! important
}
H2.homelinkheader {
	
}
.submit-button {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #b7c8d8
}
.submit-button:hover {
	COLOR: #fff; BACKGROUND-COLOR: #3670af
}
.searchimage {
	
}
#BlogEmail {
	
}
#EntryEmail {
	
}
.searchterm {
	
}
.subscribeimage {
	
}
.feedbutton {
	
}
A.feedlink {
	
}
.calendarweek {
	
}
.calendar {
	
}
.calendar TD {
	COLOR: #ffffff
}
A.calendarlink {
	COLOR: #ffffff
}
A.calendarlink:visited {
	COLOR: #ffffff
}
A.calendarlink:hover {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
.sf_extra5 {
	
}
.sf_blog_pagetitle {
	
}
.sf_blog_extra6 {
	
}
.sf_blog_extra11 {
	
}
.sf_blog_content {
	
}
.sf_blog_content:unknown {
	
}
.sf_blog_post {
	BORDER-BOTTOM: #cccccc 1px dotted
}
H3.sf_blog_posttitle {
	COLOR: #14406f
}
H3.sf_blog_posttitle A {
	COLOR: #14406f
}
H3.sf_blog_posttitle A:visited {
	COLOR: #14406f
}
H3.sf_blog_posttitle A:hover {
	COLOR: #000
}
.sf_blog_entry {
	
}
.sf_blog_postmeta {
	
}
.sf_blog_postmeta A {
	
}
.sf_blog_postmeta A:hover {
	COLOR: #000
}
.recentdate {
	
}
H2.sf_blog_posttitle {
	COLOR: #14406f
}
H2.sf_blog_posttitle A {
	COLOR: #14406f
}
H2.sf_blog_posttitle A:visited {
	COLOR: #14406f
}
H2.sf_blog_posttitle A:hover {
	COLOR: #000
}
DIV#blogprint {
	
}
DIV#blogprint A {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
DIV#blogprint A:hover {
	BORDER-RIGHT: 3px solid; BORDER-TOP: 3px solid; BORDER-LEFT: 3px solid; BORDER-BOTTOM: 3px solid
}
P#postinfo {
	
}
.sf_blog_survey {
	
}
FORM#formsurvey {
	BACKGROUND-COLOR: #ffffff
}
#formsurvey {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
P#surveytitletext {
	COLOR: #ffffff; BACKGROUND-COLOR: #666666
}
DIV#surveyopxions {
	
}
DIV#surveysubmit {
	
}
DIV#surveysubmit INPUT {
	
}
H6#trackbackslabel {
	BORDER-TOP: #6fa5df 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6fa5df; BORDER-BOTTOM: #6fa5df 2px solid
}
H6#commentslabel {
	BORDER-TOP: #6fa5df 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6fa5df; BORDER-BOTTOM: #6fa5df 2px solid
}
H6#leavecommentlabel {
	BORDER-TOP: #6fa5df 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6fa5df; BORDER-BOTTOM: #6fa5df 2px solid
}
.commentlinks {
	
}
.trackbacklinks {
	
}
A#trackbackurl {
	
}
.trackbacklist {
	
}
.commentlist {
	
}
.trackbacklist LI {
	BORDER-RIGHT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; BORDER-LEFT: #ccc 1px dotted; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-COLOR: #dfeeff
}
.commentlist LI {
	BORDER-RIGHT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; BORDER-LEFT: #ccc 1px dotted; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-COLOR: #dfeeff
}
.trackbacklist .trackbacklist {
	
}
.commentlist .commentlist {
	
}
OL.commentlist LI {
	BORDER-LEFT: #639ddd 1px solid; BACKGROUND-COLOR: #fff
}
A.commentcreationdate {
	
}
H2.searchheading {
	BORDER-BOTTOM: #ccc 1px solid
}
.error {
	COLOR: #c00! important
}
.error A {
	COLOR: #c00! important
}
.error A:visited {
	COLOR: #c00! important
}
.error A:link {
	COLOR: #c00! important
}
.error A:hover {
	COLOR: #fff! important; BACKGROUND-COLOR: #900! important
}
.archive-post H3 {
	
}
.archive-post {
	
}
.readlink {
	
}
.sf_blog_extra7 {
	
}
.sf_blog_footer {
	COLOR: #999; BORDER-BOTTOM: #639ddd 6px solid
}
.sf_blog_footer SPAN {
	
}
.sf_blog_extra8 {
	
}
.sf_blog_extra9 {
	
}
A:link {
	COLOR: #6fa5df; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #6fa5df
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
