BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.submit-button {
	FONT-WEIGHT: bold; MARGIN: 5px 0px; CURSOR: pointer
}
.sf_blog_outer_wrapper {
	MARGIN: 40px auto 0px; WIDTH: 900px
}
.sf_blog_extra1 {
	
}
.sf_blog_wrapper {
	WIDTH: 900px
}
.sf_blog_wrapper:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.sf_extra10 {
	
}
.sf_blog_navigation_top {
	DISPLAY: none
}
.sf_blog_header_wrapper {
	CLEAR: both; BACKGROUND-POSITION: left 50%; BORDER-TOP: #fff 6px solid; WIDTH: 900px; POSITION: relative; HEIGHT: 100px
}
.sf_blog_extra2 {
	
}
.sf_blog_main_header P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sf_sub_header P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sf_blog_main_header {
	FONT-SIZE: 18px; MARGIN: 0px 10px; OVERFLOW: hidden; WIDTH: 880px; PADDING-TOP: 10px; HEIGHT: 90px
}
.sf_blog_extra3 {
	
}
.sf_blog_sub_header {
	DISPLAY: none
}
.sf_blog_extra4 {
	BACKGROUND-IMAGE: url(images/blog_tile.jpg); WIDTH: 900px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.sf_blog_sidebar {
	DISPLAY: inline; FLOAT: right; PADDING-BOTTOM: 32px; MARGIN: 4px 0px 4px 5px; WIDTH: 200px
}
.sf_blog_sidebar UL {
	PADDING-LEFT: 15px; MARGIN: 0px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.sf_blog_sidebar UL LI {
	
}
.sf_blog_sidebar UL LI A {
	COLOR: #fff
}
.sf_blog_sidebar UL LI A:visited {
	COLOR: #fff
}
.sf_blog_sidebar UL LI A:hover {
	COLOR: #b5e7ff
}
.sf_blog_sidebar UL:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
DIV#sidebar_left OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#sidebar_left UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sidebarlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sidebarlist LI.sidebaritem {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
.sidebarlist H2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold! important; FONT-SIZE: 15px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 5px; PADDING-TOP: 1px
}
.sidebarlist .calendartitle TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold! important; FONT-SIZE: 15px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 5px; PADDING-TOP: 1px
}
.sidebaritem {
	MARGIN: 3px
}
.sidebaritem A {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.sidebaritem A:visited {
	
}
.sidebaritem A:hover {
	TEXT-DECORATION: none
}
.sidebaritem TD {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
H2.homelinkheader A {
	FONT-WEIGHT: bold! important
}
H2.homelinkheader A:visited {
	
}
H2.homelinkheader A:hover {
	FONT-WEIGHT: bold! important
}
H2.homelinkheader {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 2px! important; PADDING-BOTTOM: 3px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
.searchimage {
	MARGIN: 5px 0px 20px
}
#BlogEmail {
	WIDTH: 125px
}
#EntryEmail {
	WIDTH: 125px
}
.searchterm {
	WIDTH: 125px
}
.subscribeimage {
	MARGIN: 5px 0px 10px
}
.feedbutton {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px
}
A.feedlink {
	VERTICAL-ALIGN: top
}
.calendarweek {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px
}
.calendar {
	MARGIN: 0px auto 4px; WIDTH: 184px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.calendar TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.calendarlink {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-TOP: 2px
}
A.calendarlink:hover {
	COLOR: #979797
}
.sf_extra5 {
	
}
.sf_blog_pagetitle {
	DISPLAY: none
}
.sf_blog_extra6 {
	
}
.sf_blog_extra11 {
	
}
.sf_blog_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 675px; PADDING-TOP: 5px
}
.sf_blog_content:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.sf_blog_post {
	MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px
}
H3.sf_blog_posttitle {
	FONT-WEIGHT: bold! important; FONT-SIZE: 16px; TEXT-DECORATION: none
}
H3.sf_blog_posttitle A {
	TEXT-DECORATION: none
}
.sf_blog_entry {
	MARGIN-LEFT: 11px
}
.sf_blog_postmeta {
	MARGIN: 10px 0px 0px 11px
}
.recentdate {
	MARGIN-BOTTOM: 10px
}
H2.sf_blog_posttitle {
	FONT-SIZE: 14px; MARGIN: 15px 0px 3px; LINE-HEIGHT: 20px; LETTER-SPACING: 0px
}
DIV#blogprint {
	CLEAR: both; MARGIN-TOP: -5px; FLOAT: right
}
DIV#blogprint A {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid
}
DIV#blogprint A:hover {
	BORDER-RIGHT: 3px solid; PADDING-RIGHT: 4px; BORDER-TOP: 3px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: 3px solid; PADDING-TOP: 3px; BORDER-BOTTOM: 3px solid
}
P#postinfo {
	MARGIN-TOP: 0px; FONT-SIZE: 9px; FONT-STYLE: italic
}
.sf_blog_survey {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM#formsurvey {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#formsurvey {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 4px 0px 20px 90px; WIDTH: 240px; PADDING-TOP: 5px
}
P#surveytitletext {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV#surveyopxions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV#surveysubmit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
DIV#surveysubmit INPUT {
	FONT-SIZE: 10px
}
H6#trackbackslabel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN: 25px 0px 0px; PADDING-TOP: 3px
}
H6#commentslabel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN: 25px 0px 0px; PADDING-TOP: 3px
}
H6#leavecommentlabel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN: 25px 0px 0px; PADDING-TOP: 3px
}
.commentlinks {
	MARGIN: 5px 0px; TEXT-ALIGN: center
}
.trackbacklinks {
	MARGIN: 5px 0px; TEXT-ALIGN: center
}
A#trackbackurl {
	MARGIN-TOP: -8px; DISPLAY: block; FLOAT: right
}
.trackbacklist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px; PADDING-TOP: 5px
}
.commentlist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px; PADDING-TOP: 5px
}
.trackbacklist LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.commentlist LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.trackbacklist .trackbacklist {
	PADDING-LEFT: 6px; MARGIN-LEFT: 5px
}
.commentlist .commentlist {
	PADDING-LEFT: 6px; MARGIN-LEFT: 5px
}
A.commentcreationdate {
	DISPLAY: block; FLOAT: right; FONT-STYLE: italic
}
H2.searchheading {
	PADDING-BOTTOM: 2px
}
.error {
	FONT-WEIGHT: bold
}
.error A {
	TEXT-DECORATION: underline
}
.error A:visited {
	TEXT-DECORATION: underline
}
.error A:link {
	TEXT-DECORATION: underline
}
.error A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.archive-post H3 {
	FONT-WEIGHT: bold
}
.archive-post {
	MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px
}
.readlink {
	FONT-WEIGHT: normal
}
.sf_blog_extra7 {
	
}
.sf_blog_footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/blog_footer.jpg) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; PADDING-TOP: 20px; HEIGHT: 35px; TEXT-ALIGN: center
}
.sf_blog_extra8 {
	
}
.sf_blog_extra9 {
	
}
A:link {
	TEXT-DECORATION: underline
}
A:visited {
	
}
A:hover {
	TEXT-DECORATION: underline
}
.sf_blog_banner {
	MARGIN-TOP: 40px; TEXT-ALIGN: center
}
