#vPIP_TB_overlay {
	Z-INDEX: 100; FILTER: alpha(opacity=60); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #000; moz-opacity: 0.6; opacity: 0.6
}
#vPIP_TB_window {
	BORDER-RIGHT: #525252 4px solid; BORDER-TOP: #525252 4px solid; DISPLAY: none; Z-INDEX: 102; LEFT: 0px; BORDER-LEFT: #525252 4px solid; COLOR: #000000; BORDER-BOTTOM: #525252 4px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e1e1e1
}
#vPIP_TB_window IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: block; MARGIN: 15px 0px 0px 15px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#vPIP_TB_caption {
	PADDING-RIGHT: 30px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 25px
}
#vPIP_TB_closeWindow {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 25px
}
#vPIP_Object {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: #e1e1e1; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
#vPIP_TB_load {
	DISPLAY: block; Z-INDEX: 101; LEFT: 0px; VISIBILITY: visible; OVERFLOW: visible; WIDTH: 100%; POSITION: absolute; TOP: 50%; TEXT-ALIGN: center
}
#vPIP_TB_loadContent {
	LEFT: 50%; VISIBILITY: visible; MARGIN-LEFT: -125px; WIDTH: 250px; POSITION: absolute; TOP: -50px; HEIGHT: 100px
}
