BODY {
	BACKGROUND-COLOR: #002940
}
A:visited {
	COLOR: #006ff7
}
A:active {
	COLOR: #006ff7
}
A:link {
	COLOR: #006ff7
}
.posthead {
	BORDER-LEFT-COLOR: #dfdfdf; BORDER-BOTTOM-COLOR: #dfdfdf; COLOR: #529e00; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf
}
.posthead A:link {
	COLOR: #529e00
}
.posthead A:visited {
	COLOR: #529e00
}
.posthead A:active {
	COLOR: #529e00
}
.posthead A:hover {
	COLOR: #529e00
}
.postfoot {
	BORDER-LEFT-COLOR: #dfdfdf; BORDER-BOTTOM-COLOR: #dfdfdf; COLOR: #868686; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf
}
.postfoot .em {
	COLOR: #000000
}
.pageTitle {
	COLOR: #529e00
}
#leftmenu H3 {
	BORDER-BOTTOM-COLOR: #dfdfdf
}
#leftmenu UL LI {
	COLOR: #7c95b3
}
#leftmenu UL A:link {
	COLOR: #7c95b3
}
#leftmenu UL A:visited {
	COLOR: #7c95b3
}
#leftmenu UL A:active {
	COLOR: #7c95b3
}
#leftmenu UL A:hover {
	COLOR: #7c95b3
}
LEGEND {
	COLOR: #7cc10b
}
#comments H2 {
	COLOR: #7cc10b
}
.CommentArrow {
	BACKGROUND-IMAGE: url(../images/cactus-comment-arrow.gif); MARGIN-BOTTOM: -7px; WIDTH: 14px; HEIGHT: 14px
}
.CommentText2 {
	BORDER-RIGHT: #bcbcbc 1px solid; BORDER-TOP: #bcbcbc 1px solid; BORDER-LEFT: #bcbcbc 1px solid; BORDER-BOTTOM: #bcbcbc 1px solid
}
.CommentText3 {
	
}
.CommentFooter {
	COLOR: #999999
}
#content {
	BACKGROUND-COLOR: #ffffff
}
#masthead {
	BACKGROUND: url(../images/cactus-title.jpg) #ffffff
}
#welcome {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
#welcome A:link {
	COLOR: #ffffff
}
#welcome A:visited {
	COLOR: #ffffff
}
#welcome A:active {
	COLOR: #ffffff
}
#welcome A:hover {
	COLOR: #ffffff
}
.SearchButtonOuter {
	BACKGROUND-IMAGE: url(../images/cactus-search-left.gif)
}
.SearchButton {
	BACKGROUND-IMAGE: url(../images/cactus-search-right.gif); COLOR: #ffffff
}
#Search A:link {
	COLOR: #ffffff
}
#Search A:visited {
	COLOR: #ffffff
}
#Search A:active {
	COLOR: #ffffff
}
#Search A:hover {
	COLOR: #ffffff
}
#title H1 {
	COLOR: #000000
}
#title A:link {
	COLOR: #000000
}
#title A:visited {
	COLOR: #000000
}
#title A:active {
	COLOR: #000000
}
#title A:hover {
	COLOR: #000000
}
#nav {
	BACKGROUND-COLOR: #ffffff
}
#navbar {
	BACKGROUND: url(../images/cactus-nav-background.jpg) #666666 repeat-x
}
#navbar LI {
	BACKGROUND-IMAGE: url(../images/cactus-nav-bul.gif)
}
#navbar A:link {
	COLOR: #ffffff
}
#navbar A:visited {
	COLOR: #ffffff
}
#navbar A:active {
	COLOR: #ffffff
}
.TagCloud {
	COLOR: #999999; BACKGROUND-COLOR: #f7f7f7
}
.Tag1 A:link {
	COLOR: #001fa7
}
.Tag1 A:visited {
	COLOR: #001fa7
}
.Tag1 A:active {
	COLOR: #001fa7
}
.Tag2 A:link {
	COLOR: #002fb7
}
.Tag2 A:visited {
	COLOR: #002fb7
}
.Tag2 A:active {
	COLOR: #002fb7
}
.Tag3 A:link {
	COLOR: #003fc7
}
.Tag3 A:visited {
	COLOR: #003fc7
}
.Tag3 A:active {
	COLOR: #003fc7
}
.Tag4 A:link {
	COLOR: #004fd7
}
.Tag4 A:visited {
	COLOR: #004fd7
}
.Tag4 A:active {
	COLOR: #004fd7
}
.Tag5 A:link {
	COLOR: #005fe7
}
.Tag5 A:visited {
	COLOR: #005fe7
}
.Tag5 A:active {
	COLOR: #005fe7
}
.Tag6 A:link {
	COLOR: #006ff7
}
.Tag6 A:visited {
	COLOR: #006ff7
}
.Tag6 A:active {
	COLOR: #006ff7
}
