HTML {
	HEIGHT: 100%; min-width: 970px
}
FORM {
	HEIGHT: 100%; min-width: 970px
}
FORM.table {
	HEIGHT: 100%; min-width: 970px
}
BODY {
	FONT-SIZE: 0.8em; MARGIN: 0px; FONT-STYLE: normal; POSITION: relative; HEIGHT: 100%; BACKGROUND-COLOR: #fff
}
.IE6 .MinWidthDiv {
	OVERFLOW: hidden; WIDTH: 970px; HEIGHT: 1px
}
.IE6 .MinWidthContent {
	MARGIN-TOP: -1px
}
.IE TABLE.MinWidthContent {
	TABLE-LAYOUT: fixed; xwidth: auto
}
HR {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-LEFT: 2em; LIST-STYLE-IMAGE: url(../images/bullet_square.gif); MARGIN-LEFT: 0em; LIST-STYLE-TYPE: square
}
LI {
	MARGIN-TOP: 0.1em; MARGIN-BOTTOM: 0.1em; MARGIN-LEFT: 0px
}
TH {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: bottom
}
.FloatRight {
	FLOAT: right
}
.FloatLeft {
	FLOAT: left
}
.FloatNone {
	FLOAT: none
}
.ClearLeft {
	CLEAR: left
}
.ClearRight {
	CLEAR: right
}
.ClearBoth {
	CLEAR: both
}
.Block {
	DISPLAY: block
}
.Inline {
	DISPLAY: inline
}
.IE .Fixed {
	TABLE-LAYOUT: fixed
}
.IE7 .ZoomFix {
	ZOOM: 100%
}
.Separator {
	WIDTH: 95%; COLOR: #bbb
}
BODY {
	FONT-FAMILY: "Segoe UI","Microsoft Sans Serif",Arial,Geneva,Sans-Serif
}
INPUT {
	FONT-FAMILY: "Segoe UI","Microsoft Sans Serif",Arial,Geneva,Sans-Serif
}
SELECT {
	FONT-FAMILY: "Segoe UI","Microsoft Sans Serif",Arial,Geneva,Sans-Serif
}
TEXTAREA {
	FONT-FAMILY: "Segoe UI","Microsoft Sans Serif",Arial,Geneva,Sans-Serif
}
INPUT {
	FONT-SIZE: 1em
}
SELECT {
	FONT-SIZE: 1em
}
TEXTAREA {
	FONT-SIZE: 1em
}
P {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.MonoSpace {
	FONT-FAMILY: Consolas,"Courier New",Courier,Monospace
}
.ProperCase {
	TEXT-TRANSFORM: capitalize
}
.NoWrap {
	WHITE-SPACE: nowrap
}
.EmptyTextBox {
	COLOR: #3e62a6! important; FONT-STYLE: italic
}
A {
	COLOR: #3e62a6; TEXT-DECORATION: underline
}
A:link {
	COLOR: #3e62a6; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #3e62a6; TEXT-DECORATION: underline
}
A:active {
	COLOR: #3e62a6
}
A:hover {
	COLOR: #ce8b10
}
.SecondaryText A {
	COLOR: #56862e
}
.SecondaryText A:active {
	COLOR: #56862e
}
.SecondaryText A:link {
	COLOR: #56862e
}
.SecondaryText A:visited {
	COLOR: #56862e
}
A SecondaryText {
	COLOR: #56862e
}
A.SecondaryText:active {
	COLOR: #56862e
}
A.SecondaryText:link {
	COLOR: #56862e
}
A.SecondaryText:visited {
	COLOR: #56862e
}
.NoUnderline {
	TEXT-DECORATION: none! important
}
.NoUnderline A:active {
	TEXT-DECORATION: none! important
}
.NoUnderline A:link {
	TEXT-DECORATION: none! important
}
.NoUnderline A:visited {
	TEXT-DECORATION: none! important
}
A.disabled {
	CURSOR: text; COLOR: #777; TEXT-DECORATION: none
}
A.disabled:hover {
	CURSOR: text; COLOR: #777; TEXT-DECORATION: none
}
A.disabled:active {
	CURSOR: text; COLOR: #777; TEXT-DECORATION: none
}
A.disabled:link {
	CURSOR: text; COLOR: #777; TEXT-DECORATION: none
}
A.disabled:visited {
	CURSOR: text; COLOR: #777; TEXT-DECORATION: none
}
.SiteHeader {
	COLOR: #fff
}
.SiteHeader A {
	COLOR: #fff
}
.SiteHeader A:link {
	COLOR: #fff
}
.BrowseDirectoryLink {
	FONT-SIZE: 0.95em; MARGIN: 0.25em 0px 0px 0.4em; WHITE-SPACE: nowrap; TEXT-ALIGN: left! important
}
.BrowseDirectoryLink A {
	COLOR: #3e62a6! important
}
.BrowseDirectoryLink A:link {
	COLOR: #3e62a6! important
}
.SiteHeader {
	COLOR: #fff
}
.SiteHeader A:hover {
	COLOR: #fff
}
.SiteHeader A:visited {
	COLOR: #fff
}
.NoImages .SiteHeaderLeft A {
	PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 3em; COLOR: #56862e; TEXT-DECORATION: none
}
.NoImages .SiteHeaderLeft A:active {
	PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 3em; COLOR: #56862e; TEXT-DECORATION: none
}
.NoImages .SiteHeaderLeft A:link {
	PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 3em; COLOR: #56862e; TEXT-DECORATION: none
}
.NoImages .SiteHeaderLeft A:visited {
	PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 3em; COLOR: #56862e; TEXT-DECORATION: none
}
.NoImages .SiteHeaderLeft A:hover {
	PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 3em; COLOR: #56862e; TEXT-DECORATION: none
}
.NoImages .SiteHeaderLeft {
	PADDING-TOP: 1.2em
}
.NoImages .SiteHeaderCenter A {
	COLOR: #3e62a6
}
.NoImages .SiteHeaderCenter A:active {
	COLOR: #3e62a6
}
.NoImages .SiteHeaderCenter A:link {
	COLOR: #3e62a6
}
.NoImages .SiteHeaderCenter A:visited {
	COLOR: #3e62a6
}
.NoImages .SiteHeaderCenter A:hover {
	COLOR: #ce8b10
}
.PageStep {
	DISPLAY: inline-block; PADDING-LEFT: 20px; MARGIN-RIGHT: 0.5em; BACKGROUND-REPEAT: no-repeat
}
.Safari .PageStep {
	MIN-HEIGHT: 2em; PADDING-TOP: 0.3em
}
.StepOneActive {
	BACKGROUND-IMAGE: url(../Images/step1_active.gif); COLOR: #3366ff
}
.StepTwoActive {
	BACKGROUND-IMAGE: url(../Images/step2_active.gif); COLOR: #3366ff
}
.StepTwoInactive {
	BACKGROUND-IMAGE: url(../Images/step2_inactive.gif)
}
.StepThreeActive {
	BACKGROUND-IMAGE: url(../Images/step3_active.gif); COLOR: #3366ff
}
.StepThreeInactive {
	BACKGROUND-IMAGE: url(../Images/step3_inactive.gif)
}
.StepComplete {
	BACKGROUND-IMAGE: url(../Images/step_checked.gif)
}
.BulletLink {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 18px; BACKGROUND-IMAGE: url(../images/bullet_arrow.gif); COLOR: #3e62a6; MARGIN-RIGHT: 0.4em; BACKGROUND-REPEAT: no-repeat
}
.BulletLink A {
	COLOR: #3e62a6
}
.SingleLineTextBox {
	BORDER-RIGHT: #a5acb2 0.1em solid; BORDER-TOP: #a5acb2 0.1em solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #a5acb2 0.1em solid; COLOR: #333; MARGIN-RIGHT: 0.2em; BORDER-BOTTOM: #a5acb2 0.1em solid
}
.MultilineTextBox {
	BORDER-RIGHT: #a5acb2 0.1em solid; PADDING-RIGHT: 0.13em; BORDER-TOP: #a5acb2 0.1em solid; PADDING-LEFT: 0.13em; PADDING-BOTTOM: 0.13em; VERTICAL-ALIGN: middle; BORDER-LEFT: #a5acb2 0.1em solid; WIDTH: 99%; COLOR: #333; PADDING-TOP: 0.13em; BORDER-BOTTOM: #a5acb2 0.1em solid; HEIGHT: 20em
}
.Bold {
	FONT-WEIGHT: bold
}
.Normal {
	FONT-WEIGHT: normal
}
.Italic {
	FONT-STYLE: italic
}
.SubText {
	FONT-SIZE: 0.9em; COLOR: #666
}
A.SubLink {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; COLOR: #3e62a6
}
.SubLink A {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; COLOR: #3e62a6
}
.SubTextIndent {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.CheckBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 1em; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0.3em; BACKGROUND-POSITION: 50% bottom; DISPLAY: inline-block; PADDING-LEFT: 0.3em; BACKGROUND-IMAGE: url(../images/button_gradient.gif); PADDING-BOTTOM: 0.3em; WIDTH: 7.5em; PADDING-TOP: 0.3em; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.Button {
	PADDING-RIGHT: 0.3em; BACKGROUND-POSITION: 50% bottom; DISPLAY: inline-block; PADDING-LEFT: 0.3em; BACKGROUND-IMAGE: url(../images/button_gradient.gif); PADDING-BOTTOM: 0.3em; WIDTH: 7.5em; PADDING-TOP: 0.3em; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.StretchButton {
	PADDING-RIGHT: 0.3em; BACKGROUND-POSITION: 50% bottom; DISPLAY: inline-block; PADDING-LEFT: 0.3em; BACKGROUND-IMAGE: url(../images/button_gradient.gif); PADDING-BOTTOM: 0.3em; WIDTH: 7.5em; PADDING-TOP: 0.3em; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.DefaultButton {
	PADDING-RIGHT: 0.3em; BACKGROUND-POSITION: 50% bottom; DISPLAY: inline-block; PADDING-LEFT: 0.3em; BACKGROUND-IMAGE: url(../images/button_gradient.gif); PADDING-BOTTOM: 0.3em; WIDTH: 7.5em; PADDING-TOP: 0.3em; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.IE BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.IE .Button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.IE .StretchButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.IE .DefaultButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.StretchButton {
	WIDTH: auto
}
.DefaultButton {
	BORDER-LEFT-COLOR: #a5c2ee; BORDER-BOTTOM-COLOR: #a5c2ee; BORDER-TOP-COLOR: #a5c2ee; BORDER-RIGHT-COLOR: #a5c2ee; border-light-color: #A5C2EE; border-dark-color: #6983BE
}
.StandardPadding {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
TABLE.StandardPadding TD {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
TABLE.StandardPadding TH {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
.StandardPaddingBottom {
	PADDING-BOTTOM: 0.2em
}
TABLE.StandardPaddingBottom TD {
	PADDING-BOTTOM: 0.2em
}
TABLE.StandardPaddingBottom TH {
	PADDING-BOTTOM: 0.2em
}
.StandardPaddingTop {
	PADDING-TOP: 0.2em
}
TABLE.StandardPaddingTop TD {
	PADDING-TOP: 0.2em
}
TABLE.StandardPaddingTop TH {
	PADDING-TOP: 0.2em
}
.StandardPaddingLeft {
	PADDING-LEFT: 0.7em
}
TABLE.StandardPaddingLeft TD {
	PADDING-LEFT: 0.7em
}
TABLE.StandardPaddingLeft TH {
	PADDING-LEFT: 0.7em
}
.StandardPaddingRight {
	PADDING-RIGHT: 0.7em
}
TABLE.StandardPaddingRight TD {
	PADDING-RIGHT: 0.7em
}
TABLE.StandardPaddingRight TH {
	PADDING-RIGHT: 0.7em
}
.DoublePadding {
	PADDING-RIGHT: 1.4em; PADDING-LEFT: 1.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
TABLE.DoublePadding TD {
	PADDING-RIGHT: 1.4em; PADDING-LEFT: 1.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
TABLE.DoublePadding TH {
	PADDING-RIGHT: 1.4em; PADDING-LEFT: 1.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.DoublePaddingBottom {
	PADDING-BOTTOM: 0.4em
}
TABLE.DoublePaddingBottom TD {
	PADDING-BOTTOM: 0.4em
}
TABLE.DoublePaddingBottom TH {
	PADDING-BOTTOM: 0.4em
}
.DoublePaddingTop {
	PADDING-TOP: 0.4em
}
TABLE.DoublePaddingTop TD {
	PADDING-TOP: 0.4em
}
TABLE.DoublePaddingTop TH {
	PADDING-TOP: 0.4em
}
.DoublePaddingLeft {
	PADDING-LEFT: 1.4em
}
TABLE.DoublePaddingLeft TD {
	PADDING-LEFT: 1.4em
}
TABLE.DoublePaddingLeft TH {
	PADDING-LEFT: 1.4em
}
.DoublePaddingRight {
	PADDING-RIGHT: 1.4em
}
TABLE.DoublePaddingRight TD {
	PADDING-RIGHT: 1.4em
}
TABLE.DoublePaddingRight TH {
	PADDING-RIGHT: 1.4em
}
TD.VerticalPadding {
	HEIGHT: 0.5em
}
TD.HorizontalListPadding {
	WIDTH: 2.5em; TEXT-ALIGN: center
}
SPAN.HorizontalListPadding {
	MARGIN-LEFT: 2.5em
}
.IE7 SPAN.HorizontalListPadding {
	ZOOM: 100%
}
.NoPadding {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.StandardMargin {
	MARGIN-BOTTOM: 0.7em; MARGIN-LEFT: 0.7em
}
.StandardMarginTop {
	MARGIN-TOP: 0.7em
}
.StandardMarginBottom {
	MARGIN-BOTTOM: 0.7em
}
.StandardMarginLeft {
	MARGIN-LEFT: 0.7em
}
.StandardMarginRight {
	MARGIN-RIGHT: 0.7em
}
.HalfMarginBottom {
	MARGIN-BOTTOM: 0.3em
}
.HalfMarginLeft {
	MARGIN-LEFT: 0.3em
}
.NoMargin {
	MARGIN: 0px
}
.VerticalBar {
	PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; FONT-SIZE: 1em; VERTICAL-ALIGN: text-top; OVERFLOW: hidden; COLOR: #777
}
.ClearBoth {
	CLEAR: both
}
.BulletError {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(../images/cautionsign_bug.gif); COLOR: #f00; BACKGROUND-REPEAT: no-repeat
}
DIV.BulletError {
	MARGIN-TOP: 0.7em; MARGIN-BOTTOM: 0.7em
}
.DottedLine {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../images/underline_dot_green.gif); MARGIN-BOTTOM: 0.4em; LINE-HEIGHT: 1em; PADDING-TOP: 0.1em; BACKGROUND-REPEAT: repeat-x
}
H1.DottedLine {
	DISPLAY: block! important; MARGIN-BOTTOM: 0.8em! important; PADDING-BOTTOM: 0.1em! important; WIDTH: 100%
}
H2.DottedLine {
	DISPLAY: block! important; MARGIN-BOTTOM: 0.8em! important; PADDING-BOTTOM: 0.1em! important; WIDTH: 100%
}
H3.DottedLine {
	DISPLAY: block! important; MARGIN-BOTTOM: 0.8em! important; PADDING-BOTTOM: 0.1em! important; WIDTH: 100%
}
.Error {
	COLOR: #f00! important
}
.Required {
	COLOR: #f00! important
}
.ServiceUnavailableError {
	FONT-SIZE: 1.6em; COLOR: #f00; FONT-STYLE: italic
}
.Required {
	COLOR: #f00! important; FONT-STYLE: italic
}
.Disabled {
	CURSOR: text; COLOR: #777
}
.Header {
	MARGIN: 0px
}
.Header H1 {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
H1.Header {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
.Header H2 {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
H2.Header {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
H3.Header {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
Header H3 {
	DISPLAY: inline; MARGIN: 0px; COLOR: #56862e
}
.AlternateHeader H1 {
	COLOR: #447733
}
H1.AlternateHeader {
	COLOR: #447733
}
.AlternateHeader H2 {
	COLOR: #447733
}
H2.AlternateHeader {
	COLOR: #447733
}
H3.AlternateHeader {
	COLOR: #447733
}
.AlternateHeader H3 {
	COLOR: #447733
}
H1 {
	FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0.7em
}
H2 {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 0.7em; PADDING-TOP: 0.7em
}
H3 {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px
}
H4 {
	FONT-SIZE: 0.8em; PADDING-BOTTOM: 0.2em
}
.SubHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0em
}
.SubHeader A {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0em
}
.SubHeader A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0em
}
.SubHeader A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0em
}
.SubHeader A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0em
}
.SecondaryText {
	COLOR: #56862e
}
.FullWidth {
	WIDTH: 100%
}
.HalfWidth {
	WIDTH: 50%
}
.ThirdWidth {
	WIDTH: 33%
}
INPUT.FullWidth {
	WIDTH: 98%
}
TEXTAREA.FullWidth {
	WIDTH: 98%
}
INPUT.HalfWidth {
	WIDTH: 49%
}
TEXTAREA.HalfWidth {
	WIDTH: 49%
}
.Centered {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.Justify {
	TEXT-ALIGN: justify
}
.AlignLeft {
	TEXT-ALIGN: left! important
}
.AlignRight {
	TEXT-ALIGN: right
}
.AlignTop {
	VERTICAL-ALIGN: top
}
.AlignMiddle {
	VERTICAL-ALIGN: middle
}
.AlignBottom {
	VERTICAL-ALIGN: bottom
}
.AlignCenter {
	TEXT-ALIGN: center
}
.StandardBackground {
	BACKGROUND-COLOR: #fff
}
.AlternateBackground {
	BACKGROUND-COLOR: #f1fcee
}
.AlternateBackgroundDark {
	BACKGROUND-COLOR: #cdf2b3
}
.ModalBackground {
	BACKGROUND-COLOR: gray
}
.ModalBackgroundLight {
	BACKGROUND-COLOR: #ccc
}
TABLE.Grid {
	BORDER-RIGHT: #cdcdcd 0.1em solid; BORDER-TOP: #cdcdcd 0.1em solid; BORDER-LEFT: #cdcdcd 0.1em solid; WIDTH: 100%; BORDER-BOTTOM: #cdcdcd 0.1em solid; BORDER-COLLAPSE: collapse
}
.Grid TABLE {
	BORDER-RIGHT: #cdcdcd 0.1em solid; BORDER-TOP: #cdcdcd 0.1em solid; BORDER-LEFT: #cdcdcd 0.1em solid; WIDTH: 100%; BORDER-BOTTOM: #cdcdcd 0.1em solid; BORDER-COLLAPSE: collapse
}
.Grid TD {
	BORDER-RIGHT: #cdcdcd 0.1em; PADDING-RIGHT: 0.7em; BORDER-TOP: #cdcdcd 0.1em solid; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #cdcdcd 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #cdcdcd 0.1em solid; HEIGHT: 2.2em; TEXT-ALIGN: center
}
.Grid TH {
	BORDER-RIGHT: #cdcdcd 0.1em; PADDING-RIGHT: 0.7em; BORDER-TOP: #cdcdcd 0.1em solid; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #cdcdcd 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #cdcdcd 0.1em solid; HEIGHT: 2.2em; TEXT-ALIGN: center
}
.Grid TH {
	FONT-WEIGHT: bold
}
.Grid TR {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.Grid .Header {
	MARGIN-BOTTOM: 0em; BACKGROUND-COLOR: #e2f6cc
}
.ShowDetails .Details {
	DISPLAY: block
}
.HideDetails .Summary {
	DISPLAY: block
}
.HideDetails .Details {
	DISPLAY: none
}
.ShowDetails .Summary {
	DISPLAY: none
}
.PageTemplateSelectedLink {
	FONT-WEIGHT: bold; MARGIN-LEFT: 0.4em
}
.IE7 .StandardMarginLeft {
	ZOOM: 100%
}
.IE7 .PageTemplateSelectedLink {
	ZOOM: 100%
}
.Selected {
	FONT-WEIGHT: bold
}
.NoItemsMessage {
	FONT-STYLE: italic
}
.SortArrow {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: middle; PADDING-TOP: 0.2em
}
.ArrowSmall {
	BACKGROUND-POSITION: 0.2em 0.5em; PADDING-LEFT: 1em; BACKGROUND-IMAGE: url(../images/arrow_sm.gif); BACKGROUND-REPEAT: no-repeat
}
.CanvasMargin {
	WIDTH: 1.4em; BACKGROUND-COLOR: #4d4d4d
}
.CanvasBackground {
	BACKGROUND-IMAGE: url(../Images/banner_bg_grad.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%
}
.CanvasContent {
	BACKGROUND-IMAGE: url(../Images/banner_bg.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 100%
}
.IE7 .CanvasContent {
	HEIGHT: auto
}
.SiteHeader {
	PADDING-RIGHT: 1.07em
}
.SiteHeaderLeft {
	FLOAT: left; WIDTH: 230px; HEIGHT: 0.88em
}
.SiteHeaderCenter {
	MARGIN-TOP: 0.6em; FLOAT: left
}
.SiteHeaderRight {
	FLOAT: right; TEXT-ALIGN: right; min-width: 15.4em
}
.SiteHeaderRightShim {
	WIDTH: 15.4em; HEIGHT: 1px
}
.SiteContent {
	MARGIN-TOP: 2em; PADDING-TOP: 1.07em
}
.SiteFooter {
	BACKGROUND-POSITION: 50% bottom; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(../Images/footer_bg.gif); PADDING-BOTTOM: 1em; VERTICAL-ALIGN: bottom; COLOR: #fff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100px
}
.Safari .SiteFooter {
	PADDING-BOTTOM: 0px
}
.SiteFooter A {
	COLOR: #689832
}
.SiteFooter A:active {
	COLOR: #689832
}
.SiteFooter A:link {
	COLOR: #689832
}
.SiteFooter A:visited {
	COLOR: #689832
}
.NoImages .SiteFooter {
	COLOR: #000
}
.SiteContentTable {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.SiteContentTopPadding {
	PADDING-TOP: 2em
}
.SidebarContainer {
	WIDTH: 22em
}
.IE6 .SidebarContainer {
	MARGIN-TOP: 1.5em
}
.ProjectContent .SideBar {
	MARGIN-TOP: 0.7em; DISPLAY: block; MARGIN-LEFT: 0.7em; WIDTH: auto
}
.ProjectContent .SideBar .ContentPanel .TopBorder {
	BACKGROUND-IMAGE: url(../images/sidebarheaderbg.gif); BACKGROUND-REPEAT: repeat-x
}
.ProjectContent .SideBar .ContentPanel .RoundedContent {
	BACKGROUND-IMAGE: url(../images/sidebarheaderbg.gif); BACKGROUND-REPEAT: repeat-x
}
.SideBar {
	WIDTH: 15.1em; min-width: 15.1em
}
.SideBarPadding {
	WIDTH: 17px
}
.SideBarPadding DIV {
	WIDTH: 17px
}
.MainContent {
	WIDTH: 35em
}
.MainContentMinWidthDiv {
	OVERFLOW: hidden; WIDTH: 17.1em; HEIGHT: 1px
}
.MainContentMinWidthContent {
	MARGIN-TOP: -1px
}
.FlashMessage {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; COLOR: white; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #3e62a6; TEXT-ALIGN: center; khtml-border-radius: .5em; moz-border-radius: .5em; o-border-radius: .5em; border-radius: .5em
}
.IE6 IFRAME.FullPanel {
	FILTER: alpha(opacity=0)
}
.FullPanel {
	OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 100%
}
.IE6 .UpdateProgressPanel .FullPanel {
	POSITION: absolute
}
.IE TABLE.FullPanel {
	TABLE-LAYOUT: fixed
}
.ModalBackground {
	FILTER: alpha(opacity=70); BACKGROUND-COLOR: gray; opacity: 0.7
}
.UpdateProgressPanel {
	Z-INDEX: 1000000; LEFT: 0px; POSITION: absolute; TOP: 0px
}
.UpdateProgressPanel .ModalBackground {
	Z-INDEX: 1000000; LEFT: 0px; POSITION: absolute; TOP: 0px
}
.UpdateProgressPanel #UpdateProgressTable {
	Z-INDEX: 1000000; LEFT: 0px; POSITION: absolute; TOP: 0px
}
.UpdateProgress {
	BORDER-RIGHT: black 0.1em solid; BORDER-TOP: black 0.1em solid; FONT-WEIGHT: bold; OVERFLOW: hidden; BORDER-LEFT: black 0.1em solid; WIDTH: 13.2em; COLOR: #008000; BORDER-BOTTOM: black 0.1em solid; POSITION: relative; HEIGHT: 4.1em; BACKGROUND-COLOR: #daf1b2; TEXT-ALIGN: center
}
.UpdateProgressText {
	POSITION: relative; TOP: 1.44em
}
.ClosePanel {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: white
}
.ChangePanel {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: white
}
.LicensePanel {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: white
}
.ClosePanel .Title {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #e6e6e6
}
.ChangePanel .Title {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #e6e6e6
}
.LicensePanel .Title {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #e6e6e6
}
.ClosePanel .Body {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.ChangePanel .Body {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.LicensePanel .Body {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.ClosePanel .Buttons {
	MARGIN-TOP: 0.25em; MARGIN-RIGHT: 0.5em; TEXT-ALIGN: right
}
.ChangePanel .Buttons {
	MARGIN-TOP: 0.25em; MARGIN-RIGHT: 0.5em; TEXT-ALIGN: right
}
.ChangePanel .Footer {
	MARGIN-TOP: 0.25em; MARGIN-RIGHT: 0.5em; TEXT-ALIGN: right
}
.LicensePanel .Buttons {
	MARGIN-TOP: 0.25em; MARGIN-RIGHT: 0.5em; TEXT-ALIGN: right
}
.ClosePanel {
	WIDTH: 30em
}
.ClosePanel .Body .CommentBox {
	WIDTH: 98%
}
.ChangePanel {
	WIDTH: 20em
}
.ChangePanel .Body .Content {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; OVERFLOW: auto; BORDER-LEFT: #aaa 1px solid; WIDTH: 100%; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 10em
}
.ChangePanel .Body .DynamicContent {
	
}
.ChangePanel .Footer {
	TEXT-ALIGN: center
}
.ChangePanel .PanelErrorLabel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; COLOR: red; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.LicensePanel {
	WIDTH: 45em
}
.LicensePanel .Body .CommentBox {
	WIDTH: 98%
}
UL.ContextMenu {
	BORDER-RIGHT: #888 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #888 1px solid; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #888 1px solid; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #888 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; BACKGROUND-COLOR: #fff
}
UL.ContextMenu LI {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.1em; MARGIN: 0.2em; CURSOR: pointer; PADDING-TOP: 0.1em
}
UL.ContextMenu LI:hover {
	COLOR: #fff; BACKGROUND-COLOR: #888
}
UL.ContextMenu LI.GroupCaption {
	MARGIN-TOP: 0.5em; COLOR: #333
}
UL.ContextMenu LI.GroupCaption:hover {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
UL.ContextMenu LI.GroupMember {
	PADDING-LEFT: 1em
}
UL.ContextMenu LI.Nested {
	BACKGROUND-POSITION: right 0px; BACKGROUND-IMAGE: url(/images/nestedMenu.gif); BACKGROUND-REPEAT: no-repeat
}
UL.ContextMenu LI.Nested:hover {
	BACKGROUND-POSITION: right -16px; BACKGROUND-IMAGE: url(/images/nestedMenu.gif); BACKGROUND-REPEAT: no-repeat
}
.CodePlexPageHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; VERTICAL-ALIGN: middle; COLOR: #6d8d34; BACKGROUND-REPEAT: no-repeat
}
.CharCounter {
	FONT-SIZE: 0.9em; FLOAT: right; COLOR: #666
}
.Safari .CharCounter {
	POSITION: relative; TOP: -1.1em
}
.CountdownControl {
	MARGIN: 0.7em 0px; xmax-width: 40em; xposition: relative
}
.IE6 .CountdownControl {
	POSITION: relative
}
.RssFeedsPanel {
	BORDER-RIGHT: #bbb 0.1em solid; PADDING-RIGHT: 0.4em; BORDER-TOP: #bbb 0.1em solid; PADDING-LEFT: 0.4em; Z-INDEX: 999999; PADDING-BOTTOM: 0.4em; BORDER-LEFT: #bbb 0.1em solid; CURSOR: pointer; PADDING-TOP: 0.2em; BORDER-BOTTOM: #bbb 0.1em solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.TopRequestsVoteLabelWidth {
	WIDTH: 5.5em
}
.ProjectSearchTextBox {
	PADDING-LEFT: 0.3em; WIDTH: 12.3em; HEIGHT: 1.4em
}
.IE .ProjectSearchTextBox {
	MARGIN-TOP: 0.1em
}
.IE6 .ProjectTitleControl {
	POSITION: relative
}
.SearchWikiControl {
	DISPLAY: inline
}
.PageIndexControl {
	FONT-WEIGHT: normal
}
.PageIndexControl .Range {
	FONT-WEIGHT: bold
}
.PageIndexControl .Count {
	FONT-WEIGHT: bold
}
.PageIndexControl .Selected {
	FONT-WEIGHT: bold
}
.PageIndexControl .Status {
	MARGIN-RIGHT: 0.7em
}
.PageSizeControl {
	FONT-WEIGHT: normal
}
.PageSizeControl .Selected {
	FONT-WEIGHT: bold
}
.ContentPanel {
	BORDER-TOP-WIDTH: 0.1em; BORDER-LEFT-WIDTH: 0.1em; BORDER-BOTTOM-WIDTH: 0.1em; BORDER-RIGHT-WIDTH: 0.1em
}
.ContentPanel .Header {
	
}
.ContentPanel .RoundedContent .HeaderPanel {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em; POSITION: relative; BACKGROUND-COLOR: transparent
}
.ContentPanel .RoundedContent .FooterPanel {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em; BACKGROUND-COLOR: transparent; xposition: relative
}
.IE6 .ContentPanel .RoundedContent .HeaderPanel {
	MARGIN-TOP: 0px! important; MARGIN-BOTTOM: 0px! important
}
.IE6 .ContentPanel .RoundedContent .FooterPanel {
	MARGIN-TOP: 0px! important; MARGIN-BOTTOM: 0px! important
}
.ContentPanel .RoundedContent {
	BORDER-RIGHT: #a0a0a0 0px solid; BORDER-TOP: #a0a0a0 0px solid; MIN-HEIGHT: 20px; BACKGROUND-IMAGE: url(../Images/contentpanel_gradientbg.gif); BORDER-LEFT: #a0a0a0 0px solid; WIDTH: auto; BORDER-BOTTOM: #a0a0a0 0px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.FF .ContentPanel .RoundedContent {
	OVERFLOW: visible! important
}
.Safari .ContentPanel .RoundedContent {
	OVERFLOW: visible! important
}
.ContentPanel .RoundedCornerContainer {
	WIDTH: auto
}
.ContentPanel .TopBorder {
	BACKGROUND-IMAGE: url(../Images/contentpanel_gradientbg.gif); BACKGROUND-REPEAT: repeat-x
}
.ContentPanel .OuterBorder {
	BORDER-RIGHT: #a0a0a0 0px solid; BORDER-TOP: #a0a0a0 0px solid; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #a0a0a0 0px solid; BORDER-BOTTOM: #a0a0a0 0px solid
}
.ContentPanel .RoundedBorder {
	BORDER-RIGHT: #a0a0a0 0px solid; BORDER-TOP: #a0a0a0 0px solid; MARGIN: 0em; OVERFLOW: hidden; BORDER-LEFT: #a0a0a0 0px solid; WIDTH: auto; BORDER-BOTTOM: #a0a0a0 0px solid; HEIGHT: 1px; BACKGROUND-COLOR: #fff
}
.ClearPanel .HeaderPanel {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: white
}
.ClearPanel .RoundedBorder {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: white
}
.ClearPanel .RoundedContent {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: white
}
.SignInPanel .RoundedContent {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #46ae28
}
.SignInPanel .RoundedBorder {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #46ae28
}
.FF .SignInPanel TD A {
	LINE-HEIGHT: 1.6em
}
.AlternateBackgroundPanel .RoundedBorder {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #f1fcee
}
.AlternateBackgroundPanel .RoundedContent {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #f1fcee
}
.TabStrip TABLE {
	TABLE-LAYOUT: fixed! important; BORDER-BOTTOM: #a0a0a0 1px solid
}
.TabStrip TABLE TD {
	WHITE-SPACE: nowrap
}
.TabStrip TD.Narrowest {
	WIDTH: 0.1em
}
.TabStrip TD.Narrower {
	WIDTH: 4em
}
.TabStrip TD {
	VERTICAL-ALIGN: bottom; WIDTH: 5.5em
}
.TabStrip TD.Wider {
	WIDTH: 7em
}
.TabStrip TD.Widest {
	WIDTH: 8.5em
}
.TabStrip TD.FullWidth {
	WIDTH: 100%
}
.TabLink {
	DISPLAY: block; CURSOR: pointer; COLOR: #000! important; WHITE-SPACE: nowrap; TEXT-DECORATION: none! important
}
.TabPanel {
	
}
.TabPanel .RoundedContent .HeaderPanel {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0em
}
.TabPanel .RoundedBorder {
	BACKGROUND-IMAGE: none; WIDTH: auto; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.TabPanel .RoundedContent {
	BACKGROUND-IMAGE: none; WIDTH: auto; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.TabPanel .RoundedContent {
	BACKGROUND-POSITION: left bottom; MIN-HEIGHT: 1px; BACKGROUND-IMAGE: url(../images/button_gradient.gif); BACKGROUND-REPEAT: repeat-x
}
.TabPanel .RoundedContent .Header {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px
}
.ActiveTab {
	MARGIN-TOP: -2px; Z-INDEX: 9; MARGIN-BOTTOM: 0px! important; POSITION: relative; TOP: 1px; xmargin-top: 0
}
.ActiveTab .RoundedContent .Header {
	PADDING-BOTTOM: 0.3em! important
}
.ActiveTab .RoundedBorder {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #fff
}
.ActiveTab .RoundedContent {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #fff
}
.ActiveTab .StandardPadding {
	PADDING-RIGHT: 0.5em! important; PADDING-LEFT: 0.5em! important; PADDING-BOTTOM: 0em! important; PADDING-TOP: 0em! important
}
.IE6 .ActiveTab .StandardPadding {
	PADDING-BOTTOM: 0.2em! important
}
.EditPreviewPost .ContentPanel .RoundedContent {
	OVERFLOW: hidden! important
}
.Safari .EditPreviewPost .ContentPanel .RoundedContent {
	OVERFLOW: hidden! important
}
.TagCloud-Lowest {
	FONT-WEIGHT: 100; FONT-SIZE: 1.13em
}
.TagCloud-Low {
	FONT-WEIGHT: 300; FONT-SIZE: 1.27em
}
.TagCloud-Medium {
	FONT-WEIGHT: 500; FONT-SIZE: 1.42em
}
.TagCloud-High {
	FONT-WEIGHT: 700; FONT-SIZE: 1.63em
}
.TagCloud-Highest {
	FONT-WEIGHT: 900; FONT-SIZE: 2.12em
}
.AutoCompletePanel {
	BORDER-RIGHT: #999 0.1em solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #999 0.1em solid; PADDING-LEFT: 0.15em; FONT-SIZE: 95%; VISIBILITY: hidden; PADDING-BOTTOM: 0.15em; BORDER-LEFT: #999 0.1em solid; PADDING-TOP: 0.15em; BORDER-BOTTOM: #999 0.1em solid; BACKGROUND-COLOR: #f0f0f0
}
.AutoCompletePanel DIV.Row {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.15em; CURSOR: pointer; COLOR: #000; PADDING-TOP: 0.15em; BACKGROUND-COLOR: transparent
}
.AutoCompletePanel DIV.Selected {
	COLOR: #fff; BACKGROUND-COLOR: #aaa
}
.VoteBox {
	FLOAT: left; WIDTH: 4.25em
}
DIV.votebox {
	BORDER-RIGHT: #bbb 0.1em solid; BORDER-TOP: #bbb 0.1em solid; BORDER-LEFT: #bbb 0.1em solid; WIDTH: 3.75em; BORDER-BOTTOM: #bbb 0.1em solid; TEXT-ALIGN: center
}
DIV.votebox .top {
	BACKGROUND-IMAGE: url(../images/votebox_bkg.gif); COLOR: #333; BACKGROUND-REPEAT: repeat-x; HEIGHT: 2.19em
}
DIV.votebox .topClosed {
	BACKGROUND-IMAGE: url(../images/votebox_bkg.gif); COLOR: #333; BACKGROUND-REPEAT: repeat-x; HEIGHT: 2.19em
}
DIV.votebox .topClosed {
	BACKGROUND-IMAGE: url(../images/votebox_closed_bkg.gif)
}
DIV.votebox .count {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: -0.4em
}
DIV.votebox .bottom {
	BORDER-TOP: #bbb 0.1em solid; BACKGROUND: #fff; PADDING-BOTTOM: 0.1em; COLOR: #bbb
}
.VoteBox .SubLink {
	FONT-SIZE: 0.8em
}
.InfoBox {
	BORDER-RIGHT: #bbb 0.1em solid; BORDER-TOP: #bbb 0.1em solid; BORDER-LEFT: #bbb 0.1em solid; WIDTH: 4.5em; BORDER-BOTTOM: #bbb 0.1em solid; TEXT-ALIGN: center
}
.InfoBox .Top {
	BACKGROUND-IMAGE: url(../images/votebox_bkg.gif); VERTICAL-ALIGN: top; COLOR: #333; BACKGROUND-REPEAT: repeat-x; HEIGHT: 3.5em
}
.InfoBox .Top .Title {
	FONT-SIZE: 0.7em
}
.InfoBox .Top .Date {
	MARGIN-TOP: -0.1em; FONT-WEIGHT: bolder; FONT-SIZE: 1.2em; LINE-HEIGHT: 1.1em
}
.InfoBox .Top .Count {
	MARGIN-TOP: -0.1em; FONT-WEIGHT: bolder; FONT-SIZE: 1.2em; LINE-HEIGHT: 1.1em
}
.InfoBox .Top .Time {
	FONT-SIZE: 0.8em; PADDING-TOP: 0.4em
}
.InfoBox .Top .Caption {
	FONT-SIZE: 0.8em; PADDING-TOP: 0.4em
}
.InfoBox .Bottom {
	PADDING-RIGHT: 0px; BORDER-TOP: #bbb 0.1em solid; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0.1em; COLOR: #686868; PADDING-TOP: 0.1em; HEIGHT: 1.5em; BACKGROUND-COLOR: #fff
}
#ProjectRelease .InfoBox .Top {
	BACKGROUND-IMAGE: url(../images/votebox_closed_bkg.gif); HEIGHT: 5em! important
}
.RemoveUserCell {
	WIDTH: 6.25em; TEXT-ALIGN: center
}
.UserNameCell {
	WIDTH: 15.63em; TEXT-ALIGN: left
}
.UserRoleCell {
	WIDTH: 12.5em; TEXT-ALIGN: left
}
.UpdateTeamButtonCell {
	PADDING-RIGHT: 7.9em; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.EditPreviewPost {
	MARGIN-BOTTOM: 0.25em
}
.EditPreviewPost .FormattingGuide {
	PADDING-LEFT: 0.5em; FONT-SIZE: 0.8em; VERTICAL-ALIGN: top; WIDTH: 15em
}
.EditPreviewPost .EditInfo {
	TEXT-ALIGN: right
}
.EditPreviewPost .EditCommands {
	TEXT-ALIGN: left
}
.EditPreviewPost .PreviewArea {
	MIN-HEIGHT: 22.3em
}
.EditPreviewPost .MarkupGuide {
	FLOAT: right; WIDTH: 14em; TEXT-ALIGN: left
}
DIV#ConfigureView {
	FONT-SIZE: 0.9em; FLOAT: right; WIDTH: 19em
}
DIV#ConfigureView .Content {
	PADDING-RIGHT: 0.75em; PADDING-LEFT: 0.75em; PADDING-BOTTOM: 0.75em; PADDING-TOP: 0.75em
}
DIV#ConfigureView .Left {
	MARGIN-RIGHT: 11em; TEXT-ALIGN: left
}
DIV#ConfigureView .Right {
	FLOAT: right; WIDTH: 12em; TEXT-ALIGN: left
}
DIV#ConfigureView .Clear {
	CLEAR: both; MARGIN-BOTTOM: 1.5em
}
DIV#ConfigureView .Filter {
	VERTICAL-ALIGN: middle; WIDTH: 100%
}
DIV#ConfigureView .Sort {
	VERTICAL-ALIGN: middle; WIDTH: 100%
}
DIV#ConfigureView .Search {
	VERTICAL-ALIGN: middle; WIDTH: 7em; MARGIN-RIGHT: 0.75em
}
DIV#ConfigureView A.selected {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.RssFeedsPanel {
	BORDER-RIGHT: #bbb 0.1em solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #bbb 0.1em solid; PADDING-LEFT: 0.5em; Z-INDEX: 999999; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #bbb 0.1em solid; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #bbb 0.1em solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.IE6 UL.RssFeedsPanel LI {
	WIDTH: 8em
}
abbr.smartDate {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.CodePlexPageTemplate {
	FONT: small arial,verdana
}
.CodePlexPageSizeTemplate {
	FONT: small arial,verdana
}
.CodePlexPageSizeTemplate {
	FLOAT: right; TEXT-ALIGN: right
}
.PageTemplateItemsInfoText {
	MARGIN-LEFT: 0.32em
}
.PageTemplateSeperator {
	MARGIN-LEFT: 0.32em
}
.PageTemplateSelectedLink {
	FONT-WEIGHT: bold; MARGIN-LEFT: 0.32em
}
.WorkItemField {
	WIDTH: 15%
}
.WorkItemType {
	FONT-WEIGHT: bold; COLOR: red
}
