#container {
	BACKGROUND: url(images/bodybg-blue2.jpg) #f0f0f0 repeat-x
}
A {
	COLOR: #0b6d90
}
#leftside UL.box LI A {
	COLOR: #0b6d90
}
#mainmenu A {
	COLOR: #0b6d90
}
#mainmenu A:hover {
	BACKGROUND: url(images/menuhover-blue.jpg) repeat-x left center
}
#mainmenu LI.current A {
	BACKGROUND: url(images/menuhover-blue.jpg) repeat-x left center
}
#mainmenu LI.currentparent A {
	BACKGROUND: url(images/menuhover-blue.jpg) repeat-x left center
}
