#lightbox {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; BACKGROUND-COLOR: #eee
}
#lightboxCaption {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; FONT-SIZE: 1.4em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#lightbox IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#overlay IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
 HTML #overlay {
	BACKGROUND-COLOR: transparent
}
