BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #8b8b8b; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 76% Verdana,Tahoma,Arial,sans-serif; COLOR: #303030; PADDING-TOP: 0px; TEXT-ALIGN: center
}
A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: #808080; TEXT-DECORATION: underline
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
CODE {
	FONT-SIZE: 1em; BACKGROUND: #f0f0f0; FONT-FAMILY: ‘Lucida Console’, ‘Courier New’, Courier, monospace
}
PRE.code {
	FONT-SIZE: 1em; BACKGROUND: #f0f0f0; FONT-FAMILY: ‘Lucida Console’, ‘Courier New’, Courier, monospace
}
PRE {
	FONT-SIZE: 1em; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; BACKGROUND-COLOR: #eeeeee; WORD-WRAP: break-word; BORDER-RIGHT-COLOR: #cccccc
}
#container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #303030; PADDING-TOP: 0px; TEXT-ALIGN: left; min-width: 770px
}
#sitename {
	MARGIN: 0px 20px 10px; COLOR: #ffffff; HEIGHT: 90px; TEXT-ALIGN: left
}
#sitename H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sitename H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sitename H1 {
	FONT-SIZE: 2.4em; PADDING-TOP: 10px
}
#sitename H1 A {
	COLOR: #ffffff; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
#sitename H2 {
	FONT-SIZE: 1.6em
}
#wrap {
	CLEAR: both; PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#mainmenu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#mainmenu UL.level1 {
	BORDER-TOP: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#mainmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(images/menubg.jpg) #b0b0b0 repeat-x left center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
#mainmenu LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; TEXT-TRANSFORM: uppercase; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mainmenu A {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#mainmenu LI.current A {
	COLOR: #000
}
#leftside {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 165px; PADDING-TOP: 0px
}
#rightside {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 165px; PADDING-TOP: 0px
}
#leftside {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#rightside {
	FLOAT: right; MARGIN-LEFT: 10px
}
#rightside IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#leftside H2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; FONT-SIZE: 1.4em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #bebfc3 1px solid
}
#rightside H2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; FONT-SIZE: 1.4em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #bebfc3 1px solid
}
#leftside UL {
	PADDING-LEFT: 0px; MARGIN: 0px
}
#rightside UL {
	PADDING-LEFT: 0px; MARGIN: 0px
}
#leftside LI {
	LIST-STYLE-TYPE: none
}
#rightside LI {
	MARGIN-BOTTOM: 7px; LIST-STYLE-TYPE: none
}
LI#categories LI A {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b0b0b0 1px solid; MARGIN-TOP: 4px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #e8e9ea; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 140px; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid; POSITION: relative
}
LI#archives LI A {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b0b0b0 1px solid; MARGIN-TOP: 4px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #e8e9ea; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 140px; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid; POSITION: relative
}
LI.pagenav LI A {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b0b0b0 1px solid; MARGIN-TOP: 4px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #e8e9ea; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 140px; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid; POSITION: relative
}
LI#categories LI A:hover {
	BORDER-RIGHT: #909090 1px solid; BORDER-TOP: #909090 1px solid; BACKGROUND: #f8f9fa; BORDER-LEFT: #909090 1px solid; COLOR: #303030; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
LI#archives LI A:hover {
	BORDER-RIGHT: #909090 1px solid; BORDER-TOP: #909090 1px solid; BACKGROUND: #f8f9fa; BORDER-LEFT: #909090 1px solid; COLOR: #303030; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
LI.pagenav LI A:hover {
	BORDER-RIGHT: #909090 1px solid; BORDER-TOP: #909090 1px solid; BACKGROUND: #f8f9fa; BORDER-LEFT: #909090 1px solid; COLOR: #303030; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
LI#categories UL.children LI A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 8px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 2px 10px; WIDTH: 125px; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
LI#archives UL.children LI A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 8px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 2px 10px; WIDTH: 125px; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
LI.pagenav UL.children LI A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 8px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 2px 10px; WIDTH: 125px; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
LI#categories UL.children LI LI {
	PADDING-LEFT: 10px
}
LI#archives UL.children LI LI {
	PADDING-LEFT: 10px
}
LI.pagenav UL.children LI LI {
	PADDING-LEFT: 10px
}
LI#categories UL.children LI LI A {
	WIDTH: 115px
}
LI#archives UL.children LI LI A {
	WIDTH: 115px
}
LI.pagenav UL.children LI LI A {
	WIDTH: 115px
}
LI.feed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(images/rss.gif) no-repeat left top; PADDING-BOTTOM: 8px; PADDING-TOP: 2px
}
LI#recent-comments UL LI {
	PADDING-BOTTOM: 5px
}
LI#recent-posts UL LI {
	PADDING-BOTTOM: 5px
}
#content {
	BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #909090 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; BORDER-LEFT: #909090 1px solid; COLOR: #2a2a2a; PADDING-TOP: 15px; BORDER-BOTTOM: #909090 1px solid; BACKGROUND-COLOR: #fafcff
}
#contentalt {
	BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #909090 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; BORDER-LEFT: #909090 1px solid; COLOR: #2a2a2a; PADDING-TOP: 15px; BORDER-BOTTOM: #909090 1px solid; BACKGROUND-COLOR: #fafcff
}
#content {
	MARGIN: 0px 200px
}
#contentalt {
	MARGIN: 0px 200px 0px 20px
}
#content H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; COLOR: #606060; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#contentalt H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; COLOR: #606060; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#contentalt H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; COLOR: #606060; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#content H1 {
	BORDER-BOTTOM: #b0b0b0 1px solid
}
#contentalt H1 {
	BORDER-BOTTOM: #b0b0b0 1px solid
}
#content H2 {
	FONT-SIZE: 1.6em; COLOR: #606060
}
#content LI {
	MARGIN-BOTTOM: 11px
}
#content UL {
	MARGIN-BOTTOM: 11px
}
.archives LI {
	LIST-STYLE-TYPE: none
}
.linkspage LI {
	LIST-STYLE-TYPE: none
}
.archives UL.children {
	PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: url(images/footerbg.jpg) #8b8b8b repeat-x left top; PADDING-BOTTOM: 20px; MARGIN: 0px; WIDTH: 100%; COLOR: #000; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#footer A {
	FONT-WEIGHT: bold; COLOR: #d0d0d0
}
#comment {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b0b0b0 1px solid
}
#commentform {
	WIDTH: 97%
}
#author {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
#email {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
#url {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
#submit {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BACKGROUND: #f0f0f0; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
#submit:hover {
	BORDER-RIGHT: #848484 1px solid; BORDER-TOP: #848484 1px solid; BACKGROUND: #e8e9ea; BORDER-LEFT: #848484 1px solid; CURSOR: pointer; BORDER-BOTTOM: #848484 1px solid
}
INPUT.preview {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BACKGROUND: #f0f0f0; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
INPUT.preview:hover {
	BORDER-RIGHT: #848484 1px solid; BORDER-TOP: #848484 1px solid; BACKGROUND: #e8e9ea; BORDER-LEFT: #848484 1px solid; CURSOR: pointer; BORDER-BOTTOM: #848484 1px solid
}
.entry IMG {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.entrytext IMG {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.entry A:hover IMG {
	BORDER-RIGHT: #505050 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #505050 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #505050 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #505050 1px solid
}
.entrytext A:hover IMG {
	BORDER-RIGHT: #505050 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #505050 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #505050 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #505050 1px solid
}
IMG.wp-smiley {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: -25%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.thumbnail {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fafbfc; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.left {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fafbfc; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 15px 6px 0px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.right {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fafbfc; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 6px 15px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.noalign {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fafbfc; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b0 1px solid
}
#searchform {
	MARGIN-TOP: 10px
}
#searchbox {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BACKGROUND: #f0f0f0; MARGIN: 0px 4px 0px 0px; BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 160px; BORDER-BOTTOM: #b0b0b0 1px solid
}
#searchbutton {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BACKGROUND: #f0f0f0; BORDER-LEFT: #b0b0b0 1px solid; BORDER-BOTTOM: #b0b0b0 1px solid
}
#searchbutton:hover {
	BORDER-RIGHT: #848484 1px solid; BORDER-TOP: #848484 1px solid; BACKGROUND: #e8e9ea; BORDER-LEFT: #848484 1px solid; CURSOR: pointer; BORDER-BOTTOM: #848484 1px solid
}
.postmetadata {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 0.9em; BACKGROUND: #e8e9ea; PADDING-BOTTOM: 10px; MARGIN: 0px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #b0b0b0 1px solid
}
OL.commentlist LI {
	BORDER-RIGHT: #b0b0b0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b0b0b0 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #b0b0b0 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #b0b0b0 1px solid
}
OL.commentlist LI CITE {
	TEXT-TRANSFORM: capitalize
}
OL.commentlist LI P {
	PADDING-TOP: 10px
}
.alt {
	BACKGROUND: #e8e9ea
}
.intro {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; LETTER-SPACING: -1px
}
BLOCKQUOTE {
	BORDER-RIGHT: #b0b0b0 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #b0b0b0 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #b0b0b0 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #b0b0b0 1px dashed
}
BLOCKQUOTE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.small {
	FONT-SIZE: 0.8em
}
.large {
	FONT-SIZE: 1.4em
}
.center {
	TEXT-ALIGN: center
}
.category {
	BORDER-BOTTOM: #b0b0b0 1px solid
}
.date {
	MARGIN-TOP: -10px; PADDING-TOP: 0px; BORDER-BOTTOM: #b0b0b0 1px solid
}
#page {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #b0b0b0 1px dashed
}
.bottomnavigation {
	PADDING-RIGHT: 0px; BORDER-TOP: #b0b0b0 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; MARGIN: 30px 0px 0px; PADDING-TOP: 5px
}
.alignleft {
	FLOAT: left; TEXT-ALIGN: left
}
.alignright {
	FLOAT: right; TEXT-ALIGN: right
}
.post {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
.entry {
	OVERFLOW: hidden
}
.entrytext {
	OVERFLOW: hidden
}
 HTML .entry {
	OVERFLOW: visible; HEIGHT: 1px
}
 HTML .entrytext {
	OVERFLOW: visible; HEIGHT: 1px
}
 HTML .entry P {
	OVERFLOW: hidden; WIDTH: 99%
}
 HTML .entrytext P {
	OVERFLOW: hidden; WIDTH: 99%
}
.entrytext {
	PADDING-TOP: 0px
}
.clearingdiv {
	CLEAR: both; WIDTH: 1px; HEIGHT: 30px
}
.hide {
	DISPLAY: none
}
.rsswidget {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: bottom; BORDER-RIGHT-WIDTH: 0px
}
