.fx {
	POSITION: absolute
}
BODY {
	FONT-SIZE: 8pt; BACKGROUND: url(tile.jpg) #000 repeat-x left top; MARGIN: 0px; CURSOR: default; COLOR: white; FONT-FAMILY: Verdana, Tahoma, Arial; TEXT-ALIGN: justify
}
A {
	COLOR: #33ccff; TEXT-DECORATION: none
}
A:active {
	COLOR: #33ccff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #33ccff; TEXT-DECORATION: none
}
A:link {
	COLOR: #33ccff; TEXT-DECORATION: none
}
.handy {
	CURSOR: hand
}
A.bnav:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.bnav:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.bnav:active {
	COLOR: #000; TEXT-DECORATION: none
}
A.bnav:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
P.INS {
	COLOR: #4169e1
}
A.nav:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.nav:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.nav:active {
	COLOR: #fff; TEXT-DECORATION: none
}
A.nav:hover:unknown {
	COLOR: #fff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #87ceeb; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 8pt
}
UL {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
LI {
	MARGIN-LEFT: -16px
}
.showBox {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 16pt; MARGIN-BOTTOM: 2px; COLOR: #fff; FONT-FAMILY: Arial, Verdana
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 13pt; MARGIN-BOTTOM: 2px; COLOR: #2c7dda; FONT-FAMILY: Arial Narrow, Arial
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
TABLE {
	FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Verdana, Tahoma, Arial; TEXT-ALIGN: justify
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; GALLERYIMG: no
}
