HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 76%/1.2em Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 0px; BACKGROUND-COLOR: #78c529; TEXT-ALIGN: center
}
A:visited {
	COLOR: #497819; TEXT-DECORATION: none
}
A:active {
	COLOR: #497819; TEXT-DECORATION: none
}
A:link {
	COLOR: #497819; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c4aa29
}
H1 {
	FONT-SIZE: 1.5em; MARGIN: 0px
}
H1 A:visited {
	COLOR: #333
}
H1 A:active {
	COLOR: #333
}
H1 A:link {
	COLOR: #333
}
H1 A:hover {
	TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 1em; FONT-SIZE: 1em
}
H3 {
	FONT-SIZE: 1.1em
}
P {
	MARGIN: 1em 0px
}
#masthead {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0.5em; COLOR: #333; PADDING-TOP: 0.5em; BORDER-BOTTOM: #497819 2px solid; TEXT-ALIGN: right
}
#masthead UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#masthead UL LI {
	DISPLAY: inline
}
#masthead UL LI A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#masthead A:link {
	COLOR: #497819; TEXT-DECORATION: none
}
#masthead A:visited {
	COLOR: #497819; TEXT-DECORATION: none
}
#masthead A:active {
	COLOR: #497819; TEXT-DECORATION: none
}
#masthead A:hover {
	COLOR: #497819; TEXT-DECORATION: none
}
#wrapper {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 760px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f0f0f0
}
#header H1 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 2em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em
}
#header P {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0px
}
#title {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../Images/poisonivytop.gif); BACKGROUND-REPEAT: no-repeat
}
#nav {
	CLEAR: right; BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../Images/poisonivybottom.gif); PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-TOP: 0.2em; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #497819; TEXT-ALIGN: left
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav UL LI {
	DISPLAY: inline
}
#nav UL LI A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#subscriptions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#subscriptions UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#subscriptions UL LI {
	DISPLAY: inline
}
#subscriptions UL LI A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.2em; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#contentmargin {
	HEIGHT: 1em
}
#contentwrapper {
	CLEAR: both; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../Images/poisonivytop.gif); PADDING-BOTTOM: 0px; MARGIN: 0em 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f0f0
}
#content {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 2em; MARGIN: 0px 210px 0px 0px; PADDING-TOP: 2em; HEIGHT: 1%
}
#content2 {
	OVERFLOW: hidden; WIDTH: 100%
}
#contentfooter {
	CLEAR: both; BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../Images/poisonivyfooter.gif); BACKGROUND-REPEAT: no-repeat
}
#sidebar-a {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; FLOAT: right; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px 0px 0.5em; BORDER-LEFT: #999 1px solid; WIDTH: 200px; PADDING-TOP: 0.5em
}
#sidebar-a H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0px; MARGIN: 0px 1em; COLOR: #999; PADDING-TOP: 0px
}
#sidebar-a P {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#sidebar-a UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar-a LI {
	MARGIN-TOP: 0.5em
}
#sidebar-a A:active {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN-RIGHT: 0px; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#sidebar-a A:visited {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN-RIGHT: 0px; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#sidebar-a A:link {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN-RIGHT: 0px; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#sidebar-a A:hover {
	TEXT-DECORATION: underline
}
#footer {
	CLEAR: both; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em
}
.BlogCalendar {
	FONT-SIZE: 90%; WIDTH: 100%
}
.BlogCalendarTitle {
	FONT-WEIGHT: bold; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.BlogCalendarNextPrev {
	
}
.BlogCalendarNextPrev A:link {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:active {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:visited {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:hover {
	TEXT-DECORATION: underline
}
.BlogCalendarDays {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.BlogCalendarDay A:link {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:active {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:visited {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:hover {
	FONT-WEIGHT: bold
}
.post {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; MARGIN: 0px; PADDING-TOP: 0em
}
.posthead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0em
}
.posthead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 0.4em; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
.posthead IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.posthead A:hover {
	TEXT-DECORATION: none
}
.postviewhead {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.postcontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.postcontent IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 1em 0.5em 0px; LINE-HEIGHT: 2em; PADDING-TOP: 0px
}
.postfoot {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 3em; COLOR: #999; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: right
}
.postcategoryheading {
	FONT-SIZE: 0.9em; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 0.5em; BORDER-BOTTOM: #999 1px solid
}
.ratemenu {
	BORDER-RIGHT: #aaa 1px dotted; PADDING-RIGHT: 1em; BORDER-TOP: #aaa 1px dotted; PADDING-LEFT: 1em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 1em; MARGIN: 0.5em; BORDER-LEFT: #aaa 1px dotted; PADDING-TOP: 1em; BORDER-BOTTOM: #aaa 1px dotted; BACKGROUND-COLOR: #fff
}
.comment {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.commentowner {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 4px; MARGIN-BOTTOM: 16px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#comments H4 {
	FONT-SIZE: 1em; MARGIN: 0px
}
#comments {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; MARGIN: 0px 0px 1em; PADDING-TOP: 0em
}
.commentspan {
	PADDING-LEFT: 2em
}
.commentssubhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px; COLOR: #999; PADDING-TOP: 0px
}
.commentsbody {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0em 3em; PADDING-TOP: 0em; BORDER-BOTTOM: #999 1px dashed
}
#commentform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1em; PADDING-TOP: 0px
}
#commentform H3 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 0px
}
#commentform DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#commentform DT {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em
}
#commentform DT EM {
	FONT-SIZE: 0.9em
}
#commentform .smallbox {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px solid; WIDTH: 300px; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
#commentform TEXTAREA {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; FONT: 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #999 1px solid; WIDTH: 400px; PADDING-TOP: 0.2em; BORDER-BOTTOM: #999 1px solid; HEIGHT: 180px
}
#emailsubscriptions {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
#emailsubscriptions H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 1em 0px 0.5em; PADDING-TOP: 1em
}
#emailsubscriptions TABLE {
	FONT-SIZE: 1em
}
#news {
	BORDER-RIGHT: #999999 1px dashed; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1px dashed; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em; BORDER-LEFT: #999999 1px dashed; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1px dashed
}
#search .searchBox {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.2em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.2em; MARGIN: 0em 1em; BORDER-LEFT: #666 1px solid; WIDTH: 100px; PADDING-TOP: 0.2em; BORDER-BOTTOM: #666 1px solid
}
#search {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FLOAT: right; PADDING-BOTTOM: 1em; MARGIN: 0px 0px 0.5em; PADDING-TOP: 1em; TEXT-ALIGN: right
}
.media {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN: 1em 1em 0.5em
}
.spacer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
#skinbutton {
	FLOAT: right; MARGIN-RIGHT: 1em
}
#skinbutton UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#skinbutton LI {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN: 5px 0px 0px 20px; BORDER-LEFT: #999 1px solid; WIDTH: 9em; BORDER-BOTTOM: #999 1px solid
}
#skinbutton LI A {
	COLOR: #333; TEXT-DECORATION: none
}
UNKNOWN {
	PADDING-RIGHT: 2px
}
.skinbuttonlink {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #ddd; PADDING-BOTTOM: 2px; FONT: 0.75em verdana, arial, sans-serif; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid; TEXT-DECORATION: none
}
.skinbuttonlink SPAN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; FONT: bold 1em verdana, arial, sans-serif; COLOR: #fff; PADDING-TOP: 2px
}
.cs SPAN {
	BACKGROUND: #666
}
#welcome {
	MARGIN-TOP: 0px; FONT-SIZE: 0.9em; MARGIN-LEFT: auto; COLOR: #000; MARGIN-RIGHT: 3px; FONT-FAMILY: Arial; TEXT-ALIGN: right
}
#welcome A {
	COLOR: #000
}
.TagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 16px 0px; COLOR: #999999; LINE-HEIGHT: 180%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f7f7f7
}
.SidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Tag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #003800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #003800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #003800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #094800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #094800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #094800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #195800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #195800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #195800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #296800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #296800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #296800; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:link {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #396809; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #396809; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:active {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #396809; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #497819; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #497819; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #497819; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:hover {
	TEXT-DECORATION: underline
}
.Tag2 A:hover {
	TEXT-DECORATION: underline
}
.Tag3 A:hover {
	TEXT-DECORATION: underline
}
.Tag4 A:hover {
	TEXT-DECORATION: underline
}
.Tag5 A:hover {
	TEXT-DECORATION: underline
}
.Tag6 A:hover {
	TEXT-DECORATION: underline
}
.SearchStatistics {
	MARGIN-TOP: 16px; MARGIN-BOTTOM: 16px
}
.InlineTagEditor {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.TextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.TextButton:link {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:visited {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.TextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.ModalMask {
	FILTER: alpha(opacity=40); BACKGROUND-COLOR: #333333; opacity: .4
}
.Modal {
	BORDER-RIGHT: #888888 3px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 3px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalTitle {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 0px solid; CURSOR: move; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
.ModalClose {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/close.gif); OVERFLOW: hidden; WIDTH: 33px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.ModalContent {
	BACKGROUND-COLOR: #ffffff
}
.ModalFooter {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.CommonRateControlActive {
	BORDER-RIGHT: #cc9933 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cc9933 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc9933 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9933 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffcc66
}
.CommonRateControlReadOnly IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonRateControl IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonRateControlActive IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar-a UL UL {
	MARGIN: 0px
}
