.btremote
{
	text-align: justify;
	padding: 0px 0px 0px 0px;
	margin: 0px 22px 0px 0px;
}

.btremote p 
{
	text-align: justify;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 12px;
}

.btremote img
{
	border: 0;
} 

.btremote li
{
	margin: 5px 0px 0px 0px;
} 

.btremote .versionTable
{
	border-right: #7F7FFB 1px solid;
	border-top: #7F7FFB 1px solid; 
	border-left: #7F7FFB 1px solid;
	border-bottom: #7F7FFB 1px solid;

	width: 95%;
}

.btremote .versionCell
{
	border-right: 1px solid; 
	border-bottom: 1px solid;
	text-align: center;
	/* background-color: #f8f8f8; */
}

.btremote .descriptionCell
{
	text-align: justify;
	list-style-position: outside; 
	vertical-align: baseline;
	border-bottom: 1px solid;
	list-style-type: circle;
	list-style-position:outside;
	text-align: justify;
	vertical-align: middle;
	/* background-color: #f8f8f8; */
	text-align: left;
	
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 4px;
}

.btremote .dateCell
{
	border-bottom: 1px solid;
	text-align: center;	
}

.btremote .headerRow
{
	border-bottom: 1px solid;
}

.btremote .versionCell
{
	width: 50px;
	border-bottom: 1px solid;
}

.btremote .headerCell
{
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid;
}
