.HBElementSelected {
	background-color: #F9F9F9;
	border-top: 1px solid #CCC;
	border-right: 1px dotted #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	cursor: auto;
	padding: 1px 1px 1px 4px;
	margin-right: 3px;
}
.HBElementUnselected {
	background-color: transparent;
	cursor: pointer;
	padding: 2px 2px 2px 5px;
}
.HBElementUnselectable {
	background-color: transparent;
	cursor: auto;
	padding: 2px 2px 2px 5px;
}
.CatLabel {
	background-color: #DDD;
	cursor: auto;
	height: 24px;
	width: 130px;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
}
.CatValue {
	background-color: #DDD;
	cursor: auto;
	font-style: italic;
	overflow: hidden;
	width: 152px;
	height: 24px;
	padding: 2px;
}
.HBCatLink {
	background-color: #DDD;
	cursor: auto;
}
.HBCatUnlink {
	background-color: transparent;
	cursor: pointer;
}
