/*  
	ISTOCKPHOTO.COM Universal CSS
	Main Template and Commonly Used styles

BASIC 
------------
*/
* { /* Reset the margins so IE doesnt barf all over with Box Model problems */
	margin: 0px;
	padding: 0px;
	}
body {
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-family: "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #494949;
	background-color: #FFFFFF;
}

img, img:link,img:visited {
	border: 0px;
	behavior: url("iepngfix.htc");
}

.clear  {
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	margin: 0px;
	padding:0px;
	clear: both;
	border: 0px;
	}
.horBorder {
	line-height: 0px;
	font-size: 0px;
	height: 1px;
	background: url("/images/horz_border.png") repeat-x;
	}
#wrapper {
	font-family: "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #696969;
}
.localizetextarea {
	font-family: "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.26em;
	color: #696969;
}

h1 {
	font-size: 0.8em;
	line-height: 0.9em;
	letter-spacing: 0em;
	margin: 0px;
	padding: 0px;
	}
h2 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.2em;

}
h3 {
	font-size: 0.8em;
	line-height: 0.9em;
	letter-spacing: 0em;
	margin: 0px;
	padding: 0px;
	}
	
label {
	line-height: 20px;
	vertical-align: top;
	}
	
/*LINKS
-----------------------------------------------------------------------------
*/

a {
	text-decoration: none;
	outline: none;
}
a:hover {

	}


/* COLOR SCHEMES
----------------------------------------------------------------------------- 
*/
/* TOPBAR GRAPHICS */
#birds {
	background: url("/images/bird_bg.png")  no-repeat top right ;
}
#explode {
	background: url("/images/explode_bg.png")  no-repeat top right ;
}

/* TOPBAR COLORS */

#olive #wrapper #topBg, .oliveSelector {
	background: #767600 url("/images/olive-bg.png") repeat-x left top;
}
#olive a:link {
	color: #767600;
	text-decoration: none;
}
#olive .linkColor {
	color: #767600;
}
#olive a:visited {
	color: #767600;
	text-decoration: none;
}
#blue #wrapper #topBg, .blueSelector {
	background: #7396bf url("/images/blue-bg.gif") repeat-x left top;
}
#blue a:link {
	color: #7396bf;
	text-decoration: none;
}
#blue .linkColor {
	color: #7396bf;
}
#blue a:visited {
	color: #7396bf;
	text-decoration: none;
}
#grey #wrapper #topBg, .greySelector {
	background: #000 url("/images/grey-bg.png") repeat-x left top;
}
#grey a:link {
	color: #000;
	text-decoration: none;
}
#grey .linkColor {
	color: #000;
}
#grey a:visited {
	color: #000;
	text-decoration: none;
}
#orange #wrapper #topBg, .orangeSelector {
	background: #f49b0f url("/images/orange-bg.png") repeat-x left top;
}
#orange a:link {
	color: #f49b0f;
	text-decoration: none;
}
#orange .linkColor {
	color: #f49b0f;
}
#orange a:visited {
	color: #f49b0f;
	text-decoration: none;
}
#pink #wrapper #topBg, .pinkSelector {
	background: #f13d8d url("/images/pink-bg.png") repeat-x left top;
}
#pink a:link {
	color: #f13d8d;
	text-decoration: none;
}
#pink .linkColor {
	color: #f13d8d;
}
#pink a:visited {
	color: #f13d8d;
	text-decoration: none;
}
#red #wrapper #topBg, .redSelector {
	background: #c62f00 url("/images/red-bg.png") repeat-x left top;
}
#red a:link {
	color: #c62f00;
	text-decoration: none;
}
#red .linkColor {
	color: #c62f00;
}
#red a:visited {
	color: #c62f00;
	text-decoration: none;
}
#black #wrapper #topBg, .blackSelector {
	background: #000 url("/images/black-bg.png") repeat-x left top;
}
#black a:link {
	color: #000;
	text-decoration: none;
}
#black .linkColor {
	color: #000;
}
#black a:visited {
	color: #000;
	text-decoration: none;
}
.blueSelector, .oliveSelector, .greySelector, .orangeSelector, .pinkSelector, .redSelector, .blackSelector, #colourSelectorChecked {
	width: 12px;
	height: 12px;
	border: 2px solid #e0e0e0;
	float: left;
	margin: 0px 4px 4px 0px;
	overflow: hidden;
}

#colourSelectorChecked {
	border: 2px solid white;
}

#topBg {
	min-width: 910px;
	}
 
 
/* CONTROL PANEL
----------------------------------------------------------------------------- 
*/
.controlPanelMain {
	display: none;
	width: 895px; 
	background-color: #ffffff;
	background: url("/images/cp_bg.png") repeat-x left top;
	padding: 5px 0px 5px 15px;
	z-index: 1000;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #E0E0E0;
/*	border-right: 1px solid #E0E0E0;*/
}

.controlPanelSet {
	margin-top: 5px;
	margin-bottom: 8px;
}


/* TOPBAR
----------------------------------------------------------------------------- 
*/

#wrapper #topBg {
	text-align: left;
}

#wrapper #topBar {
	height: 85px;
	width: 905px;
	text-align: left;
	color: #fff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#wrapper #topBar #accountBox {
	height: 48px;
}

#wrapper #topBar #accountBox #logo {
	float: left;
}

#logout {
	text-align: right;
	color: #FFF;
	}
#logout	a, #logout a:link {
	padding: 0px 0px 0px 4px;
	color: #FFF;
}
#logout a:hover {
	text-decoration: none;
	color: #000;
}

#wrapper #topBar #accountBox #memberStatus  {
	text-align: right; 
	float: left;
	margin: 0px 0px 0px 50px;
}
#wrapper #topBar #accountBox #memberStatus #message {
	margin-top: 20px;
	text-align: left;
	}
#wrapper #topBar #accountBox #memberStatus #messageNotLogged {
	margin-top: 5px;
	width: 600px;
	text-align: left;
	}
#wrapper #topBar #accountBox #memberStatus #messageNotLogged input {
	width: 150px;
	margin-bottom: 5px;
	}
	
#wrapper #topBar #accountBox #memberStatus #message #uploadBox {
	width: 170px;
	float: right;
	margin-right: 20px;
	}

#wrapper #topBar #horzSpacer {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
	height: 1px;	
	}
#languageSelection {
	float: right;
	padding: 5px 8px 0px 0px;
	}
#languageSelection a {
	color: #FFF;
	}
#languageSelection a:link, #languageSelection a:visited {
	color: #FFF;
	}
#languageSelection a:hover {
	color: #000;
	text-decoration: none;
	}
/* NAVIGATION */

#wrapper #topBar #navBox {
		line-height: 0px;
}

#wrapper #topBar #navBox div {
	float: left;
	padding: 0px;
	margin: 0px;
	color: #fff;
	height: 20px;
	line-height: 45px;
	vertical-align: middle;	
}
#wrapper #topBar #navBox #accountInfo {
	width: 150px;
	
}
#wrapper #topBar #navBox #accountInfo .userName {
	margin-top: 5px;
	line-height: 25px;
	}
#wrapper #topBar #loginBox #accountInfo #signup{
	margin-left: 10px;
	margin-right: 30px;
	float: left;
	margin-top: 10px;	
	vertical-align: middle;
	}
#wrapper #topBar #loginBox #accountInfo #signup img{
	vertical-align: middle;
	}
#wrapper #topBar #navBox #accountInfo a#avatar img{
	margin: 5px 10px 0 10px;
	float: left; 	
}

#wrapper #topBar #navBox #accountInfo a#avatar{
	color: #FFF;
}

#wrapper #topBar #navBox #accountInfo a#avatar:hover{
	color: #000;
}
#wrapper #topBar #navBox #navItems {
	width: 750px;
	float: right;
}

#wrapper #topBar #navBox #navItems .vertSpacer {
	float: right;
	margin: 6px 0px 0px 0px;
	}

#wrapper #topBar #navBox #navItems a {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	padding: 0px 8px 0px 4px;
	margin: 6px 0px 0px 0px;
	color: #FFF;
	float: right;
}

#wrapper #topBar #navBox #navItems a:hover {
	text-decoration: none;
	color: #000;
}

#wrapper #topBar #navBox #navItems a#ControlPanelToggle img{
	vertical-align: middle;
}

#wrapper #topBar #navBox #navItems a#mail img{
	vertical-align: middle;
}

#wrapper #topBar #navBox #navItems a#lightBoxes img{
	vertical-align: middle;
}
#wrapper #topBar #navBox #navItems a#yourAccount img{
	vertical-align: middle;
	padding-bottom: 3px;
}
#wrapper #topBar #navBox #navItems a#myuploads {
	padding: 0px;
}
#wrapper #topBar #navBox #navItems a#myuploads img{
	vertical-align: middle;
}
#wrapper #topBar #navBox #navItems a#creativeNetwork img{
	vertical-align: middle;
}
#wrapper #topBar #navBox #navItems a#buyCredits img{
	vertical-align: middle;
}
#wrapper #topBar #navBox #navItems p {
	margin: 0px;
	padding: 0px;
}

#wrapper #topBar #navBox #controlPanel {
	width: 110px;
	margin-top: 18px;
	text-align: right;
	float: right;
	height: 24px;
	font-size: 0px;
	line-height: 0px;
}

/* CONTROL PANEL SPECIAL CLASSES
----------------------------------------------------------------------------- 
*/

#ControlPanelMain select {
	margin-top: 4px;
	}


/* CONTENT AREA
----------------------------------------------------------------------------- 
*/

#contentArea {
	margin: 0px 0px 0px 0px;
	text-align: left;
	padding: 0px;
	vertical-align: top;
	float: left; 
	line-height: 1.4em;
}

#contentArea h1 {
	padding: 0px;
	margin: 0px;
	color: #666;
	font-size: 1.3em;
	line-height: 1.3em;
}

#contentArea h2 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.2em;

}
#contentArea h3 {
	padding: 0px;
	margin: 0px;
	color: #666;
	font-size: 1.3em;
	line-height: 1.3em;
}

#contentArea a:hover {
	text-decoration: underline;
	}
#contentArea p{
	margin-bottom: 6px;
	text-align: left;
	}	

/* SIDENAV
----------------------------------------------------------------------------- 
*/

#contentArea #sideBar  {
	text-align: left;
	float: left;
	width: 156px;
	margin-right: 2px;
	padding-right: 2px;
	padding-top: 5px;
}

#contentArea #sideBar  #searchBox {
	padding-left: 10px;
	font-size: 1.1em;
}

#contentArea #sideBar #searchBox .topsearch {
	width: 130px;
	padding: 0px;
	margin: 0px;
	}

#contentArea #sideBar #searchBox .subSearch {
	margin: 5px 0px 0px 0px;
	}

#contentArea #sideBar #searchBox .buttonRow {
	margin: 5px 0px 0px 0px;
	}

#contentArea #sideBar #nav {
	/* background: url("/images/sidenav-dotline.png") left bottom no-repeat; */
	/* margin-top: 15px; this creates and open space above the sidebar nav */
}

#contentArea #sideBar #nav a, #contentArea #sideBar #nav span, #contentArea #sideBar #nav textarea {
	display: block;
	font-size: 12px; 
	color: #000;
	padding-left: 10px;
	line-height: 22px;
	vertical-align: middle;
	background: url("/images/sidenav-dotline.png") left bottom no-repeat;
}

#contentArea #sideBar #nav a:hover {
	color: #000;
	background: #eee url("/images/sidenav-dotline.png") left bottom no-repeat;
	text-decoration: none;
}
#contentArea #sideBar #nav a.selected {
	color: #666;
	background: url("/images/sidenav-dotline.png") left bottom no-repeat;
	text-decoration: none;
}

#contentArea #sideBar #nav p {
	height: 22px;
	padding: 0px;
	margin: 0px;
	background: url("/images/sidenav-dotline.png") left bottom no-repeat;
}
#searchOptions {
margin-left: 10px;
}
#contentArea #sideBar  #searchOptions img {
	cursor: pointer;
	}
#contentArea #sideBar  #searchOptions h2 {
	font-size: 12px; 
	color: #000;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	}
#contentArea #sideBar  #searchOptions strong {
	color: #000;
	padding: 4px 0px 2px 0px;
	display: block;
	margin: 2px 0px 0px 0px;
	border-top: 1px solid #eee;
}

#contentArea #sideBar  #searchoptions a {
	padding-left: 18px;
	display: block;
	vertical-align: middle;
}

#contentArea #sideBar  #searchoptions a:link {
	color: #666;
}

#contentArea #sideBar  #searchoptions a:hover {
	color: #000;
}

#contentArea #sideBar  #searchoptions a.on {
	background: url("/images/checkbox-on.png") left center no-repeat;
}

#contentArea #sideBar  #searchoptions a.off {
	background: url("/images/checkbox-off.png") left center no-repeat;
}

#contentArea #mainContentMaster {
	padding: 0px 0px 0px 0px;
	background: url("/images/vert_border.png") left repeat-y;
	width: 750px;
	float: left;
	font-size: 1.1em;
}
#contentArea #mainContentMaster h1 {
	font-size: 1.3em;
	}
#contentArea #mainContentMaster h3 {
	font-size: 1.3em;
	}
#oneColumn {	
	padding-top: 5px;
	padding-left: 9px;
	margin-left: 1px;
	}
#mainContentSearch {
	padding: 0px 0px 0px 0px;
	background: url("/images/vert_border.png") left repeat-y;
	width: 100%;
	
	}

.searchTD {
	width: 160px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	}
.tableTD {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	}
.searchExpandTD {
	vertical-align: top;
	width: 100%;
	}
#searchHolder {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 100%;
	}

 .paddedBox {
	padding: 0px 10px 0px 10px;
	}
 .paddedBoxTop {
	padding: 10px 10px 10px 10px;
	}
#contentArea #footer {
	width: 910px;
	display: block;
	margin: 10px 0px 0px 0px;
	color: #999;
	font-size: 0.9em;
	background-color: #FFF;
	}
#contentArea #footer a:hover {
	text-decoration: underline;
	}
#contentArea #footer #left	{
	margin: 10px 0px 10px 8px;
	float: left;
	width: 280px;
	}
#contentArea #footer #right {
	margin: 10px 0px 10px 0px;
	float: right;
	width: 580px;
	text-align: right;
	}
.banners {
	margin: 5px;
}

/*  INTERFACE ELEMENTS
----------------------------------------------------------------------------- 
*/

button {
	border: 0px;
	padding: 0px;
	margin: 0px 0px 0px 4px;
	border-width: 0px;
	background-color: #FFF;
	cursor: pointer;
	height: 24px;
	line-height: 23px;
	vertical-align: middle;
}

button div{
	font-size: 0.85em;
	padding: 0px 0px 0px 3px;
	margin: 0px 0px 0px 0px;
	background: url("/images/button-l.png") left top no-repeat;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}

button span {
	height: 24px;
	line-height: 23px;
	background: url("/images/button-r.png") right top no-repeat;
	display: block;
	padding: 0px 6px 0px 0px;
	margin: 0px 0px 0px 3px;
	border-width: 0px;
	vertical-align: middle;
	color: #000000;
}

#contentArea button:hover {
	color: #777;
}

.radiusbutt {
	padding-left: 10px;
	background: url("/images/arrow.gif") no-repeat left;
	margin-bottom: 5px;
}
.radiusbuttright {
	padding-left: 10px;
	margin-bottom: 5px;
	background: url("/images/arrow.gif") no-repeat left;
	float: right;

}
.radiusbuttleft {
	padding-left: 10px;
	margin-bottom: 5px;
	background: url("/images/arrow.gif") no-repeat left;
	float: left;
	
}
.error {
	color: #ff0000;
	}
	
/* this class fixes the IE disappearing text. */
.iefix {
	height: 0.01%;
	}

/*  INTERFACE ELEMENTS
----------------------------------------------------------------------------- 
*/

 .left {
	float: left;
	}
 .right {
	float: right;
	}

.tableimage {
	float: left;
	width: 100px;
	height: 200px;
	}
.alignButton {
	vertical-align: top;
	}

#searchResults .floatercell .relevanceBar {
	background: #F4F4EF;
	margin: 4px 0px 4px 0px;
	width: 50px;
	text-align: left;
}

#searchResults .floatercell .relevanceBar div {
	background: url("images/test/diag.png");
	height: 3px;
}

#halfContent {
	width: 400px;
	}
#halfContent form{
	text-align: right;
	margin-right: 120px;
	}
#halfContent form .submitButton{
	text-align: right;
	margin: 10px 2px 10px 0px;
	}
#halfContent .field{
	text-align: right;
	}
#halfContent label{
	width: 200px;
	}
.navbarimg {
	margin-left: 3px;
	vertical-align: top;
	}
.navBar a{
	margin-left: 2px;
	margin-right: 2px
	}
.navBar .currentPage {
	margin-left: 2px;
	margin-right: 2px;
	font-size: 1.1em;
	font-weight: bold;
	}
.navBar {
	line-height: 18px;
	margin: 10px 0px 10px 0px;
	clear: both;
	}
.tabContent .navBar {
	margin-right: 10px;
	}
.tabContent .navBar a{
	color: #000;
	}
.arrow {
	padding-left: 10px;
	background: url("/images/arrow.gif") no-repeat left;
	margin-bottom: 5px;
}
.arrowRight {
	padding-left: 10px;
	margin-bottom: 5px;
	background: url("images/arrow.gif") no-repeat left;
	float: right;
	clear: both;
}
.reporttable .even {
	background-color: #f7f6f6;
	}
.reporttable .evenHighlight {
	background-color: #ffc4c4;
}
.reporttable .evenHighlight td, .reporttable .oddHighlight td {
	padding: 2px 5px 2px 8px;
	}
.reporttable .oddHighlight {
	background-color: #fedfdf;
}
.reporttable .even td {	
	padding: 2px 5px 2px 8px;
	}
.reporttable .odd td {	
	padding: 2px 5px 2px 8px;
	}
ul,ol {
	margin-left: 20px;
	list-style-position: outside;
	}
#exclusiveTable {
	border-collapse: collapse; 
	border: 1px solid #e0e0e0;
}
#exclusiveTable td {
	padding: 3px; 
	text-align: center;
	border: 1px solid #e0e0e0;
}
#exclusiveTable th {
	padding: 3px; 
	text-align: left;

}
.vertBottom {
	vertical-align: bottom;
	}
.vertMid {
	vertical-align: top;
	padding-top: 2px;
	}

/*  sIFR ELEMENTS
----------------------------------------------------------------------------- 
*/

/* These are standard sIFR styles... do not modify */

.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}


/* These "decoy" styles are used to hide the browser text before it is replaced... the negative-letter spacing in this case is used to make the browser text metrics match up with the sIFR text metrics since the sIFR text in this example is so much narrower... your own settings may vary... any weird sizing issues you may run into are usually fixed by tweaking these decoy styles */

.sIFR-hasFlash h1 {
	visibility: hidden;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}

.sIFR-hasFlash h3 {
	visibility: hidden;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}

/* STRECHY ROUNDED CORNER BOXES
---------------------------------------------------------------------------- 
*/
.roundedBox {
}
.roundedBox .hd {
	background: url("/images/roundedbox/topleft.gif") left top no-repeat;
	height: 10px;
	/*line-height: 8px; 
	font-size: 12px;*/
	line-height: 0px; 
	font-size: 0px;
}
.roundedBox .hd .c {
	float: right;
	background: url("/images/roundedbox/topright.gif") right top no-repeat;
	width: 10px;
	height: 10px;
}
.roundedBox .bd {
	background: url("/images/roundedbox/middleleft.gif") left top repeat-y #FFF;
	padding: 0px 10px 0px 10px;
	border-right: 1px solid #e0e0e0;
	}
.roundedBox .bd .c {
	position: relative;
	float: right;
	width: 11px;
	background: url("/images/roundedbox/middleright.gif") right top repeat-y;
	}
.roundedBox .ft {
	height: 10px;
	background: url("/images/roundedbox/bottomleft.gif") left top no-repeat;
	font-size: 0px;
	line-height: 0px;
	}
.roundedBox .ft .c {
	float: right;
	background: url("/images/roundedbox/bottomright.gif") right top no-repeat;
	width: 10px;
	height: 10px;
	}

/* COPYSPACE */
#cs_box
{
	cursor: pointer;
	border: 0px solid #CCC;
	padding: 0px;
	float: left;
	width: 60px;
	margin-top: 4px;
	z-index: 1500;
}

#copyspaceContainer
{
	border: 0px solid #666;
	background-color: #FFF;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;
}

#copyspaceContainer2
{
	border: 1px solid #CCC;
	background-color: #FFF;
	width: 220px;
	padding: 5px;
	z-index: 1500;
	display: none;
	position: absolute;
}

.cs_xxx
{
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0px solid #888;
	background-color: #666;
	width: 15px;
	height: 15px;
	background: url(/images/cs_grey.gif);
}

.xxx
{
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: #666;
	width: 15px;
	height: 15px;
}

.cs_on
{
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0px solid #8C8;
	background-color: #4E4;
	width: 15px;
	height: 15px;
	background: url(/images/cs_green.gif);
}

.cs_off
{
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0px solid #C88;
	background-color: #E44;
	width: 15px;
	height: 15px;
	background: url(/images/cs_red.gif);
}

#sensitivity1
{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	background: url('/images/copyspace_1.png');
}

#sensitivity2
{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	background: url('/images/copyspace_2.png');
}

#sensitivity3
{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	background: url('/images/copyspace_3.png');
}

#sensitivity4
{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	background: url('/images/copyspace_4.png');
}

#sensitivity5
{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	background: url('/images/copyspace_5.png');
}

.sensitivity_off
{
	cursor: pointer;
	border: 1px solid #999;
}

.sensitivity_on
{
	cursor: pointer;
	border: 1px solid #000;
}

/*  SEARCH BAR
----------------------------------------------------------------------------- 
*/

#tableGradientBg, #tableGradientBg td { /* IE 7 & Safari doesn't tile background image properly. FIx: Put search bar div in table with background image - JT */
	z-index: 0;
	padding-bottom: 0px;
	margin: 0;
	background: url("/images/searchBar_gradient.gif") repeat-x #d4d3d4;
}

#SearchBar {
	padding: 5px 0px 3px 10px;
	margin: 0;
	width: 900px;
	float: left;
	z-index: 0;
	border: 0;
	background: url("/images/searchBar_gradient.gif") repeat-x;
}

#SearchBar #divider {
	float: left;
	margin-right: 15px;
	margin-top: 2px;
}

#SearchBar #SearchBarTextContainer {
	background: none;
	margin-right: 15px;
	height: 24px;
	float: left;
}

#SearchBar input#SearchBarText {
	width: 115px;
	color: #494949;
}

#SearchBar #SearchBarFileTypesContainer {
	padding: 0 15px 0 0;
	float: left;
}


/* COPYSPACE - CONTAINER in search bar */
#SearchBar #SearchBarCopySpaceContainer {
	height: 15px;
	float: left;
	padding: 0 15px 0 0;
}

/* COPYSPACE - GRAPHIC in search bar */
#SearchBar #SearchBarCopySpaceContainer2 {
	border: 0px solid #666;
	background-color: #FFF;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

/* COLOUR BLOCK - CONTAINER in search bar */
#SearchBar #SearchBarColorContainer {
	height: 25px;
	padding: 0 15px 0 0;
	float: left;
}

/* COLOUR BLOCK - GRAPHIC in search bar */
#SearchBar #SearchBarCurrentColorBox {
	border: 1px solid #999;
	width: 22px;
	height: 22px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	float:left;
	background-image: url('/images/colourblock_bg.gif');
}

/* COLOUR BLOCK - GRAPHIC in AJAX WINDOW */
#SearchBar #SearchBarCurrentColorBox2 {
	width: 22px;
	height: 22px;
	border: 1px solid #999;
	float: left;
	margin-right: 6px;
	margin-top: 0px;
	background-image: url('/images/colourblock_bg.gif');
	cursor: pointer;
}

/* COLOUR BLOCK - AJAX WINDOW */
#SearchBar #SearchBarColorSelector {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 5px;
	z-index: 1500;
	display: none;
	position: absolute;
	width: 225px;
}

#SearchBar #SearchBarSortByContainer {
	padding: 0 10px 0 0;
	float: left;
	/* IE6 work around */ width:expression(document.body.clientWidth < 200 ? "200px" : "auto" );
}

select#SearchBarSortBy {
	color: #494949;
	margin-right: 5px;
}

#SearchBar #SearchBarLinksContainer {
	float: left;
	padding: 0px 15px 0 0;
}

#SearchBarBeta {
	padding: 11px 0 2px 10px;
	line-height: 12px;
	font-size: 0.95em;
}

#SearchBar #SearchBarSubmit {
	margin: 2px 0 0 0;
	float: left;
}

/* TIPS ICON - CONTAINER in search bar */
#SearchTipsIcon {
	padding: 2px 15px 0 0;
	float: left;
}

#SearchTipsContainer
{
	margin: 0 0 10px 10px;
	width: 730px;
	display: none;
	padding-top: 14px;
	float: left;
}

#SearchBar .SearchBarFileTypeOptionsContainer
{
	border: 1px solid #CCC;
	background-color: #FFF;
	display: none;
	position: absolute;
	z-index: 1500;
	left: 10px;
	width: 80px;
	padding: 0 5px 5px 5px;
}

#SearchBar .SearchBarWithinHightlight
{
	background-color: #FEFEB0;
	color: #494949;
}
#SearchBar .SearchBarWithinNormal
{
	background-color: #FFFFFF;
	color: #494949;
}

/* <= IE 6.0 */
* html #SearchBar .SearchBarFileTypeOptionsContainer {
	left: -30px;
	top: 14px;
}

.radioon {
	background: url("/images/radio_on.gif")  no-repeat;
	display: inline;
	margin-top: 0px;
	padding: 0px;
	padding-left: 15px;
	font-weight: bold;
	font-size: 10px;
	color: #494949;
}

.radioon:hover {
	/*background-image: url("/images/radio_on.gif");*/
}

.radiooff {
	background: url("/images/radio_off.gif")  no-repeat;
	display: inline;
	margin-top: 0px;
	padding: 0px;
	padding-left: 15px;
	color: #494949;
}

.radioff:hover {
	
}

/* ======================================================== */
/*                                                        SEARCH BAR */       /* END */
/* ======================================================== */



/* Search Filters and Options */
#AdvancedSearchFiltersAndOptionsContainer {
	width: 730px;
	display: none;
	padding: 14px 10px;
}
#FiltersAndOptionsContainer {
	float: left;
	width: 375px;
	margin-right: 10px;
}
#DisplayDetailsContainer {
	float: left;
	width: 140px;
	height: 175px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
	margin-right: 10px;
	padding-left: 10px;
}
#ResultFiltersContainer {
	float: left;
	width: 140px;
	height: 175px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
	padding-left: 10px;
}
.ShapeSelectedVertical {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_vert_on.gif') no-repeat;
}
.ShapeNormalVertical {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_vert_off.gif') no-repeat;
}	
.ShapeSelectedHorizontal {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_horiz_on.gif') no-repeat;
}
.ShapeNormalHorizontal {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_horiz_off.gif') no-repeat;
}	
.ShapeSelectedSquare {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_square_on.gif') no-repeat;
}
.ShapeNormalSquare {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_square_off.gif') no-repeat;
}

#MajortermBrowserContainer
{
	width: 735px;
	display: none;
	padding: 8px 0 0 6px;
	overflow: hidden;
}


/*  LANGUAGE SELECTOR -- NEW
----------------------------------------------------------------------------- 
*/
/* pop up container window */
#languageSelector {
	font-size: 10px;
	line-height: 16px;
	color: #494949;
	padding: 6px 8px 0 8px;
	display: none;
	position: absolute;
	background: #FFF;
	z-index: 1600;
	white-space: nowrap;
	border: 1px solid #dcdcdc;
	float: right;
}
#languageDisplay {
	cursor:pointer;
}

/* PRINTS CHECK-OUT
-----------------------------------------------------------------------------
*/

#PrintsOrderForm {
	background-color: #FDFDFD;
	border-collapse: collapse;
	margin-bottom: 5px;
}
#PrintsOrderForm td {
	border: 1px solid #E1E1E1;
	padding: 5px;
}
#PrintsOrderForm th {
	background-color: #F6F6F6;
	border: 1px solid #E1E1E1;
	padding: 3px 3px 1px 3px;
}


/*  STEEL CAGE ADMIN PAGES
----------------------------------------------------------------------------- 
*/

.SCAdminTable {
	border-collapse: collapse; border: 1px solid #EFEFEF;
}
.SCAdminTable th, .SCAdminTable td {
	border: 1px solid #EFEFEF;
}
.SCAdminTable th {
	padding: 5px;
}
.SCAdminTable td {
	padding: 3px;
}
.SCAdminTableRow {
	background: #FFF url("/images/downloadBackground.gif") top repeat-x;
}

.SCAdminBattleImages {
	margin: 0 5px 5px 5px; background: url('/images/shaded_background.png') top repeat-x; border-top: 1px solid #EFEFEF;
}
.SCAdminBattleImages td {
	border: none;
}
.SCAdminCommentsField {
	border-top: 1px solid #EFEFEF; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; border-left: 1px solid #FFF; background: url('/images/shaded_background.png') top repeat-x; padding: 5px;
}
