/*  BASIC SEARCH BAR
----------------------------------------------------------------------------- 
*/
#tableGradientBg, #tableGradientBg td { /* IE 7 & Safari doesn't tile background image properly. FIx: Put search bar div in table with background image - JT */
	z-index: 0;
	padding-bottom: 0px;
	margin: 0;
	background: url("/images/searchBar_gradient.gif") repeat-x #d4d3d4;
}

#SearchBar {
	width: 900px; 
	padding: 4px 0px 2px 10px;
	margin: 0;
	float: left;
	z-index: 0;
	border: 0;
	background: url("/images/searchBar_gradient.gif") repeat-x;
}

#SearchBar a:link {
	color: #696969;
}

#SearchBar #divider {
	float: left;
	margin-right: 15px;
	margin-top: 2px;
}

#SearchBar #SearchBarTextContainer {
	background: none;
	margin-right: 5px;
	height: 24px;
	float: left;
}

#SearchBar input#SearchBarText {
	width: 150px;
	color: #494949;
	font-size: 1em;
}

#SearchBar #SearchBarSubmit {
	margin: 0px 30px 0 0;
	float: left;
}

#SearchBar #SearchBarFileTypesContainer {
	padding: 0 30px 0 0;
	float: left;
}

#SearchBarFileTypesContainer label{
	margin-right: 10px;
	vertical-align: middle;
}

#SearchWithin label{
	margin-right: 10px;
	vertical-align: middle;
}

#SearchBarSortByContainer {
	padding: 0 10px 0 0;
}

#SearchBarSortByContainer select {
	color: #494949;
	font-size: 1em;
	min-width: 90px;
}

#SearchBar #SearchBarLinksContainer {
	float: right;
	padding: 0 12px 0 0;
	text-align: right;
	line-height: 12px;
	font-size: 0.95em;
}

#SearchBarBeta {
	padding: 0 0 0 10px;
	line-height: 12px;
	font-size: 0.95em;
}

#SearchBarLinksContainer a:link {
	color: #696969;
}

#SearchWithinCheckbox {
	padding-top: -1px;
}

/* COPYSPACE - CONTAINER in search bar */
#SearchBar #SearchBarCopySpaceContainer {
	height: 15px;
	float: left;
	padding: 0 15px 0 0;
}

/* COPYSPACE - GRAPHIC in search bar */
#SearchBar #SearchBarCopySpaceContainer2 {
	border: 0px solid #666;
	background-color: #FFF;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

/* COLOUR BLOCK - CONTAINER in search bar */
#SearchBar #SearchBarColorContainer {
	height: 25px;
	padding: 0 15px 0 0;
	float: left;
}

/* COLOUR BLOCK - GRAPHIC in search bar */
#SearchBar #SearchBarCurrentColorBox {
	border: 1px solid #999;
	width: 22px;
	height: 22px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	float:left;
	background-image: url('/images/colourblock_bg.gif');
}

/* COLOUR BLOCK - GRAPHIC in AJAX WINDOW */
#SearchBar #SearchBarCurrentColorBox2 {
	width: 22px;
	height: 22px;
	border: 1px solid #999;
	float: left;
	margin-right: 6px;
	margin-top: 0px;
	background-image: url('/images/colourblock_bg.gif');
	cursor: pointer;
}

/* COLOUR BLOCK - AJAX WINDOW */
#SearchBar #SearchBarColorSelector {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 5px;
	z-index: 1500;
	display: none;
	position: absolute;
	width: 225px;
}

/* TIPS ICON - CONTAINER in search bar */
#SearchTipsIcon {
	padding: 2px 15px 0 0;
	float: left;
}

#SearchTipsContainer
{
	margin: 0 0 10px 10px;
	width: 730px;
	display: none;
	padding-top: 14px;
	float: left;
}


/* override the file_search.css label settings */
#SearchBar label {
	float:none;
}
#SearchBarContainerAdvanced label{
	float:none;
}

/* <= IE 6.0 */
* html #SearchBar .SearchBarFileTypeOptionsContainer {
	left: -30px;
	top: 14px;
}

.radioon {
	background: url("/images/radio_on.gif")  no-repeat;
	display: inline;
	margin-top: 0px;
	padding: 0px;
	padding-left: 15px;
	font-weight: bold;
	font-size: 10px;
	color: #494949;
}

.radioon:hover {
	/*background-image: url("/images/radio_on.gif");*/
}

.radiooff {
	background: url("/images/radio_off.gif")  no-repeat;
	display: inline;
	margin-top: 0px;
	padding: 0px;
	padding-left: 15px;
	color: #494949;
}

.radioff:hover {
	
}


/*  ADVANCED SEARCH
----------------------------------------------------------------------------- 
*/

.heading {
	font-size: 1em;
	color: #000;
	padding: 0 5px 10px 0;
}

#AdvancedSearchContainer {
	width: 875px;
	background: url("/images/searchbar_advanced_bg.png") repeat-x;
	padding: 6px 15px 10px 10px;
	z-index: 1500;
}
#AdvancedSearchContainer a:link {
	font-size: 0.9em;
}
#AdvancedSearchContainer .horBorder {
	margin: 10px 0 10px 0;
}
#SearchBarContainerAdvanced {
	width: 875px;
	display: none;
	position: absolute;
	z-index: 1500;
}
#SearchFieldContainer {
	margin: 0 0 5px 0;
}
#SearchFieldContainer input {
	color: #494949;
	font-size: 1em;
	margin-right: 32px;
}
#SearchFieldContainer .heading {
	font-size: 1em;
	color: #000;
}
#FiltersAndOptionsContainer {
	float: left;
	width: 380px;
	white-space: nowrap;
}
#DisplayDetailsContainer {
	float: left;
	width: 140px;
	height: 165px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
}
#ResultFiltersContainer {
	float: left;
	width: 130px;
	height: 165px;
}
.AdvancedSearchSaveContainer {
	float: right;
	width: 125px;
	height: 165px;
	padding: 0 10px 0 10px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
}

#AdvancedSearchCategoryContainer {
	float:left;
	width: 550px;
	overflow: hidden;
	margin-left: 1px;
}
#AdvancedSearchColorContainer {
	float: left;
	width: 169px;
	height: 150px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
	padding-left: 10px;
}
#AdvancedSearchColorContainer a:link {
	font-size: 0.85em;
}
#AdvancedSearchCopySpaceContainer {
	float: left;
	width: 135px;
	height: 140px;
	background: url("/images/searchBar_divider.gif") left repeat-y;
	padding-left: 10px;
}
.CsBoxContainer {
	float:left;
	width: 50px;
	margin: 2px 0 10px 0;
}
.SensitivityContainer {
	float:left;
	width: 70px;
	margin: 3px 0 0 5px;
}
.ShapeSelectedVertical {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_vert_on.gif') no-repeat;
}
.ShapeNormalVertical {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_vert_off.gif') no-repeat;
}	
.ShapeSelectedHorizontal {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_horiz_on.gif') no-repeat;
}
.ShapeNormalHorizontal {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_horiz_off.gif') no-repeat;
}	
.ShapeSelectedSquare {
	float: left;
	padding: 5px; 
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_square_on.gif') no-repeat;
}
.ShapeNormalSquare {
	float: left;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	width:18px;
	height:18px;
	background: url('/images/icon_orien_square_off.gif') no-repeat;
}

.Tip {
	font-size: 0.9em;
	margin-top: 10px;
	line-height: 1.4em;
}

#FO_SearchColorSelector_Web {
	width:160px;
}

#MajortermBrowserContainer
{
	width: 735px;
	display: none;
	padding: 8px 0 0 6px;
	overflow: hidden;
}

#FO_SearchColorBox {
	width: 22px;
	height: 22px;
	border: 1px solid #999;
	float: left;
	margin-right: 6px;
	margin-top: 5px;
	background-image: url('/images/colourblock_bg.gif');
}

#FO_FilterHighlight {
	float: left; 
	width:875px;
}
.divHighlightOff {
	background-color: none;
	margin-top: 10px;
}

.divHighlightOn {
	background-color: #f9f9f9;
	margin-top: 10px;
}

#FO_Save {
	padding: 0 10px 0 0px;
}

#FO_ResetArrow {
	padding: 0 1px 0 1px;
}

#FO_ResetContainerWrapper {
	border: 1px solid #ededec;
	float: left;
	white-space: nowrap;
}

#FO_ResetContainerWrapper:hover {
	border-top: 1px solid #e4e4e3;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #e4e4e3;
	padding-left: 2px;
}

#FO_ResetTable{
	float: left;
}
#FO_ResetTable td {
	vertical-align:top;
	padding: 0 0 0 2px;
	margin: -3px 0 0 -1px;
	white-space: nowrap;
}

#FO_ResetTableOptions{
	display:none;
	border-top: 1px solid #FFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #e4e4e3;
	padding: 4px 3px 4px 3px;
	margin: -3px 0 0 -3px;
	background-color: #FFF
}

/*  SEARCH TIPS
----------------------------------------------------------------------------- 
*/
h4 {
	color: #393536;
	font-size: 1em;
}


.tipsContainer {
	margin: 10px;
	font-size: 0.8em;
}

.tipsContainer .heading {
	font-weight: normal;
	font-size: 1.2em;
	padding: 0;
	color: #666666;
}

.tipsContainer .groupheading {
	font-weight: normal;
	font-size: 1.3em;
	padding: 5px 0 5px 0;
	color: #393536;
}