#contentArea #mainContentMaster #column1 {
	width: 548px;
	float: left;
	padding-top: 5px;
	margin-right: 1px;
	margin-left: 1px;
	background: url("/images/vert_border.png") right repeat-y;
	}
#contentArea #mainContentMaster #column1 .paddedBox {
	padding: 0px 10px 10px 10px;
	}
#contentArea #mainContentMaster #column2 {
	width: 199px;
	float: left;
	background: url("/images/vert_border.png") right repeat-y;
	padding: 0px 0px 0px 0px;
	}
	
#contentArea #mainContentMaster #column2 .vertBorder {
	margin: 0px 1px 0px 0px;
	padding: 0px 10px 15px 10px;
	background: url("/images/shaded_background.png") top repeat-x;
	overflow: hidden;
	}
#contentArea #mainContentMaster #column2 .vertBorder p {
	margin-top: 5px;
	}
	
#contentArea #mainContentMaster #column1 .personalInfo {
	margin: 0px 16px 16px 0px;
	float: left;
	width: 270px;
	}
	
#contentArea #mainContentMaster #column1 .profilePic {
	float: right;
	margin: 5px 10px 10px 0px;
	}
	
#contentArea #mainContentMaster #column1 .personalInfo p {
	margin-top: 5px;
	}
#contentArea #mainContentMaster #column1 .userName {
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 38px;
	}
		
#contentArea #mainContentMaster #column1 .userName img {
	vertical-align: middle;
	}
#contentArea #mainContentMaster #column1 .avatarBack {
	width: 39px;
	height: 38px;
	font-size: 0px;
	line-height: 0px;
	float: left;
	margin-left: -5px;
	}
#contentArea #mainContentMaster #column1 .avatarBack .avatarMargin {
	margin: 0px 0px 0px 7px;
	padding: 7px 0px 0px 0px;
	font-size: 0px;
	line-height: 0px;
	float: left;
	}
#contentArea #mainContentMaster .tabBackground {
	background: url("/images/shaded_background.png") top repeat-x;
	padding: 5px 10px 0px 10px;
	margin-right: 1px;
	margin-left: 1px;	
	}
#contentArea #mainContentMaster .tabBackground .tabBar {
 	margin: 0px;
	padding: 0px;
	background: url("/images/grey_border.png") bottom repeat-x;
	}
.tabBar div.tabContainer {
	background: url("/images/tabs_selected_right.png") top right no-repeat;
	float: left;
	padding-right: 10px;
	}
.tabBar .tabContainer div.tabText {
	background: url("/images/tabs_selected_left.png") top left no-repeat;
	padding: 8px 0px 8px 10px;
	font-size: 0.9em;
	}

.tabBar div.tabContainerOff {
	background: url("/images/tabs_off_right.png") top right no-repeat;
	float: left;
	padding-right: 10px;
	margin-bottom: 1px;
	
	}
.tabBar .tabContainerOff div.tabText {
	background: url("/images/tabs_off_left.png") top left no-repeat;
	padding: 8px 0px 7px 10px;
	font-size: 0.9em;
	color: #a6a6a6;
	}
#contentArea #mainContentMaster .tabContent {
	 margin-top: 0px;
	 padding: 10px 10px 10px 10px;
	 border-left: 1px solid #e0e0e0;
	 border-top: 0px solid #e0e0e0;
	 border-right: 1px solid #e0e0e0;
	 border-bottom: 0px solid #e0e0e0;
	 background-color: #FFFFFF;
 }
#contentArea #mainContentMaster .tabContent .usedImage {
	 float: left;
	 width: 120px;
	 height: 140px;
	 margin-right: 20px;
	 margin-bottom: 10px;
 }
 .tools {
	padding: 8px 0px 0px 0px;
	}
 .tools img {
 	text-align: middle;
 	vertical-align: top;
 	}
 .tools a {
 	font-size: 1.1em;
 	display: block;
 	padding: 5px 0px 0px 0px;
 	}
 	
/* keeping the tool icons from being underlined in mozzila */ 	
.toolsAlign {
	font-size: 1em;
	vertical-align: top;
 	padding: 2px 0px 1px 29px;
}
 .toolsAlign img {
	vertical-align: middle;
	}
.tool {
	line-height: 15px;
	vertical-align: middle;
	}
#toolCorporate {
	background: url("/images/businessdevelopment/languages/english/icon_subaccount.png") left no-repeat;
	}
	
#toolCorporateReport {
	background: url("/images/businessdevelopment/languages/english/icon_report.png") left no-repeat;
	}	

#toolCorporateManuel {
	background: url("/images/businessdevelopment/languages/english/icon_helpmanual.png") left no-repeat;
	}
#toolCorporatePost {
	background: url("/images/businessdevelopment/languages/english/icon_report_post.png") left no-repeat;
	}		
#toolPortfolio {
	background: url("/images/tools_port.gif") left no-repeat;
	}
#toolMyPortfolio {
	background: url("/images/tools_myport.gif") left no-repeat;
	}
#toolMail {
	background: url("/images/tools_mai.gif") left no-repeat;
	}	
#toolTestimonial {
	background: url("/images/tools_com.gif") left no-repeat;
	}	
#toolViewConnection {
	background: url("/images/tools_viewconnection.gif") left no-repeat;
	}	

/* the following rule is duplicated in buyrequests.css */
#toolAddNet {
	background: url("/images/tools_addtonetwork.gif") left no-repeat;
	}	
#toolAddBlog {
	background: url("/images/tools_article.gif") left no-repeat;
	}
#toolLicense {
	background: url("/images/tools_license.gif") left no-repeat;
	}
#toolArticles {
	background: url("/images/tools_article.gif") left no-repeat;
	}
#toolAdmin {
	background: url("/images/tools_adm2.gif") left no-repeat;
	}
 	
  #blog .item {
 	padding-bottom: 15px;
 	margin-bottom: 15px;
 	background: url("/images/blog_bottom.png") bottom no-repeat;
 	}
  #blog .itemsticky {
 	padding-bottom: 15px;
 	margin-bottom: 15px;
 	background: url("/images/blog_bottom.png") bottom no-repeat;
 	}
 #blog .item .blogTitle {
 	font-size: 1.2em;
 	padding: 0px 0px 2px 0px;
 	}
 #blog .itemsticky .blogTitle {
 	font-size: 1.2em;
 	padding: 0px 0px 2px 20px;
 	background: url("/images/blog_sticky.png") no-repeat;
 	}
 #blog .head {
 	margin: 0px 0px 8px 0px;
 	}
 .blogComment {
 	font-size: 1.2em;
 	padding: 0px 0px 6px 0px;
 	margin: 0px;
 	}
 .comment {
 	margin-left: 25px;
 	}
 .comment .blog_body {
 	padding-bottom: 15px;
 	margin-bottom: 15px;
 	background: url("/images/blog_bottom.png") bottom no-repeat;
 	}
.commentslink {
 	float: right;
 	background: url("/images/comment_bubble.png") no-repeat;
 	line-height: 15px;
 	height: 20px;
 	width: 30px;
 	text-align: center;
 	margin-right: 5px;
 	}
 	
 	
.interviewHeading {
 	font-size: 1.2em;
 	padding: 0px 0px 6px 0px;
 	margin: 0px;
 	}
.interviewItem .question {
	color: black;
	margin: 0px 0px 4px 0px;
 	}
.interviewItem .answer {
 	margin: 0px 0px 8px 0px;
 	}
.interviewItem {
	padding: 0px 0px 12px 0px;
	}
	
	
	
.testimonialHeading {
 	font-size: 1.2em;
 	padding: 0px 0px 6px 0px;
 	margin: 0px;
 	}
.testimonialItem {
	padding-bottom: 15px;
 	margin-bottom: 15px;
 	background: url("/images/blog_bottom.png") bottom no-repeat;
	}
.testimonialUser {
	margin-bottom: 6px;
	}
	
	
.creativeNetworkHeading {
 	font-size: 1.2em;
 	padding: 0px 0px 6px 0px;
 	margin: 0px;
 	}
.creativeNetworkItem {
	border: 1px solid #E0E0E0;
	float: left;
	width: 227px;
	background: url("/images/shaded_background.png") top repeat-x;
	line-height: 32px;
	}
.creativeNetworkItem img {
	vertical-align: middle;
	margin: 4px 4px 4px 8px;
	border: 1px solid #E0E0E0;
	}
.creativeNetworkMail {
	float: right;
	}
.creativeNetworkMail img {
	border: 0px;
	margin: 8px 4px 0px 0px;
	}
.creativeNetworkUser {
	width: 200px;
	overflow: hidden;
	}
	
.lightboxes {
	padding: 10px 10px 10px 10px;
	}
.lightboxes a {
	display: block;
	line-height: 14px;
	}
.lightboxHeading {
	font-size: 1.1em;
	padding: 0px 0px 6px 0px;
	}

.memberTools {
	padding: 10px 10px 10px 10px;
	}	
	
.buyRequests, .extendedLicenses {
	padding: 10px 10px 10px 10px;
}

.buyRequestHeading, .extendedLicenseHeading {
	font-size: 1.1em;
	padding: 0px 0px 6px 0px;
}

.steelCages {
	padding: 10px 10px 10px 10px;
	}
.steelCages a {
	line-height: 20px;
	vertical-align: middle;
	}
.steelCagesHeading {
	font-size: 1.1em;
	padding: 0px 0px 6px 0px;
	}

.referredMembers {
	padding: 10px 10px 10px 10px;
	}
.referredMembersHeading {
	font-size: 1.1em;
	padding: 0px 0px 6px 0px;
	}
.referredItem {
	border: 1px solid #E0E0E0;
	float: left;
	width: 175px;
	background: url("/images/shaded_background.png") top repeat-x;
	line-height: 32px;
	}
.referredItem img {
	vertical-align: middle;
	margin: 4px 4px 4px 8px;
	border: 1px solid #E0E0E0;
	}

	
.forumThreads {
	padding: 10px 10px 10px 10px;;
	}
.forumThreads a {
	display: block;
	line-height: 14px;
	}
.forumThreadsHeading {
	font-size: 1.1em;
	padding: 0px 0px 6px 0px;
	}
 .imagePadding {
 	margin-right: 10px;
 	}	
 	
#stats table {
	
	}
#stats table td {
	background: url("/images/shaded_background.png") top repeat-x;
	}
#stats table td .bargraph1 {
	background: #696969;
	}
#stats table td .bargraph2 {
	background: #696969;
	}
#stats table td .bargraphSpecial {
	background: #e70808;
	}