BUTTON.Live_Controls_Button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: 1px solid; MIN-WIDTH: 7em; PADDING-LEFT: 1em; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; HEIGHT: 1.8em; TEXT-ALIGN: center
}
INPUT.Live_Controls_Button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: 1px solid; MIN-WIDTH: 7em; PADDING-LEFT: 1em; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; HEIGHT: 1.8em; TEXT-ALIGN: center
}
INPUT.Live_Controls_Button {
	MARGIN-RIGHT: 0em
}
BUTTON.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
INPUT.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
INPUT.Standard_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #37a; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #37a; BORDER-TOP-COLOR: #37a; BACKGROUND-COLOR: #d8eefa; BORDER-RIGHT-COLOR: #37a
}
INPUT.Standard_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #37a; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #37a; BORDER-TOP-COLOR: #37a; BACKGROUND-COLOR: #d8eefa; BORDER-RIGHT-COLOR: #37a
}
BUTTON.Standard_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Standard_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #366388; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #366388; BORDER-TOP-COLOR: #366388; BACKGROUND-COLOR: #62899d; BORDER-RIGHT-COLOR: #366388
}
INPUT.Standard_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #366388; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #366388; BORDER-TOP-COLOR: #366388; BACKGROUND-COLOR: #62899d; BORDER-RIGHT-COLOR: #366388
}
BUTTON.Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Standard_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Standard_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Standard_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
INPUT.Standard_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
INPUT.Standard_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #f3f3f3; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #37a; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #37a; BORDER-TOP-COLOR: #37a; BACKGROUND-COLOR: #d8eefa; BORDER-RIGHT-COLOR: #37a
}
INPUT.Standard_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #37a; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #37a; BORDER-TOP-COLOR: #37a; BACKGROUND-COLOR: #d8eefa; BORDER-RIGHT-COLOR: #37a
}
BUTTON.Standard_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Standard_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Standard_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #366388; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #366388; BORDER-TOP-COLOR: #366388; BACKGROUND-COLOR: #62899d; BORDER-RIGHT-COLOR: #366388
}
INPUT.Standard_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #366388; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #366388; BORDER-TOP-COLOR: #366388; BACKGROUND-COLOR: #62899d; BORDER-RIGHT-COLOR: #366388
}
BUTTON.Standard_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Standard_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Accentuated.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #d1661d; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #d1661d; BORDER-TOP-COLOR: #d1661d; BACKGROUND-COLOR: #fcf783; BORDER-RIGHT-COLOR: #d1661d
}
INPUT.Accentuated_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #d1661d; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #d1661d; BORDER-TOP-COLOR: #d1661d; BACKGROUND-COLOR: #fcf783; BORDER-RIGHT-COLOR: #d1661d
}
BUTTON.Accentuated_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #963; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #963; BORDER-TOP-COLOR: #963; BACKGROUND-COLOR: #99926e; BORDER-RIGHT-COLOR: #963
}
INPUT.Accentuated_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #963; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #963; BORDER-TOP-COLOR: #963; BACKGROUND-COLOR: #99926e; BORDER-RIGHT-COLOR: #963
}
BUTTON.Accentuated_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Accentuated_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Accentuated_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #fffddd; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #d1661d; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #d1661d; BORDER-TOP-COLOR: #d1661d; BACKGROUND-COLOR: #fcf783; BORDER-RIGHT-COLOR: #d1661d
}
INPUT.Accentuated_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #d1661d; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #d1661d; BORDER-TOP-COLOR: #d1661d; BACKGROUND-COLOR: #fcf783; BORDER-RIGHT-COLOR: #d1661d
}
BUTTON.Accentuated_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Accentuated_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Accentuated_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #963; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #963; BORDER-TOP-COLOR: #963; BACKGROUND-COLOR: #99926e; BORDER-RIGHT-COLOR: #963
}
INPUT.Accentuated_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #963; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #963; BORDER-TOP-COLOR: #963; BACKGROUND-COLOR: #99926e; BORDER-RIGHT-COLOR: #963
}
BUTTON.Accentuated_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Accentuated_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_acc.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Commerce.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce_Rest.Live_Controls_Button {
	BACKGROUND-POSITION: 0px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #488334; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #488334; BORDER-TOP-COLOR: #488334; BACKGROUND-COLOR: #bee6aa; BORDER-RIGHT-COLOR: #488334
}
INPUT.Commerce_Hover.Live_Controls_Button {
	BACKGROUND-POSITION: -500px center; BORDER-LEFT-COLOR: #488334; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #488334; BORDER-TOP-COLOR: #488334; BACKGROUND-COLOR: #bee6aa; BORDER-RIGHT-COLOR: #488334
}
BUTTON.Commerce_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce_Focus.Live_Controls_Button {
	BACKGROUND-POSITION: -1000px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #36632b; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #36632b; BORDER-TOP-COLOR: #36632b; BACKGROUND-COLOR: #99b38c; BORDER-RIGHT-COLOR: #36632b
}
INPUT.Commerce_Pressed.Live_Controls_Button {
	BACKGROUND-POSITION: -1500px center; BORDER-LEFT-COLOR: #36632b; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #36632b; BORDER-TOP-COLOR: #36632b; BACKGROUND-COLOR: #99b38c; BORDER-RIGHT-COLOR: #36632b
}
BUTTON.Commerce_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Commerce_Disabled.Live_Controls_Button {
	BACKGROUND-POSITION: -2000px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
BUTTON.Commerce_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce_Rest_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -2500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #ecffea; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #488334; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #488334; BORDER-TOP-COLOR: #488334; BACKGROUND-COLOR: #bee6aa; BORDER-RIGHT-COLOR: #488334
}
INPUT.Commerce_Hover_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3000px center; BORDER-LEFT-COLOR: #488334; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #488334; BORDER-TOP-COLOR: #488334; BACKGROUND-COLOR: #bee6aa; BORDER-RIGHT-COLOR: #488334
}
BUTTON.Commerce_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
INPUT.Commerce_Focus_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -3500px center; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #707070; BORDER-TOP-COLOR: #707070; BACKGROUND-COLOR: #48d8fb; BORDER-RIGHT-COLOR: #707070
}
BUTTON.Commerce_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #36632b; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #36632b; BORDER-TOP-COLOR: #36632b; BACKGROUND-COLOR: #99b38c; BORDER-RIGHT-COLOR: #36632b
}
INPUT.Commerce_Pressed_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4000px center; BORDER-LEFT-COLOR: #36632b; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #36632b; BORDER-TOP-COLOR: #36632b; BACKGROUND-COLOR: #99b38c; BORDER-RIGHT-COLOR: #36632b
}
BUTTON.Commerce_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
INPUT.Commerce_Disabled_Default.Live_Controls_Button {
	BACKGROUND-POSITION: -4500px center; BORDER-LEFT-COLOR: #aaa; BACKGROUND-IMAGE: url(hig/img/b/btn_com.png); BORDER-BOTTOM-COLOR: #aaa; COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaa; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #aaa
}
#header DIV.Msn_ContactsPresence_UI_Me {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#header DIV.Msn_ContactsPresence_UI_Me DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.CnPMeLink {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameRegular {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameCompressed {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameUltraCompressed {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeLink:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameRegular:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameCompressed:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.CnPMeDisplayNameUltraCompressed:visited {
	COLOR: white; TEXT-DECORATION: none
}
DIV.Msn_ContactsPresence_UI_Me {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 268px; WHITE-SPACE: nowrap; POSITION: relative; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: right
}
DIV.textElement {
	DISPLAY: block; OVERFLOW: hidden; WHITE-SPACE: nowrap; POSITION: relative; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: right
}
DIV.CnPMeLeftContentRegular {
	WIDTH: 200px
}
DIV.textElement {
	WIDTH: 200px
}
A.CnPMePhotoOuterRegular {
	WIDTH: 46px; HEIGHT: 46px
}
DIV.CnPMePhotoOuterRegular {
	WIDTH: 46px; HEIGHT: 46px
}
A.CnPMePhotoOuterCompressed {
	WIDTH: 32px; HEIGHT: 32px
}
DIV.CnPMePhotoOuterCompressed {
	WIDTH: 32px; HEIGHT: 32px
}
A.CnPMePhotoOuterUltraCompressed {
	WIDTH: 32px; HEIGHT: 32px
}
DIV.CnPMePhotoOuterUltraCompressed {
	WIDTH: 32px; HEIGHT: 32px
}
A.CnPMePhotoOuterRegular {
	DISPLAY: block
}
A.CnPMePhotoOuterCompressed {
	DISPLAY: block
}
A.CnPMePhotoOuterUltraCompressed {
	DISPLAY: block
}
DIV.CnPMePhotoOuterRegular {
	DISPLAY: inline; FLOAT: right; MARGIN: 1px 0px; POSITION: relative
}
DIV.CnPMePhotoOuterCompressed {
	DISPLAY: inline; FLOAT: right; MARGIN: 1px 0px; POSITION: relative
}
DIV.CnPMePhotoOuterUltraCompressed {
	DISPLAY: inline; FLOAT: right; MARGIN: 1px 0px; POSITION: relative
}
DIV.CnPMePhotoOuterCompressed {
	WIDTH: 36px; HEIGHT: 36px
}
DIV.CnPMePhotoOuterUltraCompressed {
	WIDTH: 36px; HEIGHT: 36px
}
DIV.CnPMePhotoHolderCompressed {
	HEIGHT: 36px
}
DIV.CnPMePhotoHolderUltraCompressed {
	HEIGHT: 36px
}
DIV.CnPMePhotoOuterHoverOff {
	BORDER-RIGHT: #3a8aae 1px solid; BORDER-TOP: #3a8aae 1px solid; BORDER-LEFT: #3a8aae 1px solid; BORDER-BOTTOM: #3a8aae 1px solid
}
DIV.CnPMePhotoOuterHoverOn {
	BORDER-RIGHT: #d6effc 1px solid; BORDER-TOP: #d6effc 1px solid; BORDER-LEFT: #d6effc 1px solid; BORDER-BOTTOM: #d6effc 1px solid
}
DIV.CnPMePhotoInnerRegular {
	WIDTH: 44px; HEIGHT: 44px
}
DIV.CnPMePhotoInnerCompressed {
	WIDTH: 28px; HEIGHT: 28px
}
DIV.CnPMePhotoInnerUltraCompressed {
	WIDTH: 28px; HEIGHT: 28px
}
DIV.CnPMePhotoInnerRegular {
	LEFT: 1px; POSITION: absolute; TOP: 1px
}
DIV.CnPMePhotoInnerCompressed {
	LEFT: 1px; POSITION: absolute; TOP: 1px
}
DIV.CnPMePhotoInnerUltraCompressed {
	LEFT: 1px; POSITION: absolute; TOP: 1px
}
DIV.CnPMeLeftContentRegular {
	PADDING-RIGHT: 5px
}
DIV.CnPMeLeftContentRegular {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.CnPMeTextWrapping {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.CnPMeContentAreaRegular {
	FONT-SIZE: 100%; COLOR: white; LINE-HEIGHT: 130%
}
DIV.CnPMeActionAreaRegular {
	FONT-SIZE: 100%; COLOR: white; LINE-HEIGHT: 130%
}
DIV.CnPMeContentAreaCompressed {
	DISPLAY: inline; PADDING-LEFT: 8px; LEFT: 0px; FLOAT: right; WIDTH: 115px; POSITION: relative
}
DIV.CnPMeContentAreaUltraCompressed {
	DISPLAY: inline; PADDING-LEFT: 8px; LEFT: 0px; FLOAT: right; WIDTH: 30px; POSITION: relative
}
DIV.CnPMeContentAreaRegular {
	PADDING-LEFT: 8px
}
DIV.CnPMeActionArea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
UL.Web_UI_Menu {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100000; MARGIN-LEFT: 0px; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #ffffff
}
UL.Web_UI_Menu LI {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
UL.Web_UI_Menu LI A.Web_UI_Menu_TextItem {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #444444; PADDING-TOP: 2px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left; TEXT-DECORATION: none
}
UL.Web_UI_Menu LI .hover.Web_UI_Menu_TextItem {
	BACKGROUND-COLOR: #d6effc
}
UL.Web_UI_Menu LI .current.Web_UI_Menu_TextItem {
	BACKGROUND-COLOR: #acdef9
}
.CnPWLThumbnailBase {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; POSITION: relative
}
.CnPWLThumbnailOuterPhotoContainerBase {
	MARGIN-BOTTOM: 8px; POSITION: relative
}
.CnPWLThumbnailInnerPhotoContainerBase {
	LEFT: 2px; POSITION: absolute; TOP: 2px
}
.CnPWLThumbnailGleamBase {
	WIDTH: 10px; POSITION: absolute; HEIGHT: 12px
}
.CnPWLThumbnailPresenceBase {
	WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
.CnPWLThumbnailIconBase {
	POSITION: absolute
}
.CnPWLThumbnailIcon1 {
	POSITION: absolute; TOP: 3px
}
.CnPWLThumbnailIcon2 {
	POSITION: absolute; TOP: 21px
}
.CnPWLThumbnailIcon3 {
	POSITION: absolute; TOP: 39px
}
.CnPWLThumbnailIcon4 {
	POSITION: absolute; TOP: 57px
}
.CnPWLThumbnailTextLines {
	FONT-SIZE: 100%; OVERFLOW: hidden; LINE-HEIGHT: 130%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.CnPWLThumbnailIconSmallBase {
	LEFT: 43px
}
DIV.CnPContactWLThumb1LineSmall {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; WIDTH: 61px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 72px
}
DIV.CnPTextLineWLThumb1LineSmall {
	WIDTH: 56px
}
DIV.CnPOuterPhotoContainerWLThumb1LineSmall {
	MARGIN-BOTTOM: 8px; WIDTH: 36px; POSITION: relative; HEIGHT: 36px
}
DIV.CnPPhotoContainerWLThumb1LineSmall {
	LEFT: 2px; WIDTH: 32px; POSITION: absolute; TOP: 2px; HEIGHT: 32px
}
IMG.CnPGleamWLThumb1LineSmall {
	WIDTH: 10px; POSITION: absolute; HEIGHT: 12px
}
IMG.CnPPresenceWLThumb1LineSmall {
	WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
DIV.CnPTextLineWLThumb1LineSmall {
	FONT-SIZE: 100%; OVERFLOW: hidden; LINE-HEIGHT: 130%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
DIV.CnPTextLineWLThumb1LineSmall A {
	TEXT-DECORATION: none
}
DIV.CnPTextLineWLThumb1LineSmall A:hover {
	TEXT-DECORATION: none
}
IMG.CnPContactIcon1WLThumb1LineSmall {
	LEFT: 43px; POSITION: absolute; TOP: 3px
}
IMG.CnPContactIcon2WLThumb1LineSmall {
	LEFT: 43px; POSITION: absolute; TOP: 21px
}
IMG.CnPContactIcon3WLThumb1LineSmall {
	LEFT: 43px; POSITION: absolute; TOP: 39px
}
IMG.CnPContactIcon4WLThumb1LineSmall {
	LEFT: 43px; POSITION: absolute; TOP: 57px
}
.CnPWLThumbnailIconMediumBase {
	LEFT: 59px
}
DIV.CnPContactWLThumb1LineMedium {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; WIDTH: 77px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 88px
}
DIV.CnPTextLineWLThumb1LineMedium {
	WIDTH: 72px
}
DIV.CnPOuterPhotoContainerWLThumb1LineMedium {
	MARGIN-BOTTOM: 8px; WIDTH: 52px; POSITION: relative; HEIGHT: 52px
}
DIV.CnPPhotoContainerWLThumb1LineMedium {
	LEFT: 2px; WIDTH: 48px; POSITION: absolute; TOP: 2px; HEIGHT: 48px
}
IMG.CnPGleamWLThumb1LineMedium {
	WIDTH: 10px; POSITION: absolute; HEIGHT: 12px
}
IMG.CnPPresenceWLThumb1LineMedium {
	WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
DIV.CnPTextLineWLThumb1LineMedium {
	FONT-SIZE: 100%; OVERFLOW: hidden; LINE-HEIGHT: 130%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
DIV.CnPTextLineWLThumb1LineMedium A {
	TEXT-DECORATION: none
}
DIV.CnPTextLineWLThumb1LineMedium A:hover {
	TEXT-DECORATION: none
}
IMG.CnPContactIcon1WLThumb1LineMedium {
	LEFT: 59px; POSITION: absolute; TOP: 3px
}
IMG.CnPContactIcon2WLThumb1LineMedium {
	LEFT: 59px; POSITION: absolute; TOP: 21px
}
IMG.CnPContactIcon3WLThumb1LineMedium {
	LEFT: 59px; POSITION: absolute; TOP: 39px
}
IMG.CnPContactIcon4WLThumb1LineMedium {
	LEFT: 59px; POSITION: absolute; TOP: 57px
}
.CnPWLThumbnailIconLargeBase {
	LEFT: 72px
}
DIV.CnPContactWLThumb1LineLarge {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; WIDTH: 90px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 101px
}
DIV.CnPTextLineWLThumb1LineLarge {
	WIDTH: 85px
}
DIV.CnPOuterPhotoContainerWLThumb1LineLarge {
	MARGIN-BOTTOM: 8px; WIDTH: 65px; POSITION: relative; HEIGHT: 65px
}
DIV.CnPPhotoContainerWLThumb1LineLarge {
	LEFT: 2px; WIDTH: 61px; POSITION: absolute; TOP: 2px; HEIGHT: 61px
}
IMG.CnPGleamWLThumb1LineLarge {
	WIDTH: 10px; POSITION: absolute; HEIGHT: 12px
}
IMG.CnPPresenceWLThumb1LineLarge {
	WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
DIV.CnPTextLineWLThumb1LineLarge {
	FONT-SIZE: 100%; OVERFLOW: hidden; LINE-HEIGHT: 130%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
DIV.CnPTextLineWLThumb1LineLarge A {
	TEXT-DECORATION: none
}
DIV.CnPTextLineWLThumb1LineLarge A:hover {
	TEXT-DECORATION: none
}
IMG.CnPContactIcon1WLThumb1LineLarge {
	LEFT: 72px; POSITION: absolute; TOP: 3px
}
IMG.CnPContactIcon2WLThumb1LineLarge {
	LEFT: 72px; POSITION: absolute; TOP: 21px
}
IMG.CnPContactIcon3WLThumb1LineLarge {
	LEFT: 72px; POSITION: absolute; TOP: 39px
}
IMG.CnPContactIcon4WLThumb1LineLarge {
	LEFT: 72px; POSITION: absolute; TOP: 57px
}
.CnPWLThumbnailIconXLargeBase {
	LEFT: 107px
}
DIV.CnPContactWLThumb1LineXLarge {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; WIDTH: 125px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 136px
}
DIV.CnPTextLineWLThumb1LineXLarge {
	WIDTH: 120px
}
DIV.CnPOuterPhotoContainerWLThumb1LineXLarge {
	MARGIN-BOTTOM: 8px; WIDTH: 100px; POSITION: relative; HEIGHT: 100px
}
DIV.CnPPhotoContainerWLThumb1LineXLarge {
	LEFT: 2px; WIDTH: 96px; POSITION: absolute; TOP: 2px; HEIGHT: 96px
}
IMG.CnPGleamWLThumb1LineXLarge {
	WIDTH: 10px; POSITION: absolute; HEIGHT: 12px
}
IMG.CnPPresenceWLThumb1LineXLarge {
	WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
DIV.CnPTextLineWLThumb1LineXLarge {
	FONT-SIZE: 100%; OVERFLOW: hidden; LINE-HEIGHT: 130%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
DIV.CnPTextLineWLThumb1LineXLarge A {
	TEXT-DECORATION: none
}
DIV.CnPTextLineWLThumb1LineXLarge A:hover {
	TEXT-DECORATION: none
}
IMG.CnPContactIcon1WLThumb1LineXLarge {
	LEFT: 107px; POSITION: absolute; TOP: 3px
}
IMG.CnPContactIcon2WLThumb1LineXLarge {
	LEFT: 107px; POSITION: absolute; TOP: 21px
}
IMG.CnPContactIcon3WLThumb1LineXLarge {
	LEFT: 107px; POSITION: absolute; TOP: 39px
}
IMG.CnPContactIcon4WLThumb1LineXLarge {
	LEFT: 107px; POSITION: absolute; TOP: 57px
}
IFRAME.CnPContactCard {
	BORDER-RIGHT: #4f6ba0 1px solid; BORDER-TOP: #4f6ba0 1px solid; Z-INDEX: 201; BORDER-LEFT: #4f6ba0 1px solid; WIDTH: 294px; BORDER-BOTTOM: #4f6ba0 1px solid; POSITION: absolute; HEIGHT: 198px
}
.uxp_ep_dots {
	Z-INDEX: 20000; POSITION: absolute; TEXT-ALIGN: left
}
.uxp_ep_ep A {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #0066a7; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_dots A {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #0066a7; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_ep A:hover {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #0066a7; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_dots A:hover {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #0066a7; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_ep A:visited {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #6e4987; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_dots A:visited {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; COLOR: #6e4987; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.uxp_ep_ep A {
	TEXT-DECORATION: none
}
.uxp_ep_dots A {
	TEXT-DECORATION: none
}
.uxp_ep_ep A:hover {
	TEXT-DECORATION: underline
}
.uxp_ep_dots A:hover {
	TEXT-DECORATION: underline
}
.uxp_ep_dots A.uxp_ep_dotsA {
	OVERFLOW: hidden; WIDTH: 12px; POSITION: absolute; HEIGHT: 4px
}
.uxp_ep_dots A.uxp_ep_dotsA IMG.uxp_ep_dotsI {
	VISIBILITY: hidden; POSITION: absolute
}
.uxp_ep_dots A.uxp_ep_show IMG.uxp_ep_dotsI {
	VISIBILITY: visible
}
.uxp_ep_dots A.uxp_ep_right IMG.uxp_ep_dotsI {
	LEFT: -12px
}
.uxp_ep_beak {
	Z-INDEX: 20002; BACKGROUND-IMAGE: url(controls/img/ep_beak_leftright_collage.gif); WIDTH: 17px; POSITION: absolute; HEIGHT: 33px
}
.uxp_ep_beakRight {
	BACKGROUND-POSITION: -17px 0px; WIDTH: 18px
}
.uxp_ep_ep {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; Z-INDEX: 20001; PADDING-BOTTOM: 1px; OVERFLOW: hidden; TEXT-TRANSFORM: none; BORDER-LEFT: #999 1px solid; WIDTH: 26.79em; COLOR: #444444; DIRECTION: ltr; LINE-HEIGHT: normal; PADDING-TOP: 1px; BORDER-BOTTOM: #999 1px solid; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal; POSITION: absolute; BACKGROUND-COLOR: white; TEXT-ALIGN: left; WORD-WRAP: break-word
}
.uxp_ep_ep LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.uxp_ep_parent {
	POSITION: absolute
}
.uxp_ep_ghost {
	DISPLAY: block; LEFT: -500px; VISIBILITY: hidden; TOP: -500px
}
.uxp_ep_head {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.uxp_ep_body {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-COLOR: #ffffff
}
.uxp_ep_actions {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-COLOR: #f5fafc
}
.uxp_ep_sectionSeparator {
	LINE-HEIGHT: 1px; BACKGROUND-COLOR: #ecedf3
}
.uxp_ep_close {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; POSITION: relative
}
.uxp_ep_loading {
	DISPLAY: none
}
.uxp_ep_loadingParent DIV {
	DISPLAY: none
}
.uxp_ep_loadingParent DIV.uxp_ep_outermost {
	DISPLAY: block
}
.uxp_ep_loadingParent DIV.uxp_ep_border1 {
	DISPLAY: block
}
.uxp_ep_loadingParent DIV.uxp_ep_loading {
	DISPLAY: block
}
.uxp_ep_loadingParent DIV.uxp_ep_loading DIV {
	DISPLAY: block
}
.uxp_ep_loadError {
	DISPLAY: none
}
.uxp_ep_loadErrorParent DIV {
	DISPLAY: none
}
.uxp_ep_loadErrorParent DIV.uxp_ep_outermost {
	DISPLAY: block
}
.uxp_ep_loadErrorParent DIV.uxp_ep_border1 {
	DISPLAY: block
}
.uxp_ep_loadErrorParent DIV.uxp_ep_loadError {
	DISPLAY: block
}
.uxp_ep_loadErrorParent DIV.uxp_ep_loadError DIV {
	DISPLAY: block
}
.uxp_ep_loadingText {
	MARGIN-LEFT: 22px
}
.uxp_ep_loadingImageCollage {
	BACKGROUND-IMAGE: url(controls/img/ep_loading_collage.gif); WIDTH: 16px; POSITION: absolute; HEIGHT: 16px
}
.uxp_ep_loadingTemplate {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
.uxp_ep_loadErrorTemplate {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
.uxp_ep_loadErrorTemplate SPAN {
	BACKGROUND-POSITION: 0px 15px
}
.uxp_ep_moreActionsImage {
	PADDING-LEFT: 4px; VERTICAL-ALIGN: middle
}
.uxp_ep_actionsList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.uxp_ep_actionsList LI {
	MARGIN: 0px
}
.uxp_ep_actionsList LI.clip {
	OVERFLOW: hidden; TEXT-OVERFLOW: ellipsis
}
DIV.Live_Controls_CustomizeDialog_Background {
	Z-INDEX: 1000000; FILTER: alpha(opacity=1); BACKGROUND-COLOR: white; opacity: 0.01
}
DIV.UXPDialog {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1000001; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #444 1px solid; WIDTH: 35em; PADDING-TOP: 0px; BORDER-BOTTOM: #444 1px solid; POSITION: absolute; BACKGROUND-COLOR: #d6effc; TEXT-ALIGN: left
}
DIV.UXPDialog DIV.Heading {
	CLEAR: both; DISPLAY: block! important; WIDTH: 100%; DIRECTION: ltr; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #d6effc
}
DIV.CustomizeDialogMenuBar {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #444 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #444 1px solid; POSITION: absolute; BACKGROUND-COLOR: #d6effc; TEXT-ALIGN: left
}
DIV.CustomizeDialogMenuBarHeading {
	BORDER-TOP-WIDTH: 1px; DISPLAY: block! important; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-TOP: 0.2em; HEIGHT: 3em; BORDER-RIGHT-WIDTH: 1px
}
DIV.UXPDialog DIV.Heading A.X {
	RIGHT: 0.6em; POSITION: absolute; TOP: 10px
}
DIV.UXPDialog UL.TabsList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 4px; POSITION: relative; TOP: 1px
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 8px
}
DIV.UXPDialog UL.TabsList LI {
	PADDING-RIGHT: 20px; BORDER-TOP: #d6effc 1px solid; PADDING-LEFT: 20px; BACKGROUND: #d6effc; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #444444; LINE-HEIGHT: 1.5em; PADDING-TOP: 3px; BORDER-BOTTOM: #444 1px solid; LIST-STYLE-TYPE: none
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #444444; LINE-HEIGHT: 1.5em; PADDING-TOP: 3px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; POSITION: relative; TOP: 3px
}
DIV.UXPDialog UL.TabsList LI A {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI A {
	COLOR: #444444
}
DIV.UXPDialog UL.TabsList LI A:hover {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI A:hover {
	COLOR: #444444
}
DIV.UXPDialog UL.TabsList LI A:visited {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI A:visited {
	COLOR: #444444
}
DIV.UXPDialog UL.TabsList LI.CurrentTab {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; FONT-WEIGHT: bold; BACKGROUND: #ffffff; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #fff 1px solid
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI.CurrentTab {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; FONT-WEIGHT: bold; BACKGROUND: #ffffff; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #fff 1px solid
}
DIV.UXPDialog UL.TabsList LI.CurrentTab A {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI.CurrentTab A {
	COLOR: #444444
}
DIV.UXPDialog UL.TabsList LI.CurrentTab A:hover {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI.CurrentTab A:hover {
	COLOR: #444444
}
DIV.UXPDialog UL.TabsList LI.CurrentTab A:visited {
	COLOR: #444444
}
DIV.CustomizeDialogMenuBarHeading UL.TabsList LI.CurrentTab A:visited {
	COLOR: #444444
}
DIV.UXPDialog DIV.ButtonArea {
	CLEAR: both; WIDTH: 100%; BACKGROUND-COLOR: #d6effc; TEXT-ALIGN: right
}
DIV.CustomizeDialogMenuBar DIV.ButtonArea {
	CLEAR: both; WIDTH: 100%; BACKGROUND-COLOR: #d6effc; TEXT-ALIGN: right
}
DIV.UXPDialog DIV.ButtonArea BUTTON {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; MARGIN-RIGHT: 8px
}
DIV.CustomizeDialogMenuBar DIV.ButtonArea BUTTON {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; MARGIN-RIGHT: 8px
}
DIV.UXPDialog DIV.Body {
	CLEAR: both; PADDING-RIGHT: 3px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: auto; COLOR: #444444; PADDING-TOP: 3px; BORDER-BOTTOM: #444 1px solid; HEIGHT: 35em; BACKGROUND-COLOR: #ffffff
}
DIV.CustomizeDialogMenuBar DIV.Body {
	CLEAR: both; PADDING-RIGHT: 3px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: auto; COLOR: #444444; PADDING-TOP: 3px; BORDER-BOTTOM: #444 1px solid; HEIGHT: 35em; BACKGROUND-COLOR: #ffffff
}
DIV.CustomizeDialog DIV.Body UL.Categories {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.CustomizeDialog DIV.Body UL.Categories LI.Category {
	CLEAR: both; MARGIN: 0px; _height: 1px
}
DIV.CustomizeDialog DIV.Body UL.Categories LI.Category H4 {
	MARGIN: 0px
}
DIV.CustomizeDialog DIV.Body UL.Categories LI.Category H4 A {
	COLOR: #444444
}
DIV.CustomizeDialog DIV.Body UL.Categories LI.Category H4 IMG {
	BORDER-TOP-STYLE: none; MARGIN-RIGHT: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.CustomizeDialog DIV.Body UL.Categories HR {
	CLEAR: both; MARGIN-TOP: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0px; COLOR: #e9eaf1; HEIGHT: 0px
}
DIV.CustomizeDialog DIV.Body DIV.Contents {
	DISPLAY: none; PADDING-LEFT: 10px; LINE-HEIGHT: normal
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails LI.Thumbnail {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails LI.On.Thumbnail {
	BORDER-RIGHT: #0066a7 1px solid; BORDER-TOP: #0066a7 1px solid; BORDER-LEFT: #0066a7 1px solid; BORDER-BOTTOM: #0066a7 1px solid; BACKGROUND-COLOR: #d2eaf6
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails LI.Thumbnail A {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e9eaf1 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #e9eaf1 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails LI.Thumbnail A:hover {
	BORDER-RIGHT: #edf2fb 1px solid; BORDER-TOP: #edf2fb 1px solid; BORDER-LEFT: #edf2fb 1px solid; BORDER-BOTTOM: #edf2fb 1px solid
}
DIV.CustomizeDialog DIV.Body DIV.Contents UL.Thumbnails LI.Thumbnail A IMG {
	VERTICAL-ALIGN: bottom; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.CustomizeDialog DIV.Body DIV.Group {
	CLEAR: both; BACKGROUND-COLOR: #d2eaf6
}
.MSN_EDITCONTAINER {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.ButtonBar {
	MARGIN: 5px 0px; TEXT-ALIGN: right
}
.ButtonBar BUTTON {
	MARGIN: 0px 0px 0px 5px
}
.MSN_EDITFRAME {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.MSN_EDITBOX {
	
}
.MSN_TOOLBAR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; Z-INDEX: 1; BACKGROUND: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.MSN_TOOLBAR_GROUP {
	OVERFLOW: hidden
}
SPAN.MSN_TOOLBAR_GROUP A.MSN_TOOLBAR_COMMANDTEXT {
	COLOR: #000000
}
.Depressed.MSN_TOOLBAR_COMMANDTEXT {
	FONT-WEIGHT: bold; COLOR: darkred; TEXT-DECORATION: underline
}
.Disabled.MSN_TOOLBAR_COMMANDTEXT {
	FONT-WEIGHT: normal; COLOR: gray
}
.MSN_EDITBOXHTML.MSN_EDITBOX {
	BACKGROUND: white; COLOR: black
}
TEXTAREA.MSN_EDITBOXHTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.MSN_TOOLBAR A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.MSN_TOOLBAR_COMMAND {
	PADDING-RIGHT: 2px; DISPLAY: inline-block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 2px
}
.MSN_TOOLBAR_CUSTOMIZE {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 100; BACKGROUND: white; MARGIN: 5px; BORDER-LEFT: black 1px solid; CURSOR: pointer; BORDER-BOTTOM: black 1px solid
}
.MSN_COLORPICKER {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 100; BACKGROUND: white; MARGIN: 5px; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.MSN_COLORLIST {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.MSN_COLORPICKER_ROW {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 10px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
DIV.MSN_COLORLIST .MSN_COLORPICKER_ROW A {
	MARGIN: 1px
}
DIV.MSN_COLORLIST .MSN_COLORPICKER_CELL {
	BORDER-RIGHT: #81807f 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #81807f 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #81807f 1px solid; WIDTH: 14px; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #81807f 1px solid; HEIGHT: 14px
}
DIV.MSN_COLORLIST .hover.MSN_COLORPICKER_CELL {
	BORDER-RIGHT: orange 1px solid; BORDER-TOP: orange 1px solid; BORDER-LEFT: orange 1px solid; BORDER-BOTTOM: orange 1px solid
}
.MSN_COLORPICKER_MORE {
	CLEAR: both; FONT: 10pt arial; CURSOR: pointer; TEXT-ALIGN: center
}
.MSN_BLOCKPICKER {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 100; BACKGROUND: white; MARGIN: 5px; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; POSITION: absolute
}
.MSN_BLOCKPICKER .MSN_BLOCK_ITEM {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; CURSOR: pointer; BORDER-BOTTOM: white 1px solid; WHITE-SPACE: nowrap
}
.MSN_BLOCKPICKER .hover.MSN_BLOCK_ITEM {
	BORDER-RIGHT: orange 1px solid; BORDER-TOP: orange 1px solid; BORDER-LEFT: orange 1px solid; BORDER-BOTTOM: orange 1px solid
}
.MSN_TOOLBAR SPAN.MSN_TOOLBAR_GROUP A.MSN_TOOLBAR_COMMANDSEPARATOR {
	DISPLAY: none! important
}
.MSN_TOOLBAR_COMMANDTEXT.MSN_TOOLBAR_COMMAND {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; TOP: 4px
}
.MSN_TOOLBAR_POPUP {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; POSITION: absolute; TEXT-ALIGN: center
}
.MSN_CONTEXTMENU {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; WIDTH: auto; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid
}
.MSN_CONTEXTMENU_ITEM {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: Tahoma,Helvetica,Sans-Serif; WHITE-SPACE: nowrap
}
DIV.MSN_BLOCKPICKER DIV.hover.MSN_BLOCK_ITEM {
	BACKGROUND: navy; COLOR: white
}
.MSN_INSERTLINK {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; Z-INDEX: 1000; BACKGROUND: white; MARGIN: 5px; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid
}
.MSN_INSERTLINK_EDITBOX {
	WIDTH: 260px
}
.MSN_INSERTLINK_BUTTON {
	MARGIN: 3px
}
.MSN_INSERTLINK_BUTTONS {
	TEXT-ALIGN: right
}
.MSN_INSERTLINK_TITLE {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; BORDER-BOTTOM: gray 1px solid
}
.MSN_INSERTLINK LABEL {
	COLOR: #000000
}
#dlEditor .SetupOneCol SELECT {
	WIDTH: 500px
}
#dlEditor .SetupClassicThreeCol SELECT {
	WIDTH: 167px
}
.SetupClassicThreeCol SELECT {
	WIDTH: 167px
}
.SetupClassicThreeCol SELECT {
	WIDTH: 167px
}
#dlEditor .SetupRightHeavyThreeCol SELECT {
	WIDTH: 167px
}
.SetupRightHeavyThreeCol SELECT {
	WIDTH: 167px
}
.SetupRightHeavyThreeCol SELECT {
	WIDTH: 167px
}
#dlEditor .SetupBackwardsTwoCol SELECT {
	WIDTH: 250px
}
#dlEditor .SetupClassicTwoCol SELECT {
	WIDTH: 250px
}
#dlEditor .SetupSymmetricTwoCol SELECT {
	WIDTH: 250px
}
.SetupSymmetricTwoCol SELECT {
	WIDTH: 250px
}
.Slider_decrementImage {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.Slider_incrementImage {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.ThemePicker {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; WIDTH: 31em; BORDER-BOTTOM: #e9eaf1 1px solid; POSITION: absolute; HEIGHT: 34em; BACKGROUND-COLOR: #ffffff
}
DIV.ThemePicker DIV.Heading {
	BACKGROUND-IMAGE: none; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 2.5em
}
DIV.ThemePicker DIV.Heading H3 {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 4px
}
DIV.ThemePicker DIV.Heading A {
	FONT-WEIGHT: bold; FLOAT: right; MARGIN-BOTTOM: 3px; MARGIN-RIGHT: 3px
}
DIV.ThemePicker DIV.Body {
	BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
DIV.ThemePicker DIV.Body H4 {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 4px
}
DIV.ThemePicker HR {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; COLOR: #e9eaf1; PADDING-TOP: 0px; HEIGHT: 1px
}
DIV.ThemePicker UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 8px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.ThemePicker UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.ThemePicker UL LI A {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0.3em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid
}
DIV.ThemePicker UL LI A:hover {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
DIV.ThemePicker UL LI A.On {
	BORDER-RIGHT: #acdef9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #acdef9 1px solid; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #acdef9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #acdef9 1px solid
}
