.BodyBG {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #ffffff
}
.PageBG {
	BACKGROUND-POSITION: center 1px; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.SelectionBG {
	BACKGROUND-COLOR: #acdef9
}
.HoverBG {
	BACKGROUND-COLOR: #d6effc
}
.ContainerBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ContainerBG {
	BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.ContainerBG2 {
	BACKGROUND-IMAGE: url(img/ContainerBGImage2.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f5fafc
}
.ContainerHeader {
	BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat-x
}
.ContainerHeader A {
	COLOR: #0066a7
}
.ContainerHeader A:visited {
	COLOR: #0066a7
}
.ToolbarBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ToolbarBG {
	BACKGROUND-IMAGE: url(img/ToolbarBGImage.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.Toolbar {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; COLOR: #444444; BORDER-BOTTOM: #e9eaf1 1px solid
}
.BreadcrumbBG {
	BACKGROUND-COLOR: transparent
}
.BreadcrumbBorder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.Breadcrumb {
	COLOR: #444444; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.Breadcrumb A {
	COLOR: #444444; TEXT-DECORATION: none
}
.Breadcrumb A:visited {
	COLOR: #444444
}
.SPTransparency {
	opacity: 1
}
.BodyBG {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #ffffff
}
.PageBG {
	BACKGROUND-POSITION: center 1px; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.SelectionBG {
	BACKGROUND-COLOR: #acdef9
}
.HoverBG {
	BACKGROUND-COLOR: #d6effc
}
.ContainerBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ContainerBG {
	BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.ContainerBG2 {
	BACKGROUND-IMAGE: url(img/ContainerBGImage2.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f5fafc
}
.ContainerHeader {
	BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat-x
}
.ContainerHeader A {
	COLOR: #0066a7
}
.ContainerHeader A:visited {
	COLOR: #0066a7
}
.ToolbarBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ToolbarBG {
	BACKGROUND-IMAGE: url(img/ToolbarBGImage.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.Toolbar {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; COLOR: #444444; BORDER-BOTTOM: #e9eaf1 1px solid
}
.BreadcrumbBG {
	BACKGROUND-COLOR: transparent
}
.BreadcrumbBorder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.Breadcrumb {
	COLOR: #444444; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.Breadcrumb A {
	COLOR: #444444; TEXT-DECORATION: none
}
.Breadcrumb A:visited {
	COLOR: #444444
}
.SPTransparency {
	opacity: 1
}
#uxp_ftr_control {
	BORDER-TOP: 1px solid; FONT-SIZE: 100%; WIDTH: 100%; COLOR: #444444; BACKGROUND-COLOR: transparent
}
#uxp_ftr_control TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px
}
#uxp_ftr_control TD#uxp_ftr_right {
	TEXT-ALIGN: right
}
#uxp_ftr_control UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
#uxp_ftr_control UL LI {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#uxp_ftr_control UL LI.uxp_ftr_item_last {
	BORDER-RIGHT-STYLE: none
}
#uxp_ftr_control UL LI A {
	COLOR: #444444; TEXT-DECORATION: none
}
#uxp_ftr_control UL LI A:hover {
	TEXT-DECORATION: underline
}
#uxp_ftr_right_nest {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px auto; PADDING-TOP: 0px
}
#uxp_ftr_right_nest TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
* {
	LINE-HEIGHT: 130%
}
BODY {
	BACKGROUND-POSITION: left top; FONT-SIZE: 70%; BACKGROUND-IMAGE: none; MARGIN: 0px; COLOR: #444444; DIRECTION: ltr; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
LABEL {
	COLOR: #444444
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H1 {
	FONT-WEIGHT: bold; MARGIN: 8px 0px 4px; LINE-HEIGHT: 145%
}
H2 {
	FONT-WEIGHT: bold; MARGIN: 8px 0px 4px; LINE-HEIGHT: 145%
}
H3 {
	FONT-WEIGHT: bold; MARGIN: 8px 0px 4px; LINE-HEIGHT: 145%
}
H4 {
	FONT-WEIGHT: bold; MARGIN: 8px 0px 4px; LINE-HEIGHT: 145%
}
H5 {
	FONT-WEIGHT: bold; MARGIN: 8px 0px 4px; LINE-HEIGHT: 145%
}
H1 {
	FONT-SIZE: 146%
}
H2 {
	FONT-SIZE: 132%
}
H3 {
	FONT-SIZE: 125%
}
H4 {
	FONT-SIZE: 110%; MARGIN: 4px 0px
}
H5 {
	FONT-SIZE: 100%; MARGIN: 4px 0px
}
A {
	COLOR: #0066a7; TEXT-DECORATION: none
}
A:visited {
	COLOR: #6e4987
}
A:hover {
	TEXT-DECORATION: underline
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
LI {
	MARGIN: 0px 0px 3px
}
FONT {
	LINE-HEIGHT: normal
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#uxp_hdr_parent_ie6 {
	BACKGROUND-COLOR: #ffffff
}
#uxp_hdr {
	TEXT-ALIGN: left
}
#uxp_hdr TD {
	VERTICAL-ALIGN: middle
}
#uxp_hdr INPUT {
	WIDTH: auto
}
#uxp_hdr {
	BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #0066a7 50% top; HEIGHT: 39px; _background: #0066A7
}
#uxp_hdr {
	WIDTH: 100%
}
.uxp_hdrInnerTable {
	WIDTH: 100%
}
#uxp_hdr .uxp_hdrInner {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) 50% bottom; _background: none
}
#uxp_hdr {
	FONT: 100% Verdana, Arial, sans-serif
}
#uxp_hdr INPUT {
	FONT: 100% Verdana, Arial, sans-serif
}
#uxp_hdr * {
	LINE-HEIGHT: normal
}
#uxp_hdr IMG {
	VERTICAL-ALIGN: middle
}
#uxp_hdr INPUT {
	VERTICAL-ALIGN: middle
}
#uxp_hdr TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#uxp_hdr UL {
	LIST-STYLE-TYPE: none
}
#uxp_hdr LI {
	MARGIN: 0px
}
#uxp_hdr {
	COLOR: white
}
#uxp_hdr A {
	COLOR: white
}
#uxp_hdr A:visited {
	COLOR: white
}
#uxp_hdr A {
	TEXT-DECORATION: none
}
#uxp_hdr_meLink:hover {
	TEXT-DECORATION: underline
}
#uxp_hdr_signIn:hover {
	TEXT-DECORATION: underline
}
#uxp_hdr_signOut:hover {
	TEXT-DECORATION: underline
}
#uxp_hdr_jewelParent {
	LINE-HEIGHT: 37px
}
.uxp_hdr_windowsLiveText {
	PADDING-LEFT: 1px; FONT-SIZE: 125%; FONT-FAMILY: Verdana, Arial, sans-serif
}
.uxp_hdr_tm {
	FONT-SIZE: 7px; VERTICAL-ALIGN: super
}
.uxp_hdr_jewelLink_block_ie {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.uxp_hdr_pointer {
	CURSOR: pointer
}
.uxp_hdr_pointer TABLE {
	CURSOR: pointer
}
.uxp_hdr_pointer A {
	CURSOR: pointer
}
.uxp_hdr_pointer SPAN {
	CURSOR: pointer
}
#uxp_hdr_jewelParent {
	WIDTH: 0.1%
}
#uxp_hdr_middleArea {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#uxp_hdr_jewelMenu {
	MARGIN-LEFT: 4px; WIDTH: 16em
}
#uxp_hdr_tabs {
	MARGIN-TOP: 2px; MARGIN-LEFT: auto
}
#uxp_hdr_search {
	DISPLAY: inline
}
#uxp_hdr #uxp_hdr_searchParent {
	PADDING-LEFT: 4px
}
#uxp_hdr_meParent {
	WIDTH: 0.1%; TEXT-ALIGN: right
}
#uxp_hdr_meMenu {
	RIGHT: 0px; MARGIN-RIGHT: -6px; TEXT-ALIGN: left
}
.uxp_hdr_menuParent {
	DISPLAY: inline; Z-INDEX: 1001; POSITION: absolute
}
.uxp_hdr_cobrandText {
	FONT-SIZE: 82%
}
#uxp_hdr_signOut {
	FONT-SIZE: 82%
}
#uxp_hdr_signOut {
	DISPLAY: block; POSITION: relative; TOP: 2px
}
.uxp_hdr_hideSearch #uxp_hdr_tabs {
	MARGIN-RIGHT: auto
}
.uxp_hdr_hideTabs#uxp_hdr #uxp_hdr_searchParent {
	PADDING-LEFT: 0px; TEXT-ALIGN: center
}
#uxp_hdr_jewelSpan {
	BACKGROUND-IMAGE: url(HIG/img/h/jewel_24_hover.png); WIDTH: 39px; POSITION: absolute; HEIGHT: 37px
}
#uxp_hdr_tabs A {
	PADDING-RIGHT: 1px; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#uxp_hdr_tabs A:hover {
	BORDER-RIGHT: #285e82 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #43708c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #285e82 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #1c5478 1px solid; _background: white
}
#uxp_hdr_tabs A SPAN {
	PADDING-RIGHT: 8px; DISPLAY: inline-block; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; LINE-HEIGHT: normal; PADDING-TOP: 4px
}
#uxp_hdr_tabs A:hover SPAN {
	BORDER-RIGHT: #b3e3ff 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #b3e3ff 1px solid; PADDING-LEFT: 7px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #0066a6 center 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #b3e3ff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #b3e3ff 1px solid; _background: #0066A6
}
#uxp_hdr_tabs #uxp_hdr_tabs_current {
	BORDER-RIGHT: #61a0c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #81b4d4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px; BORDER-LEFT: #61a0c9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5394bd 1px solid; _background: white
}
#uxp_hdr_tabs #uxp_hdr_tabs_current:hover {
	BORDER-RIGHT: #61a0c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #81b4d4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px; BORDER-LEFT: #61a0c9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5394bd 1px solid; _background: white
}
#uxp_hdr_tabs #uxp_hdr_tabs_current SPAN {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 7px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #0086bf 50% bottom; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px solid; _background: #0086BF; _border-bottom-width: 1px
}
#uxp_hdr_tabs #uxp_hdr_tabs_current:hover SPAN {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 7px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #0086bf 50% bottom; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px solid; _background: #0086BF; _border-bottom-width: 1px
}
#uxp_hdr {
	_filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100)
}
#uxp_hdr #uxp_hdr_productSearchButton {
	_filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=85, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100)
}
#uxp_hdr #uxp_hdr_webSearchButton {
	_filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=85, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100)
}
#uxp_hdr_tabs A:hover SPAN {
	_filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=65)
}
#uxp_hdr #uxp_hdr_tabs_current SPAN {
	_filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=45, FinishY=90)
}
.uxp_hdr_searchBorder {
	BORDER-RIGHT: #61a0c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #81b4d4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #61a0c9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5394bd 1px solid
}
.uxp_hdr_innerSearchBorder {
	BORDER-RIGHT: #285e82 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #43708c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #285e82 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #1c5478 1px solid; BACKGROUND-COLOR: #fff
}
#uxp_hdr #uxp_hdr_searchInput {
	BORDER-RIGHT: #8f8f8f 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 21em; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; _position: relative
}
.uxp_hdr_buttonBorder {
	BORDER-RIGHT: #99c383 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cfe3c4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #99c383 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5da253 1px solid; _background-color: #FFF
}
.uxp_hdr_buttonBorder:hover {
	BORDER-RIGHT: #caedb9 1px solid; BORDER-TOP: #effaea 1px solid; BORDER-LEFT: #caedb9 1px solid; BORDER-BOTTOM: #6fa951 1px solid
}
#uxp_hdr_webSearchButton {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #307c0b center 50%; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; _background: #307C0B
}
#uxp_hdr_productSearchButton {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #307c0b center 50%; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; _background: #307C0B
}
#uxp_hdr_webSearchButton:hover {
	BACKGROUND-COLOR: #478d22
}
#uxp_hdr_productSearchButton:hover {
	BACKGROUND-COLOR: #478d22
}
#uxp_hdr_search .uxp_hdr_searchButtonHover_ie6 {
	BACKGROUND-COLOR: #478d22
}
.uxp_hdr_menu {
	BORDER-RIGHT: #42555c 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a5a8a8 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #a5a8a8 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #42555c 2px solid; POSITION: absolute
}
.uxp_hdr_submenu {
	BORDER-RIGHT: #42555c 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a5a8a8 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #a5a8a8 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #42555c 2px solid; POSITION: absolute
}
.uxp_hdr_menu {
	CURSOR: default; BACKGROUND-COLOR: #f5fafc
}
.uxp_hdr_submenu {
	DISPLAY: none; WIDTH: 16em; TOP: -1px; BACKGROUND-COLOR: #ffffff
}
#uxp_hdr .uxp_hdr_menu A {
	COLOR: #444444
}
#uxp_hdr .uxp_hdr_menu A:visited {
	COLOR: #444444
}
#uxp_hdr .uxp_hdr_menuSeparator {
	MARGIN-TOP: 4px; DISPLAY: block; FONT-SIZE: 1px; MARGIN-BOTTOM: 4px; LINE-HEIGHT: 1px; HEIGHT: 1px; BACKGROUND-COLOR: #dadfe0
}
.uxp_hdr_menu A {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; _display: inline-block; _width: 90%
}
.uxp_hdr_menu .uxp_hdr_menu_open {
	BORDER-RIGHT: #b9eaff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b9eaff 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #d6effc center 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #b9eaff 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #b9eaff 1px solid; _background: #D6EFFC
}
.uxp_hdr_menu A:hover {
	BORDER-RIGHT: #b9eaff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b9eaff 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #d6effc center 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #b9eaff 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #b9eaff 1px solid; _background: #D6EFFC
}
.uxp_hdr_menu A.uxp_hdr_currentLinkedID {
	BORDER-RIGHT: #b9eaff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b9eaff 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #d6effc center 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #b9eaff 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #b9eaff 1px solid; _background: #D6EFFC
}
#uxp_hdr .uxp_hdr_menu A.uxp_hdr_currentLinkedID:hover {
	BACKGROUND-COLOR: #acdef9
}
.uxp_hdr_menu A.uxp_hdr_currentLinkedID {
	BACKGROUND-COLOR: #acdef9
}
.uxp_hdr_downArrowblack {
	BACKGROUND-POSITION: 7px -493px
}
.uxp_hdr_downArrowwhite {
	BACKGROUND-POSITION: 0px -493px
}
.uxp_hdr_ltr_rightArrowDark {
	BACKGROUND-POSITION: 7px -399px
}
.uxp_hdr_ltr_rightArrowLight {
	BACKGROUND-POSITION: 0px -399px
}
.uxp_hdr_rtl_rightArrowDark {
	BACKGROUND-POSITION: 7px -392px
}
.uxp_hdr_rtl_rightArrowLight {
	BACKGROUND-POSITION: 0px -392px
}
.uxp_hdr_downArrowblack_ie6 {
	LEFT: -9px; TOP: -493px
}
.uxp_hdr_downArrowwhite_ie6 {
	LEFT: 0px; TOP: -493px
}
.uxp_hdr_ltr_rightArrowDark_ie6 {
	LEFT: -9px; TOP: -399px
}
.uxp_hdr_ltr_rightArrowLight_ie6 {
	LEFT: 0px; TOP: -399px
}
.uxp_hdr_rtl_rightArrowDark_ie6 {
	LEFT: -9px; TOP: -392px
}
.uxp_hdr_rtl_rightArrowLight_ie6 {
	LEFT: 0px; TOP: -392px
}
.uxp_hdr_downArrow {
	MARGIN-TOP: 2px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); WIDTH: 7px; POSITION: absolute; HEIGHT: 7px
}
.uxp_hdr_rightArrow {
	MARGIN-TOP: 2px; BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); WIDTH: 7px; POSITION: absolute; HEIGHT: 7px
}
.uxp_hdr_rightArrow {
	BACKGROUND-POSITION: 7px -399px; RIGHT: 1em; _background: none
}
.uxp_hdr_downArrow {
	BACKGROUND-POSITION: 0px -493px
}
.rtl .uxp_hdr_downArrow {
	DISPLAY: block
}
.rtl .uxp_hdr_rightArrow {
	BACKGROUND-POSITION: 7px -392px
}
.uxp_hdr_jewel_ie6 {
	LEFT: 0px; TOP: 0px
}
.uxp_hdr_rightArrow_ie6 {
	LEFT: -9px; TOP: -399px
}
.rtl .uxp_hdr_rightArrow_ie6 {
	LEFT: -9px; TOP: -392px
}
.uxp_hdr_downArrow_ie6 {
	LEFT: 0px; TOP: -493px
}
.uxp_hdr_jewelSpanHover #uxp_hdr_jewelSpan {
	BACKGROUND-POSITION: 0px -37px
}
.uxp_hdr_jewelSpanOpen #uxp_hdr_jewelSpan {
	BACKGROUND-POSITION: 0px -37px
}
.uxp_hdr_jewelSpanHover .uxp_hdr_jewel_ie6 {
	TOP: -37px
}
.uxp_hdr_jewelSpanOpen .uxp_hdr_jewel_ie6 {
	TOP: -37px
}
.L_FloatLeft {
	FLOAT: left
}
.L_FloatRight {
	FLOAT: right
}
.L_TextAlignLeft {
	TEXT-ALIGN: left
}
.L_TextAlignRight {
	TEXT-ALIGN: right
}
.TextSizeXSmall {
	FONT-SIZE: 82%
}
.TextSizeSmall {
	FONT-SIZE: 92%
}
.TextSizeNormal {
	FONT-SIZE: 100%
}
.TextSizeLarge {
	FONT-SIZE: 110%
}
.TextSizeXLarge {
	FONT-SIZE: 125%
}
.TextSizeXXLarge {
	FONT-SIZE: 132%
}
.TextSizeXXXLarge {
	FONT-SIZE: 146%
}
.LineHeightTight {
	LINE-HEIGHT: 105%
}
.LineHeightStandard {
	LINE-HEIGHT: 130%
}
.LineHeightLoose {
	LINE-HEIGHT: 145%
}
.LineHeightXLoose {
	LINE-HEIGHT: 170%
}
.TextBold {
	FONT-WEIGHT: bold
}
.TextItalic {
	FONT-STYLE: italic
}
.TextNormal {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; WHITE-SPACE: normal; LETTER-SPACING: normal
}
.TextHighlight {
	FONT-WEIGHT: bold; COLOR: #f07522
}
.TextAdLabel {
	FONT-SIZE: 82%; TEXT-TRANSFORM: uppercase; COLOR: #aaaaaa
}
.TextDefinition {
	BACKGROUND: url(hig/img/definitionUnderline.gif) repeat-x 50% bottom
}
.AppLink:visited {
	
}
BUTTON.Live_Controls_Button {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1em; BACKGROUND-POSITION: 0px center; MIN-WIDTH: 7em; PADDING-LEFT: 1em; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 110%; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #707070; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP-COLOR: #707070; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0px; HEIGHT: 1.8em; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #707070
}
INPUT.Live_Controls_Button {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1em; BACKGROUND-POSITION: 0px center; MIN-WIDTH: 7em; PADDING-LEFT: 1em; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 110%; BORDER-LEFT-COLOR: #707070; BACKGROUND-IMAGE: url(hig/img/b/btn_std.png); BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #707070; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP-COLOR: #707070; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0px; HEIGHT: 1.8em; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #707070
}
