.PrimaryTextColor {
	COLOR: #444444
}
A.PrimaryTextColor:visited {
	COLOR: #444444
}
.SecondaryTextColor {
	COLOR: #aaaaaa
}
A.SecondaryTextColor:visited {
	COLOR: #aaaaaa
}
.SecondaryTextBorder {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid
}
.DisabledTextColor {
	COLOR: #c7c7c7
}
A.DisabledTextColor:visited {
	COLOR: #c7c7c7
}
.SourceTextColor {
	COLOR: #1aab1f
}
A.SourceTextColor:visited {
	COLOR: #1aab1f
}
.HighlightTextColor {
	COLOR: #f07522
}
A.HighlightTextColor:visited {
	COLOR: #f07522
}
.InlineError {
	COLOR: #ee2037
}
A.InlineError:visited {
	COLOR: #ee2037
}
.InlineSuccess {
	COLOR: #5a8e4a
}
A.InlineSuccess:visited {
	COLOR: #5a8e4a
}
.LightTextColor {
	COLOR: #ffffff
}
A.LightTextColor:visited {
	COLOR: #ffffff
}
.DarkTextColor {
	COLOR: #444444
}
A.DarkTextColor:visited {
	COLOR: #444444
}
.PageBGColor {
	BACKGROUND-COLOR: #ffffff
}
.ContainerBorderLeft {
	BORDER-LEFT: #e9eaf1 1px solid
}
.ContainerBorderRight {
	BORDER-RIGHT: #e9eaf1 1px solid
}
.ContainerBorderTop {
	BORDER-TOP: #e9eaf1 1px solid
}
.ContainerBorderBottom {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
.ContainerBGColor {
	BACKGROUND-COLOR: #ffffff
}
.ContainerBGColor2 {
	BACKGROUND-COLOR: #f5fafc
}
.ContainerHeaderBGColor {
	BACKGROUND-COLOR: #ffffff
}
.ContainerHeaderTextColor {
	COLOR: #444444
}
A.ContainerHeaderTextColor:visited {
	COLOR: #444444
}
.ContainerHeaderLinkColor {
	COLOR: #0066a7
}
A.ContainerHeaderLinkColor:visited {
	COLOR: #0066a7
}
.HeaderBGColor {
	BACKGROUND-COLOR: #0066a7
}
.HeaderMeTileBorderColor {
	BORDER-RIGHT: #3a8aae 1px solid; BORDER-TOP: #3a8aae 1px solid; BORDER-LEFT: #3a8aae 1px solid; BORDER-BOTTOM: #3a8aae 1px solid
}
.SuperAdTextColor {
	COLOR: white
}
A.SuperAdTextColor:visited {
	COLOR: white
}
.FooterTextColor {
	COLOR: #444444
}
A.FooterTextColor:visited {
	COLOR: #444444
}
.ToolbarBGColor {
	BACKGROUND-COLOR: #ffffff
}
.BreadcrumbTextColor {
	COLOR: #444444
}
A.BreadcrumbTextColor:visited {
	COLOR: #444444
}
.BreadcrumbLinkColor {
	COLOR: #444444
}
A.BreadcrumbLinkColor:visited {
	COLOR: #444444
}
A:visited {
	COLOR: #0066a7
}
.ContainerNoPadding {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.ContainerLeftNav {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BACKGROUND-IMAGE: url(img/ContainerBGImage2.png); BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f5fafc
}
.ContainerMovable {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.ContainerFullView {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.Container {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.ContainerHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 125%
}
.ContainerLeftNav .ContainerHeader {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: transparent
}
.ContainerFullView .ContainerHeader {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: transparent
}
#AdContainer {
	BACKGROUND-COLOR: #0066a7
}
.Breadcrumb {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.LeftNav .List .On {
	PADDING-RIGHT: 8px; PADDING-LEFT: 16px; PADDING-BOTTOM: 5px; PADDING-TOP: 8px; BACKGROUND-COLOR: #acdef9
}
.LeftNav .List {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none; _height: 1px
}
.LeftNav .List LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.LeftNav .List LI A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 16px; PADDING-BOTTOM: 5px; COLOR: #444444; PADDING-TOP: 8px; TEXT-DECORATION: none
}
.LeftNav .List LI A.disabledLink {
	COLOR: #c7c7c7; BACKGROUND-COLOR: transparent
}
.LeftNav .List LI A.disabledLink:hover {
	COLOR: #c7c7c7; BACKGROUND-COLOR: transparent
}
HTML > BODY .LeftNav .List LI A {
	WIDTH: auto
}
.LeftNav .List LI A:visited {
	COLOR: #444444
}
.LeftNav .List LI A:hover {
	COLOR: #444444; BACKGROUND-COLOR: #d6effc; TEXT-DECORATION: none
}
.ErrorBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ErrorLayout {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e9eaf1 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e9eaf1 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #e9eaf1 1px solid
}
.ErrorHigh {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e9eaf1 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e9eaf1 1px solid; COLOR: #444444; PADDING-TOP: 6px; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-COLOR: #ffaeb9
}
.ErrorMed {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e9eaf1 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e9eaf1 1px solid; COLOR: #444444; PADDING-TOP: 6px; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-COLOR: #ffffae
}
.ErrorLow {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e9eaf1 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e9eaf1 1px solid; COLOR: #444444; PADDING-TOP: 6px; BORDER-BOTTOM: #e9eaf1 1px solid; BACKGROUND-COLOR: #ffffff
}
.ErrorHigh A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.ErrorMed A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.ErrorLow A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.ErrorHigh A:visited {
	COLOR: #0066a7
}
.ErrorMed A:visited {
	COLOR: #0066a7
}
.ErrorLow A:visited {
	COLOR: #0066a7
}
.spudhelp A {
	COLOR: #444444
}
.beSelectedTab {
	BACKGROUND-COLOR: #acdef9
}
.bePreviewSelectedTab {
	BACKGROUND-COLOR: #acdef9
}
.beborderleft {
	BACKGROUND-COLOR: #acdef9
}
.beborderleftdarkbg {
	BACKGROUND-COLOR: #acdef9
}
.blueBottom {
	BACKGROUND-COLOR: #acdef9
}
.bluebox {
	BACKGROUND-COLOR: #acdef9
}
.onlinePhotoBox {
	BACKGROUND-COLOR: #acdef9
}
.beborderleftdarkbg {
	BACKGROUND-COLOR: #ffffff
}
.beNormalTab {
	BACKGROUND-COLOR: #ffffff
}
.beBlogNormalTab {
	BACKGROUND-COLOR: #ffffff
}
.blueBottom {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.onlinePhotoBox {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.blueBox {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beNormalTab {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.bePreviewSelectedTab {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beBlogNormalTab {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beSelectedTab {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beborderleftdarkbg {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.bline {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beborderleft {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.beborderleftdarkbg {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.blueBottom {
	BORDER-TOP-STYLE: none
}
.bline {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 1px solid
}
.bePreviewSelectedTab {
	BORDER-BOTTOM-STYLE: none
}
.beBlogNormalTab {
	BORDER-LEFT-STYLE: none
}
.beSelectedTab {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.beborderleft {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid
}
.beborderleftdarkbg {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.infoBar A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.bvError A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.bvError TABLE A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.bvSectionContentY TR TD A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.profilePendingReq A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.profilePendingReq TABLE A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.listErrorCell A {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.infoBar A:visited {
	COLOR: #0066a7
}
.bvError A:visited {
	COLOR: #0066a7
}
.bvError TABLE A:visited {
	COLOR: #0066a7
}
.bvSectionContentY TR TD A:visited {
	COLOR: #0066a7
}
.profilePendingReq A:visited {
	COLOR: #0066a7
}
.profilePendingReq TABLE A:visited {
	COLOR: #0066a7
}
.listErrorCell A:visited {
	COLOR: #0066a7
}
.infoBar {
	COLOR: #444444
}
.bvError {
	COLOR: #444444
}
.bvError TABLE {
	COLOR: #444444
}
.bvError TR TD {
	COLOR: #444444
}
.bvSectionContentY TR TD {
	COLOR: #444444
}
.profilePendingReq {
	COLOR: #444444
}
.profilePendingReq TABLE {
	COLOR: #444444
}
.profilePendingReq TR TD {
	COLOR: #444444
}
.listErrorCell {
	COLOR: #444444
}
.infoBar {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.bvSectionContentY {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.bvError {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.listErrorCell {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.infoBar {
	BACKGROUND-COLOR: #ffffae
}
.bvError {
	BACKGROUND-COLOR: #ffffae
}
.bvError TABLE {
	BACKGROUND-COLOR: #ffffae
}
.bvSectionContentY TR TD {
	BACKGROUND-COLOR: #ffffae
}
.profilePendingReq {
	BACKGROUND-COLOR: #ffffae
}
.listErrorCell {
	BACKGROUND-COLOR: #ffffae
}
.photoFolderHL {
	BACKGROUND-COLOR: #000000
}
.blackFont {
	COLOR: #000000
}
#PhotoId A {
	COLOR: #000000
}
.redText {
	COLOR: red
}
.grayText {
	COLOR: #7f7f7f
}
#AttachedPhotos .grayText {
	COLOR: #7f7f7f
}
#AttachedPhotos .grayText A {
	COLOR: #7f7f7f
}
BODY {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #ffffff
}
.mainbg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #ffffff
}
.BackgroundBody {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #ffffff
}
.dragDropSlider {
	BACKGROUND-COLOR: #acdef9
}
.mainbody {
	BACKGROUND-COLOR: #ffffff
}
.taskbar {
	BACKGROUND-COLOR: #ffffff
}
.SUContentPane {
	BACKGROUND-COLOR: #ffffff
}
.whiteBody {
	BACKGROUND-COLOR: #ffffff
}
.partsmb {
	BACKGROUND-COLOR: #ffffff
}
.MPInfo {
	BACKGROUND-COLOR: #ffffff
}
.blogpost .MSN_EDITCONTAINER {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
DIV#bePicRow {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
.blogpost .MSN_TOOLBAR {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
.blogpost .MSN_EDITCONTAINER {
	BORDER-TOP: #e9eaf1 1px solid
}
.spAToolbar {
	BACKGROUND-IMAGE: url(img/ToolbarBGImage.png); COLOR: #444444; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.spAToolbar A {
	COLOR: #444444
}
.spAToolbar A:visited {
	COLOR: #444444
}
BODY {
	COLOR: #444444
}
.bvSectionContentPC TR TD {
	COLOR: #444444
}
.search INPUT {
	COLOR: #444444
}
.belink {
	COLOR: #444444
}
.contentFont {
	COLOR: #444444
}
.onlinePhotoBox {
	COLOR: #444444
}
.modhead TABLE {
	COLOR: #444444
}
.partsubhead {
	COLOR: #aaaaaa
}
.linklist {
	COLOR: #0066a7
}
.onlinePhotoBox A {
	COLOR: #0066a7
}
.linkedEllipseColor {
	COLOR: #0066a7
}
.errorText {
	COLOR: #ee2037
}
.graytitle {
	COLOR: #aaaaaa
}
.notgray {
	COLOR: #aaaaaa
}
.msheader TD {
	COLOR: #aaaaaa
}
.spAToolbar .spDisabled {
	COLOR: #c7c7c7
}
.disabledModHead {
	COLOR: #c7c7c7
}
TD A.disabledModHead {
	COLOR: #c7c7c7
}
.disabledModHeadSep {
	COLOR: #c7c7c7
}
.disabledLink {
	COLOR: #c7c7c7
}
TD A.disabledLink {
	COLOR: #c7c7c7
}
.bvSectionContentG {
	COLOR: #c7c7c7
}
.disabledText {
	COLOR: #c7c7c7
}
.disabledLink {
	CURSOR: text
}
TD A.disabledLink {
	CURSOR: text
}
.bvSectionContentG {
	CURSOR: text
}
bvSectionTitle TR TD .disabledLink {
	CURSOR: text
}
.disabledMainNav {
	CURSOR: text
}
.disabledModHead {
	CURSOR: text
}
TD A.disabledModHead {
	CURSOR: text
}
.disabledMainNav#editLayoutButton A:hover {
	CURSOR: text; TEXT-DECORATION: none
}
A.disabledLink:hover {
	CURSOR: text; TEXT-DECORATION: none
}
TD A.disabledLink:hover {
	CURSOR: text; TEXT-DECORATION: none
}
A.disabledModHead:hover {
	CURSOR: text; TEXT-DECORATION: none
}
TD A.disabledLink:hover {
	CURSOR: text; TEXT-DECORATION: none
}
TD A.disabledModHead:hover {
	CURSOR: text; TEXT-DECORATION: none
}
.FormElementBorder {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.DetailSectionFormElements {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.textinput {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.textinput_narrow {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.imgcontainer {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
INPUT.editBox {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
DIV.InputWrapper {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.txtURL {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
TEXTAREA.textEditBox {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
INPUT.text {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
INPUT.profileUI {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
TEXTAREA.profileUI {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
SELECT.profileUI {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.COMMENTENTRY .MSN_EDITCONTAINER {
	BORDER-RIGHT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-BOTTOM: #444 1px solid
}
.COMMENTENTRY .MSN_TOOLBAR {
	BORDER-BOTTOM: #444 1px solid
}
.abHeader {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.abArea {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.taskbar {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
#maintbl {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.searchsubnav {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.blueNB {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.SimpleBorder {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.categoryBox {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
.innerList {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
#PartsBucket {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
DIV.bvEntry .footer {
	BORDER-RIGHT: #e9eaf1 1px solid; BORDER-TOP: #e9eaf1 1px solid; BORDER-LEFT: #e9eaf1 1px solid; BORDER-BOTTOM: #e9eaf1 1px solid
}
DIV.bvEntry .footer {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
#FullExplorer {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
.line {
	COLOR: #e9eaf1; BACKGROUND-COLOR: #e9eaf1
}
.borderline {
	BORDER-TOP: 1px
}
DIV#navBar DIV.AdminNav {
	BORDER-TOP: #e9eaf1 1px solid
}
.tips {
	MARGIN-BOTTOM: 5px; COLOR: #444444! important; LIST-STYLE-TYPE: disc
}
.ClassifiedsBorder {
	BORDER-BOTTOM: #e9eaf1 1px solid
}
#FavoritesPane {
	SCROLLBAR-BASE-COLOR: #ffffff
}
#resultPane {
	SCROLLBAR-BASE-COLOR: #ffffff
}
DIV.ModuleTab A.gallerylink {
	COLOR: #0066a7
}
DIV.ModuleTab A.gallerylink:visited {
	COLOR: #0066a7
}
DIV.ModuleTab DIV.Contents UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.ModuleTab DIV.Contents UL LI {
	DISPLAY: inline
}
DIV.ModuleTab DIV.Contents UL LI A.item {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 95%; PADDING-TOP: 4px; TEXT-DECORATION: none
}
DIV.ModuleTab DIV.Contents UL LI A.item:hover {
	CURSOR: pointer; BACKGROUND-COLOR: #edf2fb
}
DIV.ModuleTab DIV.Contents UL LI IMG {
	FLOAT: left; BORDER-TOP-STYLE: none; MARGIN-RIGHT: 8px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.ModuleTab DIV.Contents UL LI .label {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 220px; COLOR: #444444; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.ModuleTab DIV.Contents UL LI .action {
	FLOAT: left; MARGIN-LEFT: 4px; COLOR: #444444; MARGIN-RIGHT: 8px
}
DIV.ModuleTab DIV.Contents UL LI .subitems {
	MARGIN-LEFT: 48px
}
DIV.ModuleTab DIV.Contents UL LI .subitems .label {
	WIDTH: 196px
}
DIV.CustomThemeTab A {
	COLOR: #0066a7
}
DIV.CustomThemeTab A:visited {
	COLOR: #0066a7
}
DIV.CustomThemeTab DIV.instructions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 8px; PADDING-TOP: 0px
}
DIV.CustomThemeTab DIV.Contents DIV {
	DISPLAY: block; FLOAT: none; WIDTH: 100%
}
DIV.CustomThemeTab DIV.Contents DIV UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 8px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.CustomThemeTab DIV.Contents DIV UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.CustomThemeTab DIV.Contents DIV UL LI.label {
	WIDTH: 7em
}
DIV.CustomThemeTab DIV.Contents DIV UL LI.default {
	MARGIN-RIGHT: 0.5em
}
DIV.CustomThemeTab DIV.Contents .colorrow {
	DISPLAY: block; MARGIN-LEFT: 4px; WIDTH: 100%; HEIGHT: 30px
}
DIV.CustomThemeTab DIV.Contents .dropdownrow {
	DISPLAY: block; MARGIN-LEFT: 4px; WIDTH: 100%; HEIGHT: 40px
}
DIV.CustomThemeTab DIV.Contents .checkboxrow {
	DISPLAY: block; MARGIN-LEFT: 4px; WIDTH: 100%; HEIGHT: 40px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.defswatch {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 12px; BORDER-LEFT: #aaa 1px solid; WIDTH: 18px; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 18px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.defswatch:hover {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e9eaf1 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 12px; BORDER-LEFT: #e9eaf1 1px solid; WIDTH: 18px; PADDING-TOP: 1px; BORDER-BOTTOM: #e9eaf1 1px solid; HEIGHT: 18px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.defswatchon {
	BORDER-RIGHT: #d2eaf6 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d2eaf6 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 12px; BORDER-LEFT: #d2eaf6 1px solid; WIDTH: 18px; PADDING-TOP: 1px; BORDER-BOTTOM: #d2eaf6 1px solid; HEIGHT: 18px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.swatch {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 2px 4px 0px 0px; BORDER-LEFT: #aaa 1px solid; WIDTH: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 13px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.swatch:hover {
	BORDER-RIGHT: #e9eaf1 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e9eaf1 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 2px 4px 0px 0px; BORDER-LEFT: #e9eaf1 1px solid; WIDTH: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #e9eaf1 1px solid; HEIGHT: 13px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow A.swatchon {
	BORDER-RIGHT: #d2eaf6 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d2eaf6 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 2px 4px 0px 0px; BORDER-LEFT: #d2eaf6 1px solid; WIDTH: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #d2eaf6 1px solid; HEIGHT: 13px
}
DIV.CustomThemeTab DIV.Contents DIV.colorrow .colorinput {
	DISPLAY: block; FLOAT: left; WIDTH: 7em
}
DIV.CustomThemeTab DIV.Contents SPAN.errorhex {
	DISPLAY: none; WIDTH: 100%; COLOR: #ee2037; MARGIN-RIGHT: 8px
}
DIV.CustomThemeTab .label {
	COLOR: #444444
}
DIV.CustomThemeTab LABEL {
	COLOR: #444444
}
#CustomThemeTab_TextCategory_Text_default {
	BACKGROUND-COLOR: #444444
}
#CustomThemeTab_TextCategory_Link_default {
	BACKGROUND-COLOR: #0066a7
}
#CustomThemeTab_BackgroundCategory_Page_default {
	BACKGROUND-COLOR: #ffffff
}
#CustomThemeTab_BackgroundCategory_Body_default {
	BACKGROUND-COLOR: #ffffff
}
#CustomThemeTab_BackgroundCategory_Selection_default {
	BACKGROUND-COLOR: #acdef9
}
#CustomThemeTab_BackgroundCategory_Hover_default {
	BACKGROUND-COLOR: #d6effc
}
#CustomThemeTab_ModulesCategory_Background_default {
	BACKGROUND-COLOR: #ffffff
}
#CustomThemeTab_ModulesCategory_HeaderBackground_default {
	BACKGROUND-COLOR: #ffffff
}
#CustomThemeTab_ModulesCategory_HeaderLink_default {
	BACKGROUND-COLOR: #0066a7
}
#CustomThemeTab_ModulesCategory_BorderColor_default {
	BACKGROUND-COLOR: #e9eaf1
}
.sn_lbar_bkgnd_ie6_default {
	_background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff045288, endColorStr=#ff00f8ef) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=88) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=28); _height: 40px
}
.sn_lbar_bkgnd_ie6shadow_default {
	
}
.sn_lbar_bkgnd_ie6_shadow {
	_background: #000; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19)
}
.sn_lbar_bkgnd_ie6shadow_shadow {
	
}
.sn_lbar_bkgnd_ie6_grey_light {
	_background: #000; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=5, FinishY=69) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19)
}
.sn_lbar_bkgnd_ie6shadow_grey_light {
	
}
.sn_lbar_bkgnd_ie6_grey_medium {
	_background: #000; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=60, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=20) progid:DXImageTransform.Microsoft.Alpha(Opacity=67, FinishOpacity=20, Style=1, StartX=0, FinishX=0, StartY=63, FinishY=98) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=85, FinishY=100)
}
.sn_lbar_bkgnd_ie6shadow_grey_medium {
	
}
.sn_lbar_bkgnd_ie6_grey_dark {
	_background: #000; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=72, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=58, FinishY=98) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=80, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=15)
}
.sn_lbar_bkgnd_ie6shadow_grey_dark {
	
}
.sn_lbar_bkgnd_ie6_white {
	_background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ffffffff, endColorStr=#ffFFFFFF) progid:DXImageTransform.Microsoft.Alpha(Opacity=70, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=72, FinishY=98)
}
.sn_lbar_bkgnd_ie6shadow_white {
	_background: #000; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=17)
}
.sn_lbar_long_ie6_default {
	_background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff3da3d3, endColorStr=#ff0ea382) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=95) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=35)
}
.sn_lbar_long_ie6shadow_default {
	_background: #14355c; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19)
}
.sn_lbar_bkgnd {
	BACKGROUND-IMAGE: url(hig/img/l/livebarBG_24_~LivebarGradientType~.png); BACKGROUND-REPEAT: repeat-x; _background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff045288, endColorStr=#ff00f8ef) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=88) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=28); _height: 40px
}
.sn_lbar_short {
	BACKGROUND-IMAGE: url(hig/img/l/livebarBG_sh_24_~LivebarGradientType~.png); BACKGROUND-REPEAT: repeat-x; _background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff045288, endColorStr=#ff00f8ef) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=88) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=28); _height: 40px
}
.sn_lbar_bkgnd_shadow {
	
}
.sn_lbar_short_shadow {
	
}
.sn_lbar_long {
	BACKGROUND-IMAGE: url(hig/img/l/livebarBG_long_24_~LivebarGradientType~.png); BACKGROUND-REPEAT: repeat-x; _background: none; _filter: progid:DXImageTransform.Microsoft.Gradient(Enabled="true", startColorStr=#ff3da3d3, endColorStr=#ff0ea382) progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=95) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=65, Style=1, StartX=0, FinishX=0, StartY=10, FinishY=35)
}
.sn_lbar_long_shadow {
	_background: #14355c; _filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=19)
}
.sn_lbar {
	MARGIN-BOTTOM: 0px
}
.sn_lbar .separator {
	BORDER-RIGHT: #d9f7ff 1px solid; BORDER-LEFT: #4f5f64 1px solid
}
.sn_lbar A {
	COLOR: #000000
}
.sn_lbar A:visited {
	COLOR: #000000
}
.sn_lbar A.selected {
	BACKGROUND-IMAGE: url(hig/img/l/livebarBG_24_shadow.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #c3e8ff; _background: #C3E8FF
}
.sn_lbar A.selected {
	BORDER-RIGHT: #b0d2dd 1px solid; BORDER-TOP: #99b7c0 1px solid; BORDER-LEFT: #b0d2dd 1px solid; BORDER-BOTTOM: #dbf7ff 1px solid
}
.sn_lbar A.semiselected {
	BORDER-RIGHT: #b0d2dd 1px solid; BORDER-TOP: #99b7c0 1px solid; BORDER-LEFT: #b0d2dd 1px solid; BORDER-BOTTOM: #dbf7ff 1px solid
}
.sn_lbar A.indented SPAN {
	BORDER-RIGHT: #b0d2dd 1px solid; BORDER-TOP: #99b7c0 1px solid; BORDER-LEFT: #b0d2dd 1px solid; BORDER-BOTTOM: #dbf7ff 1px solid
}
.sn_lbar A.selected SPAN {
	BORDER-RIGHT: #19617e 1px solid; BORDER-TOP: #19617e 1px solid; BORDER-LEFT: #19617e 1px solid; BORDER-BOTTOM: #19617e 1px solid
}
.sn_lbar A.semiselected SPAN {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar A:hover {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar .menuOn A {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar A.indented {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar A:hover SPAN {
	BORDER-RIGHT: #d9f7ff 1px solid; BORDER-TOP: #d9f7ff 1px solid; BORDER-LEFT: #d9f7ff 1px solid; BORDER-BOTTOM: #d9f7ff 1px solid
}
.sn_lbar .menuOn A SPAN {
	BORDER-RIGHT: #d9f7ff 1px solid; BORDER-TOP: #d9f7ff 1px solid; BORDER-LEFT: #d9f7ff 1px solid; BORDER-BOTTOM: #d9f7ff 1px solid
}
.sn_lbar A:hover {
	BACKGROUND-POSITION: 50% 50%; BACKGROUND-IMAGE: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #92def3; _background: #92DEF3
}
.sn_lbar .menuOn A {
	BACKGROUND-POSITION: 50% 50%; BACKGROUND-IMAGE: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #92def3; _background: #92DEF3
}
.sn_lbar .menuOn .sn_lbar_menu A {
	COLOR: #444444
}
.sn_lbar .menuOn .sn_lbar_menu A:visited {
	COLOR: #444444
}
.sn_lbar .menuOn .sn_lbar_menu {
	BACKGROUND-COLOR: #f5fafc
}
.sn_lbar .menuOn .sn_lbar_menu A:hover {
	BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #d6effc center 50%; _background: #D6EFFC
}
.sn_lbar .sn_lbar_split .menuOn .sn_lbar_menu A:hover {
	BACKGROUND: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) #d6effc center 50%; _background: #D6EFFC
}
.sn_lbar .sn_lbar_split .splitOn A {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar .sn_lbar_split .menuOn A {
	BORDER-RIGHT: #4f5f64 1px solid; BORDER-TOP: #384448 1px solid; BORDER-LEFT: #4f5f64 1px solid; BORDER-BOTTOM: #657a81 1px solid
}
.sn_lbar .sn_lbar_split .splitOn A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sn_lbar .sn_lbar_split .menuOn A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sn_lbar .sn_lbar_split .splitOn A SPAN {
	BORDER-RIGHT: #d9f7ff 1px solid; BORDER-TOP: #d9f7ff 1px solid; BORDER-LEFT: #d9f7ff 1px solid; BORDER-BOTTOM: #d9f7ff 1px solid
}
.sn_lbar .sn_lbar_split .menuOn A SPAN {
	BORDER-RIGHT: #d9f7ff 1px solid; BORDER-TOP: #d9f7ff 1px solid; BORDER-LEFT: #d9f7ff 1px solid; BORDER-BOTTOM: #d9f7ff 1px solid
}
.sn_lbar .sn_lbar_split .splitOn A:hover {
	BACKGROUND-POSITION: 50% 50%; BACKGROUND-IMAGE: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #92def3; _background: #92DEF3
}
.sn_lbar .sn_lbar_split .menuOn A.caret {
	BACKGROUND-POSITION: 50% 50%; BACKGROUND-IMAGE: url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #92def3; _background: #92DEF3
}
