.BackgroundContainerTitle .Title {
	FONT-WEIGHT: bold; FONT-SIZE: 132%; LINE-HEIGHT: 105%
}
.Title {
	LINE-HEIGHT: 110%
}
.cellstyle {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.whiteBody {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pm0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.helptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 160%
}
.xsmallFont {
	FONT-SIZE: 71%
}
.smallFont {
	FONT-SIZE: 80%
}
.fixedTable {
	TABLE-LAYOUT: fixed
}
.ellipse {
	OVERFLOW: hidden; TEXT-OVERFLOW: ellipsis
}
.midbutton {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.midbuttonbg A:hover {
	TEXT-DECORATION: none
}
.bold {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
INPUT.button {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sep {
	FONT-SIZE: 11px
}
.graysep {
	FONT-SIZE: 11px
}
HR {
	HEIGHT: 1px
}
.subnav TR TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.bluebox {
	FONT-SIZE: 140%
}
.beNormalTab {
	FONT-SIZE: 100%
}
.beborderleft {
	FONT-SIZE: 100%
}
.beSelectedTab {
	FONT-SIZE: 100%
}
.bePreviewSelectedTab {
	FONT-SIZE: 100%
}
.beBlogNormalTab {
	FONT-SIZE: 100%
}
.shdrbg {
	WIDTH: 779px
}
.red {
	COLOR: red
}
.AllowListBuddyList {
	OVERFLOW-Y: scroll; OVERFLOW-X: hidden; OVERFLOW: auto; WIDTH: 340px; WHITE-SPACE: nowrap; HEIGHT: 190px; TEXT-OVERFLOW: ellipsis
}
.beRTEDL {
	FONT-SIZE: 100%
}
#previewbox {
	FONT-SIZE: 100%
}
.bold {
	FONT-WEIGHT: bold
}
A.entryttl {
	FONT-WEIGHT: bold
}
.searchtitle {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 3px
}
A.belink {
	FONT-WEIGHT: bold; CURSOR: pointer; TEXT-DECORATION: none
}
A.belink:hover {
	FONT-WEIGHT: bold; CURSOR: pointer; TEXT-DECORATION: none
}
.Part {
	FONT-WEIGHT: bold; CURSOR: pointer
}
.editBox {
	FONT-SIZE: 11px; WIDTH: 180px; FONT-FAMILY: Tahoma,Helvetica,Sans-Serif; HEIGHT: 17px
}
TEXTAREA.textEditBox {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Helvetica,Sans-Serif
}
.DetailSectionHeader {
	FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
.ListBox {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffffff
}
.ListBoxSelected {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #fef79f
}
.MontageHoverTileBorder {
	BACKGROUND-COLOR: #ffffff
}
.imageBorder {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000
}
.imageShadow {
	BACKGROUND-COLOR: #888888
}
.photoFilmstrip {
	BORDER-LEFT-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #888; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #888; BORDER-BOTTOM-STYLE: solid
}
.photoFilmstripHighlightBorder {
	BACKGROUND-COLOR: #ff8c00
}
.photoFilmstripNonHighlightBorder {
	BACKGROUND-COLOR: #ffffff
}
.favoriteSearch {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.favoriteSearchFocus {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.ControlTable {
	TABLE-LAYOUT: fixed
}
.XLargeContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 132px; BORDER-RIGHT-WIDTH: 0px
}
.XLargeContactControl .FirstRow {
	WIDTH: 132px; HEIGHT: 98px
}
.XLargeContactControl .ImageCell {
	WIDTH: 98px
}
.XLargeContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.XLargeContactControl .IconCell {
	WIDTH: 18px
}
.XLargeContactControl .DisplayNameRow {
	WIDTH: 116px; HEIGHT: 15px
}
.XLargeContactControl .DisplayNameCell {
	WIDTH: 116px; HEIGHT: 15px
}
.XLargeContactControl .DisplayNameSpan {
	FONT-SIZE: 11pt; OVERFLOW: hidden; WIDTH: 116px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.XLargeContactControl .MarginCell {
	WIDTH: 8px
}
.XLargeContactControl .HeaderMarginCell {
	WIDTH: 8px; HEIGHT: 8px
}
.XLargeContactControl .HeaderIconCell {
	WIDTH: 18px; HEIGHT: 8px
}
.XLargeContactControl .HeaderImageCell {
	WIDTH: 98px; HEIGHT: 8px
}
.XLargeContactControl .MarginRow {
	WIDTH: 132px; HEIGHT: 8px
}
.LargeContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 98px; BORDER-RIGHT-WIDTH: 0px
}
.LargeContactControl .FirstRow {
	WIDTH: 98px; HEIGHT: 65px
}
.LargeContactControl .ImageCell {
	WIDTH: 65px
}
.LargeContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.LargeContactControl .IconCell {
	WIDTH: 17px
}
.LargeContactControl .DisplayNameRow {
	WIDTH: 98px; HEIGHT: 22px
}
.LargeContactControl .DisplayNameCell {
	WIDTH: 82px; HEIGHT: 15px
}
.LargeContactControl .DisplayNameSpan {
	FONT-SIZE: 11pt; OVERFLOW: hidden; WIDTH: 82px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.LargeContactControl .MarginCell {
	WIDTH: 8px
}
.LargeContactControl .HeaderMarginCell {
	WIDTH: 8px; HEIGHT: 8px
}
.LargeContactControl .HeaderIconCell {
	WIDTH: 17px; HEIGHT: 8px
}
.LargeContactControl .HeaderImageCell {
	WIDTH: 65px; HEIGHT: 8px
}
.LargeContactControl .MarginRow {
	WIDTH: 98px; HEIGHT: 8px
}
.MediumContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 78px; BORDER-RIGHT-WIDTH: 0px
}
.MediumContactControl .FirstRow {
	WIDTH: 78px; HEIGHT: 34px
}
.MediumContactControl .ImageCell {
	WIDTH: 34px
}
.MediumContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.MediumContactControl .IconCell {
	WIDTH: 16px
}
.MediumContactControl .DisplayNameRow {
	WIDTH: 78px; HEIGHT: 15px
}
.MediumContactControl .DisplayNameCell {
	WIDTH: 62px; HEIGHT: 15px
}
.MediumContactControl .DisplayNameSpan {
	FONT-SIZE: 11pt; OVERFLOW: hidden; WIDTH: 62px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.MediumContactControl .MarginCell {
	WIDTH: 8px
}
.MediumContactControl .HeaderMarginCell {
	WIDTH: 8px; HEIGHT: 8px
}
.MediumContactControl .HeaderIconCell {
	WIDTH: 16px; HEIGHT: 8px
}
.MediumContactControl .HeaderImageCell {
	WIDTH: 34px; HEIGHT: 8px
}
.MediumContactControl .MarginRow {
	WIDTH: 78px; HEIGHT: 8px
}
.SmallContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; BORDER-RIGHT-WIDTH: 0px
}
.SmallContactControl .FirstRow {
	WIDTH: 60px; HEIGHT: 36px
}
.SmallContactControl .ImageCell {
	WIDTH: 36px
}
.SmallContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.SmallContactControl .IconCell {
	WIDTH: 12px
}
.SmallContactControl .DisplayNameRow {
	WIDTH: 98px; HEIGHT: 15px
}
.SmallContactControl .DisplayNameCell {
	WIDTH: 82px; HEIGHT: 15px
}
.SmallContactControl .DisplayNameSpan {
	OVERFLOW: hidden; WIDTH: 82px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.SmallContactControl .MarginCell {
	WIDTH: 6px
}
.SmallContactControl .HeaderMarginCell {
	WIDTH: 6px; HEIGHT: 6px
}
.SmallContactControl .HeaderIconCell {
	WIDTH: 12px; HEIGHT: 6px
}
.SmallContactControl .HeaderImageCell {
	WIDTH: 36px; HEIGHT: 6px
}
.SmallContactControl .MarginRow {
	WIDTH: 60px; HEIGHT: 6px
}
.XSmallContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 51px; BORDER-RIGHT-WIDTH: 0px
}
.XSmallContactControl .FirstRow {
	WIDTH: 51px; HEIGHT: 27px
}
.XSmallContactControl .ImageCell {
	WIDTH: 27px
}
.XSmallContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.XSmallContactControl .IconCell {
	WIDTH: 12px
}
.XSmallContactControl .DisplayNameRow {
	WIDTH: 98px; HEIGHT: 15px
}
.XSmallContactControl .DisplayNameCell {
	WIDTH: 82px; HEIGHT: 15px
}
.XSmallContactControl .DisplayNameSpan {
	OVERFLOW: hidden; WIDTH: 82px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.XSmallContactControl .MarginCell {
	WIDTH: 6px
}
.XSmallContactControl .HeaderMarginCell {
	WIDTH: 6px; HEIGHT: 6px
}
.XSmallContactControl .HeaderIconCell {
	WIDTH: 12px; HEIGHT: 6px
}
.XSmallContactControl .HeaderImageCell {
	WIDTH: 27px; HEIGHT: 6px
}
.XSmallContactControl .MarginRow {
	WIDTH: 51px; HEIGHT: 6px
}
.XXSmallContactControl .ControlTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 44px; BORDER-RIGHT-WIDTH: 0px
}
.XXSmallContactControl .FirstRow {
	WIDTH: 44px; HEIGHT: 20px
}
.XXSmallContactControl .ImageCell {
	WIDTH: 20px
}
.XXSmallContactControl .DisplayImage {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.XXSmallContactControl .IconCell {
	WIDTH: 12px
}
.XXSmallContactControl .DisplayNameRow {
	WIDTH: 98px; HEIGHT: 15px
}
.XXSmallContactControl .DisplayNameCell {
	WIDTH: 82px; HEIGHT: 15px
}
.XXSmallContactControl .DisplayNameSpan {
	OVERFLOW: hidden; WIDTH: 82px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.XXSmallContactControl .MarginCell {
	WIDTH: 6px
}
.XXSmallContactControl .HeaderMarginCell {
	WIDTH: 6px; HEIGHT: 6px
}
.XXSmallContactControl .HeaderIconCell {
	WIDTH: 12px; HEIGHT: 6px
}
.XXSmallContactControl .HeaderImageCell {
	WIDTH: 20px; HEIGHT: 6px
}
.XXSmallContactControl .MarginRow {
	WIDTH: 44px; HEIGHT: 6px
}
.helpLink:link {
	TEXT-DECORATION: none
}
.helpLink:visited {
	TEXT-DECORATION: none
}
.helpLink:active {
	TEXT-DECORATION: none
}
.helpLink:hover {
	TEXT-DECORATION: underline
}
TEXTAREA.ErrorPage {
	OVERFLOW: auto; WIDTH: 500px; HEIGHT: 200px
}
TD.ErrorPageSpacer {
	HEIGHT: 10px
}
.divAlbumTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 132%; PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 0px
}
.titletagline_settings TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.LR_InsetContainer {
	MARGIN: 0px 10px
}
.ESLtPanel {
	VERTICAL-ALIGN: top; WIDTH: 800px
}
.ESRtPanel {
	VERTICAL-ALIGN: top; WIDTH: 300px
}
.ESHeadingTxt {
	PADDING-LEFT: 10px
}
.ESCol1 {
	VERTICAL-ALIGN: top; WIDTH: 125px; TEXT-ALIGN: right
}
.ESCol2 {
	VERTICAL-ALIGN: top; WIDTH: 750px
}
#esn {
	WIDTH: 450px
}
#escn {
	WIDTH: 450px
}
#escp {
	WIDTH: 450px
}
.eswg {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; WIDTH: 450px; COLOR: #808080; PADDING-TOP: 1px
}
.eswb {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; WIDTH: 450px; PADDING-TOP: 1px
}
.EDesc {
	HEIGHT: 100px
}
.ESPole {
	CURSOR: hand
}
.ESPoleOptions {
	DISPLAY: none; MARGIN: 5px 0px
}
.DTDate {
	WIDTH: 100px; MARGIN-RIGHT: 7px
}
.DTTime {
	WIDTH: 70px
}
.ETemplate {
	VERTICAL-ALIGN: middle
}
.eslpl {
	PADDING-TOP: 3px
}
.eslab {
	PADDING-BOTTOM: 2px; PADDING-TOP: 7px
}
.esbr {
	PADDING-TOP: 7px
}
.Groups_Popover_Background {
	Z-INDEX: 100000; FILTER: alpha(opacity=50); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff; opacity: 0.5
}
.groupSpaceTagsEditDefaultTable {
	PADDING-TOP: 10px
}
.groupSpaceTagsEditCheckbox {
	PADDING-LEFT: 8px
}
.GroupsInviteTitle {
	PADDING-BOTTOM: 16px
}
.GroupsInvitePaddedRow TD {
	PADDING-BOTTOM: 8px
}
#_WLX_FLD_TO {
	WIDTH: 600px
}
#_WLX_FLD_SUBJECT {
	WIDTH: 600px
}
#_WLX_FLD_MESSAGE {
	WIDTH: 480px; HEIGHT: 72pt
}
