DIV.identctrltxs {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrlts {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrltm {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrltl {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrltxl {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrltlv {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltxs {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrlts {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltm {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltl {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltxl {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltlv {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.identctrltxs TABLE.txt {
	TABLE-LAYOUT: fixed
}
TABLE.identctrlts TABLE.txt {
	TABLE-LAYOUT: fixed
}
TABLE.identctrltm TABLE.txt {
	TABLE-LAYOUT: fixed
}
TABLE.identctrltl TABLE.txt {
	TABLE-LAYOUT: fixed
}
TABLE.identctrltxl TABLE.txt {
	TABLE-LAYOUT: fixed
}
DIV.identctrltxs {
	WIDTH: 52px
}
DIV.identctrltxs DIV.txt {
	WIDTH: 52px
}
TABLE.identctrltxs {
	WIDTH: 52px
}
TABLE.identctrltxs TABLE.txt {
	WIDTH: 52px
}
DIV.identctrlts {
	WIDTH: 60px
}
DIV.identctrlts DIV.txt {
	WIDTH: 60px
}
TABLE.identctrlts {
	WIDTH: 60px
}
TABLE.identctrlts TABLE.txt {
	WIDTH: 60px
}
DIV.identctrltm {
	WIDTH: 76px
}
DIV.identctrltm DIV.txt {
	WIDTH: 76px
}
TABLE.identctrltm {
	WIDTH: 76px
}
TABLE.identctrltm TABLE.txt {
	WIDTH: 76px
}
DIV.identctrltl {
	WIDTH: 89px
}
DIV.identctrltl DIV.txt {
	WIDTH: 89px
}
TABLE.identctrltl {
	WIDTH: 89px
}
TABLE.identctrltl TABLE.txt {
	WIDTH: 89px
}
DIV.identctrltxl {
	WIDTH: 124px
}
DIV.identctrltxl DIV.txt {
	WIDTH: 124px
}
TABLE.identctrltxl {
	WIDTH: 124px
}
TABLE.identctrltxl TABLE.txt {
	WIDTH: 124px
}
DIV.identctrltxs IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrlts IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrltm IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrltl IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrltxl IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrltlv IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrltxs IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrlts IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrltm IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrltl IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrltxl IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
TABLE.identctrltlv IMG.IcPh {
	BORDER-RIGHT: #3a8aae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3a8aae 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3a8aae 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3a8aae 1px solid; ms-interpolation-mode: bicubic
}
DIV.identctrl A.ca {
	
}
SPAN.identctrl A.ca {
	
}
TABLE.identctrl A.ca {
	
}
DIV.identctrltxs IMG.IcPh {
	WIDTH: 24px; HEIGHT: 24px
}
TABLE.identctrltxs IMG.IcPh {
	WIDTH: 24px; HEIGHT: 24px
}
DIV.identctrlts IMG.IcPh {
	WIDTH: 32px; HEIGHT: 32px
}
TABLE.identctrlts IMG.IcPh {
	WIDTH: 32px; HEIGHT: 32px
}
DIV.identctrltm IMG.IcPh {
	WIDTH: 48px; HEIGHT: 48px
}
TABLE.identctrltm IMG.IcPh {
	WIDTH: 48px; HEIGHT: 48px
}
DIV.identctrltl IMG.IcPh {
	WIDTH: 61px; HEIGHT: 61px
}
TABLE.identctrltl IMG.IcPh {
	WIDTH: 61px; HEIGHT: 61px
}
DIV.identctrltxl IMG.IcPh {
	WIDTH: 96px; HEIGHT: 96px
}
TABLE.identctrltxl IMG.IcPh {
	WIDTH: 96px; HEIGHT: 96px
}
DIV.identctrltxs IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrlts IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltm IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltl IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxl IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltlv IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltxs IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrlts IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltm IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltl IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltxl IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltlv IMG.ci {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxs TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrlts TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrltm TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrltl TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrltxl TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrltlv TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrltxs TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrlts TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrltm TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrltl TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrltxl TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
TABLE.identctrltlv TD.ci {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.identctrltxs A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrlts A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltm A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltl A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxl A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltlv IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltxs A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrlts A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxs A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrlts A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltm A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltl A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxl A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrltxs A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.identctrlts A IMG.ci {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.identctrltxs DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrlts DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltm DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltl DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltxl DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltlv TD.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltlv DIV.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrltxs TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrlts TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrltm TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrltl TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrltxl TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
TABLE.identctrltlv TABLE.txt {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrlotl {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 200px; PADDING-TOP: 4px; POSITION: relative
}
DIV.identctrlotl DIV.ci {
	FLOAT: left; WIDTH: 34px
}
DIV.identctrlotl DIV.ci IMG.ci2 {
	PADDING-LEFT: 2px
}
DIV.identctrlotl DIV.txt {
	PADDING-LEFT: 8px; OVERFLOW: hidden; WIDTH: 148px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
DIV.identctrltlv {
	TABLE-LAYOUT: fixed; WIDTH: 225px
}
TABLE.identctrltlv {
	TABLE-LAYOUT: fixed; WIDTH: 225px
}
DIV.identctrltlv TABLE {
	TABLE-LAYOUT: fixed
}
DIV.identctrltlv TABLE TD.txt DIV.txt {
	WIDTH: 144px
}
DIV.identctrltlv TD.IcPh {
	WIDTH: 55px; HEIGHT: 55px
}
TABLE.identctrltlv TD.IcPh {
	WIDTH: 55px; HEIGHT: 55px
}
DIV.identctrltlv IMG.IcPh {
	WIDTH: 48px; HEIGHT: 48px
}
TABLE.identctrltlv IMG.IcPh {
	WIDTH: 48px; HEIGHT: 48px
}
DIV.identctrltlv DIV.ci {
	FLOAT: left; WIDTH: 34px
}
TABLE.identctrltlv DIV.ci {
	FLOAT: left; WIDTH: 34px
}
DIV.identctrltlv IMG.ci {
	PADDING-BOTTOM: 2px
}
TABLE.identctrltlv IMG.ci {
	PADDING-BOTTOM: 2px
}
DIV.identctrltlv DIV.txt {
	PADDING-LEFT: 2px
}
TABLE.identctrltlv TABLE.txt {
	PADDING-LEFT: 2px
}
DIV.identctrltlv TD.txt {
	VERTICAL-ALIGN: top
}
TABLE.identctrltlv TD.txt {
	VERTICAL-ALIGN: top
}
DIV.uxp_ep_ep DIV.uxp_ep_actions UL.uxp_ep_actionsList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.uxp_ep_ep DIV.uxp_ep_head TD.IcCi IMG.IcCi {
	WIDTH: 16px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.uxp_ep_ep DIV.uxp_ep_head TD.IcCi {
	VERTICAL-ALIGN: top; WIDTH: 18px
}
DIV.uxp_ep_ep DIV.uxp_ep_head TD.IcTxt {
	VERTICAL-ALIGN: top; OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; WORD-WRAP: normal
}
DIV.uxp_ep_ep DIV.uxp_ep_head TD.IcPh {
	WIDTH: 55px; HEIGHT: 55px
}
DIV.uxp_ep_ep DIV.uxp_ep_head IMG.IcPh {
	WIDTH: 48px; HEIGHT: 48px
}
DIV.uxp_ep_ep .IcEpOf {
	OVERFLOW: hidden; WIDTH: 100%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; WORD-WRAP: normal
}
DIV.uxp_ep_ep A.IcBpt {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep A.IcBpt:visited {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep A.IcBpt:hover {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep IMG.IcBi {
	WIDTH: 32px; HEIGHT: 32px; ms-interpolation-mode: bicubic
}
DIV.uxp_ep_ep A.IcTtl {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep A.IcTtl:visited {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep A.IcTtl:hover {
	FONT-WEIGHT: bold
}
DIV.uxp_ep_ep DIV.uxp_ep_head TABLE.Ic {
	TABLE-LAYOUT: fixed; WIDTH: 17em
}
DIV.identctrl DIV.uxp_ep_ep A.uxp_ep_close {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
SPAN.identctrl DIV.uxp_ep_ep A.uxp_ep_close {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.identctrl DIV.uxp_ep_ep {
	WIDTH: 20em
}
SPAN.identctrl DIV.uxp_ep_ep {
	WIDTH: 20em
}
DIV.identctrl DIV.uxp_ep_ep DIV.uxp_ep_sectionSeparator {
	DISPLAY: none
}
SPAN.identctrl DIV.uxp_ep_ep DIV.uxp_ep_sectionSeparator {
	DISPLAY: none
}
