body {
	margin: 0px 0px;
	padding: 0;
	font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
	color: #333;
	background-color: #785429;
	text-align: center;
	font-size: 10px;
	background-image:url(images/left_background.gif);
	background-position: left;
	background-repeat: repeat-y;
}

a {text-decoration: underline; padding: 1px; }
a:link { color: #8c94ea; }
a:visited { color: #8c94ea; }
a:hover { color: #8c94ea; text-decoration: none; }

.clear {
	clear: both; 
	font-size: 1px; 
	line-height: 1px;
}

.messages {
	color: red ;
}

#pagecontainer {
	width: 98%;
}


#pagetasks 
{
	background-color: #eeeeee;
	color: #333333;
	text-align: left ;
	border-bottom: 1px solid #cccccc;
	padding: 5px 0;
}


#header 
{
	background-repeat:no-repeat;
	height:85px;
	background-color: #58290a;
}


#logincontrol 
{
	padding-left: 10px; 
	float: right; 
	width: 60px
}


#mainmenu {
	position: relative;
	background-color: #feca00;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-image: url(images/menu_bg_right.png);
	background-position: right;
	background-repeat: no-repeat;
	border-top: solid 3px #785429;
	
}

#mainmenu ul {
	padding: 0px;
	float: left; 
	margin:  0px 0px 0px 12px; 
	list-style-type: none;
}

#mainmenu li {
	padding: 0px; 
	display: inline; 
	float: left;
	margin: 0px 10px;
}

#mainmenu a {
	display: block; 
	font-weight: bold; 
	float: left; 
	color: #078a00; 
	text-decoration: none ;
	padding: 9px 2px ;
}

#mainmenu a:hover {
	padding-bottom: 6px; 
	color: #00AD00; 
	background-image:url(images/half-radialhilight.png);
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

#footer {
	clear: both; 
	padding: 20px;
	height: 55px;
	background: #58290a;
	background-image: url(images/logowithreflection.png);
	background-repeat:no-repeat;
	background-position:center;
	vertical-align:bottom;
	color: GhostWhite; 
	text-align: right;
	border-top: solid 5px #feca00;
}

#header h1 {
	position: absolute;
	left: 360px;
	color: #feca00;
	top: 8px;
	text-transform: uppercase;
	font-size: 18px;
}

#header h2 {
	position: absolute;
	left: 360px;
	top: 32px;
	color: #fff;
	font-size: 11px;
}

#leftcolumn {
	position: absolute;
	left:0px;
	width:20px;

	}
	
#centercolumn {
	margin-left: 22px;
	margin-right:280px;
	padding: 6px;
		}
	
#content #centercolumn {
	margin-left: 22px;
	margin-right:280px;
	}
	
#rightcolumn 
{
	float: right ;
	width:270px;
	padding: 4px;
	}


#rsslink 
{
	border: thin outset; 
	padding: 0.02cm; 
	font-size: 1em; 
	background: orange; 
	color: white; 
	font-family: verdana; 
	text-decoration: none;
	margin-bottom:5px;
}


blockquote {
	border-left: 1px solid Gray;
	padding-left: 10px;
	font-size: 9pt; 
	color: Gray; 
	font-family: Lucida Console; 
}


#content {
	clear: both; 
	padding: 10px; 
	color: #fffff0;
	text-align: left;
	font-size:1.2em;
	background-image:url(images/right_background.gif);
	background-position:right;
	background-repeat: repeat-y;
}


#centercolumn h5 a, #centercolumn h5 a:link, #centercolumn h5 a:visited {
	font-size: 1.7em; margin: 5px; color: #feca00; text-decoration: none; font-family: "Trebuchet MS", Arial;
}
#centercolumn h5 a:hover { font-size: 1.7em; margin: 5px; color: #feca00; text-decoration: underline; }

#centercolumn #gettingStarted h5 a, #centercolumn #gettingStarted h5 a:link, #centercolumn #gettingStarted h5 a:visited {
	font-size: 1.7em; margin: 5px; color: #f05323; text-decoration: none; font-family: Lucida Sans Unicode, Arial;
}
#centercolumn #gettingStarted h5 a:hover { font-size: 1.7em; margin: 5px; text-decoration: underline; }

#centercolumn #tips h5 a, #centercolumn #tips h5 a:link, #centercolumn #tips h5 a:visited {
	font-size: 1.7em; margin: 5px; color: #53b349; text-decoration: none; font-family: "Trebuchet MS", Arial;
}
#centercolumn #tips h5 a:hover { font-size: 1.7em; margin: 5px; text-decoration: underline; }

#gettingStarted
{
	
}

#tips
{

}

#tips p, #gettingStarted p
{ margin-left:10px;
}

/* section image related */
#centercolumn .titleImage
{
	float:left;
}

.title
{
	background-image:url(images/banner_background_48px.gif);
	background-repeat:repeat-x;
	height:48px;
}

.partTitle
{
	color: Green;
	font-size:1.1em;
	text-align: center;
	font-weight:bold;
	background-image:url(images/banner_background_48px.gif);
	background-repeat:repeat-x;
}

.partChrome
{
	background-color: #58290a;
	color:White;	
}

#centercolumn .titleEnd
{
	float:right;
}

.postCategories li
{
	display: inline; 	
}

/* this style is not working at the moment */
.loginControl
{
	border:#feca00;
	background: #251104;
	color:GhostWhite;
}

ul { padding: 0px; margin: 0px 0px 4px; list-style-type: none }

li { margin: 4px 0px; }


.treeview ul
{
    list-style-type: square;
    padding: 1.6em;
    margin: 0;
    font-size: 1.1em;
}

.treeview li { padding: 2px 0; }

.treeview ul li ul
{
    list-style-type: none;
    list-style-image: url(images/dash.png);
    list-style-position: inside;
    margin: 0 0 0 -1.6em;
    padding: 0 0 0 0.6em;
}

.treeview ul li ul li
{
    margin-bottom: inherit;
    padding-left: 1.6em;
}

.post h2
{
	color: #feca00;
}

.fieldLabel
{
	font-weight:bold;
	color:#feca00;
}

hr
{
	color:#FECA00;
	border-top:solid 2px #FDE500;
	height:5px;
}