<html>

<head>
<title>Parallax UI Test</title>
</head>


<frameset rows="*,600">
	<frame name="banner" frameborder="0" border="0" scrolling="no" noresize="noresize" target="contents" src="empty.htm">
	<frameset cols="800,*">
		<frame name="contents" frameborder="0" border="0" scrolling="no" noresize="noresize" target="main" src="ParallaxXbapTest.xbap">
		<frame name="main" frameborder="0" border="0" scrolling="no" noresize="noresize" src="empty.htm" target="contents">
	</frameset>
	<noframes>
	<body>

	<p>This page uses frames, but your browser doesn&#39;t support them.</p>

	</body>
	</noframes>
</frameset>


</html>
