body {
    background: #333;
    margin: 10px;
    padding: 0;
    font: 80% "Lucida Grande", Verdana, Arial, sans-serif;
    color: #333;
}

table
{
   font-size: 1.0em;
}

a {
    text-decoration: none;
    color: #00adef;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    height: 1px;
    margin: 10px -10px;
}


#container {
    background: #fff;
    padding: 6px 6px 20px;
}

#header {
    background: url(../dnsimages/header_bg.gif) repeat-x;
    height: 110px;
    font-size: 1px;
}

#logo {
    height: 110px;
}

#adbanner {
    position: absolute;
    top: 26px;
    right: 26px;
}

#navbar {
    background: url(../dnsimages/navbar_bg.gif) repeat-x;
    font-size: 11px;
    height: 36px;
}

/*
#navbar ul {
    margin: 3px 0 0 5px;
    padding: 0;
    float: left;
    list-style: none outside;
}

#navbar li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
}

#navbar a {
    float: left;
    background: transparent;
    padding: 6px 9px 7px;
    color: #fff;
    font-weight: bold;
}

#navbar a:hover {
    background: #00adef;
    text-decoration: none;
}

*/

#searchbox {
    float: right;
    margin: 4px 5px;
    font-size: 1.0em;
}

#searchbox input {
    font-size: 1.0em;
}

#footer {
    font-size: 0.85em;
    color: #aaa;
    text-align: center;
    padding: 10px 5px;
}

#sidebar {

    float: left;
    width: 100px;
    padding: 10px 5px 10px 10px;
}

#sidebar h2 {
    background: #8bc71e;
    border-bottom: 3px solid #d2ee9f;
    color: #fff;
    font-size: 1.0em;
    margin: 25px -10px 5px;
    padding: 4px 10px;
}

#sidebar .ad {
    font-size: 1.2em;
    margin-left: -10px;
}

#sidebar h2 a {
    color: #3f6618;
}

#sidebar ul {
    list-style: none outside;
    padding: 0;
    margin: 0;
    font-size: 0.85em;
}

#sidebar li {
    margin: 3px 0 3px;
    padding: 0;
    list-style: none outside;
}

#adtower {
    font-size: 1.0em;
    float: right;
    width: 140px;
    padding-top: 20px;
}

#content {

    margin: 10px 0 0 150px;
    padding: 6px 25px 6px;
    border-left: 1px solid #ccc;
}

#content h2 {
    font: normal 1.8em Georgia, "Courier New", courier, serif;
    color: #ce5c00;
    margin: 15px 0 5px;
}

#content h3 {
    font-size: 1.2em;
    color: #777;
    margin: 10px 0 0;
}

#content h4 {
    font-size: 1.1em;
    color: #000;
    margin: 10px 0 0;
}

#content h5 {
    font-size: 0.9em;
    color: #000;
    margin: 10px 0 0;
}

#content .item {
    padding: 5px 10px;
    margin: 0 -10px;
}

#content .alt, #content .box {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.CommentOwner{
    background-color:#f4efc3;
    border: 1px solid #e7d59c;
    padding: 5px 10px;
    margin: 0 -10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#content .adbox {
	margin: 0px;
	font-size: 1.0em;
}

#content .newsCategories {
	margin: 0px;
}

#content .linkAd
{
    float: right;
    text-align: 
    left;width:50%;
}

#content .small {
    font-size: 0.85em;
}

#content p.small, #content .small p {
    margin: 0px;
}

#content .gray {
    color: #777;
}

#content .box {
    margin: 20px -10px;
    padding: 5px 10px;
}

#content ul.listing {
    list-style: none outside;
    display: inline;
    padding: 0;
    margin: 0;
}

#content ul.listing li {
    margin: 3px 0 3px 5px;
    padding: 0;
    list-style: none outside;
}

#content div.list
{
    margin-top: 15px;
}


#content div.list li
{
    list-style-position: inside;
}



#sidebar .nested li ul {
    font-size: 1.0em;
    display: none;
    margin-left: 10px;
}

.clear {
    clear: both;
    line-height: 1px;
    font-size: 1px;
}

.textads {
    border: 1px solid #ddd;
    padding: 3px;
    margin: 10px 0;
    font-size: 0.85em;
}

.textadsBox
{
    width:112px;
    border: 1px solid #ddd;
    padding: 3px;
    margin: 10px 0;
    font-size: 0.85em;
}

.textads p {
    margin: 1px 0 6px;
}

#content .paging {
    color: #aaa;
}

#content .paging a {
    font-weight: bold;
}

.rating, .right {
    float: right;
    text-align: right;
}

/* Rating */
.ratingStar {
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(/dnsImages/star_active.gif);

}

.emptyRatingStar {
    background-image: url(/dnsImages/star_inactive.gif);
}

.savedRatingStar {
    background-image: url(/dnsImages/star_active.gif);
}




/* Progress bar start
-------------------------------
*/

.UpdateProgress
{
	position:fixed;        
        height:15px;
        width:125px;
        top:3px;
        right:3px;
        padding:3px 5px;
	background: #f5f5f5;
    	border: 1px solid #ddd;
        color:#000;
        font-weight:bold;
}

/* Progress bar end
-------------------------------
*/

/* Tag Styles */

.CommonTagCloud
{
	background-color: #f7f7f7;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 250%;
	list-style-type: none;
}

#sidebar .CommonSidebarTagCloud
{
	line-height: 225%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#sidebar .CommonTag1, .CommonTag1, #sidebar .CommonTag2, .CommonTag2,
#sidebar .CommonTag3, .CommonTag3, #sidebar .CommonTag4, .CommonTag4,
#sidebar .CommonTag5, .CommonTag5, #sidebar .CommonTag6, .CommonTag6
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

#sidebar .CommonTag1 a:link, .CommonTag1 a:link, 
#sidebar .CommonTag1 a:visited, .CommonTag1 a:visited, 
#sidebar .CommonTag1 a:active, .CommonTag1 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #334433;
	/*font-size: 225%;*/
	font-size: 155%;
	font-weight: 900;
}

#sidebar .CommonTag2 a:link, .CommonTag2 a:link, 
#sidebar .CommonTag2 a:visited, .CommonTag2 a:visited, 
#sidebar .CommonTag2 a:active,.CommonTag2 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #445544;
	font-size: 140%;
	font-weight: 800;
}

#sidebar .CommonTag3 a:link, .CommonTag3 a:link,
#sidebar .CommonTag3 a:visited, .CommonTag3 a:visited,
#sidebar .CommonTag3 a:active, .CommonTag3 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #556655;
	font-size: 135%;
	font-weight: 600;
}

#sidebar .CommonTag4 a:link, .CommonTag4 a:link, 
#sidebar .CommonTag4 a:visited, .CommonTag4 a:visited, 
#sidebar .CommonTag4 a:active, .CommonTag4 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #667766;
	font-size: 120%;
	font-weight: 500;
}

#sidebar .CommonTag5 a:link, .CommonTag5 a:link, 
#sidebar .CommonTag5 a:visited, .CommonTag5 a:visited, 
#sidebar .CommonTag5 a:active, .CommonTag5 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #778877;
	font-size: 100% /*100%;*/
	font-weight: 300;
}

#sidebar .CommonTag6 a:link, .CommonTag6 a:link, 
#sidebar .CommonTag6 a:visited, .CommonTag6 a:visited, 
#sidebar .CommonTag6 a:active, .CommonTag6 a:active
{
	margin-right: 6px;
	text-decoration: none;
	color: #889988;
	font-size: 80%;
	font-weight: 200;
}

#sidebar .CommonTag1 a:hover, .CommonTag1 a:hover, #sidebar .CommonTag2 a:hover, .CommonTag2 a:hover, 
#sidebar .CommonTag3 a:hover, .CommonTag3 a:hover, #sidebar .CommonTag4 a:hover, .CommonTag4 a:hover, 
#sidebar .CommonTag5 a:hover, .CommonTag5 a:hover, #sidebar .CommonTag6 a:hover, .CommonTag6 a:hover
{ 
	background-color: #dddddd;
	text-decoration: none;
}

/* End Tag Styles */

/* hiddenNetwork styles */

#dns__hdn_content {
    margin: 10px 10px 0 10px;
    /*padding: 10px 25px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/

}

#dns__hdn_content h2 {
    font: normal 1.8em Georgia, "Courier New", courier, serif;
    color: #ce5c00;
    margin: 15px 0 5px;
}

#dns__hdn_content h3 {
    font-size: 1.2em;
    color: #777;
    margin: 10px 0 0;
}


/*.hdn_adtitle {font-size: 1.0em;}
.hdn_adline { font-size: 0.8em; }
.hdn_lnks { font-size:0.8em;} */

.hdn_adsubtitle {font-size:0.9em; color:#999999; font-style:italic;}
.hdn_jb_tblistings
{
	
	font-size: 1.0em;	
	border:0;
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #white;
	border-color: white;
}

.hdn_jb_tbhdrrow { background-color:#DADADA; text-align:left; }
.hdn_jb_tbstdrow
{
	
    padding: 5px 10px;
    margin: 0 -10px;
    vertical-align: top;
}

.hdn_jb_tbaltrow
{
    background: #f5f5f5;
    /*border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
    vertical-align: top;
}

code {
	font-size: 1.2em;
	color: #990000;
}

.iTt{
        FONT-FAMILY:       Verdana, Arial, Helvetica;
        FONT-SIZE:         11px;
        FONT-STYLE:        normal;
        FONT-WEIGHT:       normal;
        COLOR:             black;
        BACKGROUND-COLOR:  lightyellow;
        BORDER:            black 1px solid;
        PADDING:           2px;
    }

#content table.box th {
		    border-bottom: 1px solid #ddd;
		    padding: 4px;
		    text-align: left;
		}
		#content table.box {
			border-collapse: collapse;
		}
		#content table.box td {
		    padding: 4px;
		}
		#content table.box tr.alt td {
		    background: #eaeaea;
		}

/* Articles */
.lightGrayBorder{border-top: solid 1px lightgray;}
.commentImg1{vertical-align:middle;padding-left:5px;padding-right:5px;}
.commentImg2{padding-right:5px;vertical-align:bottom;}
.leftLine{padding-left:4px;border-left:solid 1px lightgray;}
.commentRow{background-color: #ece9d8;}
.ArticleInfoBox{float:right;text-align:right;background: #f5f5f5;border: 1px solid #ddd;font-size:0.9em;margin:2px;padding:8px}	.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    margin: 0;
}

/*hide from IE mac\*/
* html #content
{
    height:1%;
}
/*end hide*/