/* 
   FAlbum Default Stylesheet
   =================      
   
   This is a sample stylesheet that can be used with FAblum, and is provided so that
   the default page looks half decent under the default Wordpress 1.5 theme - Kubrick
   
   This stylesheet will most probably break in other WP styles, so you can't rely 
   entirely on this stylesheet. Use it as guidance. Ultimately, style issues are not
   the fault of FAlbum.
   
   This stylesheet is commented so you know what each section does, and can customise
   it accordingly, or pull out just the sections you want.
*/

/* ----------- FAlbum Common -------------*/

.falbum-thumbnail-ds {
	margin: 5px 0px 0px 6px;
 	padding: 0px 0px 0px 0px;
}
 
.falbum-thumbnail-ds img {
	 background-color: #fff;
	 border: 1px solid #a9a9a9;
	 display: block;
	 margin: 5px 5px 5px 5px;
	 padding: 4px;
	 width: 100px;
	 height: 75px;
}