/*  core color summary:
	block background: #003399
    block alternate: #0066cc
    light alternate: #b5c7d6
    grey: #eeeeee
    warning colors: cornsilk, maroon
*/
body,table,td,th,input,textarea,select
{
    font-family: verdana, sans-serif;
    font-size: 10pt; 
}
body
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;    
}
pre
{
	color: navy;
    font-family: monospace, courier new;    
    font-weight: normal;
    line-height: normal;   
}
h1
{
    background-color: #eeeeee;
    color: navy;
    font-size: 16pt;
    height: 25pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0px;
    padding-top: 3pt;
    text-align: center
}
h2
{
    color: teal;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt
}
h3
{
    color: navy;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt
}
form
{
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt
}
table
{
 	border-collapse: collapse;
}
td
{
	border-collapse: collapse;
    border-color: lightgrey;
}
table.blackborder td
{
	border-width: 1px;
	border-color: lightgrey;
}
th
{
	border-collapse: collapse;
	font-weight: bold;
	text-align: center;
}
a 
{ color: navy; }
a:visited
{
	color: teal;
}
a:hover 
{ color: maroon;}
hr 
{ color:navy; background: navy; border: 0; height:1px;}
	
ul 
{
    margin-bottom: 0pt;
    margin-top: 2pt;
    padding-bottom: 2pt;
    padding-top: 2pt;
}	
li
{
	padding-top: 2pt;
	padding-bottom: 0pt;
}

.blackborder
{
	border-style:solid;
	border-width: 2px;
	border-color: navy;
}
/* 
   used on the main page left table column 
   the default contains the wave background
*/
.categorylistbackground
{
	width: 170px;
	background-image: url(images/newwave.jpg);
	/* background: #fff8ad; */
	vertical-align: top;
	padding-left: 4pt;
}
.smallbody 
{
    font-size: 8pt;
    font-weight: normal;
}
small
{
    font-size: 8pt;
    font-weight: normal;
}

/* block backgrounds for headers etc. */
.menuband, .gridheader, .gridheaderbig, .buttonlinks, .blockheader, .roundedcorner_center
{
	color: cornsilk;
	background-color: #003399;
	padding: 0px;
}
/* alternate background color color to offset the background
   used for the category list and banner strips for color
   variety. should be a companion color to the block background
   colors (previous tag
*/
.alternatebackground
{
	color: white;
	background-color: #0066cc;
}

/* used for any block tags like headers on tables etc. */
.blockheader
{
	font-weight:bold;
}
.weblogbanner
{
	padding-top:4px;
	font-weight:bold;
	background: #003399 url(images/floralbackground_sm.gif) ;
	height:21px;
	white-space:nowrap;
	overflow:hidden;
}
.weblogbannertext
{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;

}
.weblogbannertext:visited
{
	color: white;
}
.weblogbannertext:hover
{
	color: #003399;
	background: white url(images/menuhighlight.png) repeat;
}

.bannertitletext 
{
	color: #003399;
	font-size: 24pt;
	font-family: verdana;
	font-weight: bold;	
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
.banner
{
	font-weight:bold;
	background: #003399 url(images/floralbackground_sm.gif) ;
	height:24px;
	white-space:nowrap;
}

/* menu text for the banner below the logo */
.bannertext
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.bannertext:visited
{
	color: white;
}
.bannertext:hover
{
	color: #003399;
	background: white url(images/vertgradient.png) repeat;
}
.comment
{
	background: url(images/lightbluegradient.png) repeat-x top;
	border: solid 1px navy;
	padding: 5px 8px 8px 8px;
	margin: 15px 0px 15px 0px;
}
.commentauthor
{
	background: url(images/lightorangegradient.png) repeat-x top;
}
.byline 
{ 
	background: transparent url(images/time.gif) no-repeat; 
	padding-left:16px; 
	font-size: 8pt;
	xfloat:left;
}
.commenttime
{
	background: transparent url(images/time.gif) no-repeat; 
	padding-left:16px;
	margin-left: 5px; 
}
.commentcount
{
	background: transparent url(images/comment.gif) no-repeat; 
	padding-left:20px; 
	min-height: 18px;
	font-size: 8pt;
	float:right;
}
.postcontent
{
    line-height: 1.4em;    
}
/* used on the category list as a standard link */
.menucolumn 
{ 
	padding:5px;
	border-bottom: solid 1px white ;
}
.menulink
{
    color: black;    
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none ;
    display:block;
    text-align:left;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 5px;
    margin-right:5px;
}
.menulink:visited { color: black; } 
.menulink:hover { color:navy;text-decoration:none; font-weight:normal;background: white url(images/menuhighlight.png) repeat-x;border: solid 1px darkgray;}
.menuband
{	
	font-weight: bold;
	height: 20px;
	padding-top: 5px;
	text-align: center;
}
.buttonlinks 
{
    font-weight:bold;
    text-decoration: none;
    display: block;
    padding:2px;
}
.buttonlinks:visited { color: cornsilk; }
.buttonlinks:hover { color:navy; text-decoration:none; background:white;} 

.submitbutton
{
	font-weight: bold;
	height: 35px;
	width: 200px;
	background: url(images/submitbutton.gif);
	color: lemonchiffon;
	border: none 0px;
}
.submitbutton:hover { background: url(images/submitbuttonhover.gif); } 
.submitbutton:active { background: url(images/submitbuttonpressed.gif); }

.gradienthighlight
{
	background: white url(images/horizontalgradient.gif) repeat-y;
}
.gridheader, .gridheaderbig
{
	height: 18px;
	padding: 4px;
	background: #003399 url(images/vertgradient.gif) repeat-x bottom;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.gridheaderleft
{
	text-align: left;
}
.gridheaderbig
{
	background: url(images/vertgradient40.gif) repeat-x bottom;
}
.gridnormal
{
	background-color: #eeeeee;
}
.gridalternate
{
	background-color:#b5c7d6;
}
.gridhighlight
{
	background-color:#ffcc66;
	cursor:pointer;
}
.errormessage
{
	font-size: 10pt;
	font-weight: bold;
	color: maroon;
}
.errordisplay
{
	font-size: 10pt;
	font-weight: normal;
	color: maroon;
	border:solid 2px maroon;
	background-color:cornsilk;
	padding-left:15pt;
	padding-right:10pt;
	line-height: 15pt;
}
.errordisplay hr
{
	color: maroon;
}
.toolbarcontainer  
{
	background:#eeeeee;border: solid 1px silver;padding: 5px; 
}
.hoverbutton  
{
	text-decoration:none;padding-top:33px; padding: 2px; border: solid 1px whitesmoke; font-size: 8pt;
}
.hoverbutton:hover  
{
	background: white url(images/menuhighlight.png);  border: solid 1px silver; 
}     

.tabbutton, .selectedtabbutton
{
	font-size: 8pt;
	background: transparent url(images/tabnormal.gif) no-repeat;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
	color: navy;
	width: 120px;
	border: none 0px;
	margin: 0px;
	padding:0px;
}
.tabbutton:hover
{
	background: transparent url(images/tabhover.gif) no-repeat;
}
.selectedtabbutton 
{ 
	font-weight: bold; 
	color: white; 
	background:transparent url(images/tabselected.gif) no-repeat;
	cursor:default;
}

.roundedcordner_ul, .roundedcorner_ur
{
	height:25px;
	width: 20px; 
	padding: 0px;
}
.roundedcorner_ul
{
	background: url(images/corner_ul.gif) no-repeat;
}
.roundedcorner_ur
{
	background: url(images/corner_ur.gif) no-repeat;
}
.roundedcorner_center
{
	height:20px; 
	text-align: center;
	padding: 2px 0px 0px 0px;
	font-weight: bold;
	background-color: #003399;
}


.csharpcode
{
	color: black;
	font-family: monospace, courier new , courier;
	font-weight: normal;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0px; }
.rem { color: #008000; }
.kwrd { color: #0000ff; }
.str { color: #006080; }
.op { color: #0000c0; }
.preproc { color: #cc6633; }
.asp { background-color: #ffff00; }
.html { color: #800000; }
.attr { color: #ff0000; }
.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
}
.lnum { color: #606060; }

.showcode { background:cornsilk;border:solid 2pt maroon;padding-left:20px; }
.commentcode { background:cornsilk;border:solid 1pt maroon; padding:0px; padding-left:20px; padding-right: 15px; margin:5px; }
.commentcode .csharpcode {font-size: 8pt; }


/* Lounge Ad styles */
/*
.tlp { font-size: 10px; font-family: verdana, arial;}    
    .tli{ 
	    float: left;
	    margin-left: 0px;
	    margin-right: 10px;
	    margin-bottom: 4px;
	    margin-top: 5px;    
    }
    .tlp{ 
	    display: inline;
	    font-size: 10px;
	    line-height: 15px;
	    margin-top: 5px;
    }
    
    #wedje_div_thelounge, .loungead{ width: 270px; }
    
    .adsvia{ margin-top: 8px; font-size: 8pt }
*/    
    
    .tlp{ font-size: 10px; font-family: verdana, arial;}    

    .tli{ 
	    float: none;
	    margin-left: 0px;
	    margin-right: 10px;
	    margin-top: 5px;    
    }
    .tlp{ 
	    display: block;
	    font-size: 10px;
	    line-height: 15px;
	    margin-top: 5px;
    }
    
    #wedje_div_thelounge{ width: 140px; }
    
    .adsvia{ margin-top: 8px;}

