/* Page layout */

.DeepTreeLibraryPage
{
	width: 100%;
}

.RightPanel
{
	vertical-align: top;
	font-size: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Content region */
div.ContentArea
{
	margin: 20px;
	line-height: 140%;
}

html
{
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0; /* hide overflow:hidden from IE5/Mac */ /* \*/
	overflow: hidden; /* */
}

body
{
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
}

.head
{
   position: absolute;
   top: 0;
	display: block;
	width: 100%;
	z-index: 5;
	height: 127px;
}
.tocPanel
{
	position: absolute;
	top: 127px;
	bottom: 0px;
	left: 0;
	z-index: 1;
	overflow:hidden;
		border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.tocFrame
{
	width: 100%;
	height: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
  background-image: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg);
  background-repeat: repeat-y
}

.contentPanel
{
	position: absolute;
	top: 127px;
	bottom: 0px;
	left: 0;
	z-index: 1;
	overflow: auto;
}
.SplitterBar
{
	position: absolute;
	top: 127px;
	bottom: 0px;
	left: 0;
	z-index: 3;
	overflow: auto;
}
* html .tocPanel, * html .contentPanel, * html .SplitterBar
{
	height: 100%;
	top: 0px;
	bottom: 0;
	margin-right: 0px;
	overflow: auto;
	border-top: 127px solid #fff;
}

.SplitterBar
{
	left: 250px;
	width: 5px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: e-resize;
	margin: 0px;
	padding: 0px;
	background-color: #BBBBBB;
	background-image: url('/msdn/controls/resizablearea/en-us/lib_grippy.gif' );
}

.contentPanel
{
	left: 255px;
	right: 0px;
	overflow: auto;
}

.tocInner
{
	display: block;
  background-image: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg);
  background-repeat: repeat-y;
}
.contentInner
{
	display: block;
	margin-right: 0px;
}
.innerSplitter
{
	display: block;
}

div.code
{
	background-color:	#DDDDDD;
	border-bottom: solid 10px #ffffff;
	margin: 0px;
	padding: 0px;
}


/*
Start PagePlanner Style - moved from global.css
*/
DIV.navpage
{
    margin: 5px;
}

div.navpage table
{
    border-collapse:collapse;
    margin: 10px 0 10px 0;
}

div.navpage table p
{
    margin:0px;
    padding: 0px;
}

div.navpage table th, div.navpage table td
{
    padding: 5px;
    text-align: left;
    font-size: 70%;
}

div.navpage table th
{
    background: #cccccc;
    vertical-align: bottom;
}

div.navpage table th p
{
    font-weight: bold;
}

div.navpage table td
{
    vertical-align: top;
    border: solid 0px #cccccc;
}

.innercol
{
    border-right: 1px solid #aaaaaa;
}
/* End PagePlan Style */

.clearHeader {
	clear: both;
	height: 21px;
}
#globalBar {
	position: absolute;
	height: 21px;
	top: 0px;
	left: 0px;
	z-index: 3;
	padding: 0 4px 0 8px;
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	vertical-align: middle;
	background-color: white;
}
/* GlobalBar overrides for the MTPS controls */
#globalBar TR TD Div A, #globalBar TR TD Div A Span
{
	color: blue;
	font-weight: normal;
	text-decoration: none;
}

#globalBar TR TD Div Span A:Hover
{
	text-decoration: underline;
}

#globalBar TR TD Span, #globalBar TR TD Div
{
	border: none 0;
	color: black;
}
#globalBar TR TD Span, #globalBar TR TD Div
{
	border: none 0;
	color: black;
}
#globalBar TR TD Div Table A
{
	color: Black;
	text-decoration: none;
	font-size: 11px;
}
#globalBar TR TD Div.LocaleManagementFlyoutStatic_msdn, #globalBar TR TD Div.QuickLinksFlyoutStatic_msdn, #globalBar TR TD Div.UserRecognitionFlyoutStatic_msdn, #globalBar TR TD Div.LocaleManagementFlyoutStatic_technet, #globalBar TR TD Div.QuickLinksFlyoutStatic_technet, #globalBar TR TD Div.UserRecognitionFlyoutStatic_technet
{
   border: solid 1px white;
}
#globalBar TR TD Div.QuickLinksFlyoutStaticHover_msdn, #globalBar TR TD Div.QuickLinksFlyoutStaticHover_technet
{
   border: solid 1px silver;
}
#globalBar TR TD Div.LocaleManagementFlyoutStaticHover_msdn, #globalBar TR TD Div.LocaleManagementFlyoutStaticHover_technet
{
   border: solid 1px silver;
}
#globalBar TR TD Div.UserRecognitionFlyoutStaticHover_msdn, #globalBar TR TD Div.UserRecognitionFlyoutStaticHover_technet
{
   border: solid 1px silver;
}
#globalBar TR TD Div Img.LocaleManagementFlyoutPopArrow, #globalBar TR TD Div Img.QuickLinksPopArrow, #globalBar TR TD Div Img.UserRecognitionFlyoutPopArrow
{
}
#globalBar TR TD Div.QuickLinksFlyoutPopup, #globalBar TR TD Div.LocaleManagementFlyoutPopup, #globalBar TR TD Div.UserRecognitionFlyoutPopup
{
   border: solid 1px black;
}
#globalBar TR TD Div.LocaleManagementFlyoutStatic_msdn, #globalBar TR TD Div.LocaleManagementFlyoutStaticHover_msdn, #globalBar TR TD Div.LocaleManagementFlyoutStatic_technet, #globalBar TR TD Div.LocaleManagementFlyoutStaticHover_technet
{
}
#globalBar TR TD Div.UserRecognitionFlyoutStatic_msdn, #globalBar TR TD Div.UserRecognitionFlyoutStaticHover_msdn, #globalBar TR TD Div.UserRecognitionFlyoutStatic_technet, #globalBar TR TD Div.UserRecognitionFlyoutStaticHover_technet
{
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_msdn Span, #globalBar TR TD .UserRecognitionFlyoutStaticText_msdn, #globalBar TR TD .MTPS_GlobalToolbarLinks_msdn, #globalBar TR TD A.UserRecognitionFlyoutStaticLink_technet Span, #globalBar TR TD .LocaleManagementFlyoutStaticLink_msdn, #globalBar TR TD a.QuickLinksFlyoutStaticLink_msdn span
{
   font-weight: bold;
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_msdn Span, #globalBar TR TD A.UserRecognitionFlyoutStaticLink_technet Span, #globalBar TR TD DIV.QuickLinksFlyoutStatic_msdn span, #globalBar TR TD DIV.QuickLinksFlyoutStaticHover_msdn span
{
   font-weight: normal;
}
#globalBar TR TD A.UserRecognitionFlyoutOtherLink_msdn, #globalBar TR TD A.UserRecognitionFlyoutOtherLink_technet, #globalBar TR TD .LocaleManagementFlyoutStaticLink_msdn, #globalBar TR TD a.QuickLinksFlyoutStaticLink_msdn span
{
   color:  #343434;
}

/* End PagePlan Style */

/* TabStrip overrides for Quirks mode */
* html #TabStrip table tbody tr td
{
   font-size: 70%;
}
* html Input.TabStrip_SearchBox, * html Input.TabStrip_SearchBoxActive
{
   width: 174px;
   margin: 0px;
   padding: 0px 2px 0 2px;
	height: 21px;
}
* html Input.TabStrip_SearchButton
{
	margin-left: -4px;
}
* html Table.scopeArrow_msdn, * html Table.scopeArrow_, * html Table.scopeArrow_technet
{
	margin-left: -4px;
}
/* end TabStrip overrides for Quirks mode */

/* footer style override */
#footer table tbody tr td, #footer table tbody tr td span
{
    border-color: White;
	background-image: none;
	background-color: white;
	color: black;
}
#footer table tbody tr td IMG
{
	display: none
}
#footer table tbody tr td.MTPS_FooterLogo_msdn, #footer table tbody tr td.MTPS_FooterLogo_technet
{
	width: 150px;
	background-image: url(blkmslogo.gif);
	background-position: left 20px;
	background-repeat: no-repeat;
}
#footer A
{
	color: black;
}
/* end footer style override */ 







