BODY {
	BACKGROUND: white; MARGIN: 0px; COLOR: black; FONT-FAMILY: helvetica, sans-serif
}
.blogTitle {
	MARGIN: 0pt; WIDTH: 100%; COLOR: aqua; BORDER-BOTTOM: black thin double; BACKGROUND-COLOR: navy
}
.blogTitle P {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; PADDING-BOTTOM: 3pt; MARGIN: 3pt; PADDING-TOP: 3pt
}
.blogTitle H1 {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; PADDING-BOTTOM: 3pt; MARGIN: 3pt; PADDING-TOP: 3pt
}
.blogTitle A:link {
	COLOR: #33ffff
}
.blogTitle A:visited {
	COLOR: #99cccc
}
.blogBody {
	MARGIN: 10pt
}
.blogDate {
	FONT-SIZE: medium; FONT-STYLE: italic
}
.blogNav {
	BORDER-RIGHT: black thin solid; PADDING-RIGHT: 8pt; BORDER-TOP: black thin solid; MARGIN-TOP: 3pt; PADDING-LEFT: 6pt; FONT-SIZE: smaller; PADDING-BOTTOM: 12pt; BORDER-LEFT: black thin solid; PADDING-TOP: 8pt; BORDER-BOTTOM: black thin solid; TEXT-ALIGN: left
}
.blogRightColumn {
	FLOAT: right; MARGIN: 6pt 3pt
}
.blogNav H3 {
	FONT-WEIGHT: normal; MARGIN-BOTTOM: 4pt; FONT-STYLE: normal; FONT-VARIANT: small-caps
}
.blogNav TR P {
	MARGIN: 0px
}
TABLE.blgTb {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; MARGIN: 5px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid
}
.blgTbFstCol {
	BORDER-RIGHT: 1px solid; FONT-WEIGHT: bolder; BACKGROUND-COLOR: #cccccc
}
TABLE.blgTb TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.blgTb TH {
	FONT-WEIGHT: bolder; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #cccccc
}
