body{ 
  background-image : url(http://blogs.msdn.com/photos/llester/images/1523168/original.aspx);

} 

#nav

{

  width: 1092px;
  background-color: #FEFFF1;

}

 

#main {

  width: 800px;
  background-color: #FEFFF1;
}

 

#content

{

  width: 1092px;
  background-color: #FEFFF1;
}


#masthead 

{
width: 1104px;
margin-top : -10px;
margin-bottom : 0px;
margin-top : -10px;
background-repeat: no-repeat;
background-color: transparent;
background-image: url(http://blogs.msdn.com/photos/llester/images/1522858/original.aspx);


}
