.wpfTests_iframeXbap
{
  padding: 8px 8px 8px 8px;
  border: solid 2px Blue;
  background-color: #AAAAFF;
  height: 300px;
}

.wpfTests_divControls
{
  border: solid 2px Green;
  padding: 8px 8px 8px 8px;
  width: 300px;
  margin-bottom: 24px;
}

.wpfTests_divStatus
{
  margin: 8px 0px 8px 0px;
  font-size: 13px;
  margin-bottom: 24px;
}