

body, html
{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    background-image: none;
}

a:link
{
    color: #0066AA;
}

a:hover, a:active
{
    color: #0066AA;
}

a:visited
{
    color: #0066AA;
}

#masthead, #header
{
    background-color: #AADDFF;
}

h1.headermaintitle
{
    color: #0066AA;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

h1.headermaintitle a:link, h1.headermaintitle a:visited, h1.headermaintitle a:active
{
    color: #0066AA;
}

h2.pageTitle
{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.postsub h2
{
    color: #0066AA;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.postsub h2 a:link, .postsub h2 a:visited, .postsub h2 a:active, .postsub h2 a:hover
{
    color: #0066AA;
}

#sidebar-a h3
{
    color: #0066AA;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #AADDFF;
}

#sidebar-a
{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#sidebar-a ul, #sidebar-a p
{
    font-size: .9em;
}

#sidebar-a a:link
{
    color: #0066AA;
}

#sidebar-a a:visited
{
    color: #0066AA;
}

#sidebar-a a:active, #sidebar-a a:hover
{
    color: #0066AA;
}

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
    color: #001155;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
    color: #002266;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
    color: #003377;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
    color: #004488;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
    color: #005599;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
    color: #0066AA;
}

#header h1, #sidebar-a h3, #sidebar-a ul, #sidebar-a p, #news, #cal
{
    border-color: #6699AA;
}

#contentwrapper
{
    width: 100%;
}

#content
{
    margin-right: 250px;;
}

#sidebar-a
{
    width: 250px;;
}

