BODY
{
	font-family: Verdana, Sans-Serif;
	font-size:10pt;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	background: #CC0000;
}

INPUT
{
  background-color: #FFFFFF;
  border: solid 1px #999999;
}

h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

#guidelines p, #guidelines li, #guidelines div { font-size: 12px ;}

a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

TEXTAREA
{
  background-color: #FFFFFF;
  border: solid 1px #999999;
}

td
{
	text-align: left;
	vertical-align: top;
}

.checkBoxList INPUT
{
  border: none;
}

.borderless
{
  border: none;
}

.checkbox INPUT
{
  border: none;
}

/* Left column */
.leftColumn
{
  background-color: #CE0000;
  padding-left:2px;
  padding-right:2px;
  text-align: center;
  vertical-align: top;
  width: 180px;
  
}

/*
.leftColumn .ad
{
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
*/

.contentColumn /* contains contentTable which has two TD tags -- the center column and the right column */
{
	vertical-align: top;
	padding: 2px;
	width: 100%;
	background-color: #FFFFFF;
}

.contentTable
{
	width:100%;
	vertical-align:top;
	text-align:left;
	border:medium 1px inherit;	
}

.rightColumn
{
  background-color: #FFFFFF;
  padding-left:2px;
  padding-right:2px;
  text-align: center;
  vertical-align: top;
  width: 130px;
  height: 800px;  
}

.headerRow TD
{
  font-size: 75%;
  font-weight: bolder;
}

.headerRow
{
  background-color: #CC0000;
}

.bannerRow
{
  background-color: #FFFFFF;
}

.footerRow
{
  background-color: #FFFFFF;
  font-size: 60%;
  padding-top: 5px;
}

.footer
{
  color: #999999;
  font-size:x-small;
  font-weight: bold;
}

.articleFooter
{
	background-color:#EEEEEE;
	color:#666666;
	font-size:x-small;
	font-weight:bold;
}


.articleFooter a
{
	background-color: transparent;
	color: #0000CC;
	text-decoration: none;
	font-weight:bold;
}

.articleFooter a:hover
{
	background-color: White;
	color: #990000;
	text-decoration: underline;
	font-weight:bold;
}

.subtitle, .pageTitle, .errorMessage .standout
{
  color: #CC0000;
  font-size: 80%;
  font-weight: bolder;
}
.errorMessage .standout
{
	font-size: 100%;
}
.pageTitle
{
	font-size: medium;
}

.textTitle
{
	font-weight: bold;
}

.backToTop
{
	font-size: 80%;
}
.title
{
  background-color: #666666;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.articletitle
{
  background-color: White;
  color: Black;
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  border: solid 1px silver;
  font-size: 180%;
}

.articleListing,
.spotlightCell
{
	padding: 3px 1px 3px 1px;
}

.header TD
{
  background-color: #CC0000;
  color: #FFFFFF;
  font-weight: bolder;
}

.ratingBar
{
  color: #888888;
  font-size: 80%;
  padding: 6px 0px;
}

.redRatingBar
{
  background-image: url(/images/rb.gif);
  height: 16px;
  overflow: hidden;
  width: 0px;
}

.greyRatingBar
{
  background-image: url(/images/gb.gif);
  background-position: right;
  height: 16px;
  overflow: hidden;
  width: 90px;
}

.pageList
{
  color: #CC0000;
  font-size: 80%;
  font-weight: bolder;
  background-color:#CCCCCC;
  text-align:left;
  border: solid 1px #990000;
}

.author
{
  color: #333333;
  font-weight: bold;
}

.date
{
  color: #666666;
}

.pageInformation
{
  color:#888888;
  font-size: 80%;
  white-space: nowrap;
  text-align: right;
}

.abstract
{
  margin-left: 10px;
}

div.abstract
{
  font-size: 110%;
  height: 33px;
  overflow:visible;
  width: 100%;
}

.articleListing
{
  border: solid 1px #990000;
  margin: 5px;
  padding : 5px;
  width: 100%;
}

.feedColumn
{ 
	border: solid 1px #990000;
	margin: 5px;
	padding : 5px;
	width: 50%;
}

.articleProductSpotlight
{
  border: solid 1px #990000;
  font-size: 110%;
  margin: 5px;
  padding : 5px;
  width: 100%;
}

.articleProductSpotlight A
{
  font-weight: bolder;
}

.photo
{
  vertical-align: middle;
  text-align: center;
}

hr.line
{
  color: #CC0000;
}

.displayContract
{
	overflow: auto;	
	
	height: 400px;
	border: solid 1px #CC0000;
	padding: 10px 10px 10px 10px;
}

/* RTB */
.richTextBox
{
  border: solid 1px #DDDDDD;
}

.richTextBox IFRAME
{
  border: none;
}

.relatedSites
{
  background-color: #FFFFFF;
  border-left: solid 1px #FFFFFF;
  border-top: solid 1px #FFFFFF;
  border-bottom: solid 1px #990000;
  border-right: solid 1px #990000;
  font-size: 80%;
  font-weight: bolder;
  margin-top: 15px;
  padding: 4px;
  padding-bottom: 10px;
  text-align: center; 
}

/* Homepage elements */
div.productSpotlight
, div.eventsListing
{
  border: #000000 2px solid;
  clear: both;
  float: right;
  margin: 2px;
  margin-top: 0px;
  padding: 3px;
  width: 250px;
}

TD.featuredSponsor
{
  background-color: #666666;
  color: #FFFFFF;
  font-size: 80%;
  font-weight: bolder;
  padding: 3px;
  text-align: center;
}

.moreLink
{
  font-size: 80%;
  font-style: italic;
  font-weight: bolder;
}

.printViewHeader
{
	text-align:left;
}

.printViewTable
{
	width: 600px;
	border: solid 1px #990000;
	background-color: #FFFFFF;
}

.articleViewer
{
	width: 100%;
	position: relative;
}
.rating
{
	color: #990000;
}

.mainTable
{
	background-color:Transparent;
	width: 100%;
}

.headerTable
{
	background-color: #ce0000;
	width: 100%;
	height: 100px;
}

.headerLeftCell
{
	background-color: transparent;
	background-image: url(http://aspalliance.info/images/aspalliance_logo_byline_white_173x80.gif);
	cursor:pointer;
	width: 173px;
}

.headerAdCell
{
	background-color: transparent;
	padding-left: 30px;
	vertical-align: middle;
}

.CommunityTab
{
	background-color: #000000;
	font-size:90%;
	height: 18px;
	width: 100%;
	color: White;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align:left;
}

.CommunityTab a:link, .CommunityTab a:visited
{
	color: #FFFFFF;
}

.CommunityTab a:hover, .CommunityTab a:active
{
	color: #CCCCCC;
	text-decoration: underline;
}


.breadCrumbTable
{
	background-color: #3D3D3D;
	width: 100%;
	height: 25px;
	border-top: solid #FFFFFF 1px;
	border-bottom: solid #FFFFFF 1px;
}

.breadCrumbTable td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #DDDDDD;
	vertical-align: middle;
	width: 50%;
}

.breadCrumbCell
{
	padding-left: 40px;
	text-align: left;
}

.breadCrumbLoginCell
{
	padding-right: 10px;
	text-align: right;
	white-space:nowrap;
}

.breadCrumbTable a:link, .breadCrumbTable a:visited
{
	background-color: transparent;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}

.breadCrumbTable a:hover, .breadCrumbTable a:active
{
	background-color: white;
	color: #CC0000;
	text-decoration: underline;
	font-weight:bold;
}

.Report
{
	font-size:xx-small;
	font-family:Arial, Verdana, Sans-Serif;
	background-color:Red;
}
.Report thead
{
	background-color:#EEEEFF;
	color:Blue;
	font-weight:bold;
	font-size:x-small;
}
.Report tbody
{
	background-color:White;
	color:Black;
	font-weight:bold;
}

.RatingTable
{
	background-color:#FFEFEF;
}

.RatingTable THEAD
{
	font-weight:bold;
	font-size:larger;
	background-color:#660000;
	color:White;
}

.articleListing, .altArticleListing
{
  border: solid 1px #dddddd;
  margin-bottom: 5px;
  padding : 5px;
}

.altArticleListing
{
	background-color: #ededed;
}

.MenuBox
{
	color:#900B09;
	background-color:#EEEEEE;
	text-align: left;
	width: 180px;
}

.MenuBox thead td
{
	color:#900B09;
	text-align:center;
	font-weight: bold;
}

.MenuBox tbody a:link, 
.MenuBox tbody a:visited
{
	text-decoration:none;color:black;background-color:transparent
}

.MenuBox tbody a:hover, 
.MenuBox tbody a:active
{
	text-decoration:underline;color:#900B09;background-color:transparent;
}

/* this is kept around because ads.aspalliance.com depends on it -- get rid of it when you update ads.aspalliance.com 
to use .MenuBox instead. */
.PartnerBox
{
	font-family: verdana;
	font-size: 9px;
	font-weight:bold;
	background-color: #3d3d3d;
	color: white;
	padding: 4px;
	width: 180;
	border: solid white 1px;
}

.PartnerBox thead
{
	text-align:center;
	font-size:10px;
}

.PartnerBox tbody a:link,
.PartnerBox tbody a:visited
{
	color:white;
	text-decoration:none;
}

.PartnerBox tbody a:hover,
.PartnerBox tbody a:active
{
	background-color:#EFEFEF;
	color:#3d3d3d;
	text-decoration:underline;
}
/* End Ads.AspAlliance.com Dependency */

.TL
{
	color:#900B09;
	background-color:White;
	text-align: left;
	width: 100%;
	font-size:90%;
}

.TL thead td
{
	color:#900B09;
	text-align:center;
	font-weight: bold;
}

.TL tbody a:link, 
.TL tbody a:visited
{
	text-decoration:none;color:black;background-color:transparent
}

.TL tbody a:hover, 
.TL tbody a:active
{
	text-decoration:underline;color:#900B09;background-color:transparent;
}


/* Search box */
SPAN.search
{
  color: White;
}

INPUT.search
{
  background-color: #FFFFFF;
  color: #CC0000;
  font-weight: bolder;
  width: 150px; 
}

img
{
	border: none;
	padding: 0px;
	margin: 0px;
}

.smallUrl
{
	font-family:Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	font-size:x-small;
}

.AuthorTable
{
	width:100%;
	padding:3px 3px 3px 3px;
	margin:0px 0px 0px 0px;
}
.AuthorTable td
{
	background-color:#EEEEFF;
}
.AuthorTable .header
{
	font-weight:bold;
	width:25%;
}	

/* Word Article */
.MsoNormal
{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
}
.ArticleTitle
{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Verdana, Sans-Serif;
	color:#CE0000;
	font-weight:bold;
}
.PageTitle
{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:12.0pt;
	font-family:Verdana, Sans-Serif;
	color:#CE0000;
	font-weight:bold;
}
.SectionHeading
{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:Verdana, Sans-Serif;
	color:#CE0000;
	font-weight:bold;
}
.CodeListingHeading
{
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana, Sans-Serif;
	font-weight:bold;
	text-decoration:underline;
}
.MsoListBullet
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:Verdana;}
.MsoListNumber
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:Verdana;}
.Bold
	{font-weight:bold;}
.Italic
	{font-style:italic;}
.Underline
	{text-decoration:underline;}

/* Moving Toward a Table-Less Desgn */
#header { 
float: left;
width:1000px;
height: 100px;
background:#CC0000;
margin:0px;
padding:0px;
}
#logoleft { 
	background-color: transparent;
	background-image: url(http://aspalliance.com/images/aspalliance_logo_new_byline_white_173x79.gif);
	cursor:pointer;
	height: 80px;
	width: 173px;
	float: left;
}
#communitybar { 
	background-color: black;
	height: 15px;
	text-align: right;
	float: right;
	font-size: 90%;
	color: white;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 627px;
	padding: 0px 5px 0px 0px;
}

#communitybar a:link, #communitybar a:visited
{
	color: #FFFFFF;
}

#communitybar a:hover, #communitybar a:active
{
	color: #CCCCCC;
	text-decoration: underline;
}
#blackangle
{
	background-color: transparent;
	background-image: url(http://aspalliance.info/images/blackcorner_36x18.gif);
	float: right;
	height: 15px;
	width:36px
}
#banner
{
	margin: 5px 0px 2px 10px;
	float: left;
	vertical-align: middle;
}
#buttons
{
	margin: 5px 0px 0px 20px;
	float: left;
	vertical-align: middle;
}
#mainContent
{
	float: left;
	width: 1000px;
	background-color: #FFFFFF;
}

.aspaBullets
{
	color: #CC0000;
	list-style-type: square;
}

/* text ad box */
fieldset{ 
display:block; 
/*float:left; */
width:135px!important; 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:smaller; 
margin-top:20px; 
margin-left:10px; 
border:1px solid #CCCCCC; 
} 

legend{ 
padding:2px 5px; 
border:1px solid #CCCCCC; 
} 

#textadcontent{ 
display:block; 
float:left; 
padding:10px; 
} 

#textadcontent TABLE TR TD {
	font-size:xx-small;
	padding:2px 5px 2px 5px;

}

#textadcontent TABLE 
{
}
/* end text ad box */

.watermark
{
    color: Silver;
}

/* styles added for Jobs section */
#main
{
    margin: 3px 0px 0px 3px;
    width: 564px;
    font: Verdana, sans-serif small;
    float: left;
}
#sideBar
{
    width: 255px;
    float: right;
}
#main h4
{
    margin: 0px;
    padding: 0px;
    color: #cc0000;
    font-weight: normal;
}
#main h2
{
    color: Black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 1em;
}
#main .smallLink
{
    font-size: x-small;
}
#sideBar p
{
    margin: 0px;
    padding: 0px;
    font-size: x-small;
}
.rssFeedList
{
    line-height: 135%;
}
.rssFeedList a
{
    padding: 0px 0px 0px 18px;
    background: url(../images/bullet_5px_square.gif) no-repeat 6px 6px;
}
.rssFeedHeader
{
    border: solid 1px #cccccc;
    background: #dde6f4 url(http://aspalliance.info/images/aspadvicelogo-129x29.gif) no-repeat left top;
    padding: 0px 0px 0px 138px;
    vertical-align: middle;
    height: 29px;
}
