/* This contains the whole badge */
.fb_badge {
  padding: 0px;
  border: 0px;
  margin: 0px;

  /* clear out things that get inheritted and apply some basic stuff we normally set in facebook.css.
   * this doesn't actually prevent people from modifying the style of the badge if they want to, but it
   * does make it less likely that a page with funky css styles will accidentally make a badge ugly. */
  overflow: hidden;
  background: #fff;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}
.fb_badge .wbr {
  /* trick to get long words to wrap properly */
  display: block;
  float: left;
}
.fb_badge wbr:after {
  /* this makes opera respect wbr tags. */
  /* firefox and ie already do. */
  /* opera likes &shy;, but that causes other problems on other browsers. */
  /* safari is clueles about both. */
  content: "\00200B"
}

.fb_root_vert {
  width: 120px;
}
.fb_root_horiz {
  height: 84px;
  width: 300px; /* this will expand to fit the contents of the badge, but we start with a reasonable default */
}

.fb_badge img {
  display: block;
  border: 0px;
}
.fb_badge a {
  color: #3B5998;
  text-decoration: none;
}

/* This is the badge itself */
.fb_horiz {
  background: white;
  padding: 0px;
  border-right: 1px solid #d8dfea;
  border-bottom: 1px solid #d8dfea;
  border-top: 1px solid #d8dfea;
  height: 82px !important;
  height: 81px; /* ie needs an extra pixel */
  width: 1000px; /* This will get updated by badge.js:BadgeLoaded */
}
.fb_root_horiz .fb_logoimage {
  float: left;
}
.fb_vert {
  background: white;
  padding: 0px;
  border-right: 1px solid #d8dfea;
  border-bottom: 1px solid #d8dfea;
  border-left: 1px solid #d8dfea;
  width: 118px;
}

/* emails are displayed as divs with image backgrounds (since the images
 * themselves are too wide to fit in the badge) - specify the appropriate size. */
.fb_vert .fb_emailImg {
  height: 14px;
  width: 108px;
}
.fb_horiz .fb_emailImg {
  height: 14px;
  width: 130px;
}

.fb_object {
  padding: 5px;
}
.fb_vert .fb_object {
  line-height: 13px;
  padding-top: 0px; /* gets padded below via .fb_vert .fb_object table th/.fb_imageitem */
}
.fb_horiz .fb_object {
  float: left;
  line-height: 14px;
}

.fb_object table {
  border-collapse: collapse;
}
.fb_vert .fb_object table {
  width: 108px;
}

.fb_object table th {
  font-size: 11px;
  font-weight: normal;
  color: #777;
}
.fb_object table td {
  font-size: 11px;
}
.fb_horiz .fb_object table th {
  padding-right: 5px;
  text-align: right;
}
.fb_vert .fb_object table th {
  padding-top: 5px;
  text-align: left;
}
.fb_vert .fb_object table tr td {
  /* in case they have any really long words, we don't want to expand the badge */
  display: block;
  overflow: hidden;
  width: 108px;
}
.fb_vert .fb_object table .fb_imageitem {
  padding-top: 5px;
  text-align: center;
}
.fb_vert .fb_object table .fb_imageitem img {
  margin: 0px auto;
}

.fb_badge .fb_imgarrnextshadow {
  margin-left: -1px;
  margin-top: -10px;
  font-size: 9px;
  line-height: 9px;
  color: #000;
  font-weight: bold;
  z-index: 99;
}
.fb_badge .fb_imgarrnextshadow a {
  color: #000;
  font-weight: bold;
  z-index: 99;
}
.fb_badge .fb_imgarrnext {
  margin-top: -8px;
  font-size: 9px;
  line-height: 9px;
  color: #FFF;
  font-weight: bold;
  z-index: 100;
}
.fb_badge .fb_imgarrnext a {
  color: #FFF;
  font-weight: bold;
  z-index: 100;
}
.fb_badge .fb_imgarray {
  z-index: 1;
}
.fb_badge .fb_imgarray img {
  z-index: 1;
}

/* These are max width/height values.  badge.js:SetImageSize will reduce these
 * if necessary (ie if the image is smaller than the maximum value).  We
 * default to these to minimize bounciness while the badge loads. */
.fb_vert .fb_imageitem img {
  width: 108px;
}
.fb_horiz .fb_imageitem img {
  height: 72px !important;
  height: 71px; /* ie needs an extra pixel */
}
