.gslb_rsbDivCode .rem { color: #008000; }

.gslb_rsbDivCode .kwrd { color: #0000ff; }

.gslb_rsbDivCode .str { color: #A31515; }

.gslb_rsbDivCode .op { color: #0000c0; }

.gslb_rsbDivCode .preproc { color: #0000ff; }

.gslb_rsbDivCode .asp { background-color: #ffff00; }

.gslb_rsbDivCode .html { color: #800000; }

.gslb_rsbDivCode .attr { color: #ff0000; }

.gslb_rsbDivCode .type { color: #2B91AF; }

.gslb_rsbDivCode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.gslb_rsbDivCode .lnum { color: #606060; }
