UL.BlogPostList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.BlogPostArea {
	MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 8px
}
.BlogPostHeader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 150%; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.BlogRating {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 10px 0px 0px; VERTICAL-ALIGN: top; WIDTH: 80px; LINE-HEIGHT: 20px; PADDING-TOP: 8px; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 80px; TEXT-ALIGN: center
}
.BlogRating A:link {
	TEXT-DECORATION: none
}
.BlogRating A:visited {
	TEXT-DECORATION: none
}
.BlogRating A:active {
	TEXT-DECORATION: none
}
.BlogRating A:hover {
	TEXT-DECORATION: none
}
.BlogCommentCount {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.BlogPostContent {
	FONT-SIZE: 100%; MARGIN-LEFT: 1px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma, Arial, Helvetica; TEXT-ALIGN: justify
}
.BlogPostFooter {
	FONT-SIZE: 80%; MARGIN: 10px 0px 10px 1px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.BlogBlogNameColumn {
	WIDTH: 25%
}
.BlogAuthorColumn {
	WIDTH: 14%
}
.BlogLastPostColumn {
	WIDTH: 25%
}
.BlogPostsColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogArticlesColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogCommentsColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogTrackbacksColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogCalendar {
	FONT-SIZE: 90%; WIDTH: 100%
}
.BlogCalendarTitle {
	FONT-WEIGHT: bold; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.BlogCalendarNextPrev {
	
}
.BlogCalendarNextPrev A:link {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:active {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:visited {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:hover {
	TEXT-DECORATION: underline
}
.BlogCalendarDays {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.BlogCalendarDay A:link {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:active {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:visited {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:hover {
	FONT-WEIGHT: bold
}
#commentform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.95em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#commentform H2 {
	MARGIN-BOTTOM: 0px
}
#commentform H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 600; FONT-SIZE: 1.3em; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 10px; FONT-FAMILY: helvetica, arial, sans-serif; LETTER-SPACING: 0px
}
#commentform P {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 0.95em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
#commentform DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#commentform DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#commentform DD {
	COLOR: #000000
}
#commentform DT EM {
	FONT-SIZE: 0.95em
}
#commentform .smallbox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 350px; PADDING-TOP: 2px
}
#commentform TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 1em; PADDING-BOTTOM: 2px; WIDTH: 500px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 150px
}
#postToolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 400px; PADDING-TOP: 2px
}
#postToolbar .CommonSubTitle {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
