P  {  
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 1px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 1px; 
	padding-left: 0px; 
	}

body 
{
    font-family:Arial;
	font-size:10pt;
}




BLOCKQUOTE { margin-top: 0px; margin-right: 0px; margin-bottom: 0px;  padding-top: 0px; padding-right: 0px; padding-bottom: 0px; }
DIV + P { margin-top: 0px; margin-right: 0px; margin-bottom: 1px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 1px; padding-left: 0px; }

.codesniptitle 
{
	background:#3F73B6;
	color:white;
	border:1px solid blue;
	font-family:Courier;
	font-size:10pt;
}

div.codeseg 
{  
    font-family:Courier;
	font-size:10pt;
}

div.codeseg + P 
{ 
    text-indent: 7pt;
    font-family:Courier;
	font-size:10pt;
}

div.codecontent { 
    background: #fff;
    color: black;
	border: solid 1px #2E595C; 
	font-family:Courier;
	font-size:10pt;
	overflow: auto;
}

div 
{
     word-wrap: break-word; 
     white-space: pre-wrap; /* css-3 */
}