body 
{
	margin:0;
	padding:0;
	background-color:White;
	font-family:Consolas, Courier New;
	font-size:small;
}
a 
{
	color:Gray;
	text-decoration:none;
}
a:hover
{
	color:Olive;
	text-decoration:underline;
}
a img
{
	border:0;
}
h1, h2, h3
{
	font-family:Consolas, Courier New;
	font-size:x-large;
	font-weight:normal;
}
h2
{
	font-size:large;
}
h3
{
	font-size:medium;
}
.reduced
{
	font-size:smaller;
}
.subtle
{
	color:#666;
}
.error
{
	color:Red;
	font-weight:bold;
}
.error ul
{
	margin-top:5px;
}
#container
{
	background-image:url(container_bgd.jpg);
	background-repeat:repeat-y;
	width:939px;
	margin:0 auto;
}
#header
{
	background-image:url(header_bgd.jpg);
	background-repeat:no-repeat;
	margin-bottom:20px;
	padding-top:120px;
}
#header h1
{
	display:none;
}
#footer
{	
	margin:0 7px;
	padding:20px 30px 30px 30px;
	background-color:#eee;
	border-top:solid 1px #ccc;
	border-bottom:solid 3px #ccc;
	clear:both;
}
#footer h3
{
	margin:0;
	margin-bottom:3px;
	font-weight:normal;	
}
#datw
{
	position:absolute;
	top:0;
	width:939px;
	height:120px;
	background-repeat:no-repeat;
}
/*---*/
#topNav
{
	background-image:url(nav_bgd.jpg);
	background-repeat:no-repeat;	
	margin-left:40px;
	padding:10px;
}
#topNav ul
{
	margin:0;
	padding:0;		
}
#topNav li
{
	display:inline;
	margin-right:3px;
}
#topNav li.current
{
	font-weight:bold;
}
#topNav img
{
	vertical-align:text-top
}
#topNav div
{
	float:right;
	margin-right:42px;
}
/*---*/
#rightBar
{
	float:right;
	width:268px;
	padding:0 15px 0 16px;
}
#rightBar h3
{
	clear:left;
	font-family:Consolas, Courier New;
	font-size:large;
	font-weight:normal;
	margin:0;
	color:#666;
}
#rightBar ul
{
	margin:0;
	padding:0;	
}
#rightBar ul li
{
	list-style-type:none;
	margin-bottom:5px;
}
#rightBar .center
{
	text-align:center;
}
#rightBar .content
{
	padding:15px;
}
#rightBar .text
{
	line-height:18px;
}
#rightBar img.profile
{
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}
#rightBar .archiveYear
{
	color:#666;
}
#rightBar .archiveMonths
{
	margin-top:5px;
	margin-bottom:10px;
}
#rightBar .archiveMonths li
{
	margin-left:15px;	
}

#rightBar .archiveToggle
{
	margin:5px 0 10px 15px;
	cursor:pointer;
	color:#666;
}
#rightBar .archiveToggle img
{
	vertical-align:text-top;	
	margin-right:6px;
}
#rightBar .recentPosts li
{
	margin-bottom:10px;
}
#rightBar .tagsIUse .random, #rightBar .tagsIUse .popular
{
	color:#666;
}
#rightBar .tagsIUse .tags
{
	margin-top:5px;
	margin-bottom:10px;
	margin-left:15px;
	line-height:20px;
	color:#ccc;	
}

/*---*/
#leftWide
{
	margin-left:19px;
	padding-left:20px;
	width:600px;
}
.post
{
	margin-bottom:40px;
}
.post h1.title
{
	margin:0;	
}
.post h2.title
{
	margin:0;	
}
.post .content p
{
	line-height:18px;
}
.post .tags
{
	margin-top:4px;
	font-size:smaller;
	color:#666;
}
.post .info
{
	font-size:smaller;
	color:#666;
	border-top:solid 1px #ccc;
	margin-top:15px;
	padding-top:3px;
	
}
.post .info a
{
	font-weight:bold;
}
.comments li
{
	padding:5px 10px 10px 10px;
}
.comments li.author
{
	background-color:#f4f4f4;
	
	border-bottom:solid 1px #ccc;
}
.comments cite
{
	color:#666;
}
#postcomment textarea
{
	width:500px;
}

/* del.icio.us sidebar */
.delicious-banner a
{
	color:#666;
}
.delicious-post
{
	padding-left:15px;
	padding-bottom:5px;
}