BODY {
	FONT-SIZE: 0.9em; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A:visited {
	COLOR: #be5007; TEXT-DECORATION: underline
}
A:active {
	COLOR: #be5007; TEXT-DECORATION: underline
}
A:link {
	COLOR: #be5007; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #be5007; TEXT-DECORATION: underline
}
.subscriptionLinks A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.subscriptionLinks A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.subscriptionLinks A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.subscriptionLinks A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.subscriptionLinks A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#header {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../Images/blueGrad.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #1c589a 1px solid; BACKGROUND-REPEAT: repeat-y; HEIGHT: 80px; BACKGROUND-COLOR: #3177c5
}
.blogTitle {
	PADDING-LEFT: 7px; PADDING-TOP: 7px; WHITE-SPACE: nowrap; HEIGHT: 50px
}
#headerSearch {
	VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#maintitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 19px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
#maintitle A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#subtitle {
	FONT-SIZE: 13px; MARGIN: 5px 4px 4px; COLOR: #ffffff
}
.nav {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ffffff; WHITE-SPACE: nowrap; HEIGHT: 30px
}
.nav A {
	BORDER-RIGHT: #0550c1 1px solid; PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; COLOR: #d4eafe; PADDING-TOP: 0.2em; BORDER-BOTTOM: #0550c1 1px solid; TEXT-DECORATION: none
}
.nav A:visited {
	BORDER-RIGHT: #0550c1 1px solid; PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; COLOR: #d4eafe; PADDING-TOP: 0.2em; BORDER-BOTTOM: #0550c1 1px solid; TEXT-DECORATION: none
}
.nav A:link {
	BORDER-RIGHT: #0550c1 1px solid; PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; COLOR: #d4eafe; PADDING-TOP: 0.2em; BORDER-BOTTOM: #0550c1 1px solid; TEXT-DECORATION: none
}
.nav A:hover {
	BORDER-RIGHT: #06ebde 1px solid; PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; COLOR: #ffffff; PADDING-TOP: 0.2em; BORDER-BOTTOM: #4cfbf1 1px solid; TEXT-DECORATION: none
}
#menu {
	PADDING-LEFT: 10px
}
.nav #menu {
	WHITE-SPACE: nowrap
}
.navAlign {
	PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.navAlign UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.navAlign UL LI {
	DISPLAY: inline
}
#Search .searchBox {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 20px; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(../Images/search.gif); PADDING-BOTTOM: 2px; WIDTH: 200px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat
}
#Search A.searchB {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; TEXT-DECORATION: none
}
#Search {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 5px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 3px; TEXT-ALIGN: right
}
#sidebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 190px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
.sideNavItems {
	MARGIN: 0px 0px 0px 10px
}
.sideNavItems H3 {
	MARGIN-TOP: 15px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px
}
.sideNavItems UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 7px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.listView {
	COLOR: #be5007
}
.sideNavItems A {
	COLOR: #000000; TEXT-DECORATION: none
}
.sideNavItems A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.sideNavItems A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.sideNavItems A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.sideNavItems A:hover {
	COLOR: #be5007; TEXT-DECORATION: none
}
#news {
	BORDER-RIGHT: #be5007 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #be5007 1px dotted; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../Images/hotNews.gif); PADDING-BOTTOM: 5px; MARGIN: 10px; BORDER-LEFT: #be5007 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #be5007 1px dotted; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f7fafe
}
.newsTitle {
	PADDING-LEFT: 12px
}
#Cal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 10px 7px; WIDTH: 180px; PADDING-TOP: 0px
}
.Calendar {
	FONT-SIZE: 11px; VERTICAL-ALIGN: middle; WIDTH: 180px; TEXT-ALIGN: center
}
.CalendarTitle TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 14%; COLOR: #000000; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.CalendarNextPrev A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.CalendarNextPrev A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.CalendarNextPrev A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.CalendarNextPrev A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.CalendarNextPrev A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.CalendarNextPrev {
	FONT-WEIGHT: normal; FONT-SIZE: 0.65em; WIDTH: 15%
}
.CalendarOtherMonth {
	FONT-SIZE: 11px; COLOR: #a8a8a8
}
TD.CalendarDay A {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: underline
}
TD.CalendarDay A:link {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: underline
}
TD.CalendarDay A:visited {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: underline
}
.CalendarDay {
	FONT-SIZE: 11px; COLOR: #000000
}
.CalendarDays {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.CalendarWeekend {
	FONT-SIZE: 11px; COLOR: #be5007
}
TD.CalendarWeekend A {
	FONT-SIZE: 11px; COLOR: #be5007; TEXT-DECORATION: underline
}
TD.CalendarWeekend A:visited {
	FONT-SIZE: 11px; COLOR: #be5007; TEXT-DECORATION: underline
}
TD.CalendarWeekend A:link {
	FONT-SIZE: 11px; COLOR: #be5007; TEXT-DECORATION: underline
}
TD.CalendarWeekend A:active {
	FONT-SIZE: 11px; COLOR: #be5007; TEXT-DECORATION: underline
}
TD.CalendarWeekend A:hover {
	FONT-SIZE: 11px; COLOR: #be5007; TEXT-DECORATION: underline
}
#main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 190px; VERTICAL-ALIGN: top; BORDER-LEFT: #d9dada 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d9dada 1px solid; BACKGROUND-COLOR: #ffffff
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; TEXT-DECORATION: none
}
H3.postTitle A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
H3.postTitle A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
H3.postTitle A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
H3.postTitle A {
	COLOR: #000000; TEXT-DECORATION: none
}
H3.postTitle {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../Images/Topic.gif); MARGIN-LEFT: 2px; BACKGROUND-REPEAT: no-repeat
}
H3.postComment {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 10px
}
#whatYouThink {
	PADDING-LEFT: 10px
}
H3.containerTitle {
	PADDING-RIGHT: 20px; PADDING-LEFT: 5px; FONT-SIZE: 16px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 0px
}
.postsub {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 15px; COLOR: #444444; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.postsub A:visited {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postsub A:link {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postsub A:active {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postsub A {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postsub A:hover {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.readMore A:visited {
	FONT-SIZE: 0.75em; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.readMore A:link {
	FONT-SIZE: 0.75em; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.readMore A:active {
	FONT-SIZE: 0.75em; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.readMore A:hover {
	FONT-SIZE: 0.75em; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.readMore A {
	FONT-SIZE: 0.75em; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.rateMenu {
	BORDER-RIGHT: #a8a8a8 1px solid; BORDER-TOP: #a8a8a8 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #a8a8a8 1px solid; BORDER-BOTTOM: #a8a8a8 1px solid; BACKGROUND-COLOR: #ffffff
}
.postfoot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #444444; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.postfoot A {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postfoot A:visited {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postfoot A:link {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postfoot A:hover {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.postfoot A:active {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.post {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
.postText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#comments {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 10px
}
#comments H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#commentform {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.commentPostSub {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 15px; COLOR: #444444; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.commentPostSub A:visited {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.commentPostSub A:link {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.commentPostSub A:active {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.commentPostSub A:hover {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
.commentPostSub A {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#postToolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 10px; COLOR: #444444; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#postToolbar A {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#postToolbar A:visited {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#postToolbar A:active {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#postToolbar A:link {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
#postToolbar A:hover {
	COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-DECORATION: none
}
A.commentEdit {
	MARGIN-TOP: 10px; FONT-SIZE: 11px; COLOR: #be5007; BORDER-BOTTOM: #be5007 1px dotted; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.emailSubscription TABLE {
	PADDING-LEFT: 10px; FONT-SIZE: 0.85em; MARGIN: 0px
}
DIV.emailSubscription P {
	PADDING-LEFT: 10px
}
#contactform TD {
	PADDING-LEFT: 10px; FONT-SIZE: 0.8em
}
#footer {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#footer A {
	COLOR: #444444; TEXT-DECORATION: none
}
#footer A:active {
	COLOR: #444444; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #444444; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #444444; TEXT-DECORATION: none
}
