BODY {
	BACKGROUND-COLOR: #5a543a
}
A:visited {
	COLOR: #dd4a21
}
A:active {
	COLOR: #dd4a21
}
A:link {
	COLOR: #dd4a21
}
.posthead {
	BORDER-LEFT-COLOR: #dfdfdf; BORDER-BOTTOM-COLOR: #dfdfdf; COLOR: #e27817; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf
}
.posthead A:link {
	COLOR: #e27817
}
.posthead A:visited {
	COLOR: #e27817
}
.posthead A:active {
	COLOR: #e27817
}
.posthead A:hover {
	COLOR: #e27817
}
.postfoot {
	BORDER-LEFT-COLOR: #dfdfdf; BORDER-BOTTOM-COLOR: #dfdfdf; COLOR: #868686; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf
}
.postfoot .em {
	COLOR: #000000
}
.pageTitle {
	COLOR: #e27817
}
#leftmenu H3 {
	BORDER-BOTTOM-COLOR: #dfdfdf
}
#leftmenu UL LI {
	COLOR: #a99238
}
#leftmenu UL A:link {
	COLOR: #a99238
}
#leftmenu UL A:visited {
	COLOR: #a99238
}
#leftmenu UL A:active {
	COLOR: #a99238
}
#leftmenu UL A:hover {
	COLOR: #a99238
}
LEGEND {
	COLOR: #c1590b
}
#comments H2 {
	COLOR: #c1590b
}
.CommentTitle A:link {
	COLOR: #739d59
}
.CommentTitle A:visited {
	COLOR: #739d59
}
.CommentTitle A:active {
	COLOR: #739d59
}
.CommentArrow {
	BACKGROUND-IMAGE: url(../images/fall-comment-arrow.gif); MARGIN-BOTTOM: -9px; WIDTH: 14px; HEIGHT: 16px
}
.CommentText2 {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bcbcbc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bcbcbc 1px solid
}
.CommentArea .CommentText3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/fall-comment-background.gif); BACKGROUND-REPEAT: repeat-x
}
.CommentAreaOwner .CommentText3 {
	BACKGROUND-COLOR: #dddddd
}
.CommentFooter {
	COLOR: #999999
}
#content {
	BACKGROUND-COLOR: #ffffff
}
#masthead {
	BACKGROUND: url(../images/fall-title.jpg) #ffffff
}
#welcome {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
#welcome A:link {
	COLOR: #ffffff
}
#welcome A:visited {
	COLOR: #ffffff
}
#welcome A:active {
	COLOR: #ffffff
}
#welcome A:hover {
	COLOR: #ffffff
}
.SearchButtonOuter {
	BACKGROUND-IMAGE: url(../images/fall-search-left.gif)
}
.SearchButton {
	BACKGROUND-IMAGE: url(../images/fall-search-right.gif); COLOR: #ffffff
}
#Search A:link {
	COLOR: #ffffff
}
#Search A:visited {
	COLOR: #ffffff
}
#Search A:active {
	COLOR: #ffffff
}
#Search A:hover {
	COLOR: #ffffff
}
#title H1 {
	COLOR: #363a33
}
#title A:link {
	COLOR: #363a33
}
#title A:visited {
	COLOR: #363a33
}
#title A:active {
	COLOR: #363a33
}
#title A:hover {
	COLOR: #363a33
}
#nav {
	BACKGROUND-COLOR: #ffffff
}
#navbar {
	BACKGROUND: url(../images/fall-nav-background.jpg) #666666 repeat-x
}
#navbar LI {
	BACKGROUND-IMAGE: url(../images/fall-nav-bul.gif)
}
#navbar A:link {
	COLOR: #ffffff
}
#navbar A:visited {
	COLOR: #ffffff
}
#navbar A:active {
	COLOR: #ffffff
}
.TagCloud {
	COLOR: #999999; BACKGROUND-COLOR: #f7f7f7
}
.Tag1 A:link {
	COLOR: #8d0000
}
.Tag1 A:visited {
	COLOR: #8d0000
}
.Tag1 A:active {
	COLOR: #8d0000
}
.Tag2 A:link {
	COLOR: #9d0a00
}
.Tag2 A:visited {
	COLOR: #9d0a00
}
.Tag2 A:active {
	COLOR: #9d0a00
}
.Tag3 A:link {
	COLOR: #ad1a00
}
.Tag3 A:visited {
	COLOR: #ad1a00
}
.Tag3 A:active {
	COLOR: #ad1a00
}
.Tag4 A:link {
	COLOR: #bd2a01
}
.Tag4 A:visited {
	COLOR: #bd2a01
}
.Tag4 A:active {
	COLOR: #bd2a01
}
.Tag5 A:link {
	COLOR: #cd3a11
}
.Tag5 A:visited {
	COLOR: #cd3a11
}
.Tag5 A:active {
	COLOR: #cd3a11
}
.Tag6 A:link {
	COLOR: #dd4a21
}
.Tag6 A:visited {
	COLOR: #dd4a21
}
.Tag6 A:active {
	COLOR: #dd4a21
}
