/*
Skin Name: Multigrid
Skin URI: http://fortes.com/
Version: 0.1
Description: Here's hoping this is the one. 
Author: Filipe Fortes
Author URI: http://fortes.com/
Widths: 600, 1000
Sidebars: 1
*/

/* Import base styles for content */
@import url('../style.css');

html>body
{
	font-size: 12px;
}

body
{
	font-size: .75em;
	line-height: 1.25em;
	font-family: Verdana, Helvetica, Sans-Serif;
}

#wrapper
{
	position: relative;
	background: white;
}

.browserwidth-600
{
	background: #ddd;
}

.browserwidth-min
{
	padding: 1.25em;
}

.browserwidth-600 #wrapper
{
	width: 540px;
	margin: 0 auto;
}

.browserwidth-600 #header
{
	margin: 0;
	padding: 0;
	color: white;
	text-transform: lowercase;
}

.browserwidth-600 #blog-title
{
	padding: 0;
	margin: 0;
}

.browserwidth-600 #blog-title a
{
	background: url('multigrid/fortes-castle.jpg') #000;
	display: block;
	width: 540px;
	height: 300px;
	color: white;
	margin: 0;
	margin-bottom: -50px;
	text-indent: 20px;
	line-height: 100px;
}

.browserwidth-600 #blog-description
{
	display: none;
}

.browserwidth-600 #navigation
{
	padding: 0 20px 1.25em;
	color: white;
	margin: 0;
	background: black;
	position: relative;
}

.browserwidth-600 #navigation a
{
	color: #bbddff;
}

.browserwidth-600 .submit
{
	display: none;
}


.browserwidth-600 #navigation input
{
	background: #333;
	border-color: #666;
	color: white;
}

.browserwidth-600 #footer
{
	background: #224477;
	color: white;
	margin-top: 2.5em;
	padding: 1.25em 20px 5em;
}

.browserwidth-600 #footer a
{
	color: white;
}

.browserwidth-1000
{
	margin: 0;
	border: 0;
	padding: 0;
	background: #4e5560;
}

.browserwidth-1000 #wrapper
{
	width: 900px;
	margin: 0 ;
	padding: 0;
	background: url('multigrid/background-sculpture.png') repeat-y white;
}

.browserwidth-1000 #header
{
	position: absolute;
	width: 360px;
	height: 270px;
	background: url('multigrid/fortes-sculpture.jpg');
}

.browserwidth-1000 #header h1
{
	margin: 0;
}

.browserwidth-1000 #header a
{
	position: absolute;
	width: 360px;
	height: 270px;
	color: white;
	text-transform: lowercase;
	background: url('multigrid/filipefortes.png');
	text-indent: -9999px;
}

.browserwidth-1000 #blog-description
{
	display: none;
}

.browserwidth-1000 #navigation
{
	position: absolute;
	top: 280px;
	width: 160px;
	left: 180px;
	color: white;
	margin-top: 1.25em;
}

.browserwidth-1000 .submit
{
	display: none;
}

.browserwidth-1000 #s
{
	width: 8em;
	background: #ddddff;
	border-color: #8888aa;
}

.browserwidth-1000 #navigation li
{
	display: block;
	text-align: right;
	line-height: 2em;
}

.browserwidth-1000 #about
{
	position: absolute;
	top: 270px;
	width: 160px;
	left: 10px;
	color: white;
}

.browserwidth-1000 #about p
{

}

.browserwidth-1000 #about a, .browserwidth-1000 #navigation a
{
	color: white;
}

.browserwidth-1000 #about h3
{
	text-transform: lowercase;
}

.browserwidth-1000 #content
{
	margin-left: 380px;
	padding-top: 1.25em;
}

#blog-description
{
	margin-bottom: 2.5em;
}


/* Navigation */
#navigation
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	word-spacing: 2em;
}

#navigation li
{
	display: inline;
	padding: 0;
	font-size: 1.25em;
	line-height 2em;
}

li#navigation-search
{
	display: block;
	text-align: right;
	font-size: 1em;
	line-height: 1.25em;
	margin: 1.25em 0 0;
	word-spacing: 0;
}

#navigation a
{
	text-decoration: none;
	line-height 1em;
	font-weight: bold;
}
