BODY {
	BACKGROUND-IMAGE: none; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f2f2f2
}
HTML {
	BACKGROUND-IMAGE: none; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f2f2f2
}
A:link {
	COLOR: #3399ff
}
A:hover {
	COLOR: #3399ff
}
A:active {
	COLOR: #3399ff
}
A:visited {
	COLOR: #0066cc
}
#header {
	BACKGROUND-IMAGE: url(/themes/blogs/traveler/images/alps.jpg)
}
#title H1 {
	FONT-SIZE: 2.5em; COLOR: #996633; FONT-FAMILY: Georgia, serif
}
#title H1 A:link {
	COLOR: #996633
}
#title H1 A:visited {
	COLOR: #996633
}
#title H1 A:active {
	COLOR: #996633
}
.pageTitle {
	FONT-SIZE: 2.4em; COLOR: #c68b4a; FONT-FAMILY: Arial, Helvetica
}
#sidebar-a H3 {
	FONT-SIZE: 2em; COLOR: #c68b4a; FONT-FAMILY: Arial, Helvetica
}
#sidebar-b H3 {
	FONT-SIZE: 2em; COLOR: #c68b4a; FONT-FAMILY: Arial, Helvetica
}
#sidebar-a {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: #f2f2f2
}
#sidebar-a UL {
	FONT-SIZE: 1em
}
#sidebar-a LI {
	BORDER-LEFT-COLOR: #2f2e2a; BORDER-BOTTOM-COLOR: #2f2e2a; BORDER-TOP-COLOR: #2f2e2a; BORDER-RIGHT-COLOR: #2f2e2a
}
#sidebar-a A:link {
	COLOR: #3399ff
}
#sidebar-a A:visited {
	COLOR: #0066cc
}
#sidebar-a A:active {
	COLOR: #3399ff
}
#sidebar-a A:hover {
	COLOR: #3399ff
}
.Tag1 A:link {
	COLOR: #0044aa
}
.Tag1 A:visited {
	COLOR: #0044aa
}
.Tag1 A:active {
	COLOR: #0044aa
}
.Tag2 A:link {
	COLOR: #0055bb
}
.Tag2 A:visited {
	COLOR: #0055bb
}
.Tag2 A:active {
	COLOR: #0055bb
}
.Tag3 A:link {
	COLOR: #0066cc
}
.Tag3 A:visited {
	COLOR: #0066cc
}
.Tag3 A:active {
	COLOR: #0066cc
}
.Tag4 A:link {
	COLOR: #1177dd
}
.Tag4 A:visited {
	COLOR: #1177dd
}
.Tag4 A:active {
	COLOR: #1177dd
}
.Tag5 A:link {
	COLOR: #2288ee
}
.Tag5 A:visited {
	COLOR: #2288ee
}
.Tag5 A:active {
	COLOR: #2288ee
}
.Tag6 A:link {
	COLOR: #3399ff
}
.Tag6 A:visited {
	COLOR: #3399ff
}
.Tag6 A:active {
	COLOR: #3399ff
}
#wrapper {
	WIDTH: 859px
}
#sidebar-a {
	WIDTH: 220px
}
