HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333333; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333333; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 76%; PADDING-TOP: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
A:visited {
	COLOR: #39f
}
A:active {
	COLOR: #39f
}
A:link {
	COLOR: #39f
}
A:hover {
	COLOR: #06c
}
H1 {
	
}
H2 {
	
}
H3 {
	
}
H4 {
	
}
H5 {
	
}
H1 {
	FONT-SIZE: 1.5em; MARGIN: 0px
}
H1 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
H1 A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
H1 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
H1 A:hover {
	TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em
}
H3 {
	FONT-SIZE: 1.1em; TEXT-DECORATION: none
}
H3 A:hover {
	TEXT-DECORATION: none
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	MARGIN: 10px 0px
}
INPUT.text {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
#wrapper {
	MARGIN-LEFT: auto; WIDTH: 859px; MARGIN-RIGHT: auto
}
#container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; MARGIN-TOP: 5px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/rome.jpg); PADDING-BOTTOM: 0px; WIDTH: 859px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 220px
}
#title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 2.5em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px
}
#title DIV {
	FONT-SIZE: 1.2em; FONT-STYLE: italic
}
#title {
	MARGIN-TOP: auto
}
#titleWrapper {
	PADDING-RIGHT: 65px; BACKGROUND-POSITION: left top; PADDING-LEFT: 24px; LEFT: -18px; BACKGROUND-IMAGE: url(../images/postcard-alpha.png); PADDING-BOTTOM: 24px; WIDTH: 229px; COLOR: #963; PADDING-TOP: 62px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Georgia, 'Serif', 'Arial', 'Helvetica'; POSITION: absolute; TOP: -18px; HEIGHT: 100px
}
#title A {
	COLOR: #963
}
#contentwrapper {
	WIDTH: 100%
}
#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 1%
}
#content2 {
	OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 20px
}
#contentfooter {
	CLEAR: both; PADDING-RIGHT: 8px; BORDER-TOP: #ebdaa6 1px dashed; MARGIN-TOP: 30px; PADDING-LEFT: 8px; FONT-SIZE: 80%; PADDING-BOTTOM: 20px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#navigation {
	PADDING-RIGHT: 0.1em; BORDER-TOP: #ebdaa6 1px dashed; MARGIN-TOP: 0.5em; PADDING-LEFT: 0.1em; FONT-SIZE: 125%; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ebdaa6 1px dashed
}
#welcome {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; FLOAT: right
}
#welcome A:link {
	COLOR: #39f; TEXT-DECORATION: none
}
#welcome A:visited {
	COLOR: #39f; TEXT-DECORATION: none
}
#welcome A:active {
	COLOR: #39f; TEXT-DECORATION: none
}
#welcome A:hover {
	COLOR: #39f; TEXT-DECORATION: underline
}
#navigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navigation UL LI {
	DISPLAY: inline; FONT-WEIGHT: bold; MARGIN-RIGHT: 1.5em
}
#navigation UL LI A:link {
	COLOR: #c68b4a; TEXT-DECORATION: none
}
#navigation UL LI A:active {
	COLOR: #c68b4a; TEXT-DECORATION: none
}
#navigation UL LI A:visited {
	COLOR: #c68b4a; TEXT-DECORATION: none
}
#navigation UL LI A:hover {
	COLOR: #c68b4a; TEXT-DECORATION: underline
}
#sidebar-a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 220px; PADDING-TOP: 20px
}
#sidebar-a H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0.5em; COLOR: #c68b4a; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#sidebar-a P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#sidebar-a UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar-a LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ebdaa6 1px dashed
}
#sidebar-a LI A:link {
	TEXT-DECORATION: none
}
#sidebar-a LI A:visited {
	TEXT-DECORATION: none
}
#sidebar-a LI A:active {
	TEXT-DECORATION: none
}
#sidebar-a LI A:hover {
	TEXT-DECORATION: underline
}
#footer {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.pageTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 2.4em; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0.8em; COLOR: #c68b4a; LINE-HEIGHT: 100%; PADDING-TOP: 4px; LETTER-SPACING: -2px
}
.pageTitle A:link {
	FONT-WEIGHT: bold; COLOR: #c68b4a; TEXT-DECORATION: none
}
.pageTitle A:visited {
	FONT-WEIGHT: bold; COLOR: #c68b4a; TEXT-DECORATION: none
}
.pageTitle A:hover {
	TEXT-DECORATION: none
}
.post {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px
}
.post IMG {
	MARGIN: 0.5em; max-width: 100%
}
.post H2 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0em
}
.post H2 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 90%
}
.post H5 {
	FONT-SIZE: 1em; MARGIN: 0px 0px 0.5em
}
.postfoot {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0em; COLOR: #666; PADDING-TOP: 0.5em
}
.postfoot A:link {
	COLOR: #666
}
.postfoot A:active {
	COLOR: #666
}
.postfoot A:visited {
	COLOR: #666
}
.postfoot IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.postasidecomment {
	MARGIN-LEFT: 90px
}
.postcommentarea {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 90%; FLOAT: left; OVERFLOW: hidden; TEXT-TRANSFORM: uppercase; WIDTH: 80px; COLOR: #999; FONT-FAMILY: Georgia, Serif; TEXT-ALIGN: center
}
.postcommentarea A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 250%; COLOR: #c68b4a; LINE-HEIGHT: 110%; TEXT-DECORATION: none
}
.postcommentarea A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 250%; COLOR: #c68b4a; LINE-HEIGHT: 110%; TEXT-DECORATION: none
}
.postcommentarea A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 250%; COLOR: #c68b4a; LINE-HEIGHT: 110%; TEXT-DECORATION: none
}
.postcommentarea A:hover {
	TEXT-DECORATION: underline
}
#search .searchBox {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0em 5px 0em 10px; BORDER-LEFT: #999999 1px solid; WIDTH: 120px; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid
}
#search A:visited {
	DISPLAY: inline; FONT-WEIGHT: bold; COLOR: #066
}
#search A:active {
	DISPLAY: inline; FONT-WEIGHT: bold; COLOR: #066
}
#search A:link {
	DISPLAY: inline; FONT-WEIGHT: bold; COLOR: #066
}
#search A:hover {
	COLOR: #933
}
#search {
	MARGIN-BOTTOM: 5px
}
.spacer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
.TagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 16px 0px; COLOR: #999999; LINE-HEIGHT: 180%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f7f7f7
}
.SidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.TagCloud LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#sidebar-a .SidebarTagCloud LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.Tag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Tag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #04a; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #04a; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 160%; COLOR: #04a; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #05b; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #05b; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 145%; COLOR: #05b; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #06c; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #06c; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 130%; COLOR: #06c; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #17d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #17d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #17d; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:link {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #28e; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #28e; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag5 A:active {
	FONT-WEIGHT: 300; FONT-SIZE: 110%; COLOR: #28e; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #39f; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #39f; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 100%; COLOR: #39f; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.Tag1 A:hover {
	TEXT-DECORATION: underline
}
.Tag2 A:hover {
	TEXT-DECORATION: underline
}
.Tag3 A:hover {
	TEXT-DECORATION: underline
}
.Tag4 A:hover {
	TEXT-DECORATION: underline
}
.Tag5 A:hover {
	TEXT-DECORATION: underline
}
.Tag6 A:hover {
	TEXT-DECORATION: underline
}
#sidebar-a .SidebarTagCloud A:link {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:active {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:visited {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:hover {
	BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.SearchStatistics {
	MARGIN-TOP: 16px; MARGIN-BOTTOM: 16px
}
.InlineTagEditor {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.TextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.TextButton:link {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:visited {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.TextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.TextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.ModalMask {
	FILTER: alpha(opacity=40); BACKGROUND-COLOR: #333333; opacity: .4
}
.Modal {
	BORDER-RIGHT: #888888 3px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 3px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalTitle {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 0px solid; CURSOR: move; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
.ModalClose {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/close.gif); OVERFLOW: hidden; WIDTH: 33px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.ModalContent {
	BACKGROUND-COLOR: #ffffff
}
.ModalFooter {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #eeeeee
}
.ModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../../../default/images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.BlogSubNotification {
	FONT-SIZE: 80%; COLOR: #ff0000
}
.SubscriptionButton {
	MARGIN-LEFT: 0px
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.CommonRateControlActive {
	BORDER-RIGHT: #cc9933 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cc9933 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc9933 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9933 1px solid; BACKGROUND-COLOR: #ffcc66
}
.CommonRateControlReadOnly IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControl IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.CommonRateControlActive IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DL {
	
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.3em; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.smallbox {
	WIDTH: 80%
}
TEXTAREA {
	WIDTH: 80%; HEIGHT: 100px
}
