DIV#wrapper {
	BACKGROUND: url(http://images.windows-now.com/Theme/v1/custom/2colbackground.gif) repeat-y left top
}
DIV#contentwrapper {
	
}
DIV#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 674px; PADDING-TOP: 10px
}
DIV#subcontent-a {
	FLOAT: left; WIDTH: 220px
}
DIV#footer {
	CLEAR: both
}
.blogaggcommentbox {
	DISPLAY: none
}
.rowcenter {
	TEXT-ALIGN: center
}
.nowrap {
	WHITE-SPACE: nowrap
}
.contentheading {
	FONT-WEIGHT: 800; FONT-SIZE: 1.5em; PADDING-BOTTOM: 6px; COLOR: #006699; BORDER-BOTTOM: #bbb 1px solid
}
.contentsubheading {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 6px; COLOR: #05344b; BORDER-BOTTOM: #bbb 1px dotted
}
.sideheader {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; BACKGROUND: url(http://images.windows-now.com/Theme/v1/custom/sidebarrule.gif) no-repeat 0% 100%; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 10px; COLOR: #05344b
}
#blogheader {
	MARGIN-BOTTOM: 20px; BORDER-BOTTOM: #ddd 1px solid
}
.headertitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 1.6em; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #006699; LINE-HEIGHT: 1em; PADDING-TOP: 0px
}
.headertitle A {
	COLOR: #006699; TEXT-DECORATION: none
}
.headerdescription {
	FONT-WEIGHT: 400; FONT-SIZE: 1.1em; MARGIN: 0px 0px 10px
}
UL.rsslist {
	FONT-SIZE: 1.1em; FLOAT: right; MARGIN: 0px 0px 0px 5px; LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
UL.rsslist LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
UL.rsslist LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: url(http://images.windows-now.com/Theme/v1/custom/headerrss.gif) no-repeat right 50%; PADDING-BOTTOM: 2px; COLOR: #929292; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.rsslist A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1em; BACKGROUND: url(http://images.windows-now.com/Theme/v1/custom/headerrss.gif) no-repeat right 50%; PADDING-BOTTOM: 2px; COLOR: #929292; PADDING-TOP: 1px; TEXT-DECORATION: none
}
UL.entrylist {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
UL.entrylist LI {
	CLEAR: both; MARGIN: 0px
}
.entrylistcontainer {
	FLOAT: right; WIDTH: 619px; LINE-HEIGHT: 1.5em
}
.entrylistheader {
	FONT-WEIGHT: 400; MARGIN: 0px
}
.entrylistheader A {
	FONT-SIZE: 1.3em; MARGIN: 0px; COLOR: #125a79; TEXT-DECORATION: none
}
.entrylistheader A:hover {
	TEXT-DECORATION: underline
}
.entrylistfooter {
	FONT-SIZE: 0.8em; MARGIN: 3px 0px 5px; COLOR: #969696; LINE-HEIGHT: 1.2em
}
.entrylistcontent {
	BACKGROUND: url(http://images.windows-now.com/Theme/v1/custom/blogrule.gif) no-repeat 50% 100%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.5em
}
.entrylistcontent OL {
	LIST-STYLE-POSITION: inside; MARGIN: 1em
}
.entrylistcontent UL {
	LIST-STYLE-POSITION: inside; MARGIN: 1em; LIST-STYLE-TYPE: disc
}
.entrylistcontent LI {
	MARGIN: 0px 0px 0px 1em
}
.entrylisticon {
	FLOAT: left; WIDTH: 50px; HEIGHT: 75px
}
.entryviewcontainer {
	FLOAT: right; WIDTH: 619px; LINE-HEIGHT: 1.5em
}
.entryviewheading {
	FONT-WEIGHT: 400; FONT-SIZE: 1.3em; MARGIN: 0px; TEXT-DECORATION: none
}
.entryviewbody {
	MARGIN: 1em 0em
}
.entryviewfooter {
	PADDING-RIGHT: 5px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 5px; MARGIN: 0em 0em 20px; COLOR: #969696; LINE-HEIGHT: 1.4em; PADDING-TOP: 5px; BORDER-BOTTOM: #dfdfdf 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.entryviewicon {
	FLOAT: left; WIDTH: 50px; HEIGHT: 75px
}
.entryviewextras {
	CLEAR: both; PADDING-LEFT: 55px
}
.subscriptions {
	
}
.subscriptions LEGEND {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 400; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; COLOR: #006699; PADDING-TOP: 0px
}
.ratecontrolreadonly {
	PADDING-RIGHT: 0.2em; DISPLAY: inline; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px 0.5em; PADDING-TOP: 0.2em; WHITE-SPACE: nowrap
}
.ratecontrol {
	PADDING-RIGHT: 0.2em; DISPLAY: inline; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px 0.5em; CURSOR: pointer; PADDING-TOP: 0.2em; WHITE-SPACE: nowrap
}
.ratecontrolactive {
	PADDING-RIGHT: 0.2em; DISPLAY: inline; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px 0.5em; CURSOR: pointer; PADDING-TOP: 0.2em; WHITE-SPACE: nowrap
}
