 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	MARGIN: 1em 0px
}
H2 {
	MARGIN: 1em 0px
}
H3 {
	MARGIN: 1em 0px
}
H4 {
	MARGIN: 1em 0px
}
H5 {
	MARGIN: 1em 0px
}
H6 {
	MARGIN: 1em 0px
}
P {
	MARGIN: 1em 0px
}
PRE {
	MARGIN: 1em 0px
}
BLOCKQUOTE {
	MARGIN: 1em 0px
}
LABEL {
	MARGIN: 1em 0px
}
UL {
	MARGIN: 1em 0px
}
OL {
	MARGIN: 1em 0px
}
DL {
	MARGIN: 1em 0px
}
FIELDSET {
	MARGIN: 1em 0px
}
ADDRESS {
	MARGIN: 1em 0px
}
LI {
	MARGIN-LEFT: 1em
}
DD {
	MARGIN-LEFT: 1em
}
BLOCKQUOTE {
	MARGIN-LEFT: 1em
}
LABEL {
	MARGIN-LEFT: 1em
}
UL {
	MARGIN-LEFT: 1em
}
OL {
	MARGIN-LEFT: 1em
}
FIELDSET {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
SELECT {
	min-width: 1.5em
}
H1 {
	FONT-SIZE: 1.6em
}
H2 {
	FONT-SIZE: 1.4em
}
H3 {
	FONT-SIZE: 1.2em
}
H4 {
	FONT-SIZE: 1.1em
}
H5 {
	FONT-SIZE: 1em
}
H6 {
	FONT-SIZE: 0.9em
}
HTML {
	COLOR: #333; BACKGROUND-COLOR: #29636f
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: 89%/130% "Segoe UI", Tahoma, Arial, Helvetica, sans-serif; PADDING-TOP: 20px; TEXT-ALIGN: center
}
A:link {
	COLOR: #006ff7
}
A:visited {
	COLOR: #006ff7
}
A:hover {
	COLOR: #006ff7
}
A:active {
	COLOR: #006ff7
}
#container {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 0px auto; WIDTH: 934px; PADDING-TOP: 7px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#header {
	
}
#wrapper {
	HEIGHT: 325px
}
UNKNOWN {
	MIN-HEIGHT: 325px; WIDTH: auto; HEIGHT: auto
}
#contentwrapper {
	
}
#content {
	MARGIN-BOTTOM: 30px; OVERFLOW: hidden
}
#subcontent-a {
	
}
#subcontent-b {
	
}
#footer {
	
}
.sidebar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.sidebar A {
	COLOR: #29636f; TEXT-DECORATION: none
}
.sidebarrss {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/custom/sidebarrss.gif) no-repeat 0px 50%
}
.rightheader {
	FLOAT: right; MARGIN: 5px 0px 0px; COLOR: #929292
}
.rightheader2 {
	FLOAT: right; MARGIN: 0px; COLOR: #929292
}
.headerrss {
	PADDING-RIGHT: 20px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; BACKGROUND: url(../images/custom/headerrss.gif) no-repeat right 50%; PADDING-BOTTOM: 2px; COLOR: #929292; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.headerrss A {
	FONT-WEIGHT: normal; COLOR: #929292; TEXT-DECORATION: none
}
.shareblock {
	TEXT-ALIGN: center
}
.shareblock IMG {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-TOP: 4px
}
.subscriptions {
	FLOAT: right; OVERFLOW: hidden; TEXT-ALIGN: center
}
.CommonImageTextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BACKGROUND-POSITION: 1px 1px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 22px; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; LINE-HEIGHT: normal; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.CommonImageTextButton:link {
	MARGIN: 1px; COLOR: #333333; TEXT-DECORATION: none
}
.CommonImageTextButton:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.CommonImageTextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.CommonImageTextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.adstandardtop {
	MARGIN: 5px auto; TEXT-ALIGN: center
}
.adstandardmiddle {
	BACKGROUND: url(../images/custom/blogrule.gif) no-repeat 50% 100%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.5em; TEXT-ALIGN: center
}
.adstandardbottom {
	MARGIN: 5px auto; TEXT-ALIGN: center
}
.adskyscraper {
	MARGIN: 5px auto; TEXT-ALIGN: center
}
.adrightfloatedskyscraper {
	FLOAT: right; WIDTH: 180px; TEXT-ALIGN: center
}
.adfloatedsquare {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 200px; PADDING-TOP: 0px; HEIGHT: 200px
}
.mainheading {
	FONT-WEIGHT: 800; FONT-SIZE: 1.5em; PADDING-BOTTOM: 6px; COLOR: #006699; BORDER-BOTTOM: #bbb 1px solid
}
.subheading {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.5em; COLOR: #05344b
}
.sideheading {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; BACKGROUND: url(../images/custom/sidebarrule.gif) no-repeat 0% 100%; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 10px; COLOR: #05344b
}
.pager {
	FONT-WEIGHT: bold; MARGIN: 10px 0px; TEXT-ALIGN: right
}
.notop {
	MARGIN-TOP: 0px
}
UL.sidelist {
	FONT-SIZE: 0.9em; MARGIN: 0px; LINE-HEIGHT: 1.2em; LIST-STYLE-TYPE: none
}
UL.sidelist LI {
	BACKGROUND-POSITION: 0px 0.5em; PADDING-LEFT: 13px; BACKGROUND-IMAGE: url(../images/custom/listicon.gif); PADDING-BOTTOM: 4px; MARGIN: 0px; BACKGROUND-REPEAT: no-repeat
}
.sidelistfooter {
	DISPLAY: block; FONT-SIZE: 0.9em; MARGIN: 5px 0px 20px; TEXT-ALIGN: right
}
.smallertext {
	FONT-SIZE: 0.9em
}
.minitext {
	FONT-SIZE: 0.8em
}
.darktext {
	COLOR: #333
}
.lightertext {
	COLOR: #bbb
}
.clearboth {
	CLEAR: both
}
BLOCKQUOTE {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; MARGIN: 0px 1em; BORDER-LEFT: #e4e4e4 1px solid; COLOR: #777777; PADDING-TOP: 5px; BORDER-BOTTOM: #e4e4e4 1px solid; BACKGROUND-COLOR: #ebf2fa
}
#header {
	BACKGROUND: url(../images/custom/header_background.jpg) #29636f no-repeat left top
}
#header H1 {
	MARGIN: 0px
}
#header H1 A {
	DISPLAY: block; BACKGROUND: url(../images/custom/logo.jpg) no-repeat left top; WIDTH: 410px; TEXT-INDENT: -1000em; HEIGHT: 93px
}
#welcome {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 0.8em; FLOAT: right; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 4px; BACKGROUND-COLOR: #000
}
#welcome A {
	FONT-WEIGHT: bold; COLOR: #fff
}
#searchbox {
	CLEAR: right; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; FLOAT: right; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; POSITION: relative
}
.searchfield {
	BORDER-RIGHT: #289a95 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: right bottom; BORDER-TOP: #289a95 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(../images/custom/searchbox.gif); PADDING-BOTTOM: 1px; MARGIN: 2px 5px 2px 0px; BORDER-LEFT: #289a95 1px solid; WIDTH: 9em; PADDING-TOP: 1px; BORDER-BOTTOM: #289a95 1px solid
}
.searchbutton {
	
}
#navholder {
	BORDER-TOP: #fff 5px solid; BACKGROUND: url(../images/custom/navbar_background.jpg) repeat-y left top; LINE-HEIGHT: 1.2em; BORDER-BOTTOM: #fff 5px solid; POSITION: relative
}
#navbar {
	FONT-SIZE: 1.1em
}
#navbar UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 9px; MARGIN: 0px; PADDING-TOP: 7px; LIST-STYLE-TYPE: none
}
#navbar LI {
	PADDING-RIGHT: 20px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navbar A {
	COLOR: #fff; TEXT-DECORATION: none
}
#navbar A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#navbar .current {
	
}
#navbar .current A {
	COLOR: #fff; TEXT-DECORATION: underline
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 950px; COLOR: #fff; PADDING-TOP: 5px
}
#footer A {
	COLOR: #fff
}
.customfooterright {
	FLOAT: right
}
.customfooterleft {
	FLOAT: left
}
.tempfooter {
	CLEAR: both; DISPLAY: none
}
UL.tagcloud {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 175%; LIST-STYLE-TYPE: none
}
UL.tagcloudlarge {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0.5em; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center
}
.tagcloud A {
	MARGIN: 0px 0.2em; TEXT-DECORATION: none
}
.tagcloudlarge A {
	MARGIN: 0px 0.2em; TEXT-DECORATION: none
}
.tagcloud A:hover {
	
}
.tag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tag1 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 1.15em
}
.tag1 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 1.15em
}
.tag1 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 1.15em
}
.tag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em
}
.tag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em
}
.tag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em
}
.tag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 1em
}
.tag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 1em
}
.tag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 1em
}
.tag4 A:link {
	FONT-WEIGHT: 400; FONT-SIZE: 0.95em
}
.tag4 A:visited {
	FONT-WEIGHT: 400; FONT-SIZE: 0.95em
}
.tag4 A:active {
	FONT-WEIGHT: 400; FONT-SIZE: 0.95em
}
.tag5 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 0.9em
}
.tag5 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 0.9em
}
.tag5 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 0.9em
}
.tag6 A:link {
	FONT-WEIGHT: 100; FONT-SIZE: 0.8em
}
.tag6 A:visited {
	FONT-WEIGHT: 100; FONT-SIZE: 0.8em
}
.tag6 A:active {
	FONT-WEIGHT: 100; FONT-SIZE: 0.8em
}
TABLE.defaulttable {
	FONT-SIZE: 1em; WIDTH: 100%; LINE-HEIGHT: 1.2em; BACKGROUND-COLOR: #f4f4f4; border-spacing: 1px
}
TABLE.defaulttable TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.defaulttable TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.defaulttable THEAD TH {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: 800; BACKGROUND: url(../images/custom/navbar_background.jpg) #29636f repeat-y; BORDER-LEFT: #fff 1px solid; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
TABLE.defaulttable TBODY TR {
	BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
TABLE.defaulttable TBODY TR.altrow {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #f9f9f9
}
TABLE.defaulttable TBODY TR TD {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #fff; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 50px
}
TABLE.defaulttable TBODY TR.altrow TD {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #f9f9f9
}
TABLE.defaulttable TD A:link {
	
}
TABLE.defaulttable TD A:visited {
	
}
TABLE.defaulttable TD A:hover {
	
}
TABLE.defaulttable A.tableheading {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
.defaultformwrapper {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #bcbcbc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #bcbcbc 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.defaultformheading {
	FONT-WEIGHT: 400; FONT-SIZE: 1.2em; MARGIN: 0px 0px 0.5em; COLOR: #006699
}
DL.defaultform {
	FONT-SIZE: 0.9em; MARGIN: 0px
}
DL.defaultform DT {
	FONT-SIZE: 0.9em
}
DL.defaultform DT LABEL {
	MARGIN: 0px
}
DL.defaultform DD {
	MARGIN: 0px 0px 0.5em
}
.loginform {
	MARGIN: 20px auto; WIDTH: 300px
}
.signupform {
	MARGIN: 20px auto; WIDTH: 450px
}
UL.defaultlist {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
UL.defaultlist LI {
	CLEAR: both; MARGIN: 0px
}
.defaultlistpost {
	FLOAT: right; WIDTH: 619px
}
.defaultlistheader {
	FONT-WEIGHT: 400; MARGIN: 0px
}
.defaultlistcontent {
	BACKGROUND: url(../images/custom/blogrule.gif) no-repeat 50% 100%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.2em
}
.defaultlistheader A {
	FONT-SIZE: 1.3em; MARGIN: 0px; COLOR: #125a79; TEXT-DECORATION: none
}
.defaultlistheader A:hover {
	TEXT-DECORATION: underline
}
.defaultlistfooter {
	FONT-SIZE: 0.8em; MARGIN: 3px 0px 5px; COLOR: #969696; LINE-HEIGHT: 1.2em
}
.defaultlistnolink A {
	COLOR: #969696; TEXT-DECORATION: none
}
.defaultlistcommentbox {
	DISPLAY: none
}
.defaultlisticon {
	FLOAT: left; WIDTH: 50px; HEIGHT: 75px
}
.vertspace {
	MARGIN: 10px 0px
}
.floatright {
	FLOAT: right
}
.floatleft {
	FLOAT: left
}
#commentmessage {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; BACKGROUND: #ecf7d4; PADDING-BOTTOM: 0.5em; COLOR: #006600; PADDING-TOP: 0.5em
}
.commentformwrapper {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #bcbcbc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #bcbcbc 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.commentformheading {
	FONT-WEIGHT: 400; FONT-SIZE: 1.2em; MARGIN: 0px 0px 0.5em; COLOR: #006699
}
DL.commentform {
	FONT-SIZE: 0.9em; MARGIN: 0px
}
DL.commentform DT {
	FONT-SIZE: 0.9em
}
DL.commentform DT LABEL {
	MARGIN: 0px
}
DL.commentform DD {
	MARGIN: 0px 0px 0.5em
}
.textline {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 1em; PADDING-BOTTOM: 2px; WIDTH: 20em; PADDING-TOP: 2px
}
.textmultiline {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 100% "Segoe UI", Arial, Helvetica, sans-serif; WIDTH: 40em; PADDING-TOP: 2px; HEIGHT: 10em
}
UL.comments {
	MARGIN: 0px; COLOR: #777777; LIST-STYLE-TYPE: none
}
UL.comments LI {
	CLEAR: both; MARGIN: 0px; WIDTH: 619px
}
.commenthead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/custom/commenttopborder.gif) repeat-x left bottom; PADDING-BOTTOM: 6px; WIDTH: 619px; PADDING-TOP: 0px
}
.commentheadsaid {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; BACKGROUND: url(../images/custom/commenttop.gif) no-repeat right bottom; PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
.commentheadsaidowner {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; BACKGROUND: url(../images/custom/commenttop_owner.gif) no-repeat right bottom; PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
.commentcontent {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #bcbcbc 0px solid; PADDING-LEFT: 15px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 15px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #bcbcbc 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #bcbcbc 0px solid
}
.commentfooter {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0.8em; BACKGROUND: url(../images/custom/commentbottom.gif) repeat-x left top; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; WIDTH: 619px; COLOR: #999; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
.commentowner {
	COLOR: #000; BACKGROUND-COLOR: #ededed
}
.CommonPane {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999999 0px solid; PADDING-LEFT: 8px; FONT-SIZE: 10pt; PADDING-BOTTOM: 8px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.CommonPaneTabSet {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/common/tabset.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap
}
.CommonPaneTab {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTab1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTab2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/common/tab.gif); PADDING-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonPaneTabSelected {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-selected-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTabSelected1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-selected-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTabSelected2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/common/tab-selected.gif); PADDING-BOTTOM: 5px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonPaneTabHover {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-hover-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTabHover1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-hover-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTabHover2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/common/tab-hover.gif); PADDING-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonInlineTagEditor {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 302px; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #ebf2fa
}
.CommonInlineTagEditor TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 4px; WIDTH: 286px! important; PADDING-TOP: 2px; HEIGHT: 50px
}
.CommonFormArea {
	
}
.CommonFormTitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 140%; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #999999; PADDING-TOP: 4px
}
.CommonFormDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TD.CommonFormFieldName {
	PADDING-RIGHT: 8px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px
}
DIV.CommonFormFieldName {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 8px
}
TD.CommonFormFieldDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
DIV.CommonFormFieldDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
TD.CommonFormField {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
DIV.CommonFormField {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
.CommonFormActionButtons {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.JoinTitle {
	MARGIN-TOP: 20px; FONT-WEIGHT: 800; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.5em; COLOR: #05344b
}
.JoinArea {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 100%; PADDING-BOTTOM: 16px; WIDTH: 650px; COLOR: #000000; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.CommonPopupArea {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.CommonTextButton {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; MARGIN: 3px 4px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeeeee
}
.CommonTextButton:link {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.CommonTextButton:visited {
	COLOR: #333333; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.CommonTextButton:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.CommonTextButton:hover {
	COLOR: #333333; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: underline
}
.CommonModalMask {
	FILTER: alpha(opacity=60); BACKGROUND-COLOR: #333333; opacity: .6
}
.CommonModal {
	BORDER-RIGHT: #d8dde3 3px solid; BORDER-LEFT: #d8dde3 3px solid; WIDTH: 100%; BACKGROUND-COLOR: transparent
}
.CommonModalTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 800; FONT-SIZE: 1em; FILTER: alpha(opacity=80); PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #05344b; PADDING-TOP: 3px; BACKGROUND-COLOR: #ebf2fa; TEXT-ALIGN: left; opacity: .8
}
.CommonModalClose {
	Z-INDEX: 1; FLOAT: right; BACKGROUND-IMAGE: url(../images/custom/close.gif); OVERFLOW: hidden; WIDTH: 41px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px; BACKGROUND-COLOR: #fff
}
.CommonModalContent {
	WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.CommonModalFooter {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 1px solid; FILTER: alpha(opacity=80); BORDER-LEFT: #cccccc 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #ebf2fa; opacity: .8
}
.CommonModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.CommonRateControl {
	PADDING-RIGHT: 1px; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.CommonRateControlActive {
	PADDING-RIGHT: 1px; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.CommonListArea {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.CommonListTitle {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.5em; COLOR: #05344b
}
.CommonListTitle A {
	
}
.CommonListTitle A:visited {
	
}
.CommonListTitle A:active {
	
}
.CommonListTitle A:hover {
	
}
.CommonListHeaderLeftMost {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #eeeeee 1px solid; COLOR: #666666; PADDING-TOP: 4px; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.CommonListHeader {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #eeeeee 0px solid; COLOR: #666666; PADDING-TOP: 4px; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.CommonListCellLeftMost {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eeeeee 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #eeeeee 1px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #eeeeee 1px solid
}
.CommonListCell {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eeeeee 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #eeeeee 0px solid; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #eeeeee 1px solid; TEXT-ALIGN: left
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	DISPLAY: inline-block
}
.clearfixleft:unknown {
	CLEAR: left; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfixleft {
	DISPLAY: inline-block
}
 HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
.testbox {
	CLEAR: right; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; BACKGROUND-COLOR: #cce5ff
}
.testbox2 {
	CLEAR: right; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; BACKGROUND-COLOR: #e5ffcc
}
.CommonRateControl {
	DISPLAY: block
}
