#title{
	background-image: url(http://static.flickr.com/43/76975693_0633a07d20_o.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 134px;
}
#title h1 {visibility: hidden;}
#title p {visibility: hidden;}
