.BodyBG{background-color:#A3A3A3;background-image:none;background-repeat:repeat;background-position:top left;}
.PageBG{background-repeat:no-repeat;background-position:center 1px;background-color:#2b292a;background-image:url("img/PageBGImage.jpg");}
.SelectionBG{background-color:#d0cbaa;}
.HoverBG{background-color:#d8d4b9;}
.ContainerBorder{border:1px solid #cbc5a3;}
.ContainerBG{background-color:#ffffff;background-image:none;background-repeat:repeat-x;}
.ContainerBG2{background-color:#ffffff;background-image:url("img/ContainerBGImage2.png");background-repeat:repeat-x;}
.ContainerHeader{background-repeat:repeat-x;background-image:url("img/ContainerHeaderBGImage.gif");}
.ContainerHeader a{color:#000000;}
.ContainerHeader a:visited{color:#000000;}
.ToolbarBorder{border:none;}
.ToolbarBG{background-color:#ffffff;background-image:url("img/ToolbarBGImage.gif");background-repeat:repeat-x;}
.Toolbar{border:none;color:#444444;}
.BreadcrumbBG{background-color:Transparent;}
.BreadcrumbBorder{border:none;}
.Breadcrumb{border:none;background-color:Transparent;color:#FFFFFF;}
.Breadcrumb a{color:#FFFFFF;text-decoration:none;}
.Breadcrumb a:visited{color:#FFFFFF;}
.SPTransparency{opacity:1;}
.PageBG{background-color:#2b292a;background-image:url("img/PageBGImage.jpg");background-repeat:no-repeat;background-position:center top;}
.SPTransparency{}
#uxp_ftr_control{border-top-width:1px;border-top-style:solid;width:100%;font-size:100%;color:#FFFFFF;background-color:Transparent;}
#uxp_ftr_control td{padding:8px 0px;vertical-align:top;}
#uxp_ftr_control td#uxp_ftr_right{text-align:right;}
#uxp_ftr_control ul{margin:0px;padding:0px;list-style:none;white-space:nowrap;}
#uxp_ftr_control ul li{border-right-width:1px;border-right-style:solid;padding:0px 8px;float:left;white-space:nowrap;}
#uxp_ftr_control ul li.uxp_ftr_item_last{border-right-style:none;}
#uxp_ftr_control ul li a{text-decoration:none;color:#FFFFFF;}
#uxp_ftr_control ul li a:hover{text-decoration:underline;}
#uxp_ftr_right_nest{margin:0px 0px 0px auto;padding:0px;font-size:100%;}
#uxp_ftr_right_nest td{margin:0px;padding:0px;}
*{line-height:130%;}
body{margin:0px;background-color:#A3A3A3;background-image:none;background-repeat:repeat;background-position:top left;font-family:Verdana, Arial, sans-serif;font-size:70%;color:#444444;direction:ltr;}
label{color:#444444;}
input, select, textarea, button{font-size:100%;}
textarea{font-family:Verdana, Arial, sans-serif;}
h1, h2, h3, h4, h5{margin:8px 0px 4px;line-height:145%;font-weight:bold;}
h1{font-size:146%;}
h2{font-size:132%;}
h3{font-size:125%;}
h4{margin:4px 0px;font-size:110%;}
h5{margin:4px 0px;font-size:100%;}
a{font-weight:inherit;text-decoration:none;color:#8c7d18;}
a:visited{color:#8c7d18;}
a:hover{text-decoration:underline;}
ul{margin:0px 0px 20px 1em;padding:0px 0px 0px 1em;list-style-type:disc;}
li{margin:0px 0px 3px;}
font{line-height:normal;}
a img{border:none;}
#uxp_hdr_parent_ie6{background-color:#FFFFFF;}
#uxp_hdr{text-align:left;}
#uxp_hdr td{vertical-align:middle;}
#uxp_hdr input{width:auto;}
#uxp_hdr{height:39px;background:#2b292a url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) top;_background:#2b292a;}
#uxp_hdr, .uxp_hdrInnerTable{width:100%;}
#uxp_hdr .uxp_hdrInner{padding-left:8px;padding-right:12px;background:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) bottom;_background:none;}
#uxp_hdr, #uxp_hdr input{font:100% Verdana, Arial, sans-serif;}
#uxp_hdr *{line-height:normal;}
#uxp_hdr img, #uxp_hdr input{vertical-align:middle;}
#uxp_hdr td{padding:0px;white-space:nowrap;}
#uxp_hdr ul{list-style:none;}
#uxp_hdr li{margin:0px;}
#uxp_hdr, #uxp_hdr a, #uxp_hdr a:visited{color:white;}
#uxp_hdr a{text-decoration:none;}
#uxp_hdr_meLink:hover, #uxp_hdr_signIn:hover, #uxp_hdr_signOut:hover{text-decoration:underline;}
#uxp_hdr_jewelParent{line-height:37px;}
.uxp_hdr_windowsLiveText{padding-left:1px;font-family:Verdana, Arial, sans-serif;font-size:125%;}
.uxp_hdr_tm{font-size:7px;vertical-align:super;}
.uxp_hdr_jewelLink_block_ie{display:inline-block;vertical-align:middle;}
.uxp_hdr_pointer, .uxp_hdr_pointer table, .uxp_hdr_pointer a, .uxp_hdr_pointer span{cursor:pointer;}
#uxp_hdr_jewelParent{width:0.1%;}
#uxp_hdr_middleArea{margin-left:auto;margin-right:auto;}
#uxp_hdr_jewelMenu{margin-left:4px;width:16em;}
#uxp_hdr_tabs{margin-left:auto;*margin-top:2px;}
#uxp_hdr_search{display:inline;}
#uxp_hdr #uxp_hdr_searchParent{padding-left:4px;}
#uxp_hdr_meParent{text-align:right;width:0.1%;}
#uxp_hdr_meMenu{margin-right:-6px;text-align:left;right:0px;}
.uxp_hdr_menuParent{position:absolute;z-index:1001;display:inline;}
.uxp_hdr_cobrandText, #uxp_hdr_signOut{font-size:82%;}
#uxp_hdr_signOut{display:block;position:relative;top:2px;}
.uxp_hdr_hideSearch #uxp_hdr_tabs{margin-right:auto;}
#uxp_hdr.uxp_hdr_hideTabs #uxp_hdr_searchParent{padding-left:0px;text-align:center;}
#uxp_hdr_jewelSpan{background-image:url(HIG/img/h/jewel_24_hover.png);position:absolute;width:39px;height:37px;}
#uxp_hdr_tabs a{padding:6px 1px 5px;*padding:1px;*display:inline-block;}
#uxp_hdr_tabs a:hover{border-width:1px;border-style:solid;border-color:#121112 #080708 #000;padding:4px 0px 5px;*padding:0;_background:white;}
#uxp_hdr_tabs a span{padding:4px 8px 5px;line-height:31px;*display:inline-block;*line-height:normal;}
#uxp_hdr_tabs a:hover span{border:1px solid #d1cbce;padding:3px 7px 4px;background:#2B292A url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#2B292A;}
#uxp_hdr_tabs #uxp_hdr_tabs_current, #uxp_hdr_tabs #uxp_hdr_tabs_current:hover{border-width:1px;border-style:solid;border-color:#595858 #4f4d4e #424041;margin:0px 4px;padding:4px 0px 5px;*padding:0;_background:white;}
#uxp_hdr_tabs #uxp_hdr_tabs_current span, #uxp_hdr_tabs #uxp_hdr_tabs_current:hover span{border-width:1px 1px 0px;border-style:solid;border-color:#000;padding:3px 7px 5px;_border-bottom-width:1px;background:#454143 url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) bottom;_background:#454143;}
#uxp_hdr{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=55, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100);}
#uxp_hdr #uxp_hdr_productSearchButton, #uxp_hdr #uxp_hdr_webSearchButton{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=85, Style=1, StartX=0, FinishX=0, StartY=51, FinishY=100);}
#uxp_hdr_tabs a:hover span{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=45, FinishOpacity=100, Style=1, StartX=0, FinishX=0, StartY=0, FinishY=65);}
#uxp_hdr #uxp_hdr_tabs_current span{_filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=75, Style=1, StartX=0, FinishX=0, StartY=45, FinishY=90);}
.uxp_hdr_searchBorder{border-width:1px;border-style:solid;border-color:#595858 #4f4d4e #424041;padding-top:3px;padding-bottom:6px;*padding:0;}
.uxp_hdr_innerSearchBorder{border-width:1px;border-style:solid;border-color:#121112 #080708 #000;padding-top:2px;padding-bottom:5px;*padding:0;background-color:#FFF;}
#uxp_hdr #uxp_hdr_searchInput{border-right-width:1px;border-style:none solid none none;border-right-color:#8f8f8f;padding-left:2px;padding-top:3px;padding-bottom:4px;_position:relative;width:21em;}
.uxp_hdr_buttonBorder{border-width:1px;border-style:solid;border-color:#cfe3c4 #99c383 #5da253;padding-top:1px;padding-bottom:4px;*padding:0;_background-color:#FFF;}
.uxp_hdr_buttonBorder:hover{border-width:1px;border-style:solid;border-color:#effaea #caedb9 #6fa951;}
#uxp_hdr_webSearchButton, #uxp_hdr_productSearchButton{border:none;margin:0px;padding-top:1px;padding-bottom:2px;*padding:2px 3px 1px;background:#307C0B url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#307C0B;color:#FFFFFF;}
#uxp_hdr_webSearchButton:hover, #uxp_hdr_productSearchButton:hover, #uxp_hdr_search .uxp_hdr_searchButtonHover_ie6{background-color:#478D22;}
.uxp_hdr_menu, .uxp_hdr_submenu{border-width:1px 2px 2px 1px;border-style:solid;border-color:#a5a8a8 #42555c #42555c #a5a8a8;margin:0px;padding:4px;position:absolute;}
.uxp_hdr_menu{cursor:default;background-color:#ffffff;}
.uxp_hdr_submenu{display:none;top:-1px;width:16em;background-color:#ffffff;}
#uxp_hdr .uxp_hdr_menu a, #uxp_hdr .uxp_hdr_menu a:visited{color:#444444;}
#uxp_hdr .uxp_hdr_menuSeparator{margin-top:4px;margin-bottom:4px;line-height:1px;font-size:1px;background-color:#DADFE0;display:block;height:1px;}
.uxp_hdr_menu a{padding:5px 9px;display:block;_display:inline-block;_width:90%;}
.uxp_hdr_menu .uxp_hdr_menu_open, .uxp_hdr_menu a:hover, .uxp_hdr_menu a.uxp_hdr_currentLinkedID{border:1px solid #b9eaff;padding:4px 8px;background:#d8d4b9 url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png) center;_background:#d8d4b9;}
#uxp_hdr .uxp_hdr_menu a.uxp_hdr_currentLinkedID:hover, .uxp_hdr_menu a.uxp_hdr_currentLinkedID{background-color:#d0cbaa;}
.uxp_hdr_downArrowblack{background-position:7px -493px;}
.uxp_hdr_downArrowwhite{background-position:0px -493px;}
.uxp_hdr_ltr_rightArrowDark{background-position:7px -399px;}
.uxp_hdr_ltr_rightArrowLight{background-position:0px -399px;}
.uxp_hdr_rtl_rightArrowDark{background-position:7px -392px;}
.uxp_hdr_rtl_rightArrowLight{background-position:0px -392px;}
.uxp_hdr_downArrowblack_ie6{left:-9px;top:-493px;}
.uxp_hdr_downArrowwhite_ie6{left:0px;top:-493px;}
.uxp_hdr_ltr_rightArrowDark_ie6{left:-9px;top:-399px;}
.uxp_hdr_ltr_rightArrowLight_ie6{left:0px;top:-399px;}
.uxp_hdr_rtl_rightArrowDark_ie6{left:-9px;top:-392px;}
.uxp_hdr_rtl_rightArrowLight_ie6{left:0px;top:-392px;}
.uxp_hdr_downArrow, .uxp_hdr_rightArrow{margin-top:2px;background:url(hig/img/h/headerBG_24_~HeaderGradientImageType~.png);position:absolute;width:7px;height:7px;}
.uxp_hdr_rightArrow{background-position:0px -399px;_background:none;right:1em;}
.uxp_hdr_downArrow{background-position:0px -493px;}
.rtl .uxp_hdr_downArrow{display:block;}
.rtl .uxp_hdr_rightArrow{background-position:0px -392px;}
.uxp_hdr_jewel_ie6{left:0;top:0;}
.uxp_hdr_rightArrow_ie6{left:0px;top:-399px;}
.rtl .uxp_hdr_rightArrow_ie6{left:0px;top:-392px;}
.uxp_hdr_downArrow_ie6{left:0px;top:-493px;}
.uxp_hdr_jewelSpanHover #uxp_hdr_jewelSpan, .uxp_hdr_jewelSpanOpen #uxp_hdr_jewelSpan{background-position:0 -37px;}
.uxp_hdr_jewelSpanHover .uxp_hdr_jewel_ie6, .uxp_hdr_jewelSpanOpen .uxp_hdr_jewel_ie6{top:-37px;}
.L_FloatLeft{float:left;}
.L_FloatRight{float:right;}
.L_TextAlignLeft{text-align:left;}
.L_TextAlignRight{text-align:right;}
.TextSizeXSmall{font-size:82%;}
.TextSizeSmall{font-size:92%;}
.TextSizeNormal{font-size:100%;}
.TextSizeLarge{font-size:110%;}
.TextSizeXLarge{font-size:125%;}
.TextSizeXXLarge{font-size:132%;}
.TextSizeXXXLarge{font-size:146%;}
.LineHeightTight{line-height:105%;}
.LineHeightStandard{line-height:130%;}
.LineHeightLoose{line-height:145%;}
.LineHeightXLoose{line-height:170%;}
.TextBold{font-weight:bold;}
.TextItalic{font-style:italic;}
.TextNormal{font-weight:normal;font-style:normal;white-space:normal;text-transform:none;letter-spacing:normal;}
.TextHighlight{color:#000000;font-weight:bold;}
.TextAdLabel{font-size:82%;text-transform:uppercase;color:#000000;}
.TextDefinition{background:url(hig/img/definitionUnderline.gif) bottom repeat-x;}
.AppLink:visited{color:inherit;}
button.Live_Controls_Button, input.Live_Controls_Button{border-width:1px;border-color:#707070;margin-right:0.3em;padding:0px 1em;background-color:#F3F3F3;background-image:url(hig/img/b/btn_std.png);background-position:0px center;height:1.8em;vertical-align:middle;font-size:110%;min-width:7em;overflow:visible;text-align:center;}
