.BlogTitle {
	FONT-SIZE: 15px; PADDING-BOTTOM: 12px; MARGIN: 0px; COLOR: #339933; BORDER-BOTTOM: #339933 1px dashed
}
.BlogNameTitle {
	FONT-WEIGHT: 900; FONT-SIZE: 100%; COLOR: #3367cd
}
.smallbox {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
UL.BlogPostList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.BlogPostArea {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #339933 1px dashed; WHITE-SPACE: normal
}
.BlogPostHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 900; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.BlogRating {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(../images/Common/blog_comment_background.gif); PADDING-BOTTOM: 2px; MARGIN: 5px 10px 0px 0px; VERTICAL-ALIGN: top; WIDTH: 80px; LINE-HEIGHT: 20px; PADDING-TOP: 8px; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 80px; BACKGROUND-COLOR: #fff799; TEXT-ALIGN: center
}
.BlogRating A:link {
	TEXT-DECORATION: none
}
.BlogRating A:visited {
	TEXT-DECORATION: none
}
.BlogRating A:active {
	TEXT-DECORATION: none
}
.BlogRating A:hover {
	TEXT-DECORATION: none
}
.BlogCommentCount {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.BlogPostContent {
	FONT-SIZE: 100%
}
.BlogPostFooter {
	MARGIN-TOP: 8px; FONT-WEIGHT: 100; FONT-SIZE: 100%
}
#postToolbar {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
.BlogCalendar {
	FONT-SIZE: 68%; WIDTH: 100%
}
.BlogCalendarTitle {
	FONT-WEIGHT: bold; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.BlogCalendarNextPrev {
	
}
.BlogCalendarNextPrev A:link {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:active {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:visited {
	TEXT-DECORATION: none
}
.BlogCalendarNextPrev A:hover {
	TEXT-DECORATION: underline
}
.BlogCalendarDays {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.BlogCalendarDay A:link {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:active {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:visited {
	FONT-WEIGHT: bold
}
.BlogCalendarDay A:hover {
	FONT-WEIGHT: bold
}
#GrayGrid {
	
}
#GrayGrid .Grid {
	BORDER-RIGHT: #57566f 1px solid; BORDER-TOP: #57566f 1px solid; OVERFLOW: auto; BORDER-LEFT: #57566f 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #57566f 2px solid; BACKGROUND-COLOR: #ffffff
}
#GrayGrid .GridHeader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/grid_headerBgBlue.gif); CURSOR: default; BORDER-BOTTOM: #57566f 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #aabbdd
}
#GrayGrid .GridHeaderText {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica
}
#GrayGrid .GridFooter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; CURSOR: default; PADDING-TOP: 5px
}
#GrayGrid .GridFooterText {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica
}
#GrayGrid .HeadingRow {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/header_rowBg.gif); BACKGROUND-COLOR: #e9e9eb
}
#GrayGrid .HeadingCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/header_bg.gif); PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e9e9eb
}
#GrayGrid .HeadingCellHover {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/header_hoverBg.gif); BACKGROUND-COLOR: #f6f6f7
}
#GrayGrid .HeadingCellActive {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/header_activeBg.gif); BACKGROUND-COLOR: #f6f6f7
}
#GrayGrid .HeadingRow TD.FirstHeadingCell {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/header_bg.gif)
}
#GrayGrid .HeadingCellText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px; FONT-FAMILY: Tahoma, Arial, Helvetica; TEXT-ALIGN: left
}
#GrayGrid .Row {
	CURSOR: default; BACKGROUND-COLOR: #ffffff
}
#GrayGrid .Row TD.DataCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e1 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica
}
#GrayGrid .SortedDataCell {
	
}
#GrayGrid .Row TD.LastDataCell {
	
}
#GrayGrid .SelectedRow {
	
}
#GrayGrid .SelectedRow TD.DataCell {
	PADDING-RIGHT: 3px; BORDER-TOP: #4b4b6f 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #4b4b6f 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #efeff4; BORDER-RIGHT-WIDTH: 0px
}
#GrayGrid .SelectedRow TD.FirstDataCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BORDER-LEFT: #4b4b6f 1px solid; BACKGROUND-COLOR: #efeff4; BORDER-RIGHT-WIDTH: 0px
}
#GrayGrid .AlternatingRow TD.FirstDataCell {
	
}
#GrayGrid .Row TD.FirstDataCell {
	
}
#GrayGrid .SelectedRow TD.LastDataCell {
	BORDER-RIGHT: #4b4b6f 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; BACKGROUND-COLOR: #efeff4
}
#GrayGrid .AlternatingRow TD.DataCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e1 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f5f5f5
}
#GrayGrid .AlternatingRow TD.LastDataCell {
	
}
#GrayGrid .GroupHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #706f91; PADDING-TOP: 10px; BORDER-BOTTOM: #a5a4bd 2px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
#GrayGrid .GroupByCell {
	CURSOR: pointer
}
#GrayGrid .GroupByText {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff
}
#GrayGrid .SelectedRow {
	BACKGROUND-COLOR: #efeff4
}
.ScrollBar {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/scroller/scroller_bg.gif)
}
.ScrollGrip {
	BACKGROUND-IMAGE: url(../../../ControlPanel/images/caimages/scroller/scroll_gripBg.gif)
}
.ScrollPopup {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 2px solid; HEIGHT: 23px; BACKGROUND-COLOR: #ffffff
}
.GraySliderPopup {
	BORDER-RIGHT: #4b4b6f 1px solid; BORDER-TOP: #9495a2 1px solid; BORDER-LEFT: #9495a2 1px solid; WIDTH: 288px; BORDER-BOTTOM: #4b4b6f 1px solid; HEIGHT: 60px; BACKGROUND-COLOR: #efeff4
}
.disabled {
	DISPLAY: none
}
#GrayGrid .EditDataCell {
	BACKGROUND-COLOR: #e2e2e2
}
#GrayGrid .EditDataField {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; WIDTH: 98%! important; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 13px
}
