BODY {
	BACKGROUND: url(images/bg.gif) #333333; COLOR: #eee; FONT-FAMILY: "Lucida Grande", arial, helvetica
}
TABLE {
	BACKGROUND: url(images/bg.gif) #333333; COLOR: #eee; FONT-FAMILY: "Lucida Grande", arial, helvetica
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	FONT-WEIGHT: normal; COLOR: #7fabd1; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #7fabd1; TEXT-DECORATION: none
}
A:link {
	COLOR: #7fabd1; TEXT-DECORATION: none
}
A:active {
	COLOR: #7fabd1
}
A:hover {
	COLOR: #b4d6f8
}
abbr {
	CURSOR: help; BORDER-BOTTOM: #ccc 1px dotted
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #ccc 1px dotted
}
.left {
	FLOAT: left; MARGIN: 0px 10px 5px 0px
}
.right {
	FLOAT: right; MARGIN: 0px 0px 5px 10px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	text-shadow: 2px 2px 2px #000
}
H2 {
	text-shadow: 2px 2px 2px #000
}
H3 {
	text-shadow: 2px 2px 2px #000
}
CAPTION {
	text-shadow: 2px 2px 2px #000
}
.content H2 {
	LINE-HEIGHT: 25px
}
#banner {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 15px; BACKGROUND: url(images/head.gif) #555; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-ALIGN: left
}
#banner A {
	FONT-SIZE: 36px; COLOR: #ccc; TEXT-DECORATION: none
}
#banner A:link {
	FONT-SIZE: 36px; COLOR: #ccc; TEXT-DECORATION: none
}
#banner A:visited {
	FONT-SIZE: 36px; COLOR: #ccc; TEXT-DECORATION: none
}
#banner A:active {
	FONT-SIZE: 36px; COLOR: #ccc; TEXT-DECORATION: none
}
#banner A:hover {
	COLOR: #eee
}
#banner H2 {
	FONT-WEIGHT: normal; FONT-SIZE: large; MARGIN-LEFT: 60px; COLOR: #f3f698
}
#container {
	MARGIN: 10px
}
#right {
	RIGHT: 10px; PADDING-BOTTOM: 10px; WIDTH: 210px; POSITION: absolute; TOP: auto
}
.blog {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.link-note INPUT#query {
	FONT-SIZE: 10px; MARGIN: 2px 0px; WIDTH: 60%
}
.link-note INPUT#search {
	FONT-SIZE: 10px; MARGIN: 2px 0px
}
.content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: small; RIGHT: 250px; LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 20px 10px; LINE-HEIGHT: 16px; PADDING-TOP: 5px; POSITION: absolute; TOP: auto
}
.content .articleimg {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eeeeee 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; FLOAT: right; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; BORDER-LEFT: #eeeeee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid
}
.content .articleimgleft {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eeeeee 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; FLOAT: left; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eeeeee 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid
}
.content H3 {
	MARGIN: 0px; COLOR: #d15400
}
#menu {
	FONT-SIZE: small; TEXT-ALIGN: center
}
.content H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; COLOR: #7fabd1; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#postTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; COLOR: #7fabd1; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.commentlist {
	FONT-FAMILY: verdana
}
.content H2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.content H2 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#postTitle:hover {
	COLOR: #89c4ff
}
.content P.posted {
	PADDING-RIGHT: 8px; BORDER-TOP: #202020 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: x-small; BACKGROUND: #464545; PADDING-BOTTOM: 8px; MARGIN: 5px; COLOR: #ccc; PADDING-TOP: 8px; BORDER-BOTTOM: #202020 1px solid
}
.sidebar {
	FONT-WEIGHT: normal; FONT-SIZE: small; FLOAT: left; LINE-HEIGHT: 140%
}
.sidebar H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #eee; BORDER-BOTTOM: #bbb 1px solid
}
.sidebar UL {
	PADDING-LEFT: 15px; MARGIN: 2px 0px 15px
}
.sidebar LI {
	FONT-SIZE: x-small; COLOR: #666666; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-ALIGN: left
}
#comment-data {
	BORDER-RIGHT: #bbb 1px dotted; PADDING-RIGHT: 15px; FLOAT: left; WIDTH: 180px; MARGIN-RIGHT: 15px; TEXT-ALIGN: left
}
INPUT {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #333333; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid
}
INPUT:hover {
	BACKGROUND: #2b2a2a
}
INPUT:unknown {
	BACKGROUND: #2b2a2a
}
TEXTAREA {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; BACKGROUND: #333333; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid
}
TEXTAREA:hover {
	BACKGROUND: #2b2a2a
}
UL {
	PADDING-LEFT: 15px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	PADDING-LEFT: 1.5em; BACKGROUND: url(images/li.gif) no-repeat 0px 7px
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: small; MARGIN-BOTTOM: 7px; MARGIN-LEFT: 3px; COLOR: #ccc; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; FONT-VARIANT: small-caps
}
.post {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/cbg.gif) #333333 repeat-x; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#footer {
	CLEAR: both; MARGIN: auto; COLOR: #ccc; HEIGHT: 30px
}
.xhtml {
	WIDTH: 75%
}
BODY DIV#toolTip {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 2px; Z-INDEX: 1000; BORDER-LEFT-COLOR: #000; MIN-HEIGHT: 2em; BACKGROUND: #000; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #000; PADDING-BOTTOM: 5px; WIDTH: 220px; BORDER-TOP-COLOR: #000; PADDING-TOP: 5px; POSITION: absolute; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #000; moz-border-radius: 5px
}
BODY DIV#toolTip P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11px/12px verdana,arial,sans-serif; COLOR: #f60; PADDING-TOP: 0px
}
BODY DIV#toolTip P EM {
	MARGIN-TOP: 3px; DISPLAY: block; FONT-WEIGHT: bold; COLOR: #66ccff; FONT-STYLE: normal
}
BODY DIV#toolTip P EM SPAN {
	FONT-WEIGHT: bold; COLOR: #fff
}
.graybox {
	BORDER-TOP: #000 1px solid; BACKGROUND: #3a3a3a; BORDER-BOTTOM: #000 1px solid
}
.copyright {
	PADDING-RIGHT: 10px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #000 1px solid
}
.copyright SMALL {
	FONT-SIZE: 9px; LETTER-SPACING: 1px
}
.copyright .copy {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-ALIGN: center
}
.copyright .copy A {
	FONT-WEIGHT: bolder
}
.copyright .copy A:visited {
	FONT-WEIGHT: bolder
}
BLOCKQUOTE {
	PADDING-RIGHT: 1px; PADDING-LEFT: 5px; BACKGROUND: url(images/cbg.gif) #505050 repeat-x; PADDING-BOTTOM: 1px; MARGIN: 1em 0px; BORDER-LEFT: #202020 2px solid; PADDING-TOP: 1px
}
.pagenav {
	LIST-STYLE-TYPE: none
}
#code {
	COLOR: #f3f698; FONT-FAMILY: courier new
}
#text {
	FONT-FAMILY: verdana
}
