<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyAdvancedListbox.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Frederik\Desktop\Database.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>