/*
Blog Style Overrides
*/

/*
Blog Styles
*/

.BlogTitle
{
	color:#339933; 
	font-size: 15px;
	padding-bottom: 12px;
	border-bottom: 1px dashed #339933;
	margin: 0px;
}

.BlogNameTitle
{
	color: #3367CD;
	font-weight: 900;
	font-size: 100%;
}

.smallbox

{
	width: 300px;
}

textarea
{
	width: 300px;
	height: 200px;
}


/* Old styles */

UL.BlogPostList
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.BlogPostArea
{
	border-bottom: 1px dashed #339933;
	padding: 10px 10px 10px 10px;
	white-space: normal;
}

.BlogPostHeader
{
	font-weight: 900;
	padding: 0px;
	font-size: 100%;
}

.BlogRating
{
	width: 80px;
	height: 80px;
	margin: 5px 10px 0px 0px;
	background-color: #FFF799;
	vertical-align: top;
	text-align: center;
	padding: 8px 2px 2px 2px; 
	font-family: Tahoma, Arial, Helvetica;
	background-image: url(../images/Common/blog_comment_background.gif);
	line-height: 20px;
}

.BlogRating a:link, .BlogRating a:visited, .BlogRating a:active, .BlogRating a:hover
{
	text-decoration: none;
}

.BlogCommentCount
{
	font-size: 22px;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica;
}

.BlogPostContent
{
	font-size: 100%;
}

.BlogPostFooter
{
	font-weight: 100;
	font-size: 100%;
	margin-top: 8px;
}

#postToolbar
{
	margin-top: 8px;
	margin-bottom: 8px;
}

/*
Calendar styles
*/

.BlogCalendar
{
	font-size: 68%;
	width: 100%;
}

.BlogCalendarTitle
{
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.BlogCalendarNextPrev
{
}

.BlogCalendarNextPrev A:LINK, .BlogCalendarNextPrev A:ACTIVE, .BlogCalendarNextPrev A:VISITED
{
	text-decoration: none;
}

.BlogCalendarNextPrev A:HOVER
{
	text-decoration: underline;
}

.BlogCalendarDays
{
	font-weight: bold;
	padding: 2px;
}

.BlogCalendarDay A:LINK, .BlogCalendarDay A:ACTIVE, .BlogCalendarDay A:VISITED, .BlogCalendarDay A:HOVER
{
	font-weight: bold;
}

/* GrayGrid CA Grid Formatting */

#GrayGrid
{
}

#GrayGrid .Grid 
{ 
  border: 1px solid #57566F; 
  border-bottom: 2px solid #57566F; 
  background-color: #FFFFFF;
  cursor:default;
  width: 100%;
  overflow: auto;
}

#GrayGrid .GridHeader
{
  background-image: url(../../../ControlPanel/images/caimages/grid_headerBgBlue.gif); 
  background-color: #AABBDD; 
  border-bottom: 1px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  padding-right:3px;
  cursor:default;
}

#GrayGrid .GridHeaderText
{
  color: #FFFFFF;  
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px;
}

#GrayGrid .GridFooter
{
  cursor: default; 
  padding: 5px;
  vertical-align: bottom;
}

#GrayGrid .GridFooterText
{
  color: #000000;  
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 11px;
}

#GrayGrid .HeadingRow 
{ 
  background-color: #E9E9EB; 
  background-image: url(../../../ControlPanel/images/caimages/header_rowBg.gif);   
}

#GrayGrid .HeadingCell 
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_bg.gif);   
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}

#GrayGrid .HeadingCellHover
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_hoverBg.gif);   
  background-color: #F6F6F7; 
}

#GrayGrid .HeadingCellActive
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_activeBg.gif);   
  background-color: #F6F6F7; 
  
}

#GrayGrid .HeadingRow td.FirstHeadingCell
{ 
  background-image: url(../../../ControlPanel/images/caimages/header_bg.gif); 
}

#GrayGrid .HeadingCellText
{
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}

#GrayGrid .Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

#GrayGrid .Row td.DataCell 
{ 
  padding: 3px; 
  padding-top:4px;
  border-bottom: 1px solid #EAE9E1; 
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px; 
} 

#GrayGrid .SortedDataCell 
{ 

} 

/* use for command cols */
#GrayGrid .Row td.LastDataCell
{
} 

#GrayGrid .SelectedRow 
{ 
}

#GrayGrid .SelectedRow td.DataCell 
{ 
  background-color: #EFEFF4; 
  padding: 3px; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
}

#GrayGrid .SelectedRow td.FirstDataCell 
{ 
  background-color: #EFEFF4; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}
#GrayGrid .AlternatingRow td.FirstDataCell 
{ 
}
#GrayGrid .Row td.FirstDataCell 
{ 
}

#GrayGrid .SelectedRow td.LastDataCell 
{ 
  background-color: #EFEFF4; 
  border-right: 1px solid #4B4B6F; 
  border-left: 0px; 
  padding-left: 3px; 
  padding-right: 2px; 
}



#GrayGrid .AlternatingRow td.DataCell 
{ 
  background-color: #F5F5F5; 
  padding: 3px; 
  padding-top: 4px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px; 
}
#GrayGrid .AlternatingRow td.LastDataCell 
{ 
}



#GrayGrid .GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: Tahoma, Arial, Helvetica; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

#GrayGrid .GroupByCell
{
  cursor: pointer;
}

#GrayGrid .GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}

#GrayGrid .SelectedRow
{
    background-color: #EFEFF4;
}

.ScrollBar
{
  background-image: url(../../../ControlPanel/images/caimages/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(../../../ControlPanel/images/caimages/scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

.GraySliderPopup
{
  background-color: #EFEFF4; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  width: 288px;
  height: 60px;
}

.disabled
{
  display:none;
}

#GrayGrid .EditDataCell
{ 
  background-color: #E2E2E2; 
} 

#GrayGrid .EditDataField
{ 
  padding: 0px; 
  padding-left: 1px; 
  font-family: Tahoma, Arial, Helvetica; 
  font-size: 10px; 
  height: 13px;
  width: 98%!important; 
} 
/* end CA Sample Formatting */
